<template>
  <div class="my_account_content_wrap">
    <div class="my_accout_title_wrap">
      <SfHeading
        class="my_accout_title"
        :level="1"
        :title="title"
      />
    </div>
    <div
      v-if="edittingAddress"
      class="my_account_content container-small"
    >
      <div
        data-cy="billing-details-tab_change">
        <BillingAddressForm
          :address="activeAddress"
          :isNew="isNewAddress"
          @submit="saveAddress" />
      </div>
    </div>
    <div
      v-else
      class="my_account_content container-small">
      <SfLoader class="address-loader" :class="{ loading }" :loading="loading" v-if="loading">
        <div />
      </SfLoader>
      <div class="add-address-btn-wrap" v-if="!loading">
        <h5>Saved Addresses</h5>
        <div class="billing add-address-btn">
          <div class="billing__wrap" @click="changeAddress(), scrollToTop()">
            <SfButton
              data-cy="billing-details-btn_add"
              class="action-button sf-button--text btn-1">
              Add Address
            </SfButton>
          </div>
        </div>
      </div>
      <div data-cy="billing-details-tab_details" v-if="!loading">
        <div class="billing-list" v-if="addresses && addresses.length > 0">
          <div
            v-for="address in addresses"
            :key="userBillingGetters.getId(address)"
            class="billing">
            <div class="billing__wrap">
              <div class="billing__content">
                <div class="billing__address">
                  <UserBillingAddress :address="address" />
                </div>
              </div>
              <div class="billing__actions">
                <SfButton
                  data-cy="billing-details-btn_change"
                  class=" sf-button--text"
                  @click="changeAddress(address), scrollToTop()">
                  Edit
                </SfButton>
                <SfButton
                  data-cy="billing-details-btn_delete"
                  class="billing__button-delete sf-button--text"
                  @click="ConfirmRemove(address)">
                  Remove
                </SfButton>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          No address(es) found.
        </div>
      </div>
      <transition name="sf-collapse-top" mode="out-in">
        <div class="notifications">
          <SfNotification
            :visible="visible"
            title="Are you sure?"
            message="Are you sure you would like to remove this address from your account?"
            type="secondary"
            v-if="!loading"
          >
          <template #action>
            <div class="button-wrap">
              <SfButton @click="handleRemove(addressToRemove)">Yes</SfButton>
              <SfButton @click="visible = false">Cancel</SfButton>
            </div>
          </template>
          <template #close>
            <div />
          </template>
        </SfNotification>
        </div>
      </transition>
    </div>
  </div>
</template>
<script>
import {
  SfButton,
  SfIcon,
  SfHeading,
  SfLoader,
  SfNotification
} from '@storefront-ui/vue';
import UserBillingAddress from '~/components/UserBillingAddress';
import BillingAddressForm from '~/components/MyAccount/BillingAddressForm';
import { useUserBilling, userBillingGetters } from '@vue-storefront/shopify';
import { ref, computed, onMounted } from '@vue/composition-api';
import useUiNotification from '~/composables/useUiNotification';

export default {
  name: 'AdressBook',
  components: {
    SfButton,
    SfIcon,
    SfHeading,
    SfLoader,
    SfNotification,
    UserBillingAddress,
    BillingAddressForm
  },
  props: {
    title: {
      type: String,
      default: 'Address Book'
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data () {
    return {
      visible: false,
      addressToRemove: {}
    };
  },
  methods: {
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    ConfirmRemove(address) {
      this.visible = true;
      this.addressToRemove = address;
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    async handleRemove(address) {
      this.isLoadervisible = true;
      await this.removeAddress(address).then(()=>{
        this.visible = false;
      });
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, context) {
    const { billing, load: loadUserBilling, addAddress, deleteAddress, updateAddress, loading } = useUserBilling();
    const addresses = computed(() => userBillingGetters.getAddresses(billing.value));
    const edittingAddress = ref(false);
    const activeAddress = ref(undefined);
    const isNewAddress = computed(() => !activeAddress.value);
    const { send: sendNotification} = useUiNotification();

    const changeAddress = (address = undefined) => {
      activeAddress.value = address;
      edittingAddress.value = true;
    };

    const removeAddress = async(address) => await deleteAddress({ address }).then(() => {
      if (billing.value) {
        loadUserBilling();
        sendNotification({
          key: 'address_removed',
          message: 'Address has been removed successfully',
          type: 'success',
          title: 'Address removed!',
          icon: 'check'
        });
        context.root.scrollToTop();
      } else {
        sendNotification({
          key: 'address_removed',
          message: 'Something went wrong, please retry',
          type: 'danger',
          title: 'Remove address failed!'
        });
      }
    });

    const saveAddress = async ({ form, onComplete, onError }) => {
      try {
        const actionMethod = isNewAddress.value ? addAddress : updateAddress;
        let notificationMsg = 'Addressbook updated successfully';
        if (isNewAddress.value) {
          notificationMsg = 'Address added successfully';
        }
        const data = await actionMethod({ address: form.value }).then(() => {
          if (billing.value) {
            loadUserBilling();
            sendNotification({
              key: 'address_success',
              message: notificationMsg,
              type: 'success',
              title: 'Success!',
              icon: 'check'
            });
          } else {
            sendNotification({
              key: 'address_failed',
              message: 'Somethig went wrong, please retry',
              type: 'danger',
              title: 'Failed!'
            });
          }
        });
        edittingAddress.value = false;
        activeAddress.value = undefined;
        await onComplete(data);
      } catch (error) {
        onError(error);
      }
    };

    onMounted(async () => {
      await loadUserBilling();
    });

    return {
      changeAddress,
      updateAddress,
      removeAddress,
      saveAddress,
      userBillingGetters,
      addresses,
      edittingAddress,
      activeAddress,
      isNewAddress,
      loading
    };
  }
};
</script>

<style lang='scss' scoped>
.billing-list {
  .billing {
    & + .billing {
      margin-top:20px;
    }
    .billing__wrap {
      border:solid 1px var(--c-light);
      padding: 20px;
      height: 100%;
      border-radius: 1rem;
      @media (min-width:768px){
        display: flex;
      }
      .billing__content {
        width:100%;
        @media (min-width:768px){
          padding-right: 10px;
          width: 83.333333%;
        }
      }
    }
  }
}
.billing__actions {
  width: 16.666667%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
  @media (min-width:768px){
    flex-direction: column;
    margin-top: 0;
  }
  .sf-button {
    transition: all 0.3s ease 0s;
    color:var(--c-secondary);
    font-size: var(--font-size--sm);
    font-weight: normal;
    text-decoration: underline;
    &:hover{
      color: var(--c-primary);
    }
    @media (min-width:768px){
      text-align: right;
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xl);
    }
    & + .sf-button {
      margin-left: 22px;
      @media (min-width:768px){
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
}
.address-loader {
  margin-top:100px;
  margin-bottom:100px;
}
.add-address-btn-wrap {
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .action-button {
    font-weight:700;
    font-size: var(--font-size--sm);
    color:var(--c-white);
    background: var(--c-primary);
    border-color: var(--c-primary);
    letter-spacing: 0.05em;
    padding: 10px 25px;
    &:hover{
      background: var(--c-black);
      border-color: var(--c-black);
    }
  }
  @media (min-width:3280px){
    h5{
      font-size: var(--font-size--xxl);
    }
    .action-button {
      font-size: var(--font-size--xxl);
    }
  }
}
::v-deep .my_account_content{
  .sf-notification{
    margin-top:15px;
    background: var(--c-light-green-e7f6f2);
    padding: 15px;
    place-items: start;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 11;
    @media (max-width:1023px){
      top: auto;
      bottom: 0;
      right: 0;
      width: 100%;
    }
    .sf-notification__icon{
      margin-right:5px;
      svg{
        width:20px;
        height: 20px;
        path{
          fill: var(--c-black);
        }
      }
    }
    .sf-notification__title{
      display:none;
    }
    .sf-notification__message{
      font-size: 14px;
      @media (min-width:1024px){
        font-size: 16px;
      }

      color:var(--c-black);
    }
    .button-wrap{
      display:flex;
      margin-top: 15px;
      margin-left: -5px;
      margin-right: -5px;
      .sf-button{
        color:var(--c-black);
        text-transform: capitalize;
        background: transparent;
        margin-left: 5px;
        margin-right: 5px;
        padding: 8px 18px;
        border: solid 2px var(--c-black);
        border-radius: 9999px;
        font-size: 14px;
        &:hover{
          color:var(--c-white);
          border: solid 2px var(--c-primary);
          background: var(--c-primary);
        }
      }
    }
  }
}
</style>
