<template>
  <div class="my_account_content_wrap">
    <div class="my_accout_title_wrap">
      <SfHeading
        class="my_accout_title"
        :level="1"
        :title="title"
      />
      <!-- <div class="my_accout_title_actions" v-if="!isEdited">
        <SfButton
          class="edit_action"
          @click="isEdited = true; scrollToTop()"
        >
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.7167 7.51667L12.4833 8.28333L4.93333 15.8333H4.16667V15.0667L11.7167 7.51667ZM14.7167 2.5C14.5083 2.5 14.2917 2.58333 14.1333 2.74167L12.6083 4.26667L15.7333 7.39167L17.2583 5.86667C17.5833 5.54167 17.5833 5.01667 17.2583 4.69167L15.3083 2.74167C15.1417 2.575 14.9333 2.5 14.7167 2.5ZM11.7167 5.15833L2.5 14.375V17.5H5.625L14.8417 8.28333L11.7167 5.15833Z" fill="black"/>
          </svg>
          Edit Your Profile
        </SfButton>
      </div> -->
    </div>
    <div class="my_account_content container-small">
      <div class="personal-info-sec">
        <h4 class="my_accout_subtitle">Personal Info</h4>
        <ValidationObserver tag="div" v-slot="{ handleSubmit }">
          <form class="form" @submit.prevent="handleSubmit(updateProfile)">
            <div class="row">
              <ValidationProvider tag="div" rules="required|min:2" v-slot="{ errors }" class="col-6 relative">
                <SfInput
                  data-cy="my-profile-input_firstName"
                  v-model= "form.firstName"
                  name="firstName"
                  :valid="!errors[0]"
                  class="form__element"
                  :errorMessage="errors[0]"
                >
                  <template #label>First Name</template>
                </SfInput>
                <!-- <span class="input-icon cursor-pointer">
                  <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.7167 7.51667L12.4833 8.28333L4.93333 15.8333H4.16667V15.0667L11.7167 7.51667ZM14.7167 2.5C14.5083 2.5 14.2917 2.58333 14.1333 2.74167L12.6083 4.26667L15.7333 7.39167L17.2583 5.86667C17.5833 5.54167 17.5833 5.01667 17.2583 4.69167L15.3083 2.74167C15.1417 2.575 14.9333 2.5 14.7167 2.5ZM11.7167 5.15833L2.5 14.375V17.5H5.625L14.8417 8.28333L11.7167 5.15833Z" fill="black"/>
                  </svg>
                </span> -->
              </ValidationProvider>
              <ValidationProvider tag="div" rules="required|min:2" v-slot="{ errors }" class="col-6 relative">
                <SfInput
                  data-cy="my-profile-input_lastName"
                  v-model= "form.lastName"
                  name="lastName"
                  label="Last Name"
                  :valid="!errors[0]"
                  class="form__element"
                  :errorMessage="errors[0]"
                />
                <!-- <span class="input-icon cursor-pointer">
                  <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.7167 7.51667L12.4833 8.28333L4.93333 15.8333H4.16667V15.0667L11.7167 7.51667ZM14.7167 2.5C14.5083 2.5 14.2917 2.58333 14.1333 2.74167L12.6083 4.26667L15.7333 7.39167L17.2583 5.86667C17.5833 5.54167 17.5833 5.01667 17.2583 4.69167L15.3083 2.74167C15.1417 2.575 14.9333 2.5 14.7167 2.5ZM11.7167 5.15833L2.5 14.375V17.5H5.625L14.8417 8.28333L11.7167 5.15833Z" fill="black"/>
                  </svg>
                </span> -->
              </ValidationProvider>
            </div>
            <ValidationProvider tag="div" rules="required|email" v-slot="{ errors }">
              <SfInput
                data-cy="my-profile-input_email"
                v-model= "form.email"
                type="email"
                name="email"
                label="Email"
                class="form__element"
                :valid="!errors[0]"
                :errorMessage="errors[0]"
                :disabled="true"
              />
            </ValidationProvider>
            <div class="my-account-bottom-action-wrap">
              <div class="form__button_wrap">
                <SfButton data-cy="my-profile-btn_update" class="form__button" @click.native="scrollToTop()">Save your info</SfButton>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
      <div class="password-change-sec">
        <h4 class="my_accout_subtitle">Password</h4>
        <ValidationObserver ref="passwordform" tag="div" v-slot="{ handleSubmit }">
          <form class="form" @submit.prevent="handleSubmit(updatePassword)">
            <div class="form__horizontal">
              <ValidationProvider tag="div" rules="required|min:5" v-slot="{ errors }" vid="password">
                <SfInput
                  data-cy="my-profile-input_newPassword"
                  v-model="form.newPassword"
                  type="password"
                  name="newPassword"
                  label="New Password"
                  class="form__element"
                  :valid="!errors[0]"
                  :errorMessage="errors[0]"
                />
              </ValidationProvider>
              <ValidationProvider tag="div" rules="required|confirmed:password" v-slot="{ errors }">
                <SfInput
                  data-cy="my-profile-input_repeatPassword"
                  v-model="form.repeatPassword"
                  type="password"
                  name="repeatPassword"
                  label="Confirm Password"
                  class="form__element"
                  :valid="!errors[0]"
                  :errorMessage="errors[0]"
                />
              </ValidationProvider>
            </div>
            <div class="my-account-bottom-action-wrap">
              <div class="form__button_wrap">
                <SfButton data-cy="my-profile-btn_update-password" class="form__button" @click.native="scrollToTop()">Change password</SfButton>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
    <!-- <div class="user_profile_detail" v-else>
      <SfProperty
      class="my-profile-cname"
      name="Name"
      v-if="displayName"
      :value="displayName" />
      <SfProperty
      class="my-profile-cemail"
      name="Email"
      v-if="email"
      :value="email" />
      <SfProperty
      class="my-profile-cmobile"
      name="Mobile"
      v-if="phone"
      :value="phone" />
    </div> -->
  </div>
</template>
<script type="module">
import { ref, computed, onMounted } from '@vue/composition-api';
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate';
import { email, required, min, confirmed } from 'vee-validate/dist/rules';
import { SfTabs, SfInput, SfButton, SfAlert, SfProperty, SfHeading, SfCheckbox } from '@storefront-ui/vue';
import { useUser, userGetters } from '@vue-storefront/shopify';
import { useUiNotification} from '~/composables';

extend('email', {
  ...email,
  message: 'Invalid email'
});

extend('required', {
  ...required,
  message: 'This field is required'
});

extend('min', {
  ...min,
  message: 'The field should have at least {length} characters'
});

extend('password', {
  validate: value => String(value).length >= 8 && String(value).match(/[A-Za-z]/gi) && String(value).match(/[0-9]/gi),
  message: 'Password must have at least 8 characters including one letter and a number'
});

extend('confirmed', {
  ...confirmed,
  message: 'Passwords don\'t match'
});

export default {
  name: 'PersonalDetails',
  components: {
    SfTabs,
    SfInput,
    SfButton,
    SfAlert,
    SfProperty,
    SfHeading,
    SfCheckbox,
    ValidationProvider,
    ValidationObserver
  },
  props: {
    account: {
      type: Object,
      // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
      default: () => ({})
    },
    title: {
      type: String,
      default: 'My Profile'
    }
  },
  // methods: {
  //   enableEdit(event) {
  //     event.preventDefault();
  //     const editIcon = event.target.parentElement;
  //     const editIconParent = editIcon && editIcon.parentElement;
  //     const sfInputParent = editIconParent && editIconParent.children && editIconParent.children[0];
  //     const sfInputWrapper = sfInputParent && sfInputParent.children && sfInputParent.children[0];
  //     const sfInput = sfInputWrapper && sfInputWrapper.children && Object.values(sfInputWrapper.children)[0];
  //     sfInput && sfInput.removeAttribute('disabled');
  //     sfInput && sfInput.focus();
  //     var len = sfInput && sfInput.value.length;
  //     sfInput && sfInput.setSelectionRange(len, len);
  //   }
  // },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, context) {
    const { user, load: loadUser, changePassword, updateUser } = useUser();
    const success = ref(null);
    const error = ref(null);
    const firstName = computed(() =>
      userGetters.getFirstName(user.value)
    );
    const lastName = computed(() =>
      userGetters.getLastName(user.value)
    );
    const email = computed(() =>
      userGetters.getEmailAddress(user.value)
    );
    const phone = computed(() =>
      userGetters.getPhone(user.value)
    );
    const displayName = computed(() =>
      userGetters.getdisplayName(user.value)
    );
    const resetForm = () => ({
      firstName: firstName.value,
      lastName: lastName.value,
      email: email.value,
      phone: phone.value,
      displayName: displayName.value,
      newPassword: ''
    });
    const { send: sendNotification} = useUiNotification();
    const isEdited = ref(false);
    const form = ref(resetForm());
    const passwordform = ref(null);
    const handleForm = (fn, reset) => async () => {
      try {
        if (reset) {
          await fn({ current: '', new: form.value.newPassword }).then(() => {
            loadUser();
            sendNotification({
              key: 'password_changed',
              message: 'Password changed successfully.',
              type: 'success',
              title: 'Success!',
              icon: 'check'
            });
          });
          form.value.newPassword = '';
          form.value.repeatPassword = '';
          passwordform.value.reset();
        } else {
          await fn({ user: form.value }).then(() => {
            loadUser();
            sendNotification({
              key: 'profile_success',
              message: 'Profile updated successfully.',
              type: 'success',
              title: 'Success!',
              icon: 'check'
            });
          });
        }
        isEdited.value = false;
      } catch (e) {
        sendNotification({
          key: 'profile_failed',
          message: e.message,
          type: 'danger',
          title: 'Failed!'
        });
        return false;
      }
    };

    const updatePassword = async () => handleForm(changePassword, true)();
    const updateProfile = async () => handleForm(updateUser, false)();
    onMounted(async () => {
        await loadUser().then(()=> {
          form.value.email = user.value.email;
          form.value.firstName = user.value.firstName;
          form.value.lastName = user.value.lastName;
        });
    });
    return {
      user,
      error,
      success,
      form,
      updatePassword,
      updateProfile,
      firstName,
      lastName,
      phone,
      displayName,
      email,
      isEdited,
      passwordform
    };
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  head() {
    return {
      title: 'My Profile - Miko3',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'My Profile - Miko3',
          name: 'My Profile - Miko3',
          content: 'Miko 3 is an advanced AI robot toy made to engage, educate and entertain kids. Miko 3 robot is a programmable and voice activated STEM toy to make kids smarter'
        }
      ]
    };
  }
};
</script>
<style lang='scss'>
.user_profile_detail {
  .sf-property {
    padding-bottom:15px;
  }
  .sf-property__value,
  .sf-property__name {
    font-size:var(--font-size--sm);
    font-weight: normal;
    @media (min-width:768px){
      font-size: 18px;
    }
  }
  .sf-property__name {
    width: 10%;
    min-width: 90px;
    color:var(--c-secondary);
    padding-right: 20px;
    margin: 0;
    @include for-mobile {
      min-width: 70px;
    }
  }
  .sf-property__value {
    color: var(--c-black);
    font-weight: 500;
    white-space: normal;
    word-break: break-all;
  }
}
.message,
.notice {
  font-family: var(--font-family-primary);
  line-height: 1.6;
}
.message {
  margin: 0 0 var(--spacer-2xl) 0;
  font-size: var(--font-base-mobile);
  @include for-desktop {
    font-size: var(--font-base-desktop);
  }
  &__label {
    font-weight: 400;
  }
}
.notice {
  margin: var(--spacer-xl) 0 0 0;
  font-size: var(--font-xs-mobile);
  @include for-desktop {
    max-width: 70%;
    margin: var(--spacer) 0 0 0;
    font-size: var(--font-xs-desktop);
  }
}
.my_accout_subtitle {
  margin-bottom:16px;
  font-weight: 700;
  @media (min-width:768px){
    margin-bottom: 20px;
  }
  @media (min-width:3280px){
    font-size: var(--font-size--xxl);
    margin-bottom: 30px;
  }
}
.password-change-sec {
  margin-top: 30px;
  @media (min-width:768px){
    margin-top: 40px;
  }
}
</style>
