<template>
  <div class="my_account_content_wrap">
    <div data-cy="order-history-tab_my-orders no-title" :class="currentOrder == null ? '' : 'no-title'">
      <div v-if="currentOrder">
        <template>
          <div class='order-head-wrapper'>
            <div class="order-number">
              <SfButton data-cy="order-history-btn_orders" class="sf-button--text all-orders" @click="currentOrder = null, scrollToTop()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                </svg>
              </SfButton>
              <span>Order #{{orderGetters.getId(currentOrder)}}</span>
              <SfBadge class='current-order-status' :class="orderGetters.getStatus(currentOrder).toLowerCase()">{{ orderGetters.getStatus(currentOrder).toLowerCase() }}</SfBadge>
            </div>
          </div>
          <div class="order-date-wrap">
            <p><span>Date &amp; Time:</span> {{ orderGetters.getDate(currentOrder) }}</p>
            <p v-if="orderGetters.getStatus(currentOrder) === 'FULFILLED'">
              Order Tracking:&nbsp;<strong>{{ orderGetters.getTracking(currentOrder) }}</strong>
              <span class="redirect-icon" v-if="orderGetters.getTracking(currentOrder) != ' - '">
                <SfLink target="_blank" :link="orderGetters.getTrackingUrl(currentOrder)">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.8333 13.8333H2.16667V2.16667H8V0.5H2.16667C1.24167 0.5 0.5 1.25 0.5 2.16667V13.8333C0.5 14.75 1.24167 15.5 2.16667 15.5H13.8333C14.75 15.5 15.5 14.75 15.5 13.8333V8H13.8333V13.8333ZM9.66667 0.5V2.16667H12.6583L4.46667 10.3583L5.64167 11.5333L13.8333 3.34167V6.33333H15.5V0.5H9.66667Z" fill="#000000"/>
                  </svg>
                </SfLink>
              </span>
            </p>
          </div>
        </template>
        <div class="order-data-table">
          <SfTable class="ordered-products-table">
            <SfTableHeading>
              <SfTableHeader class="products__name text-left">{{ ('Product name') }}</SfTableHeader>
              <SfTableHeader class="products__name">{{ ('SKU') }}</SfTableHeader>
              <SfTableHeader class="products__name">{{ ('Price') }}</SfTableHeader>
              <SfTableHeader>{{ ('Qty') }}</SfTableHeader>
              <SfTableHeader>{{ ('Subtotal') }}</SfTableHeader>
            </SfTableHeading>
            <SfTableRow v-for="(item, i) in orderGetters.getItems(currentOrder)" :key="i">
              <SfTableData class="products__name">
                <div class="data-order">
                  <div class="data-order-img">
                    <nuxt-link class="product-img" :to="localePath(orderGetters.getItemSlug(item) === 'miko3' ? '/store/'+orderGetters.getItemSlug(item) : '/store/mikomax')">
                      <SfImage
                      :src="($device.isIos || $device.isMacOS) ?`${orderGetters.getItemImage(item)}` : `${orderGetters.getItemImage(item)}?fm=webp`"
                      height="80"
                      width="80"
                      :lazy="false"
                      loading="lazy"
                      :alt="orderGetters.getItemName(item)"
                      />
                    </nuxt-link>
                  </div>
                  <div class="data-order-name">
                    <nuxt-link :to="localePath(orderGetters.getItemSlug(item) === 'miko3' ? '/store/'+orderGetters.getItemSlug(item) : '/store/mikomax')">
                      {{orderGetters.getItemName(item)}}
                    </nuxt-link>
                  </div>
                </div>
              </SfTableData>
              <SfTableData class="data-ordered-sku">
                <strong class="mobile-lable">SKU:</strong>
                {{orderGetters.getItemSku(item)}}
              </SfTableData>
              <SfTableData class="data-ordered-price">
                <strong class="mobile-lable">Price:</strong>
                {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{$n(orderGetters.getItemPrice(item), 'decimal')}}
              </SfTableData>
              <SfTableData class="data-ordered-quantity">
                <strong class="mobile-lable">Qty:</strong>
                {{orderGetters.getItemQty(item)}}
              </SfTableData>
              <SfTableData class="data-ordered-subtotal">
                <strong class="mobile-lable">Subtotal:</strong>
                {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{$n(orderGetters.getSubtotalPrice(currentOrder), 'decimal')}}
              </SfTableData>
            </SfTableRow>
          </SfTable>
        </div>
        <div class="highlighted highlighted--total">
          <div>
            <SfProperty
              name="Subtotal"
              :value="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${$n(orderGetters.getSubtotalPrice(currentOrder), 'decimal')}`"
              class="sf-property--full-width property"
            />
            <SfProperty
              name="Shipping"
              :value="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${$n(orderGetters.getShippingPrice(currentOrder), 'decimal')}`"
              class="sf-property--full-width property"
            />
            <SfProperty
              name="Tax"
              :value="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${$n(orderGetters.getTaxPrice(currentOrder), 'decimal')}`"
              class="sf-property--full-width property"
            />
            <SfProperty
              name="Grand total"
              :value="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${$n(orderGetters.getPrice(currentOrder), 'decimal')}`"
              class="sf-property--full-width property order-grand-total"
            />
            <SfProperty
              name="Payment status"
              :value="orderGetters.getPaymentStatus(currentOrder)"
              class="sf-property--full-width property"
            />
          </div>
        </div>
        <div class='order-info-wrapper'>
          <SfHeading title="Order Information" :level="4"/>
          <div class='order-info-cols'>
            <div class='order-info-col order-info-col-1'>
              <SfHeading title="Shipping Address" :level="5"/>
              <template v-if="orderGetters.getShippingAddress(currentOrder) != 'No shipping address available'">
                <p>{{ orderGetters.getCustomerName(currentOrder) }}</p>
                <div v-for='(addressLine, ai) in orderGetters.getShippingAddress(currentOrder)' :key="ai">{{ addressLine.value }}</div>
                <strong v-if="orderGetters.getCustomerPhone(currentOrder) != ''">{{ orderGetters.getCustomerPhone(currentOrder) }}</strong>
              </template>
              <template v-else>
                <p>No shipping information provided yet!</p>
              </template>
            </div>
            <div class='order-info-col order-info-col-3'>
              <SfHeading title="Billing Address" :level="5"/>
              <template v-if="orderGetters.getShippingAddress(currentOrder) != 'No shipping address available'">
                <p>{{ orderGetters.getCustomerName(currentOrder) }}</p>
                <div v-for='(addressLine, ai) in orderGetters.getShippingAddress(currentOrder)' :key="ai">{{ addressLine.value }}</div>
                <strong v-if="orderGetters.getCustomerPhone(currentOrder) != ''">{{ orderGetters.getCustomerPhone(currentOrder) }}</strong>
              </template>
              <template v-else>
                <p>No billing information provided yet!</p>
              </template>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="my-accoutn-heading">
          <SfHeading
            class="my_accout_title"
            :level="1"
            :title="title"
          />
        </div>
        <SfLoader class="order-loader" :class="{ loading }" :loading="loading" v-if="loading">
          <div />
        </SfLoader>
        <div v-if="!loading && orders && orders.data && orders.data.length === 0" class="no-orders my_account_content container-small">
          <p class="no-orders__title">{{ ('Currently you don\'t have any orders.') }}</p>
          <div class="my-account-bottom-action-wrap">
            <div class="form__button_wrap">
              <nuxt-link
                class="no-orders__button form__button sf-button"
                :to="localePath(`/store/${$config.mikoHandle}`)"
              >
                Start shopping
              </nuxt-link>
            </div>
          </div>
        </div>
        <div v-else-if="!loading" class="table-responsive">
          <p>View your past and current orders.</p>
          <SfTable class="orders-list-table">
            <SfTableHeading>
              <SfTableHeader
                v-for="tableHeader in tableHeaders"
                :key="tableHeader"
                >{{ tableHeader }}</SfTableHeader>
            </SfTableHeading>
            <SfTableRow v-for="order in orders.data.slice().reverse()" :key="orderGetters.getId(order)">
              <SfTableData class="data-order-no">
                <!-- <strong class="mobile-lable">Order:</strong> -->
                <div class="data-order">
                  <div class="data-order-img" v-if="order.lineItems[0].variant">
                    <nuxt-link class="product-img" :to="localePath(orderGetters.getItemSlug(order.lineItems[0]) === 'miko3' ? '/store/'+orderGetters.getItemSlug(order.lineItems[0]) : '/store/mikomax')">
                      <SfImage
                        :src="($device.isIos || $device.isMacOS) ? `${order.lineItems[0].variant.image.originalSrc}` : `${order.lineItems[0].variant.image.originalSrc}?fm=webp`"
                        height="80"
                        width="80"
                        :lazy="false"
                        loading="lazy"
                        :alt="order.lineItems[0].title"
                        />
                      </nuxt-link>
                  </div>
                  <div class="data-order-name">
                    <nuxt-link :to="localePath('/store/'+orderGetters.getItemSlug(order.lineItems[0]))">
                      <span>{{ order.lineItems[0].title }}</span>
                    </nuxt-link>
                    <SfButton data-cy="order-history-btn_view" class="sf-button--text" @click="checkOrderData(order)">
                      #{{ orderGetters.getId(order) }}
                    </SfButton>
                  </div>
                </div>
              </SfTableData>
              <SfTableData class="data-order-date">
                <strong class="mobile-lable">Date and Time:</strong>
                <div>{{ orderGetters.getDate(order) }}</div>
              </SfTableData>
              <SfTableData class="data-order-color">
                <strong class="mobile-lable">Color:</strong>
                <div><span v-if="order.lineItems[0].variant.sku === 'Miko-Robot-Martial-Red'">Martial Red</span><span v-else-if="order.lineItems[0].variant.sku === 'Miko-Robot-Pixie-Blue'">Pixie Blue</span><span v-else>-</span></div>
              </SfTableData>
              <SfTableData class="data-order-qty">
                <strong class="mobile-lable">QTY:</strong>
                <div>{{ order.lineItems[0].quantity }}</div>
              </SfTableData>
              <SfTableData class="data-order-price">
                <strong class="mobile-lable">Price:</strong>
                <div>{{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{ $n(orderGetters.getPrice(order), 'decimal') }}</div>
              </SfTableData>
              <SfTableData class="data-order-status">
                <strong class="mobile-lable">Status:</strong>
                <div>
                  <span class="status" :class="orderGetters.getStatus(order).toLowerCase()">{{ orderGetters.getStatus(order).toLowerCase() }}</span>
                  <SfButton target="_blank" data-cy="order-history-btn_view" :link="orderGetters.getTrackingUrl(order)" v-if="orderGetters.getTracking(order) != ' - '">
                    Track order
                    <svg data-v-b63a1866="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-b63a1866="" d="M13.8333 13.8333H2.16667V2.16667H8V0.5H2.16667C1.24167 0.5 0.5 1.25 0.5 2.16667V13.8333C0.5 14.75 1.24167 15.5 2.16667 15.5H13.8333C14.75 15.5 15.5 14.75 15.5 13.8333V8H13.8333V13.8333ZM9.66667 0.5V2.16667H12.6583L4.46667 10.3583L5.64167 11.5333L13.8333 3.34167V6.33333H15.5V0.5H9.66667Z" fill="#000000"></path>
                    </svg>
                  </SfButton>
                  <SfButton data-cy="order-history-btn_view" @click="checkOrderData(order)">
                    View details
                  </SfButton>
                </div>
              </SfTableData>
            </SfTableRow>
          </SfTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="module">
import {
  SfTabs,
  SfTable,
  SfButton,
  SfProperty,
  SfLink,
  SfIcon,
  SfImage,
  SfHeading,
  SfAlert,
  SfBadge,
  SfLoader
} from '@storefront-ui/vue';
import { computed, ref } from '@vue/composition-api';
import { useUserOrders, orderGetters } from '@vue-storefront/shopify';
import { AgnosticOrderStatus } from '@vue-storefront/core';
import { onSSR } from '@vue-storefront/core';
import { useUiNotification} from '~/composables';

export default {
  name: 'PersonalDetails',
  components: {
    SfTabs,
    SfTable,
    SfButton,
    SfProperty,
    SfLink,
    SfIcon,
    SfImage,
    SfHeading,
    SfAlert,
    SfBadge,
    SfLoader
  },
  props: {
    title: {
      type: String,
      default: 'My Orders'
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, context) {
    const { orders, search, loading } = useUserOrders();
    const currentOrder = ref(null);
    const { send: sendNotification} = useUiNotification();

    onSSR(async () => {
      await search();
    });

    const tableHeaders = [
      'Order',
      'Order date',
      'Color',
      'QTY',
      'Total',
      'Status'
    ];

    const getStatusTextClass = (order) => {
      const status = orderGetters.getStatus(order);
      switch (status) {
        case AgnosticOrderStatus.Open:
          return 'text-warning';
        case AgnosticOrderStatus.Complete:
          return 'text-success';
        default:
          return '';
      }
    };

    const downloadFile = (file, name) => {
      const a = document.createElement('a');
      document.body.appendChild(a);
      a.style = 'display: none';

      const url = window.URL.createObjectURL(file);
      a.href = url;
      a.download = name;
      a.click();
      window.URL.revokeObjectURL(url);
    };

    const downloadOrders = async () => {
      downloadFile(new Blob([JSON.stringify(orders.value)], {type: 'application/json'}), 'orders.json');
    };

    const downloadOrder = async (order) => {
      downloadFile(new Blob([JSON.stringify(order)], {type: 'application/json'}), 'order ' + orderGetters.getId(order) + '.json');
    };

    const checkOrderData = (order) => {
      let itemNotavailable = false;
      order.lineItems.forEach((item)=>{
        item.variant === null ? itemNotavailable = true : false;
      });
      if(itemNotavailable) {
        sendNotification({
          key: 'login_failed',
          message: 'One or more order items not found for this order.',
          type: 'danger',
          title: 'Failed!'
        });
        return false;
      } else {
        currentOrder.value = order;
        context.root.scrollToTop();
      }
    }

    return {
      tableHeaders,
      orders: computed(() => orders ? orders.value : []),
      getStatusTextClass,
      orderGetters,
      downloadOrder,
      downloadOrders,
      currentOrder,
      loading,
      checkOrderData
    };
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  head() {
    return {
      title: 'My Orders - Miko3',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'My Orders - Miko3',
          name: 'My Orders - Miko3',
          content: 'Miko 3 is an advanced AI robot toy made to engage, educate and entertain kids. Miko 3 robot is a programmable and voice activated STEM toy to make kids smarter'
        }
      ]
    };
  }
};
</script>

<style lang='scss' scoped>
.mobile-lable{
  margin-right:5px;
  @media (min-width:768px){
    display: none;
  }
}
.order-head-wrapper{
  .order-number{
    display: flex;
    align-items: center;
    font-size: var(--font-size--sm);
    @media (min-width:3280px){
      font-size: var(--font-size--xl);
    }
    .sf-button{
      line-height: 1;
      display: inline-flex;
      align-items: center;
      svg{
        width: 25px;
        height: 19px;
      }
    }
    span{
      padding-left:10px;
      padding-right:10px;
    }
    .current-order-status{
      color: var(--c-white);
      text-transform: capitalize;
      border-radius: 0.125rem;
      display: inline-block;
      padding: 7px 10px 6px;
      font-weight: var(--font-weight--normal);
      font-size: var(--font-size--xs);
      line-height: 1;
      @media (min-width:3280px){
        font-size: var(--font-size--xl);
      }
      &.unfulfilled{
        background: var(--c-warning);
      }
      &.fulfilled{
        background: var(--c-success);
      }
    }
  }
}
.order-date-wrap{
  padding-top:15px;
  padding-bottom:12px;
  p{
    font-size: var(--font-size--sm);
    padding-bottom: 3px;
    span{
      padding-right:5;
      color: var(--c-secondary-lighten);
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xl);
    }
  }
  .redirect-icon{
    svg{
      width: 12px;
      height: 12px;
    }
  }
}
.my-accoutn-heading{
  .sf-heading__title{
    font-size: var(--font-size--xxl);
    text-align: left;
    margin-bottom: 5px;
    @media (min-width:768px){
      margin-bottom: 20px;
    }

  }
  p{
    font-size:var(--font-size--base);
    padding-bottom: 5px;
    @media (min-width:768px){
      padding-bottom: 10px;
    }
  }
}
::v-deep .table-responsive{
  > p{
    @media (min-width:3280px){
      font-size: var(--font-size--xl);
    }
  }
  .orders-list-table{
    .sf-table__heading{
      display:none;
      @media (min-width:768px){
        border-bottom: solid 1px var(--c-light);
        padding-left:0;
        padding-right:0;
      }
      .sf-table__header{
        font-size: var(--font-size--sm);
        color: var(--c-secondary-lighten);
        @media (min-width:3280px){
          font-size: var(--font-size--xl);
        }
      }
    }
    tbody{
      &:last-child{
        .sf-table__row{
          border:0px;
        }
      }
    }
    .sf-table__row{
      border-bottom: solid 1px var(--c-light);
      padding: 15px 0;
      box-shadow: 0 0 0;
      display: block;
      @media (min-width:768px){
        align-items: center;
        display: table-row;
      }
      .sf-table__data{
        font-size:var(--font-size--sm);
        color: var(--c-black);
        display: inline-flex;
        width: 100%;
        padding: 0px 10px 0 0;
        @media (min-width:768px){
          display: table-cell;
           width: auto;
           padding: 15px 10px 15px 0;
        }
        @media (min-width:3280px){
          font-size:var(--font-size--xl);
        }
        .mobile-lable{
          padding-left: 87px;
          padding-right: 10px;
        }
        &.data-order-no{
          .data-order{
            display: flex;
            align-items: center;
            .data-order-img{
              padding-right:5px;
              .sf-image--wrapper{
                width:80px;
                height:80px;
                display: flex;
                align-items: center;
                @media (min-width:3280px){
                  width: 120px;
                  height: 120px;
                }

              }
              img{
                display:block;
                outline:none;
                width: 100%;
                height: auto;
              }
            }
            .data-order-name{
              span{
                display:block;
              }
            }
          }
          button{
            color: var(--c-secondary-lighten);
            font-weight: var(--font-weight--normal);

          }
        }
      }
      .data-order-status{
        .status{
          font-size:var(--font-size--xs);
          text-transform: capitalize;
          display:inline-block;
          padding:6px 10px;
          color: var(--c-white);
          line-height:1;
          margin-bottom: 3px;
          border-radius: 0.125rem;
          @media (min-width:3280px){
            font-size:var(--font-size--xl);
          }
        }
        .unfulfilled{
          background: var(--c-warning);
        }
        .fulfilled{
          background: var(--c-success);
        }
        button,
        a{
          margin-bottom:3px;
          padding: 0;
          width: auto;
          background: transparent;
          color:var(--c-info);
          text-transform: capitalize;
          font-size: var(--font-size--xs);
          font-weight: normal;
          display: block;
          svg{
            width: 10px;
            height: 10px;
            margin: 2px 0 0 3px;
            vertical-align: top;
            path{
              fill:var(--c-info);
            }
          }
          @media (min-width:3280px){
            font-size:var(--font-size--xl);
            svg{
              width: 20px;
              height: 20px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
::v-deep .order-data-table{
  .sf-table__heading{
    display:none;
    @media (min-width:768px){
      display: table-row;
      padding-left:0px;
      padding-right:0px;
      border-bottom: solid 1px var(--c-light);
    }
    .sf-table__header{
      color:var(--c-secondary-lighten);
      font-size: var(--font-size--sm);
      @media (min-width:3280px){
        font-size: var(--font-size--xl);
      }
      &:last-child{
        text-align:right;
      }
    }
    tbody{
      &:last-child{
        .sf-table__row{
          border:0;
        }
      }
    }
  }
  .sf-table__row{
    box-shadow:0 0 0;
    display: block;
    padding: 0 15px;
    border-bottom: solid 1px var(--c-light);
    @media (min-width:768px){
      align-items: center;
      display: table-row;
      padding-top: 0;
      padding-bottom: 0;
    }
      .sf-table__data{
        display:inline-flex;
        width: 100%;
        padding: 0 10px 0 0;
        font-size: var(--font-size--sm);
        color:var(--c-black);
        @media (min-width:3280px){
          font-size: var(--font-size--xl);
        }
        @media (min-width:768px){
          display: table-cell;
          width: auto;
          padding: 15px 10px 15px 0;
        }
        &:last-child{
          text-align:right;
          padding-right:0;
        }
        .mobile-lable{
          padding-left:87px;
          padding-right:10px;
        }
        &.products__name{
          .data-order{
            display:flex;
            align-items: center;
            .data-order-img{
              padding-right:5px;
              .sf-image--wrapper{
                width:80px;
                height: 80px;
                display: flex;
                align-items: center;
                @media (min-width:3280px){
                  width: 120px;
                  height: 120px;
                }
              }
              img{
                display:block;
                outline: none;
                border: 0;
                width: 100%;
                height: auto;
              }
            }
            .data-order-name{
              span{
                display:block;
              }
            }
          }
          a{
            display:inline-block;
            vertical-align: middle;
            .sf-image--wrapper{
              display:block;
            }
            img{
              display: block;
              outline: none;
              border: solid 1px var(--c-light);
              margin-right: 5px;
            }
          }
        }
        &.data-order-no{
          button{
            font-weight:normal;
            color: var(--c-secondary-lighten);
            @media (min-width:3280px){
              font-size: var(--font-size--xl);
            }
          }
        }
      }
    }
}
::v-deep .highlighted--total{
  padding-top: 20px;
  display: flex;
  	justify-content: flex-end;
  .property{
    width: 250px;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    span{
      width:50%;
      text-align: right;
      font-size: var(--font-size--sm);
      &.sf-property__name{
        color:var(--c-secondary-lighten);
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xl);
      }
    }
  }
}
::v-deep .order-info-wrapper{
  padding-top:30px;
  .sf-heading{
    .h4{
      text-align:left;
      font-weight: 500;
      padding-bottom: 15px;
      @media (min-width:3280px){
        font-size: var(--font-size--xl);
      }
    }
  }
  .order-info-cols{
    display:flex;
    .order-info-col{
      width:50%;
      h5{
        font-size:var(--font-size--base);
        text-align: left;
        font-weight: 500;
        padding-bottom: 5px;
      }
      div,
      p{
        font-size: var(--font-size--sm);
        font-weight: 400;
      }
      strong {
        font-size: var(--font-size--sm);
      }
      @media (min-width:3280px){
        div,
        strong,
        h5,
        p{
          font-size: var(--font-size--xl);
        }
      }
    }
  }
}
</style>
