<template>
  <section class="companies-learnMore-modal"  v-if="Companiesmodal">
    <div class="slide">
      <div class="container">
        <SfModal
          class="companies-learnMore-btn-modal"
          :visible="isMaxCategoryModalOpen"
          @close="toggleMaxCategoryModal"
       
        >  
        <div class="top-border" :style="`background:${Companiesmodal.color!=''?Companiesmodal.color:'#D16161'}`">
        </div>
          <div class="Description-container">
               <h2 class="banner-title h1">
                  <img :src="Companiesmodal.logo">
               </h2>


              <swiper class="swiper" :options="swiperOption">
                  <swiper-slide class="h-auto" v-for="(slide,index) in Companiesmodal.slider[0].fields.logos" :key="index" >
                    <div  class="testimonial-img">
                      <img  :src="iconURL(slide.fields.logo)" :alt="slide.fields.title" />
                    </div>
                  </swiper-slide>
                  <div class="swiper-pagination" slot="pagination"></div>
                </swiper>



                <div class="descriptions" v-html="Companiesmodal.info">
              
                </div>
              
          </div>
            
            <div class="custom_hr"  v-if="Companiesmodal.genre !=''" >
                  <hr />
            </div>
                
              
            <div class="award" v-if="Companiesmodal.genre !=''">
              <div class="small-title" :style="`color:${Companiesmodal.color!=''?Companiesmodal.color:'#D16161'}`">
                Genre
              </div>
                    <p v-html="Companiesmodal.genre">
                  </p>
              </div>
            <div class="custom_hr"  v-if="Companiesmodal.awards !=''" >
                  <hr />
            </div>
                
              
            <div class="award" v-if="Companiesmodal.awards !=''">
              <div class="small-title" :style="`color:${Companiesmodal.color!=''?Companiesmodal.color:'#D16161'}`">
                Awards
              </div>
                    <p v-html="Companiesmodal.awards">
                  </p>
              </div>
        </SfModal>
      </div>
    </div>
  </section>
</template>

<script>
import SwiperCore, { Pagination, Autoplay } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss';
import 'swiper/components/pagination/pagination.scss';
import {
  getFileUrl
} from '~/helpers/contentful'
SwiperCore.use([Pagination, Autoplay]);

import {
  SfModal
} from '@storefront-ui/vue';
import useUiState from '~/composables/useUiState';

export default {
  data () {
    return {
      visible: false,
      isMobile: false,
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 10,
        slidesPerGroup: 1,
        loop: true,
        freeMode: false,
        arrows: true,
        autoplay: {
          disableOnInteraction: true
        },
        observer: true,
        observeParents: true,
        observeSlideChildren: true,
        resizeObserver: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          768: {
            slidesPerView: 1,
            spaceBetween: 20,
            slidesPerGroup: 1
          },
          992: {
            slidesPerView: 1,
            spaceBetween: 20,
            slidesPerGroup: 1
          },
          1024: {
            slidesPerView: 1,
            spaceBetween: 40,
            slidesPerGroup: 1
          }
        }
      }
    }
  },
  props: {
    Companiesmodal: {}
  },
  components: {
    SfModal,
    Swiper,
    SwiperSlide
  },
  setup(props,{root}){
    const {  isMaxCategoryModalOpen,toggleMaxCategoryModal, } = useUiState();
    const iconURL = (logo)=>{
      if(logo.fields){
          return getFileUrl(logo.fields,root.$device)
      }
    };
    
    return {
      isMaxCategoryModalOpen,
      toggleMaxCategoryModal,
      iconURL
    }
  }
}
</script>

<style lang="scss" scoped>
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding-top: 24px;
    padding-bottom: 32px;
    padding: 24px 24px 32px;
    @media (min-width:1024px){
      padding: 15px 10px;
    }
  }
.companies-learnMore-modal {
.listSquare{
         list-style-type: square !important;
        }
  .slide {
    height: 100%;
    .container {
      position: relative;
      height: 100%;
      text-align: center;
      width: 100%;
      max-width:100%;
      text-align: left;
      @media (max-width: 767px) {
        max-width: 100%;
        text-align: center;
      }
    }
    .top-border{
    height: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.custom_hr{
 max-width: 100%;
    flex: 100%;
    margin-top: 20px;
}
.award{
  flex: 100%;
  max-width: 100%;
  text-align: center;
  .small-title{
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
    .Description-container{
      display: flex;
      justify-content: center;
      flex: row wrap;
      flex-flow: row wrap;
      margin: 20px;
      // position: relative;
      .descriptions{
        margin: 0px 30px 0px 30px;
        max-width: 100%;
        text-align:left;
       
        @media (max-width: 767px) {
          margin-left: 0%;
        }
      }
       .banner-title {
      line-height: 1.13;
     color: #0B3533;
      z-index: 0;
      font-weight: 900;
      width: 40%;
      text-align: center;
      flex: 100%;
      @media (min-width: 3280px) {
        padding-top: 40px;
        font-size: 100px;
      }
      @media (max-width: 767px) {
        img{
          width:70%;
        }
        
        text-align: center;
      }
    }
    }
   
  }
}
.companies-learnMore-btn-modal {
  --modal-width: 50%;
  --modal-height: auto;
  --modal-top: 50%;
  --modal-left: 50%;
  --modal-bottom: none;
  --modal-right: none;
  --modal-transform: translate3d(-50%, -50%, 0);
  --modal-max-height: 90%;
  @media (max-width: 1199px) {
    --modal-width: 80%;
  }
  @media (max-width: 767px) {
    --modal-width: 90%;
  }
  ::v-deep .sf-modal__bar {
    display: none;
  }
  ::v-deep .sf-modal__close {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 24px;
    height: 24px;
    background: var(--c-primary);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    z-index: 100;
    span{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 12px;
      height: 12px;
    }
    svg {
      width: 12px;
      height: 12px;
      display: block;
      path{
        fill: var(--c-white);
      }
    }
  }
  ::v-deep .sf-modal__container{
      border-radius: 30px;
  }
  ::v-deep .sf-modal__content {
    padding: 0px;
    font-size: 21px;
    position: relative;
    padding-bottom: 10px;
    @media (min-width:768px){
     padding-bottom: 10px;
    }
  }

}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}
.testimonial-img{margin-bottom: 10px;}
.swiper-pagination {
    position: absolute;
    margin-top: 25px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width:768px){
      margin-top: 25px;
    }
    ::v-deep .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      border: solid 2px var(--c-light);
      background: var(--c-white);
      opacity: 1;
      margin-top: 5px;
      margin-bottom: 5px;
      margin: 5px 8px;
      border-radius: 9999px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &:hover,
      &.swiper-pagination-bullet-active {
        background: var(--c-primary);
        border-color: var(--c-primary);
      }
      @media (min-width:768px){
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
</style>
