<template>
<div class="mikomax-contains-company sec-full-width">
    <div class="maxContainer">
            <div class="mainTitle">
                <h2 class="h1">{{title}}</h2>
            </div>
            <div class="cards-container">
                <div class="companies-card-video" v-if="checkLenght(davinci.video,davinci,'video')">
                      <video  v-if="filetype(davinci,'video')" :src="iconURL(davinci.video)"  preload="metadata" controls :poster="iconURL(davinci.thumbnails)">
                         
                      </video>
                      <img v-else :src="iconURL(davinci.video)" alt="davinci images">
                </div>
                <div v-else class="noMedia">
                    No Media Available .
                </div>
                <div class="companies-card-max bg-bark-yellow">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon" v-if="davinci.titleIcon">
                          <img   :src="iconURL(davinci.titleIcon)" :alt="iconTitle(davinci.titleIcon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p> {{davinci.shortDescription}}</p>
                       
                          <div class="buttonContainer">
                                <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('davinci')">
                                    {{davinci.buttonText}}
                                </SfButton>
                          </div>
                    </div>
                    <div class="right-bottom-icon">
                        <div class="bottom-icon" v-if="davinci.bottomIcon">
                              <img :src="iconURL(davinci.bottomIcon)" :alt="iconTitle(davinci.bottomIcon)">
                        </div>
                       
                    </div>

                    </div>
                </div>
                 <div class="companies-card-max bg-dark-blue">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon" v-if="kidloland.titleIcon">
                          <img   :src="iconURL(kidloland.titleIcon)" :alt="iconTitle(kidloland.titleIcon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p v-if="kidloland.shortDescription"> {{kidloland.shortDescription}}</p>
                       
                          <div class="buttonContainer">
                                <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('kidloland')">
                                    {{kidloland.buttonText}}
                                </SfButton>
                          </div>
                    </div>
                    <div class="right-bottom-icon">
                        <div class="bottom-icon" v-if="kidloland.bottomIcon">
                              <img :src="iconURL(kidloland.bottomIcon)" :alt="iconTitle(kidloland.bottomIcon)">
                        </div>
                       
                    </div>

                    </div>
                </div>
                <div class="companies-card-video" v-if="checkLenght(kidloland.video,kidloland,'video')">
                     <video v-if="filetype(kidloland,'video')"  :src="iconURL(kidloland.video)" preload="metadata" controls :poster="iconURL(kidloland.thumbnails)"></video>
                     <img v-else :src="iconURL(kidloland.video)" alt="kidloland images">
                </div>
                <div v-else class="noMedia">
                    No Media Available .
                </div>
                <div class="companies-card-video" v-if="checkLenght(cosmicKids.video,cosmicKids,'video')">
                     <video v-if="filetype(cosmicKids,'video')" :src="iconURL(cosmicKids.video)"   preload="metadata" controls :poster="iconURL(cosmicKids.thumbnails)"></video>
                        <img v-else :src="iconURL(cosmicKids.video)" alt="kidloland images">
                </div>
                <div v-else class="noMedia">
                    No Media Available .
                </div>
                  <div class="companies-card-max bg-light-blue">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon" v-if="cosmicKids.titleIcon">
                          <img   :src="iconURL(cosmicKids.titleIcon)" :alt="iconTitle(cosmicKids.titleIcon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p v-if="cosmicKids.shortDescription"> {{cosmicKids.shortDescription}}</p>
                       
                          <div class="buttonContainer">
                                <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('cosmicKids')">
                                    {{cosmicKids.buttonText}}
                                </SfButton>
                          </div>
                    </div>
                    <div class="right-bottom-icon">
                        <div class="bottom-icon">
                              <img :src="iconURL(cosmicKids.bottomIcon)" :alt="iconTitle(cosmicKids.bottomIcon)">
                        </div>
                       
                    </div>

                    </div>
                </div>
               
            </div>
             <div class="card-container-mobile">
                 
                <div class="companies-card-max bg-bark-yellow ">
                    <div class="companies-card-video" v-if="checkLenght(davinci.video,davinci,'video')">
                      <video  v-if="filetype(davinci,'video')" :src="iconURL(davinci.video)"  preload="metadata" controls :poster="iconURL(davinci.thumbnails)">
                         
                      </video>
                      <img v-else :src="iconURL(davinci.video)" alt="davinci images">
                     </div>
                    <div v-else class="noMedia">
                        No Media Available .
                    </div>
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon" v-if="davinci.titleIcon">
                          <img   :src="iconURL(davinci.titleIcon)" :alt="iconTitle(davinci.titleIcon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p v-if="davinci.shortDescription"> {{davinci.shortDescription}}</p>
                       
                          <div class="buttonContainer">
                                <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('davinci')">
                                    {{davinci.buttonText}}
                                </SfButton>
                          </div>
                    </div>
                         <div class="right-bottom-icon">
                        <div class="bottom-icon" v-if="davinci.mobileIcon">
                              <img :src="iconURL(davinci.mobileIcon)" :alt="iconTitle(davinci.bottomIcon)">
                        </div>
                       
                    </div>
                    </div>
                </div>
                 <div class="companies-card-max bg-dark-blue">
                    <div class="companies-card-video" v-if="checkLenght(kidloland.video,kidloland,'video')">
                        <video v-if="filetype(kidloland,'video')"  :src="iconURL(kidloland.video)" preload="metadata" controls :poster="iconURL(kidloland.thumbnails)"></video>
                        <img v-else :src="iconURL(kidloland.video)" alt="kidloland images">
                    </div>
                    <div v-else class="noMedia">
                        No Media Available .
                    </div>
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon" v-if="kidloland.titleIcon">
                          <img   :src="iconURL(kidloland.titleIcon)" :alt="iconTitle(kidloland.titleIcon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p v-if="kidloland.shortDescription"> {{kidloland.shortDescription}}</p>
                       
                          <div class="buttonContainer">
                                <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('kidloland')">
                                    {{kidloland.buttonText}}
                                </SfButton>
                          </div>
                    </div>
                    </div>
                </div>
                <div class="companies-card-max bg-light-blue">
                    <div class="companies-card-video" v-if="checkLenght(cosmicKids.video,cosmicKids,'video')">
                        <video v-if="filetype(cosmicKids,'video')" :src="iconURL(cosmicKids.video)"   preload="metadata" controls :poster="iconURL(cosmicKids.thumbnails)"></video>
                        <img v-else :src="iconURL(cosmicKids.video)" alt="cosmicKids images">
                    </div>
                    <div v-else class="noMedia">
                        No Media Available .
                    </div>
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon" v-if="cosmicKids.titleIcon">
                          <img   :src="iconURL(cosmicKids.titleIcon)" :alt="iconTitle(cosmicKids.titleIcon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p v-if="cosmicKids.shortDescription"> {{cosmicKids.shortDescription}}</p>
                       
                          <div class="buttonContainer">
                                <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('cosmicKids')">
                                    {{cosmicKids.buttonText}}
                                </SfButton>
                          </div>
                    </div>
                    </div>
                </div>
             </div>

          
             <LearnMoreModal  :Companiesmodal="mappingForModal[openModalFor]" v-if="openModalFor !=''" />
    </div>
</div>         
</template>

<script>
import {
  getFileUrl,
  checkFileType,
  getImageDimentions,
} from '~/helpers/contentful'

import LearnMoreModal from './PremiumContainsCompaniesLearnMoreModalB.vue';
import useUiState from '~/composables/useUiState';
import {SfButton} from '@storefront-ui/vue';
import {
getContentByFieldsTitle,
} from "~/helpers/contentful";
export default {
props: {
    companiesData: {},
  },
   components:{
      LearnMoreModal,
      SfButton
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    setup(props,{root}){
         const componentData =props.companiesData[0].fields
         const iconURL = (icon)=>{
             if(icon.fields){
                 return getFileUrl(icon.fields,root.$device)
             }
             return '';
              
            };
            const filetype =(icon,type) =>{
               if(Object.keys(icon).length){
                  return checkFileType(icon.video.fields, type);
               }
               else return false
            };
           const checkLenght =(icon,obj,key) =>{
               if(obj.hasOwnProperty(key) && Object.keys(icon.fields).length)
                return true 
                else return false;
            }
         const iconTitle = (icon) => icon.fields.title;
        const {  isMaxCategoryModalOpen,toggleMaxCategoryModal, } = useUiState();
        const title = componentData.title;
        const davinciData = getContentByFieldsTitle(componentData.sectionscard,'Da Vinci');
        const davinci =davinciData.fields?davinciData.fields:{}; 
        const kidlolandData =getContentByFieldsTitle(componentData.sectionscard,'Kidloland');
        const kidloland =kidlolandData.fields?kidlolandData.fields:{};
        const cosmicKidsData =getContentByFieldsTitle(componentData.sectionscard,'Cosmic Kids');
        const cosmicKids =cosmicKidsData.fields?cosmicKidsData.fields:{};
        const isDavinciHasVideo =Object.keys(davinci).length?checkFileType(davinci.video.fields, 'video'):"";
        const isKidlolandHasVideo =checkFileType(kidloland.video.fields, 'video');
        const isCosmicKidsHasVideo =checkFileType(cosmicKids.video.fields, 'video');
         let mappingForModal ={
             "davinci":{},"kidloland":{},"cosmicKids":{}

         };
         mappingForModal['davinci']['logo'] =davinci?iconURL(davinci.titleIcon):'';
         mappingForModal['davinci']['info'] =davinci?davinci.modalDescription:"";
         mappingForModal['davinci']['awards'] =davinci?davinci.awards:"";
        mappingForModal['davinci']['genre'] =davinci.genre?davinci.genre:"";
        mappingForModal['davinci']['color'] =davinci.borderColor?davinci.borderColor:"";
        mappingForModal['davinci']['slider'] =davinci.slider?davinci.slider:"";
        


        mappingForModal['kidloland']['logo'] =kidloland?iconURL(kidloland.titleIcon):'';
        mappingForModal['kidloland']['info'] =kidloland?kidloland.modalDescription:'';
        mappingForModal['kidloland']['awards'] =kidloland.awards?kidloland.awards:"";
        mappingForModal['kidloland']['genre'] =kidloland.genre?kidloland.genre:"";
        mappingForModal['kidloland']['color'] =kidloland.borderColor?kidloland.borderColor:"";
        mappingForModal['kidloland']['slider'] =kidloland.slider?kidloland.slider:"";
        // borderColor

         mappingForModal['cosmicKids']['logo'] =cosmicKids?iconURL(cosmicKids.titleIcon):'';
         mappingForModal['cosmicKids']['info'] =cosmicKids?cosmicKids.modalDescription:'';
         mappingForModal['cosmicKids']['awards'] =cosmicKids.awards?cosmicKids.awards:"";
         mappingForModal['cosmicKids']['genre'] =cosmicKids.genre?cosmicKids.genre:"";
        mappingForModal['cosmicKids']['color'] =cosmicKids.borderColor?cosmicKids.borderColor:"";
        mappingForModal['cosmicKids']['slider'] =cosmicKids.slider?cosmicKids.slider:"";
        
        return {
            toggleMaxCategoryModal,
            componentData,
            title,
            iconURL,
            filetype,
            checkLenght,
            iconTitle,
            davinci,
            kidloland,
            cosmicKids,
            mappingForModal,
            isDavinciHasVideo,
            isCosmicKidsHasVideo,
            isKidlolandHasVideo
          
        }
    },
    data(){
        return{
            openModalFor:""
        }
    },
    methods:{
        toggleModal(key){
            this.openModalFor = key;
            this.toggleMaxCategoryModal();
        }
    }
}
</script>
<style lang="scss" scoped>
.mikomax-contains-company{
    .maxContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    .btn-1{
        z-index: 1;
    }
       .bg-dark-blue{
                background: #061CB0;
                color: #FFFFFF;
                .btn-1{
                    color: #FFFFFF !important;
                    border: solid 2px var(--c-white) !important;
                }
            }
            .bg-bark-yellow{
                background: #FFDE63;
            }
            .bg-light-blue{
                background: #8BD5F4;
            }
       max-width: 100%;
        @media (max-width: 1023px) {
             padding: 10px;
        }
        .mainTitle{
            text-align: center;
            font-style: normal;
            flex:100%;
            font-size: 40px;
            font-weight: bold;
            max-width: 48%;
            margin: 20px;
            .h1{
                margin:30px auto;
            }
            @media (max-width: 1023px) {
              max-width: 70%;
            }
             @media (max-width: 767px) {
              max-width: 70%;
              margin: 0px 10px 0px;
               .h1{
                    margin:0px auto;
                }
            }
           
        }
        .cards-container{
            text-align: center;
            align-self: center;
            max-width:100%;
            display: inline-block;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
         
             @media (max-width: 1023px) {
              display:none;
            }
            .noMedia{
                flex: 50%;
                justify-content: center;
                /* text-align: center; */
                display: flex;
                align-items: center;
                background: gray;
                color: black;
                }
            .companies-card-video{
                max-width: 50%;
                flex:50%;
                max-height: 445px;
                position: relative;
                img{
                    width: 100%;
                    // height: 100%;
                    // object-fit: cover;
                }
                video {
                    object-fit: cover;
                    width: 100% !important;
                    height: 100% !important;
                    &:hover{
                        cursor: pointer;
                    }
                }
                iframe {
                    position: absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                }
            }
            .companies-card-max{
                border: none;
                overflow: hidden;
                position: relative;
                max-width: 50%;
                flex: 50%;
                .card-body-max{
                    padding: 50px;
                    display: flex;
                    justify-content: center;
                    flex-flow:row wrap;
                     @media (max-width: 1023px) {
                      flex-flow:row wrap;
                    }
                    .companies-card-icons{
                        flex: 100%;
                        text-align: center;
                        position: relative;
                        width: 100%;
                        @media (max-width: 1023px) {
                            flex:90%;
                        }
                        .max-card-icon{
                            float: left;
                            @media (max-width: 1023px) {
                                position: relative;
                                left: 20%;
                            }

                            img{
                                width: 100%;
                            }
                        }
                    }
                    .card-descriptions{
                        flex: 100%;
                        text-align: left;
                        .buttonContainer{
                            text-align: center;
                            margin-top: 25px;
                            float: left;
                        }
                        @media (max-width: 1023px) {
                            flex:90%;
                        }
                    }
                .right-bottom-icon{
                    // position: relative;
                    flex: 10%;
                    @media (max-width: 1023px) {
                        flex: 90%;
                    }
                    .bottom-icon{
                        position: absolute;
                        bottom: -2%;
                        right: -3%;
                        img{
                            width: 80%;
                        }
                    }
                    .bottom-icon2{
                    position: absolute;
                        bottom: -2%;
                        right: 0%;
                        img{
                            width: 80%;
                        }
                    }
                    .bottom-icon3{
                    position: absolute;
                        bottom: -2%;
                        right: 0%;
                        img{
                            width: 70%;
                        }
                    }
                }
                    
                }
            }
        }
        .card-container-mobile{
            display: none;
                // margin-left: 10%;
            text-align: center;
            align-self: center;
            max-width:100%;
           @media (max-width: 1023px) {
                display: block;
            }
               .noMedia{
                flex: 100%;
                justify-content: center;
                /* text-align: center; */
                display: flex;
                color: black;
                max-width: 100%;
                align-items: center;
                background: gray;
                padding: 20%;
                }
                .companies-card-video{

                max-width: 100%;
                flex:100%;
                max-height: 100%;
                position: relative;
                video {
                object-fit: cover;
                    width: 100% !important;
                    height: 100% !important;
                    max-height: 300px;
                      &:hover{
                        cursor: pointer;
                    }
                }
            }
            .companies-card-max{
                // background: #FFFFFF;
                // opacity: 0.6;
                overflow: auto;
                margin: 10%;
                border-radius: 40px;
                 margin-top: 25%;
                position: relative;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                &:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
                @media (max-width:1024px){
                        margin-top: 10%;
                         margin-bottom: 5%;
                }
                .card-body-max{
                    padding:10px;
                    display: flex;
                    justify-content: center;
                    @media (max-width: 1023px) {
                      flex-flow:row wrap;
                    }
                    .companies-card-icons{
                       flex: 90%;
                        text-align: center;
                        width: 100%;
                        margin: 15px 0% 0% 0%;
                        position: relative;
                           img{
                                width: 50%;
                            }
                     
                    }
                    .card-descriptions{
                         flex: 100%;
                        text-align: center;
                        max-width: 100%;
                        padding:15px;
                        
                        // margin-top: 20%;

                        .buttonContainer{
                            flex: 100%;
                            display:flex;
                        justify-content: center;
                            text-align: center;
                            margin-top: 30px;
                            margin-bottom: 20px;
                            // float: left;
                        }
                       
                    }
                     .right-bottom-icon{
                    // position: relative;
                    flex: 100%;

                    .bottom-icon{
                       position: absolute;
                        bottom: 0%;
                        left: -7%;
                        z-index: 0;
                        img{
                            width: 80%;
                        }
                    }
                    .bottom-icon2{
                    position: absolute;
                        bottom: -2%;
                        right: 0%;
                        img{
                            width: 80%;
                        }
                    }
                    .bottom-icon3{
                    position: absolute;
                        bottom: -2%;
                        right: 0%;
                        img{
                            width: 70%;
                        }
                    }
                }
                    
                }
            }
        }
    }
  
    
}

</style>