<template>
  <div class="sec-full-width">
    <div class="about-container bg-sf-light-pink-F4F1F4 md:bg-sf-c-white">
      <div class="about-info container">
        <div class="info-box">
          <h2 class="h1">
            <span v-if="aboutTitle">{{ aboutTitle }}</span>
            <svg width="190" height="194" viewBox="0 0 190 194" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M82.5735 4.45089C89.9166 -1.13386 100.083 -1.13386 107.426 4.45089C112.136 8.03277 118.162 9.40821 123.96 8.22448C132.999 6.37884 142.159 10.79 146.351 19.0078C149.041 24.2784 153.873 28.1323 159.61 29.5811C168.555 31.8402 174.894 39.7889 175.106 49.012C175.242 54.9274 177.923 60.4964 182.464 64.2909C189.542 70.2072 191.805 80.1191 187.994 88.5208C185.55 93.9094 185.55 100.091 187.994 105.479C191.805 113.881 189.542 123.793 182.464 129.709C177.923 133.504 175.242 139.073 175.106 144.988C174.894 154.211 168.555 162.16 159.61 164.419C153.873 165.868 149.041 169.722 146.351 174.992C142.159 183.21 132.999 187.621 123.96 185.776C118.162 184.592 112.136 185.967 107.426 189.549C100.083 195.134 89.9166 195.134 82.5735 189.549C77.8639 185.967 71.8377 184.592 66.0403 185.776C57.0013 187.621 47.8413 183.21 43.6486 174.992C40.9594 169.722 36.1268 165.868 30.39 164.419C21.4453 162.16 15.1064 154.211 14.8944 144.988C14.7584 139.073 12.0765 133.504 7.53644 129.709C0.457716 123.793 -1.80461 113.881 2.00613 105.479C4.45022 100.091 4.45022 93.9094 2.00613 88.5208C-1.80461 80.1191 0.457715 70.2072 7.53644 64.2909C12.0765 60.4964 14.7584 54.9274 14.8944 49.012C15.1064 39.7889 21.4453 31.8402 30.39 29.5811C36.1268 28.1323 40.9594 24.2784 43.6486 19.0078C47.8413 10.79 57.0013 6.37884 66.0403 8.22448C71.8377 9.40821 77.8639 8.03277 82.5735 4.45089Z" fill="#8FD5EC"/>
            </svg>
          </h2>
          <RichTextRenderer v-if="aboutContent" :document="aboutContent" />
          <SfAccordion class="about-accordion" :open="openTabName">
            <SfAccordionItem v-if="Object.keys(tab1ContentsObj).length" :header="tab1Title">
              <RichTextRenderer :document="tab1ContentsObj" />
            </SfAccordionItem>
            <SfAccordionItem v-if="Object.keys(tab2ContentsObj).length" :header="tab2Title">
              <RichTextRenderer :document="tab2ContentsObj" />
            </SfAccordionItem>
            <SfAccordionItem v-if="Object.keys(tab3ContentsObj).length" :header="tab3Title">
              <RichTextRenderer :document="tab3ContentsObj" />
            </SfAccordionItem>
          </SfAccordion>
        </div>
        <div class="img-box" v-if="desktopImageUrl">
          <span class="icon-2">
            <picture>
              <source media="(min-width:1023px)" :srcset="desktopImageUrl">
              <img :src="mobileImageUrl" :alt="desktopImageTitle ? desktopImageTitle : ''" :height="aboutImageHeight" :width="aboutImageWidth">
            </picture>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SfAccordion } from '@storefront-ui/vue';
import { getFileUrl } from '~/helpers/contentful'
import RichTextRenderer from 'contentful-rich-text-vue-renderer';

export default {
  props: {
    aboutData: {},
  },
  setup (props, context) {
    const aboutTitle = props.aboutData.fields.hasOwnProperty('sectionTitle') ? props.aboutData.fields.sectionTitle : '';
    const aboutContent = props.aboutData.fields.hasOwnProperty('sectionContents') ? props.aboutData.fields.sectionContents : [];
    const desktopImgObj = props.aboutData.fields.hasOwnProperty('sectionPictureDesktop') ? props.aboutData.fields.sectionPictureDesktop.fields : [];
    const mobileImgObj = props.aboutData.fields.hasOwnProperty('sectionPictureMobile') ? props.aboutData.fields.sectionPictureMobile.fields : [];
    const tab1Title = props.aboutData.fields.hasOwnProperty('tab1Title') ? props.aboutData.fields.tab1Title : '';
    const tab2Title = props.aboutData.fields.hasOwnProperty('tab2Title') ? props.aboutData.fields.tab2Title : '';
    const tab3Title = props.aboutData.fields.hasOwnProperty('tab3Title') ? props.aboutData.fields.tab3Title : '';
    const tab1ContentsObj = props.aboutData.fields.hasOwnProperty('tab1Contents') ? props.aboutData.fields.tab1Contents : {};
    const tab2ContentsObj = props.aboutData.fields.hasOwnProperty('tab2Contents') ? props.aboutData.fields.tab2Contents : {};
    const tab3ContentsObj = props.aboutData.fields.hasOwnProperty('tab3Contents') ? props.aboutData.fields.tab3Contents : {};
    const openTabName = tab1ContentsObj && Object.keys(tab1ContentsObj).length ? tab1Title : tab2ContentsObj && Object.keys(tab2ContentsObj).length ? tab2Title : tab3ContentsObj && Object.keys(tab3ContentsObj).length ? tab3Title : null

    const desktopImageUrl = getFileUrl(desktopImgObj, context.root.$device)
    const desktopImageTitle = desktopImgObj ? desktopImgObj.title : ''
    const mobileImageUrl = getFileUrl(mobileImgObj, context.root.$device) ? getFileUrl(mobileImgObj, context.root.$device) : desktopImageTitle
    const aboutImageHeight = Object.keys(mobileImgObj).length ? mobileImgObj.file.details.image.height : ''
    const aboutImageWidth = Object.keys(mobileImgObj).length ? mobileImgObj.file.details.image.height : ''
    
    return {
      aboutTitle,
      desktopImageUrl,
      desktopImageTitle,
      mobileImageUrl,
      aboutContent,
      tab1Title,
      tab2Title,
      tab3Title,
      tab1ContentsObj,
      tab2ContentsObj,
      tab3ContentsObj,
      openTabName,
      aboutImageHeight,
      aboutImageWidth
    }
  },
  components: {
    SfAccordion,
    RichTextRenderer
  },
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
.about-container{
  position: relative;
  width: 100%;
}
.about-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width:768px){
    padding-top: 100px;
    padding-bottom: 70px;
  }
  @media (min-width:1024px){
    padding-top: 150px;
  }
  @media (min-width:1280px){
    flex: 0 1 auto;
    padding-bottom: 50px;
    min-height: 1000px;
  }
  @media (min-width:2200px){
    min-height: 1200px;
  }
  @media (min-width:3280px){
    min-height: 1300px;
  }
  .info-box{
    order: 2;
    width: 100%;
    padding-top: 70px;
    @media (min-width:768px){
      padding-top: 70px;
    }
    @media (min-width:1024px){
      padding-top: 120px;
    }
    @media (min-width:1280px){
      padding-top: 0;
      width: 41.666667%;
      order: 0;
    }
    @media (min-width:2200px){
      width: 45%;
    }
    h2{
      position: relative;
      line-height: 1.13;
      color: var(--c-secondary-darken);
      margin-bottom: 25px;
      max-width: 350px;
      @media (min-width:768px){
        margin-bottom: 35px;
        max-width: 100%;
      }
      @media (min-width:3280px){
        font-size: 75px;
      }
      span{
        line-height: 1.13;
        z-index: 2;
        position: relative;
      }
      svg{
        position: absolute;
        bottom: -56px;
        left: -30px;
        z-index: 1;
        width: 95px;
        @media (min-width:768px){
          bottom: -30px;
          width: 140px;
        }
        @media (min-width:1280px){
          bottom: 10px;
          width: 190px;
        }
        @media (min-width:3280px){
          bottom: -15px;
        }
      }
    }
    p{
      letter-spacing: 0.2px;
      font-size: var(--font-size--base);
      color: var(--c-secondary-lighten);
      font-weight: normal;
      line-height: 1.4;
      @media (min-width:1280px){
        font-size: var(--font-size--lg);
      }
      @media (min-width:2200px){
        font-size: 32px;
      }
      @media (min-width:3280px){
        font-size: 48px;
      }
    }
  }
  .img-box{
    position: relative;
    order: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
    @media (min-width:768px){
      max-width: 600px;
    }
    @media (min-width:1280px){
      margin-left: 0;
      margin-right: -150px;
      max-width: 100%;
      order: 0;
      /*span.icon-2{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      }*/
    }
    @media (min-width:1400px){
      margin-right: -215px;
    }
    @media (min-width:2200px){
      margin-right: 0;
    }
    @media (min-width:3280px){
      width: 40%;
      img{
        width: 100%;
      }
    }
    @media (min-width:2200px){
      margin-right: 0;
    }
    @media (min-width:3280px){
      width: 40%;
      img{
        width: 100%;
      }
    }
  }
}
::v-deep .about-accordion{
  padding-left: 0px;
  @media (min-width:768px){
     padding-left: 0;
  }
  @media (min-width:3280px){
    padding-top: 30px;
  }
  button{
    font-size: var(--font-size--lg);
    border: 0;
    text-transform: uppercase;
    position: relative;
    padding: 1px 0 0 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    @media (min-width:1280px){
      padding-left: 60px;
    }
    @media (min-width:2200px){
      font-size: 32px;
    }
    @media (min-width:3280px){
      font-size: 45px;
    }
    &:before{
      content: '';
      left: 0;
      top: 13px;
      position: absolute;
      width: 19px;
      height: 5px;
      background: var(--c-blue-55ABDB);
      opacity: 1;
      display: block;
      @media (min-width:768px){
        top: 15px;
      }
      @media (min-width:2200px){
        top: 19px;
      }
      @media (min-width:3280px){
        top: 29px;
        width: 25px;
        height: 5px;
      }
    }
    &:after{
      content: '';
      left: 7px;
      top: 6px;
      position: absolute;
      width: 5px;
      height: 19px;
      background: var(--c-blue-55ABDB);
      display: block;
      @media (min-width:768px){
        top: 8px;
      }
      @media (min-width:2200px){
        top: 12px;
      }
      @media (min-width:3280px){
        top: 19px;
        width: 5px;
        height: 25px;
        left: 10px;
      }
    }
    &.is-open{
      font-weight: 700;
      color: var(--c-black);
      &:after{
        display: none;
      }
    }
  }
  .sf-accordion-item__content{
    max-width:100%;
    border: 0;
    padding: 0;
    p{
      padding-left: 40px;
      padding-bottom: 15px;
    }
    @media (min-width:1024px){
      max-width: 600px;
    }
    @media (min-width:1280px){
      p{
        padding-left: 60px;
      }
    }
    @media (min-width:2200px){
      max-width: 100%;
    }
  }
}
::v-deep .sf-accordion-item__chevron{
  display: none;
}
</style>
