<template>
    <section class="sec-full-width as-seen-on-sec" v-if="asSeenOnSectionIsEnabled">
        <div class="as-seen-on-sec-left-icons-list">
            <img class="as-seen-on-sec-left-icons-item" src="/homepage/as-seen-on-1.png" alt="as seen on 1">
            <img class="as-seen-on-sec-left-icons-item" src="/homepage/as-seen-on-2.png" alt="as seen on 2">
            <img class="as-seen-on-sec-left-icons-item" src="/homepage/as-seen-on-3.png" alt="as seen on 3">
        </div>
        <div class="container">
            <div class="as-seen-on-sec-inner">
                <h2 v-if="asSeenOnSectionTitle" class="as-seen-on-title">{{ asSeenOnSectionTitle }}</h2>
                <div v-if="asSeenOnSectionImage" class="as-seen-on-image">
                    <img
                        :src="asSeenOnSectionImage.fields.file.url"
                        :alt="asSeenOnSectionImage.fields.title"
                        :width="$device.isDesktop ? asSeenOnSectionImage.fields.file.details.image.width : '227'"
                        :height="$device.isDesktop ? asSeenOnSectionImage.fields.file.details.image.height : '48'"
                    >
                </div>
            </div>
        </div>
        <div class="as-seen-on-sec-right-icons-list">
            <img class="as-seen-on-sec-right-icons-item" src="/homepage/as-seen-on-4.png" alt="as seen on 4">
            <img class="as-seen-on-sec-right-icons-item" src="/homepage/as-seen-on-5.png" alt="as seen on 5">
            <img class="as-seen-on-sec-right-icons-item" src="/homepage/as-seen-on-6.png" alt="as seen on 6">
        </div>
    </section>
</template>

<script>
export default {
  props: {
    heroBannerContents: {},
  },
  setup (props) {
    const asSeenOnSectionImage = props.heroBannerContents.fields.hasOwnProperty('asSeenOnSectionImage') ? props.heroBannerContents.fields.asSeenOnSectionImage : [];
    const asSeenOnSectionIsEnabled = props.heroBannerContents.fields.hasOwnProperty('asSeenOnSectionIsEnabled') ? props.heroBannerContents.fields.asSeenOnSectionIsEnabled : false;
    const asSeenOnSectionTitle = props.heroBannerContents.fields.hasOwnProperty('asSeenOnSectionTitle') ? props.heroBannerContents.fields.asSeenOnSectionTitle : '';
    
    return {
      asSeenOnSectionImage,
      asSeenOnSectionTitle,
      asSeenOnSectionIsEnabled
    }
  }
}
</script>

<style lang="scss" scoped>
.as-seen-on-sec {
    padding: 18px 0;
    position: relative;
    background-color: rgba(235, 107, 107, 0.25);
    overflow: hidden;
    @media (max-width: 768px) {
        padding: 16px 0;
    }
    @media (max-width: 370px) {
        padding: 8px 0;
    }
    .as-seen-on-sec-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 370px) {
            flex-direction: column;
        }
    }
    .as-seen-on-title {
        color: var(--c-primary);
        margin-right: 20px;
        font-size: 48px;
        @media (max-width: 1023px) {
            margin-right: 6px;
            font-size: 24px;
        }
    }
    .as-seen-on-image {
        @media (max-width: 1023px) {
            max-width: 227px;
        }
    }
    .as-seen-on-sec-left-icons-list {
        .as-seen-on-sec-left-icons-item {
            position: absolute;
            &:nth-child(1) {
                left: 52px;
                top: -44px;
                @media (max-width: 1199px) {
                    max-width: 100px;
                    left: 32px;
                    top: -44px;
                }
                @media (max-width: 1023px) {
                    max-width: 63px;
                    left: -26px;
                    top: -3px;
                }
            }
            &:nth-child(2) {
                left: -51px;
                bottom: -47px;
                @media (max-width: 1199px) {
                    max-width: 100px;
                    left: -38px;
                    bottom: -36px;
                }
                @media (max-width: 1023px) {
                    display: none;
                }
            }
            &:nth-child(3) {
                left: 120px;
                bottom: -115px;
                @media (max-width: 1199px) {
                    max-width: 100px;
                    left: 80px;
                    bottom: -77px;
                }
                @media (max-width: 1023px) {
                    max-width: 143px;
                    left: -5px;
                    bottom: -63px;
                }
            }
        }
    }
    .as-seen-on-sec-right-icons-list {
        .as-seen-on-sec-right-icons-item {
            position: absolute;
            &:nth-child(1) {
                right: -31px;
                top: -84px;
                @media (max-width: 1199px) {
                    right: -21px;
                    top: -54px;
                    max-width: 100px;
                }
                @media (max-width: 1023px) {
                    display: none;
                }
            }
            &:nth-child(2) {
                right: 113px;
                bottom: 10px;
                @media (max-width: 1199px) {
                    right: 35px;
                    bottom: 35px;
                    max-width: 80px;
                }
                @media (max-width: 1023px) {
                    max-width: 42px;
                    right: 0;
                    bottom: 55px;
                }
            }
            &:nth-child(3) {
                right: -34px;
                bottom: -46px;
                @media (max-width: 1199px) {
                    right: -24px;
                    bottom: -56px;
                    max-width: 100px;
                }
                @media (max-width: 1023px) {
                    max-width: 90px;
                    right: -28px;
                    bottom: -50px;
                }
            }
        }
    }
}
</style>