<template>
  <section class="home-below-hero-banner sec-full-width" :style="`background-image: url(${ $device.isDesktop ? desktopImage : mobileImage })`">
    <div class="slide">
      <div class="container">
        <h2 class="banner-title h1" v-if="secTitle" v-html="secTitle"></h2>
        <button class="video-modal-btn" @click="visible = true">
          <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36 18C36 22.7739 34.1036 27.3523 30.7279 30.7279C27.3523 34.1036 22.7739 36 18 36C13.2261 36 8.64773 34.1036 5.27208 30.7279C1.89642 27.3523 0 22.7739 0 18C0 13.2261 1.89642 8.64773 5.27208 5.27208C8.64773 1.89642 13.2261 0 18 0C22.7739 0 27.3523 1.89642 30.7279 5.27208C34.1036 8.64773 36 13.2261 36 18ZM15.2775 11.4592C15.1093 11.3395 14.9113 11.2683 14.7054 11.2536C14.4994 11.2388 14.2933 11.281 14.1098 11.3756C13.9262 11.4702 13.7722 11.6135 13.6646 11.7897C13.5571 11.966 13.5001 12.1685 13.5 12.375V23.625C13.5001 23.8315 13.5571 24.034 13.6646 24.2103C13.7722 24.3865 13.9262 24.5298 14.1098 24.6244C14.2933 24.719 14.4994 24.7612 14.7054 24.7464C14.9113 24.7317 15.1093 24.6605 15.2775 24.5407L23.1525 18.9157C23.2983 18.8117 23.4172 18.6743 23.4992 18.515C23.5812 18.3557 23.624 18.1792 23.624 18C23.624 17.8208 23.5812 17.6443 23.4992 17.485C23.4172 17.3257 23.2983 17.1883 23.1525 17.0842L15.2775 11.4592Z" fill="#EB6B6B"/>
          </svg>
          {{ buttonLabel }}
        </button>
        <SfModal
          class="home-video-modal"
          :visible="visible"
          @close="visible = false"
          v-if="modalVideoUrl"
        >
          <div class="video-container">
            <iframe width="560" height="315" :src="modalVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </SfModal>
      </div>
    </div>
  </section>
</template>

<script>
import {
  SfModal
} from '@storefront-ui/vue';
import { getFileUrl } from '~/helpers/contentful'

export default {
  data () {
    return {
      visible: false,
      isMobile: false
    }
  },
  props: {
    contents: {}
  },
  components: {
    SfModal
  },
  setup(props, context) {
     let [ 
       secTitle,
       buttonLabel,
       modalVideoUrl,
       desktopImage,
       mobileImage
    ] = [ '', '', '', '', '' ]
    secTitle = props.contents && props.contents.hasOwnProperty('fields') ? props.contents.fields.sectionTitle : '';
    buttonLabel = props.contents && props.contents.hasOwnProperty('fields') ? props.contents.fields.buttonLabel : '';
    modalVideoUrl = props.contents && props.contents.hasOwnProperty('fields') ? props.contents.fields.modalVideoUrl : '';
    const sectionBackgroundImage = props.contents && props.contents.fields.hasOwnProperty('sectionBackgroundImage') ? props.contents.fields.sectionBackgroundImage : '';
    const sectionBackgroundImageMobile = props.contents && props.contents.fields.hasOwnProperty('sectionBackgroundImageMobile') ? props.contents.fields.sectionBackgroundImageMobile : '';
    desktopImage = sectionBackgroundImage ? getFileUrl(sectionBackgroundImage.fields, context.root.$device) : '';
    mobileImage = sectionBackgroundImageMobile ? getFileUrl(sectionBackgroundImageMobile.fields, context.root.$device) : '';
    return {
      secTitle,
      buttonLabel,
      modalVideoUrl,
      desktopImage,
      mobileImage
    }
  }
}
</script>

<style lang="scss" scoped>
.home-below-hero-banner {
  height: 100vh;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .slide {
    height: 100%;
    .container {
      position: relative;
      height: 100%;
      text-align: center;
      width: 100%;
      max-width: 85%;
      text-align: left;
      @media (max-width: 767px) {
        max-width: 100%;
        text-align: center;
      }
    }
    .banner-title {
      line-height: 1.13;
      color: var(--c-white);
      z-index: 0;
      font-weight: 900;
      width: 40%;
      text-align: left;
      @media (min-width: 3280px) {
        padding-top: 40px;
        font-size: 100px;
      }
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
.video-modal-btn {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  font-size: 24px;
  padding: 12px;
  margin-top: 40px;
  background: var(--c-white);
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  color: var(--c-primary);
  font-weight: 700;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border: 0;
  @media (max-width: 767px) {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
  }
  svg {
    margin-right: 10px;
    path {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
  @media (min-width: 2200px) {
    font-size: 30px;
    padding: 15px 25px 15px 15px;
    margin-top: 50px;
    svg{
      width: 45px;
      height: 45px;
    }
  }
  @media (min-width: 3280px) {
    font-size: 45px;
    padding: 20px 35px 20px 20px;
    margin-top: 75px;
    svg{
      width: 60px;
      height: 60px;
    }
  }
  &:hover {
    color: var(--c-secondary);
    svg {
      path {
        fill: var(--c-secondary);
      }
    }
  }
}
.home-video-modal {
  --modal-width: 50%;
  --modal-height: auto;
  --modal-top: 50%;
  --modal-left: 50%;
  --modal-bottom: none;
  --modal-right: none;
  --modal-transform: translate3d(-50%, -50%, 0);
  --modal-max-height: 90%;
  @media (max-width: 1199px) {
    --modal-width: 80%;
  }
  @media (max-width: 767px) {
    --modal-width: 90%;
  }
  ::v-deep .sf-modal__bar {
    display: none;
  }
  ::v-deep .sf-modal__close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    background: var(--c-primary);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    span{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 12px;
      height: 12px;
    }
    svg {
      width: 12px;
      height: 12px;
      display: block;
      path{
        fill: var(--c-white);
      }
    }
  }
  ::v-deep .sf-modal__content {
    padding: 15px;
    @media (min-width:768px){
      padding: 20px;
    }
  }
}
</style>
