<template>
  <section class="home-hero-banner sec-full-width">
    <div class="panel slide1">
      <div class="container text-center" v-if="slide1Caption">
        <h1 class="banner-title">
          <RichTextRenderer :document="slide1Caption" />
        </h1>
      </div>
    </div>
    <div class="panel slide2">
      <div class="slide-wrap">
        <h2 class="h1 banner-title" v-if="slide2Caption">
          <RichTextRenderer :document="slide2Caption" />
        </h2>
        <div class="banner-blobs">
          <div class="banner-blob-left" v-if="slide2LeftImages.length">
            <span v-for="(leftImages, index) in slide2LeftImages" :key="index">
              <img :src="leftImages.fields.file.url ? ($device.isIos || $device.isMacOS) ? leftImages.fields.file.url : leftImages.fields.file.url + '?fm=webp' : ''" :alt="leftImages.fields.title" :height="leftImages.fields.file.details.image.height" :width="leftImages.fields.file.details.image.width" loading="lazy">
            </span>
          </div>
          <div class="banner-blob-right" v-if="slide2RightImages.length">
            <span v-for="(rightImages, index) in slide2RightImages" :key="index">
              <img :src="rightImages.fields.file.url ? ($device.isIos || $device.isMacOS) ? rightImages.fields.file.url : rightImages.fields.file.url + '?fm=webp' : ''" :alt="rightImages.fields.title" :height="rightImages.fields.file.details.image.height" :width="rightImages.fields.file.details.image.width" loading="lazy">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel slide3">
      <div class="slide-wrap">
        <h2 class="h1 banner-title" v-if="slide3Caption">
          <RichTextRenderer :document="slide3Caption" />
        </h2>
        <div class="banner-blobs">
          <div class="banner-blob-left" v-if="slide3LeftImages.length">
            <span v-for="(imageLeftObj, index) in slide3LeftImages" :key="index">
              <img :src="imageLeftObj.fields.file.url ? ($device.isIos || $device.isMacOS) ? imageLeftObj.fields.file.url: imageLeftObj.fields.file.url + '?fm=webp' : ''" :alt="imageLeftObj.fields.title" :height="imageLeftObj.fields.file.details.image.height" :width="imageLeftObj.fields.file.details.image.width" loading="lazy">
            </span>
          </div>
          <div class="banner-blob-right" v-if="slide3RightImages.length">
            <span v-for="(imageRightObj, index) in slide3RightImages" :key="index">
              <img :src="imageRightObj.fields.file.url ? ($device.isIos || $device.isMacOS) ? imageRightObj.fields.file.url: imageRightObj.fields.file.url + '?fm=webp' : ''" :alt="imageRightObj.fields.title" :height="imageRightObj.fields.file.details.image.height" :width="imageRightObj.fields.file.details.image.width" loading="lazy">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-robo">
      <div id="miko-robo" />
    </div>
  </section>
</template>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import lottie from 'lottie-web-light/build/player/lottie_svg.min.js';
import { getFileUrl } from '~/helpers/contentful'
import RichTextRenderer from 'contentful-rich-text-vue-renderer';

if (process.client) {
  gsap.registerPlugin(ScrollTrigger);
  gsap.defaults({ ease: "none", overwrite: "auto" });
}

export default {
  props: {
    heroBannerContents: {},
  },
  components: {
    RichTextRenderer
  },
  setup (props, context) {
    const roboObj = props.heroBannerContents.fields.hasOwnProperty('mikoRobo') ? props.heroBannerContents.fields.mikoRobo : [];
    const slide1Caption = props.heroBannerContents.fields.hasOwnProperty('slide1Caption') ? props.heroBannerContents.fields.slide1Caption : [];
    const slide2Caption = props.heroBannerContents.fields.hasOwnProperty('slide2Caption') ? props.heroBannerContents.fields.slide2Caption : [];
    const slide3Caption = props.heroBannerContents.fields.hasOwnProperty('slide3Caption') ? props.heroBannerContents.fields.slide3Caption : [];
    const slide2LeftImages = props.heroBannerContents.fields.hasOwnProperty('slide2BannerLeftImages') ? props.heroBannerContents.fields.slide2BannerLeftImages : [];
    const slide2RightImages = props.heroBannerContents.fields.hasOwnProperty('slide2BannerRightImages') ? props.heroBannerContents.fields.slide2BannerRightImages : [];
    const slide3LeftImages = props.heroBannerContents.fields.hasOwnProperty('slide3BannerLeftImages') ? props.heroBannerContents.fields.slide3BannerLeftImages : [];
    const slide3RightImages = props.heroBannerContents.fields.hasOwnProperty('slide3BannerRightImages') ? props.heroBannerContents.fields.slide3BannerRightImages : [];
    const roboJsonPath = getFileUrl(roboObj.fields, context.root.$device)
    
    return {
      roboJsonPath,
      slide1Caption,
      slide2Caption,
      slide3Caption,
      slide2LeftImages,
      slide2RightImages,
      slide3LeftImages,
      slide3RightImages
    }
  },
  data() {
    return {
      heroBannerTl: null
    }
  },
  // data() {
  //   return {
  //     offsets: [],
  //     slides: [],
  //     oldSlide: 0,
  //     activeSlide: 0,
  //     container: null,
  //     smoothscrollPolyfillScript: '//unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js',
  //     startY: 0,
  //     mikoRoboLottieAnim: null,
  //     touchstartX: 0,
  //     touchstartY: 0,
  //     touchendX: 0,
  //     touchendY: 0,
  //     userHasScrolled: false
  //   }
  // },
  methods: {
    // mikoRoboLottieSettings() {
    //   const targetEle = document.getElementById('miko-robo');
    //   const mikoRoboLottieAnim = lottie.loadAnimation({
    //     container: targetEle,
    //     renderer: 'svg',
    //     prerender: true,
    //     loop: false,
    //     autoplay: false,
    //     // rendererSettings: {
    //     //   progressiveLoad:false,
    //     //   preserveAspectRatio: 'xMidYMid slice'
    //     // },
    //     path: this.roboJsonPath
    //     // initialSegment: [1, 271]
    //   })
    //   return mikoRoboLottieAnim;
    // },
    LottieScrollTrigger(vars) {
      let playhead = {frame: 0},
        target = gsap.utils.toArray(vars.target)[0],
        speeds = {slow: "+=2000", medium: "+=1000", fast: "+=500"},
        st = {trigger: target, pin: true, start: "top top", end: speeds[vars.speed] || "+=1000", scrub: 1},
        animation = lottie.loadAnimation({
          container: target,
          renderer: vars.renderer || "svg",
          loop: false,
          autoplay: false,
          path: vars.path,
          initialSegment: [1, 271]
        });
      for (let p in vars) {
        st[p] = vars[p];
      }
      animation.addEventListener("DOMLoaded", function() {
        animation.play();
        this.heroBannerTl = gsap.timeline({
          trigger: ".home-hero-banner",
          scrollTrigger: st
        });

        gsap.set(document.querySelector(".slide1 .banner-title"), { alpha: 1 });
        gsap.set(document.querySelector(".slide2"), { alpha: 0, height: 0 });
        gsap.set(document.querySelector(".slide2 .slide-wrap"), { position: "fixed", alpha: 0, "--slide2-translate": 0 });
        gsap.set(document.querySelector(".slide2 .banner-title"), { alpha: 0 });
        gsap.set(document.querySelectorAll(".slide2 .banner-blobs"), { alpha: 0, yPercent: 10 });
        gsap.set(document.querySelector(".slide3"), { alpha: 0, height: 0 });
        gsap.set(document.querySelector(".slide3 .slide-wrap"), { position: "fixed", alpha: 0, "--slide3-translate": 0 });
        gsap.set(document.querySelector(".slide3 .banner-title"), { alpha: 0 });
        gsap.set(document.querySelectorAll(".slide3 .banner-blobs"), { alpha: 0, yPercent: 10 });
        this.heroBannerTl
        .to(playhead, {
          frame: 100,
          duration: 0.3,
          delay: 0.4,
          ease: "none",
          // onUpdate: () => animation.playSegments([1,32], false)
          onUpdate: () => animation.goToAndStop(playhead.frame, true)
        }, "-=0.5")
        .to(document.querySelector(".slide1 .banner-title"), { alpha: 0, duration: 0.3 }, "-=0.3")
        .add('startSlide2Start', "-=0.3")
        .to(playhead, {
          frame: 180,
          duration: 0.3,
          delay: 0.4,
          ease: "none",
          // onUpdate: () => animation.playSegments([33,80], false)
          onUpdate: () => animation.goToAndStop(playhead.frame, true)
        }, "startSlide2Start", "-=0.5")
        .to(document.querySelector(".slide2"), { alpha: 1, height: "100%" }, "startSlide2Start")
        .to(document.querySelector(".slide2 .slide-wrap"), { alpha: 1, "--slide2-translate": "-100%" }, "startSlide2Start")
        .to(document.querySelector(".slide2 .banner-title"), { alpha: 1, delay: 0.2 }, "startSlide2Start")
        .to(document.querySelectorAll(".slide2 .banner-blobs"), { alpha: 1, yPercent: 0 }, "startSlide2Start")
        .add('startSlide2End')
        .to(document.querySelector(".slide2 .banner-title"), { alpha: 0 }, "startSlide2End")
        .to(document.querySelectorAll(".slide2 .banner-blobs"), { alpha: 0, yPercent: -10 }, "startSlide2End")
        .add('startSlide3Start', "-=0.2")
        .to(playhead, {
          frame: 270,
          duration: 0.3,
          delay: 0.5,
          ease: "none",
          // onUpdate: () => animation.playSegments([81,271], false)
          onUpdate: () => animation.goToAndStop(playhead.frame, true)
        }, "startSlide3Start", "-=0.5")
        .to(document.querySelector(".slide3"), { alpha: 1, height: "100%" }, "startSlide3Start")
        .to(document.querySelector(".slide3 .slide-wrap"), { alpha: 1, "--slide3-translate": "-100%" }, "startSlide3Start")
        .to(document.querySelector(".slide3 .banner-title"), { alpha: 1, delay: 0.1 }, "startSlide3Start")
        .to(document.querySelectorAll(".slide3 .banner-blobs"), { alpha: 1, yPercent: 0 }, "startSlide3Start")
        .to(document.querySelector(".slide3 .slide-wrap"), { position: "absolute" })

        // .fromTo(document.querySelector(".slide3 .banner-title"), { yPercent: 0, alpha: 1 }, { yPercent: -10, alpha: 0 })
        // .fromTo(document.querySelectorAll(".slide3 .banner-blobs"), { alpha: 1, yPercent: 0 }, { alpha: 0, yPercent: -10 });

      });
    },
    // scrollToBelowBannerSection() {
    //   console.log('scrollToBelowBannerSection');
    //   const belowBannerEle = document.getElementsByClassName('home-below-hero-banner');
    //   const belowBannerOffset = belowBannerEle && belowBannerEle[0].offsetTop;
    //   // gsap.to(window, {duration: 0, delay: 0, scrollTo: {y: belowBannerOffset}, ease: "none"});
    //   window.scrollTo({
    //     top: belowBannerOffset,
    //     left: 0,
    //     behavior: 'smooth'
    //   });
    //   this.startY = belowBannerOffset;
    // },
    // slide2Anim() {
    //   console.log('slide2Anim');
    //   const slide2Tl = gsap.timeline({paused: true});
    //     slide2Tl
    //     .add('startSlide2')
    //     .fromTo(document.querySelector(".slide1 .banner-title"), 0.5, { y: 0, alpha: 1 }, { y: -100, alpha: 0 })
    //     .fromTo(document.querySelector(".slide2 .banner-title"), 0.5, { alpha: 0, y: 50 }, { alpha: 1, y: 0 }, "startSlide2")
    //     .fromTo(document.querySelectorAll(".slide2 .banner-blobs"), 0.5, { alpha: 0, top: 200 }, { alpha: 1, top: 0 }, "startSlide2");
    //     return slide2Tl;
    // },
    // slide3Anim() {
    //   console.log('slide3Anim');
    //   const slide3Tl = gsap.timeline({paused: true});
    //     slide3Tl
    //     .add('startSlide3')
    //     .fromTo(document.querySelector(".slide2 .banner-title"), 0.5, { alpha: 1, y: 0 }, { alpha: 0, y: -50 }, "startSlide3")
    //     .fromTo(document.querySelectorAll(".slide2 .banner-blobs"), 0.5, { alpha: 1, top: 0 }, { alpha: 0, top: -200 }, "startSlide3")
    //     .fromTo(document.querySelector(".slide3 .banner-title"), 0.5, { alpha: 0, y: 50 }, { alpha: 1, y: 0 }, "startSlide3")
    //     .fromTo(document.querySelectorAll(".slide3 .banner-blobs"), 0.5, { alpha: 0, top: 200 }, { alpha: 1, top: 0 }, "startSlide3")
    //     return slide3Tl;
    // },
    // moveSlide(e) {
    //   console.log('e', e);
    //   e.preventDefault();
    //   e.stopPropagation();
    //   this.oldSlide = this.activeSlide;

    //   const masterTl = gsap.timeline({yoyo: true});
    //   console.log('tweening activeSlide', gsap.isTweening(this.slides[this.activeSlide]));
    //   console.log('tweening oldSlide', gsap.isTweening(this.slides[this.oldSlide]));
    //   console.log('tweening', masterTl.isActive());
    //   if (gsap.isTweening(this.slides[this.activeSlide]) || gsap.isTweening(document.querySelector(".slide1 .banner-title")) || gsap.isTweening(document.querySelector(".slide2 .banner-title")) || gsap.isTweening(document.querySelectorAll(".slide2 .banner-blobs")) || gsap.isTweening(document.querySelector(".slide3 .banner-title")) || gsap.isTweening(document.querySelectorAll(".slide3 .banner-blobs"))) {
    //     return;
    //   }
      
    //   if (gsap.isTweening(this.slides[this.oldSlide]) || gsap.isTweening(document.querySelector(".slide1 .banner-title")) || gsap.isTweening(document.querySelector(".slide2 .banner-title")) || gsap.isTweening(document.querySelectorAll(".slide2 .banner-blobs")) || gsap.isTweening(document.querySelector(".slide3 .banner-title")) || gsap.isTweening(document.querySelectorAll(".slide3 .banner-blobs"))) {
    //     return;
    //   }

    //   // if (gsap.isTweening(this.slides[this.oldSlide])) {
    //   //   return;
    //   // }

    //   console.log('e.type', e.type);
    //   if (e.type === 'wheel') {
    //     console.log('e.deltaY', e.deltaY);
    //     this.activeSlide = e.deltaY > 0 ? this.activeSlide += 1 : this.activeSlide -= 1;
    //   } else {
    //     if (this.touchendY <= this.touchstartY) {
    //       this.activeSlide = this.activeSlide += 1;
    //     }
        
    //     if (this.touchendY >= this.touchstartY) {
    //       this.activeSlide = this.activeSlide -= 1;
    //     }
    //     // console.log('e.deltaY', e.deltaY);
    //     // this.activeSlide = e.deltaY > 0 ? this.activeSlide += 1 : this.activeSlide -= 1;
    //   }
    //   console.log('this.activeSlide1', this.activeSlide);

    //   // make sure we're not past the end or beginning slide
    //   this.activeSlide = this.activeSlide < 0 ? 0 : this.activeSlide;
    //   console.log('this.activeSlide2', this.activeSlide);
    //   if (this.oldSlide === 2 && this.activeSlide === 3) {
    //     if(this.userHasScrolled) {
    //       return;
    //     }
    //     this.userHasScrolled = false;
    //     // gsap.set("body",{overflowY:'auto'});
    //     this.scrollToBelowBannerSection();
    //     // this.oldSlide = 0;
    //   }
    //   this.activeSlide = this.activeSlide > this.slides.length - 1 ? this.slides.length - 1 : this.activeSlide;
    //   console.log('this.activeSlide3', this.activeSlide);
    //   console.log('oldSlide2', this.oldSlide);
      
    //   if (this.oldSlide === this.activeSlide) {
    //     return;
    //   }

    //   const siteHeader = document.querySelector('.site-header');

    //   console.log('siteHeader', siteHeader.classList);

    //   // console.log('this.slides', this.slides[this.activeSlide]);
    //   if (this.activeSlide > this.oldSlide) {
    //     console.log('activeSlide', this.activeSlide);
    //     masterTl
    //       .to(this.slides[this.activeSlide], 0.5, {
    //         y: this.offsets[this.activeSlide],
    //         alpha: 1,
    //         ease: "none"
    //         // onComplete: () => this.activeSlide === 1 ? this.slide2Anim().play() : this.slide3Anim()
    //       });
    //     if (this.activeSlide === 1) {
    //       siteHeader.classList.add('has-scrolled');
    //       siteHeader.classList.remove('is-visible');
    //       this.mikoRoboLottieAnim.playSegments([81, 160], true);
    //       masterTl.add(this.slide2Anim().play(0));
    //     } else {
    //       this.mikoRoboLottieAnim.playSegments([161, 271], true);
    //       masterTl.add(this.slide3Anim().play(0));
    //     }
    //     // masterTl.invalidate();
    //   } else {
    //     console.log('oldSlide', this.oldSlide);
    //     masterTl.to(this.slides[this.oldSlide], 0.5, {
    //       y: this.offsets[this.oldSlide],
    //       alpha: 0,
    //       ease: "none"
    //       // onComplete: () => this.oldSlide === 1 ? this.slide2Anim().reverse() : this.slide3Anim()
    //     });
    //     if (this.oldSlide === 1) {
    //       // this.mikoRoboLottieAnim.setDirection(-1);
    //       siteHeader.classList.remove('has-scrolled');
    //       siteHeader.classList.add('is-visible');
    //       this.mikoRoboLottieAnim.playSegments([160, 81], true);
    //       masterTl.add(this.slide2Anim().reverse(0));
    //     } else {
    //       // this.mikoRoboLottieAnim.setDirection(-1);
    //       this.mikoRoboLottieAnim.playSegments([271, 161], true);
    //       masterTl.add(this.slide3Anim().reverse(0));
    //     }
    //     // masterTl.invalidate();
    //   }
    // },
    // detectRoute () {
    //   if (this.$router.history.current.name.includes('home')) {
    //     gsap.set("body",{overflowY:'hidden'});
    //   } else {
    //     gsap.set("body",{overflowY:'auto'});
    //   }
    // },
    // scrollToHeroBanner (e) {
    //   var scrollY = window.scrollY;
    //   const siteHeader = document.querySelector('.site-header');
    //   console.log('scrollToHeroBanner', e);
    //   console.log('before scrollup', scrollY, this.startY);
    //   if (e.type === 'wheel') {
    //     console.log('e.deltaY', e.deltaY);
    //     if (e.deltaY > 0) {
    //       console.log('scrolldown', scrollY, this.startY);
    //       this.startY = scrollY;
    //       gsap.set("body",{overflowY:'auto'});
    //     } else {
    //       console.log('scrollup', scrollY, this.startY);
    //       console.log('window tweening', this.userHasScrolled);
    //       if(this.userHasScrolled) {
    //         return;
    //       }
    //       this.userHasScrolled = false;
    //       // gsap.to(window, {duration: 0, delay: 0, scrollTo: {y: 0}, ease: "none"});
    //       window.scrollTo({
    //         top: 0,
    //         left: 0,
    //         behavior: 'smooth'
    //       });
    //       gsap.set("body",{overflowY:'hidden'});
    //       setTimeout(() => {
    //         siteHeader.classList.add('has-scrolled');
    //         siteHeader.classList.remove('is-visible');
    //       }, 1000);
    //     }
    //   } else {
    //     if (this.touchendY <= this.touchstartY) {
    //       // this.activeSlide = this.activeSlide += 1;
    //       console.log('down');
    //       this.startY = scrollY;
    //       gsap.set("body",{overflowY:'auto'});
    //     }
        
    //     if (this.touchendY >= this.touchstartY) {
    //       // this.activeSlide = this.activeSlide -= 1;
    //       console.log('up');
    //       console.log('window tweening', this.userHasScrolled);
    //       if(this.userHasScrolled) {
    //         return;
    //       }
    //       this.userHasScrolled = false;
    //       // gsap.to(window, {duration: 1, delay: 0, scrollTo: {y: 0}, ease: "none"});
    //       window.scrollTo({
    //         top: 0,
    //         left: 0,
    //         behavior: 'smooth'
    //       });
    //       gsap.set("body",{overflowY:'hidden'});
    //       setTimeout(() => {
    //         siteHeader.classList.add('has-scrolled');
    //         siteHeader.classList.remove('is-visible');
    //       }, 1000);
    //     }
    //     // console.log('e.deltaY', e.deltaY);
    //     // this.activeSlide = e.deltaY > 0 ? this.activeSlide += 1 : this.activeSlide -= 1;
    //   }

    //   // if (scrollY > this.startY) {
    //   //     console.log('scrolldown', scrollY, this.startY);
    //   //     this.startY = scrollY;
    //   //     // gsap.set("body",{overflowY:'hidden'});
    //   //   } else if(scrollY < this.startY) {
    //   //     console.log('scrollup', scrollY, this.startY);
    //   //     console.log('window tweening', gsap.isTweening(window));
    //   //     if(gsap.isTweening(window)) {
    //   //       return;
    //   //     }
    //   //     gsap.to(window, {duration: 1, delay: 0, scrollTo: {y: 0}, ease: "none"});
    //   //     gsap.set("body",{overflowY:'hidden'});
    //   //     setTimeout(() => {
    //   //       siteHeader.classList.add('has-scrolled');
    //   //       siteHeader.classList.remove('is-visible');
    //   //     }, 1000);
    //   //   }
    //   console.log('after scrollup', scrollY, this.startY);
    // },
    // throttle(func, limit) {
    //   let inThrottle;
    //   return function() {
    //     const args = arguments;
    //     const context = this;
    //     if (!inThrottle) {
    //       func.apply(context, args);
    //       inThrottle = true;
    //       setTimeout(() => (inThrottle = false), limit);
    //     }
    //   };
    // }
  },
  // created() {
  //   this.$nextTick(() => {
  //     ScrollTrigger.getAll().forEach(st => st.kill());
  //     // ScrollTrigger.getAll().forEach(st => st.refresh());
  //     // ScrollTrigger.getAll().forEach(st => st.enable());
  //     console.log(ScrollTrigger.getAll());
      
  //   });
  // },
  mounted() {
    this.$nextTick(() => {
      ScrollTrigger.getAll().forEach(st => st.kill());
      // console.log('mounted', gsap.globalTimeline);
      // gsap.globalTimeline.clear();
      // gsap.killTweensOf("*");
      const slides = document.querySelectorAll('.panel');
      const elem = document.getElementById('miko-robo');
      this.LottieScrollTrigger({
        target: elem,
        renderer: "svg",
        path: this.roboJsonPath,
        speed: "slow",
        pin: ".home-hero-banner",
        start: "top top",
        // end: "80% 80%",
        // toggleActions: "play none none reverse",
        end: () => parseInt(elem.offsetHeight),
        scrub: 2
        // markers: true
      });
    });
  },
  beforeDestroy() {
    ScrollTrigger.getAll().forEach(st => st.kill());
    // console.log('beforeDestroy', gsap.globalTimeline);
    // gsap.globalTimeline.clear();
    // gsap.killTweensOf("*");
  }
  // mounted() {
  //   this.$nextTick(() => {
  //     if (!('scrollBehavior' in document.documentElement.style)) {
  //       if (document.querySelectorAll(`script[src="${this.smoothscrollPolyfillScript}"]`).length === 0) {
  //         const ele = document.createElement('script');
  //         ele.src = this.smoothscrollPolyfillScript;
  //         ele.defer = true;
  //         document.body.appendChild(ele);
  //       }
  //     }

  //     const mikoRobo = document.getElementById('miko-robo');
  //     const animData = {
  //       container: mikoRobo,
  //       renderer: 'svg',
  //       loop: false,
  //       autoplay: false,
  //       path: 'https://assets9.lottiefiles.com/private_files/lf30_fm9vzz3w.json'
  //     };
  //     this.mikoRoboLottieAnim = lottie.loadAnimation(animData);
  //     // this.mikoRoboLottieAnim.goToAndStop(80, true);
  //     // console.log('this.mikoRoboLottieAnim out', this.mikoRoboLottieAnim);
  //     // lottie.freeze();
  //     setTimeout(() => {
  //       // if(this.mikoRoboLottieAnim.currentFrame === 80) {
  //         // console.log('this.mikoRoboLottieAnim', this.mikoRoboLottieAnim);
  //         // lottie.freeze();
  //         this.mikoRoboLottieAnim.playSegments([0, 80], true);
  //       // }
  //     }, 800);
  //     mikoRobo.addEventListener('load', () => {
  //       // lottie.freeze();
  //       this.mikoRoboLottieAnim.playSegments([0, 80], true);
  //     });
      
  //     // this.mikoRoboLottieAnim = lottie.loadAnimation({
  //     //   container: document.getElementById('miko-robo'),
  //     //   renderer: 'svg',
  //     //   prerender: true,
  //     //   loop: false,
  //     //   autoplay: false,
  //     //   // rendererSettings: {
  //     //   //   progressiveLoad:false,
  //     //   //   preserveAspectRatio: 'xMidYMid slice'
  //     //   // },
  //     //   path: 'https://assets9.lottiefiles.com/private_files/lf30_fm9vzz3w.json'
  //     //   // initialSegment: [1, 271]
  //     // });

  //     // this.mikoRoboLottieAnim.goToAndStop(80, true);
  //     // this.mikoRoboLottieAnim.playSegments([1, 10], true);

  //     // this.mikoRoboLottieSettings().goToAndStop(271, true);
  //     // var elem = document.getElementById('miko-robo');
  //     // this.LottieScrollTrigger({
  //     //   target: elem,
  //     //   path: "https://assets9.lottiefiles.com/private_files/lf30_fm9vzz3w.json",
  //     //   speed: "medium",
  //     //   pin: ".home-hero-banner",
  //     //   start: "top top",
  //     //   end: "20% top",
  //     //   toggleActions: "play none none reverse",
  //     //   // end: () => `+=${elem.offsetHeight}`,
  //     //   scrub: 1
  //     //   // markers: true
  //     // });
  //     // this.container = document.querySelector(".home-hero-banner");
  //     this.detectRoute();
  //     gsap.utils.toArray(".panel").forEach((panel, i) => {
  //       this.slides.push(panel)
  //       let slideTl = gsap.timeline({ paused: true, reversed: true });
  //       this.offsets.push(-this.slides[i].offsetTop);

  //       // ScrollTrigger.create({
  //       //   trigger: panel,
  //       //   pin: ".home-hero-banner",
  //       //   start: "top top",
  //       //   end: "20% top",
  //       //   scrub: 1,
  //       //   toggleActions: "play none none reverse",
  //       //   // onEnter: () => this.moveSlide(),
  //       //   markers: true
  //       // });
  //     });

  //     window.onscroll = function (e)
  //     {
  //       console.log('this.userHasScrolled 1', this.userHasScrolled);
  //       this.userHasScrolled = true;
  //       console.log('this.userHasScrolled 2', this.userHasScrolled);
  //     }

  //     const heroBanner = document.querySelector('.home-hero-banner');
  //     heroBanner && heroBanner.addEventListener("wheel", this.throttle(this.moveSlide, 1000), { passive: false });
  //     // heroBanner && heroBanner.addEventListener("scroll", this.throttle(this.moveSlide, 1500));
  //     // heroBanner && heroBanner.addEventListener("touchmove", console.log('touch'));


      

  //     heroBanner && heroBanner.addEventListener('touchstart', (event) => {
  //       this.touchstartX = event.changedTouches[0].screenX;
  //       this.touchstartY = event.changedTouches[0].screenY;
  //     }, false);

  //     heroBanner && heroBanner.addEventListener('touchend', (event) => {
  //       this.touchendX = event.changedTouches[0].screenX;
  //       this.touchendY = event.changedTouches[0].screenY;
  //       this.moveSlide(event);
  //     }, false); 


  //     const belowHeroBanner = document.querySelector('.home-below-hero-banner');
  //     // ScrollTrigger.create({
  //     //   trigger: belowHeroBanner,
  //     //   pin: belowHeroBanner,
  //     //   start: "top top",
  //     //   end: "20% top",
  //     //   scrub: 1,
  //     //   // toggleActions: "play none none reverse",
  //     //   onEnter: () => this.scrollToHeroBanner(),
  //     //   markers: true
  //     // });


  //     belowHeroBanner && belowHeroBanner.addEventListener("wheel", this.throttle(this.scrollToHeroBanner, 15), { passive: false });
  //     // belowHeroBanner && belowHeroBanner.addEventListener("scroll", this.scrollToHeroBanner, false);

  //     belowHeroBanner && belowHeroBanner.addEventListener('touchstart', (event) => {
  //       this.touchstartX = event.changedTouches[0].screenX;
  //       this.touchstartY = event.changedTouches[0].screenY;
  //     }, false);

  //     belowHeroBanner && belowHeroBanner.addEventListener('touchend', (event) => {
  //       this.touchendX = event.changedTouches[0].screenX;
  //       this.touchendY = event.changedTouches[0].screenY;
  //       this.scrollToHeroBanner(event);
  //     }, false); 

      
  //     // belowHeroBanner && belowHeroBanner.addEventListener("touchmove", this.scrollToHeroBanner, false);
  //   });
  // },
  // destroyed() {
  //   this.$nextTick(() => {
  //     this.detectRoute();
  //   });
  // }
}
</script>

<style lang="scss" scoped>
.home-hero-banner {
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  left: 0 !important;
  top: 0 !important;
  width: auto;
  position: relative;
  overflow: hidden;
  background: var(--c-primary-lighten);
  #miko-robo {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    ::v-deep svg {
      // max-height: 74%;
      height: calc(100vh - 257px) !important;
      .png {
        transform: matrix(0.9593600034713745,0,0,0.9593600034713745,-228.08770751953125,-15.49951171875);
      }
      @media (max-width:1370px){
        height: 70% !important;
      }
      @media (max-width:1100px){
        height: 55% !important;
      }
      @media (max-width:639px){
        height: 44% !important;
      }
    }
  }
  .slide3,
  .slide2 {
    width: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    .slide-wrap {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding-top: 70px;
      &::after {
        content: "";
        transform: translateY(0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--c-primary-lighten);
      }
    }
    .banner-title {
      font-size: 80px;
      line-height: 1.1;
      width: 50%;
      margin: 0px auto 0;
      position: relative;
      z-index: 1;
      text-align: center;
      @media (max-width:1500px){
        font-size: 60px;
        margin-top: 65px;
      }
      @media (max-width:1070px){
        font-size:40px;
      }
      @media (max-width:900px){
        margin-top: 20px;
      }
      @media (max-width:767px){
        width: 90%;
        margin-top: 20px;
        position: relative;
        z-index: 1;
      }
    }
  }
  .slide2 {
    background-color: #F2FAEF;
    .slide-wrap {
      &::after {
        transform: translateY(var(--slide2-translate));
      }
    }
    .banner-title {
      color: #34B98B;
    }
    .banner-blobs {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @media (height: 1366px){
        top: 0 !important;
      }
      .banner-blob-right,
      .banner-blob-left {
        position: relative;
        width: 50%;
        span {
          animation: float 6s ease-in-out infinite;
          position: absolute;
          display: block;
          img{
            width: 100%;
          }
        }
      }
      .banner-blob-left {
        span {
          &:nth-child(1) {
            margin-top: 7%;
            margin-right: 70%;
            margin-left: 18%;
            width: 12%;
          }
          &:nth-child(2) {
            width: 14%;
            margin-top: 45%;
            margin-right: 50%;
            margin-left: 5%;
          }
          &:nth-child(3) {
            width: 15%;
            margin-top: 60%;
            margin-right: 77%;
            margin-left: 8%;
          }
          &:nth-child(4) {
            width: 44%;
            margin-top: 66%;
            margin-right: 36%;
            margin-left: 20%;
          }
          &:nth-child(5) {
            margin-right: 75%;
            bottom: -1%;
            width: 25%;
          }
          @media (max-width:1920px){
            &:nth-child(1) {
              width: 10%;
              margin-top: 7%;
              margin-right: 72%;
              margin-left: 18%;
            }
            &:nth-child(2) {
              margin-top: 14%;
              margin-right:66%;
              width: 34%;
            }
            &:nth-child(3) {
              width: 12%;
              margin-top: 48%;
              margin-right: 79%;
              margin-left: 9%;
            }
            &:nth-child(4) {
              width: 38%;
              margin-top: 59%;
              margin-right: 40%;
              margin-left: 22%;
            }
            &:nth-child(5) {
              width: 26%;
              bottom:2%;
              margin-right: 76%;
            }
          }
          @media (max-width:1500px){
            &:nth-child(1) {
              width: 11%;
              margin-top: 15%;
              margin-right: 70%;
              margin-left: 19%;
            }
            &:nth-child(2) {
              width: 43%;
              margin-top: 21%;
              margin-right: 48%;
              margin-left: 9%;
            }
            &:nth-child(3) {
              width: 15%;
              margin-top: 64%;
              margin-right: 79%;
              margin-left: 6%;
            }
            &:nth-child(4) {
              width: 40%;
              margin-top: 68%;
              margin-right: 35%;
              margin-left: 25%;
            }
            &:nth-child(5) {
              width: 25%;
              bottom:-1%;
              margin-right: 75%;
            }
          }
          @media (max-width:1370px){
            &:nth-child(1) {
              width: 11%;
              margin-top: 15%;
              margin-right: 70%;
              margin-left: 19%;
            }
            &:nth-child(2) {
              width: 43%;
              margin-top: 23%;
              margin-right: 50%;
              margin-left: 7%;
            }
            &:nth-child(3) {
              width: 15%;
              margin-top: 63%;
              margin-right: 83%;
              margin-left: 2%;
            }
            &:nth-child(4) {
              width: 54%;
              margin-top: 78%;
              margin-right: 36%;
              margin-left: 10%;
            }
            &:nth-child(5) {
              width: 30%;
              bottom:-1%;
              margin-top: 0;
              margin-right: 70%;
              margin-left: 0;
            }
          }
          @media (height: 1366px){
            &:nth-child(1) {
              width: 11%;
              margin-top: 35%;
              margin-right: 70%;
              margin-left: 19%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width: 15%;
              top: 30%;
              margin-top: 0;
              margin-right: 15%;
              margin-left: 70%;
            }
            &:nth-child(4) {
              width: 36%;
              margin-top: 90%;
              margin-right: 59%;
              margin-left: 5%;
            }
            &:nth-child(5) {
              width: 25%;
              bottom: 5%;
              margin-top: 0;
              margin-right: 62%;
              margin-left: 13%;
            }
          }
          @media (height: 1024px){
            &:nth-child(1) {
              width: 11%;
              margin-top: 35%;
              margin-right: 70%;
              margin-left: 19%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width: 15%;
              top: 30%;
              margin-top: 0;
              margin-right: 15%;
              margin-left: 70%;
            }
            &:nth-child(4) {
              width: 36%;
              margin-top: 90%;
              margin-right: 59%;
              margin-left: 5%;
            }
            &:nth-child(5) {
              width: 25%;
              bottom:5%;
              margin-top: 0;
              margin-right: 62%;
              margin-left: 13%;
            }
          }
          @media (max-width:900px){
            &:nth-child(1) {
              width: 20%;
              top:15%;
              margin-top: 0;
              margin-right: 75%;
              margin-left: 5%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width: 25%;
              top:43%;
              margin-top: 0;
              margin-right: 45%;
              margin-left: 30%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width: 35%;
              bottom:0;
              margin-top: 0;
              margin-right: 60%;
              margin-left: 5%;
            }
          }
          @media (max-width:767px){
            &:nth-child(1) {
              width: 20%;
              top:15%;
              margin-top: 0;
              margin-right: 75%;
              margin-left: 5%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width: 25%;
              top:43%;
              margin-top: 0;
              margin-right: 45%;
              margin-left: 30%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width: 35%;
              bottom:0;
              margin-top: 0;
              margin-right: 60%;
              margin-left: 5%;
            }
          }
          @media (max-width:639px){
            &:nth-child(1) {
              width: 30%;
              top:5%;
              margin-top: 0;
              margin-right: 50%;
              margin-left: 20%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              top: 40%;
              margin: 0 40% 0 20%;
              width: 40%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              margin: 0 50% 0 0;
              width: 50%;
              bottom: 5%;
            }
          }
          @media (max-height:800px){
            &:nth-child(4) {
              margin: 68% 40% 0 20%;
              width: 40%;
            }
          }
        }
      }
      .banner-blob-right {
        span {
          &:nth-child(1) {
            width:16%;
            margin-top: 14%;
            margin-right: 0;
            margin-left: 84%;
          }
          &:nth-child(2) {
            width:34%;
            margin-top: 18%;
            margin-right: 7%;
            margin-left: 59%;
          }
          &:nth-child(3) {
            width:28%;
            margin-top: 24%;
            margin-right: 38%;
            margin-left: 34%;
          }
          &:nth-child(4) {
            width:48%;
            margin-top: 57%;
            margin-right: 2%;
            margin-left: 50%;
          }
          &:nth-child(5) {
            width:32%;
            margin-top: 90%;
            margin-right: 6%;
            margin-left: 62%;
          }
          @media (max-width:1920px){
            &:nth-child(1) {
              width:15%;
              margin-top: 15%;
              margin-right: 0;
              margin-left: 85%;
            }
            &:nth-child(2) {
              width:27%;
              margin-top: 20%;
              margin-right: 5%;
              margin-left: 68%;
            }
            &:nth-child(3) {
              width:24%;
              margin-top: 29%;
              margin-right: 49%;
              margin-left: 27%;
            }
            &:nth-child(4) {
              width:38%;
              margin-top: 47%;
              margin-right: 10%;
              margin-left: 52%;
            }
            &:nth-child(5) {
              width:26%;
              margin-top: 73%;
              margin-right: 11%;
              margin-left: 63%;
            }
          }
          @media (max-width:1500px){
            &:nth-child(1) {
              width:17%;
              margin-top: 16%;
              margin-right: 0;
              margin-left: 83%;
            }
            &:nth-child(2) {
              width:34%;
              margin-top: 19%;
              margin-right: 9%;
              margin-left: 57%;
            }
            &:nth-child(3) {
              width:30%;
              margin-top: 30%;
              margin-right: 45%;
              margin-left: 25%;
            }
            &:nth-child(4) {
              width:47%;
              margin-top: 58%;
              margin-right: 2%;
              margin-left: 51%;

            }
            &:nth-child(5) {
              width:33%;
              margin-top: 91%;
              margin-right: 4%;
              margin-left: 63%;
            }
          }
          @media (max-width:1370px){
            &:nth-child(1) {
              width:17%;
              margin-top: 16%;
              margin-right: 0;
              margin-left: 83%;
            }
            &:nth-child(2) {
              width:34%;
              margin-top: 19%;
              margin-right: 9%;
              margin-left: 57%;
            }
            &:nth-child(3) {
              width:30%;
              margin-top: 58%;
              margin-right: 25%;
              margin-left: 45%;
            }
            &:nth-child(4) {
              width:47%;
              margin-top: 86%;
              margin-right: 1%;
              margin-left: 52%;
            }
            &:nth-child(5) {
              width:33%;
              bottom: -2%;
              margin-top: 0%;
              margin-right: 3%;
              margin-left: 64%;
            }
          }
          @media (height: 1366px){
            &:nth-child(1) {
              width:17%;
              margin-top: 30%;
              margin-right: 15%;
              margin-left: 68%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width:25%;
              margin-top: 75%;
              margin-right: 55%;
              margin-left: 20%;
            }
            &:nth-child(4) {
              width:40%;
              margin-top: 90%;
              margin-right: 5%;
              margin-left: 55%;
            }
            &:nth-child(5) {
              width:20%;
              bottom: 6%;
              margin-top: 0;
              margin-right: 10%;
              margin-left: 70%;
            }
          }
          @media (height: 1024px){
            &:nth-child(1) {
              width:17%;
              margin-top: 30px;
              margin-right: 15%;
              margin-left: 68%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width:25%;
              margin-top: 75%;
              margin-right: 55%;
              margin-left: 20%;
            }
            &:nth-child(4) {
              width:40%;
              margin-top: 90%;
              margin-right: 5%;
              margin-left: 55%;
            }
            &:nth-child(5) {
              width:20%;
              bottom: 6%;
              margin-top: 0;
              margin-right: 10%;
              margin-left: 70%;
            }
          }
          @media (max-width:900px){
            &:nth-child(1) {
              width:25%;
              top: 10%;
              margin-top: 0;
              margin-right: 5%;
              margin-left: 70%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width:40%;
              top: 40%;
              margin-top: 0;
              margin-right: 40%;
              margin-left: 20%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width:25%;
              bottom: 2%;
              margin-top: 0;
              margin-right: 5%;
              margin-left: 70%;
            }
          }
          @media (max-width:767px){
            &:nth-child(1) {
              width:25%;
              top: 10%;
              margin-top: 0;
              margin-right: 5%;
              margin-left: 70%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width:40%;
              top: 40%;
              margin-top: 0;
              margin-right: 40%;
              margin-left: 20%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width:25%;
              bottom: 2%;
              margin-top: 0;
              margin-right: 5%;
              margin-left: 70%;
            }
          }
          @media (max-width:639px){
            &:nth-child(1) {
              width:35%;
              top: 7%;
              margin-top: 0;
              margin-right: 5%;
              margin-left: 60%;
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              width:60%;
              top: 35%;
              margin-top: 0;
              margin-right: 15%;
              margin-left: 15%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width:50%;
              bottom: 2%;
              margin-top: 0;
              margin-right: 5%;
              margin-left: 45%;
            }
          }
          @media (max-height:800px){
            &:nth-child(3) {
              width:45%;
              margin-top: 50%;
              margin-right: 25%;
              margin-left: 45%;
            }
            &:nth-child(4) {
              width:40%;
              margin-top: 73%;
              margin-right: 1%;
              margin-left: 59%;
            }
            &:nth-child(5) {
              width:28%;
              margin-top: 0;
              margin-right: 3%;
              margin-left: 69%;
            }
          }
        }
      }
    }
  }
  .slide3 {
    background-color: #EBF7FC;
    .slide-wrap {
      &::after {
        background-color: #F2FAEF;
        transform: translateY(var(--slide3-translate));
      }
    }
    .banner-title {
      color: #33B3E1;
    }
    .banner-blobs {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .banner-blob-right,
      .banner-blob-left {
        position: relative;
        width: 50%;
        span {
          position: absolute;
          display: block;
          animation: float 6s ease-in-out infinite;
          img{
            width: 100%;
          }
        }
      }
      .banner-blob-left {
        span {
          &:nth-child(1) {
            width:43%;
            margin-top: 0;
            margin-right: 54%;
            margin-left: 3%;
          }
          &:nth-child(2) {
            width:28%;
            margin-top: 40%;
            margin-right: 50%;
            margin-left: 22%;
          }
          &:nth-child(3) {
            width:21%;
            margin-top: 48%;
            margin-right: 85%;
            margin-left: -6%;
          }
          &:nth-child(4) {
            width:32%;
            margin-top: 68%;
            margin-right: 50%;
            margin-left: 18%;
          }
          &:nth-child(5) {
            width:36%;
            margin-top: 80%;
            margin-right: 76%;
            margin-left: -12%;
          }
          &:nth-child(6) {
            width:22%;
            bottom: -4%;
            margin-top: 0;
            margin-right: 44%;
            margin-left: 34%;
          }
          @media (max-width:1920px){
            &:nth-child(1) {
              width:37%;
              margin-top: 8%;
              margin-right: 55%;
              margin-left: 8%;
            }
            &:nth-child(2) {
              width:24%;
              margin-top: 39%;
              margin-right: 46%;
              margin-left: 30%;
            }
            &:nth-child(3) {
              width:21%;
              margin-top: 45%;
              margin-right: 84%;
              margin-left: -5%;
            }
            &:nth-child(4) {
              width:27%;
              margin-top: 61%;
              margin-right: 56%;
              margin-left: 17%;
            }
            &:nth-child(5) {
              width:24%;
              margin-top: 75%;
              margin-right: 84%;
              margin-left: -8%;
            }
            &:nth-child(6) {
              width:20%;
              bottom: -5%;
              margin-top: 0;
              margin-right: 41%;
              margin-left: 39%;
            }
          }
          @media (max-width:1500px){
            &:nth-child(1) {
              width:46%;
              margin-top: 8%;
              margin-right: 45%;
              margin-left: 9%;
            }
            &:nth-child(2) {
              width:29%;
              margin-top: 47%;
              margin-right: 47%;
              margin-left: 24%;
            }
            &:nth-child(3) {
              width:25%;
              margin-top: 52%;
              margin-right: 83%;
              margin-left: -8%;
            }
            &:nth-child(4) {
              width:33%;
              margin-top: 75%;
              margin-right: 48%;
              margin-left: 19%;
            }
            &:nth-child(5) {
              width:39%;
              margin-top: 86%;
              margin-right: 74%;
              margin-left: -13%;
            }
            &:nth-child(6) {
              width:24%;
              bottom: -5%;
              margin-top: 0;
              margin-right: 41%;
              margin-left: 35%;
            }
          }
          @media (max-width:1370px){
            &:nth-child(1) {
              width:40%;
              margin-top: 9%;
              margin-right: 53%;
              margin-left: 7%;
            }
            &:nth-child(2) {
              width:25%;
              margin-top: 45%;
              margin-right: 50%;
              margin-left: 25%;
            }
            &:nth-child(3) {
              width:20%;
              margin-top: 50%;
              margin-right: 85%;
              margin-left: -5%;
            }
            &:nth-child(4) {
              width:30%;
              margin-top: 82%;
              margin-right: 60%;
              margin-left: 10%;
            }
            &:nth-child(5) {
              width:35%;
              margin-top: 110%;
              margin-right: 75%;
              margin-left: -10%;
            }
            &:nth-child(6) {
              width:20%;
              bottom: -3px;
              margin-top: 0;
              margin-right: 50%;
              margin-left: 30%;
            }
          }
          @media (height: 1366px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:20%;
              margin-top: 32%;
              margin-right: 70%;
              margin-left: 10%;
            }
            &:nth-child(3) {
              width:15%;
              margin-top: 80%;
              margin-right: 15%;
              margin-left: 70%;
            }
            &:nth-child(4) {
              width:35%;
              margin-top: 90%;
              margin-right: 55%;
              margin-left: 10%;
            }
            &:nth-child(5) {
              display: none;
            }
            &:nth-child(6) {
              width:20%;
              bottom: 6px;
              margin-top: 0;
              margin-right: 65%;
              margin-left: 15%;
            }
          }
          @media (height: 1024px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:20%;
              margin-top: 32%;
              margin-right: 70%;
              margin-left: 10%;
            }
            &:nth-child(3) {
              width:15%;
              margin-top: 80%;
              margin-right: 15%;
              margin-left: 70%;
            }
            &:nth-child(4) {
              width:35%;
              margin-top: 90%;
              margin-right: 55%;
              margin-left: 10%;
            }
            &:nth-child(5) {
              display: none;
            }
            &:nth-child(6) {
              width:20%;
              bottom: 6px;
              margin-top: 0;
              margin-right: 65%;
              margin-left: 15%;
            }
          }
          @media (max-width:900px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:30%;
              top: 10%;
              margin-top: 0;
              margin-right: 65%;
              margin-left: 5%;
            }
            &:nth-child(3) {
              width:30%;
              top: 40%;
              margin-top: 0;
              margin-right: 10%;
              margin-left: 60%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width:35%;
              top: 44%;
              margin-top: 0;
              margin-right: 60%;
              margin-left: 5%;
            }
            &:nth-child(6) {
              width:30%;
              bottom:-4px;
              margin-top: 0;
              margin-right: 40%;
              margin-left: 30%;
            }
          }
          @media (max-width:767px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:30%;
              top: 10%;
              margin-top: 0;
              margin-right: 65%;
              margin-left: 5%;
            }
            &:nth-child(3) {
              width:30%;
              top: 40%;
              margin-top: 0;
              margin-right: 10%;
              margin-left: 60%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width:35%;
              top: 44%;
              margin-top: 0;
              margin-right: 60%;
              margin-left: 5%;
            }
            &:nth-child(6) {
              width:30%;
              bottom:-4px;
              margin-top: 0;
              margin-right: 40%;
              margin-left: 30%;
            }
          }
          @media (max-width:639px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:60%;
              top:6%;
              margin-top: 0;
              margin-right: 35%;
              margin-left: 5%;
            }
            &:nth-child(3) {
              width:50%;
              top:34%;
              margin-top: 0;
              margin-right: 25%;
              margin-left: 75%;
            }
            &:nth-child(4) {
              display: none;
            }
            &:nth-child(5) {
              width:80%;
              top:41%;
              margin-top: 0;
              margin-right: 50%;
              margin-left: -20%;
            }
            &:nth-child(6) {
              width:60%;
              bottom:-2%;
              margin-top: 0;
              margin-right: 40%;
              margin-left: 0;
            }
          }
        }
      }
      .banner-blob-right {
        span {
          &:nth-child(1) {
            width:33%;
            margin-top: 12%;
            margin-right: 5%;
            margin-left: 62%;
          }
          &:nth-child(2) {
            width:28%;
            margin-top: 49%;
            margin-right: 4%;
            margin-left: 68%;
          }
          &:nth-child(3) {
            width:20%;
            margin-top: 83%;
            margin-right: 50%;
            margin-left: 30%;
          }
          &:nth-child(4) {
            width:59%;
            bottom: -10px;
            margin-top: 0;
            margin-right: -12%;
            margin-left: 53%;
          }
          @media (max-width:1920px){
            &:nth-child(1) {
              width:28%;
              margin-top: 16%;
              margin-right: 17%;
              margin-left: 55%;
            }
            &:nth-child(2) {
              width:27%;
              margin-top: 42%;
              margin-right: 3%;
              margin-left: 70%;
            }
            &:nth-child(3) {
              width:19%;
              margin-top: 72%;
              margin-right: 90%;
              margin-left: 21%;
            }
            &:nth-child(4) {
              width:53%;
              bottom: -11px;
              margin-top: 0;
              margin-right: -10%;
              margin-left: 57%;
            }
          }
          @media (max-width:1500px){
            &:nth-child(1) {
              width:38%;
              margin-top: 14%;
              margin-right: 10%;
              margin-left: 52%;
            }
            &:nth-child(2) {
              width:33%;
              margin-top: 50%;
              margin-right: 0%;
              margin-left: 67%;
            }
            &:nth-child(3) {
              width:25%;
              margin-top: 86%;
              margin-right: 50%;
              margin-left: 25%;
            }
            &:nth-child(4) {
              width:67%;
              bottom: -12px;
              margin-top: 0;
              margin-right: -15%;
              margin-left: 48%;
            }
          }
          @media (max-width:1370px){
            &:nth-child(1) {
              width:35%;
              margin-top: 17%;
              margin-right: 15%;
              margin-left: 60%;
            }
            &:nth-child(2) {
              width:33%;
              margin-top: 66%;
              margin-right: 2%;
              margin-left: 65%;
            }
            &:nth-child(3) {
              width:20%;
              bottom: 11%;
              margin-top: 0;
              margin-right: 50%;
              margin-left: 30%;
            }
            &:nth-child(4) {
              width:60%;
              bottom: -8px;
              margin-top: 0;
              margin-right: -12%;
              margin-left: 52%;
            }
          }
          @media (height: 1366px){
            &:nth-child(1) {
              width:25%;
              margin-top: 30%;
              margin-right: 10%;
              margin-left: 65%;
            }
            &:nth-child(2) {
              width:20%;
              margin-top: 78%;
              margin-right: 55%;
              margin-left: 25%;
            }
            &:nth-child(3) {
              width:20%;
              bottom: 6%;
              margin-top: 0%;
              margin-right: 15%;
              margin-left: 65%;
            }
            &:nth-child(4) {
              width:40%;
              bottom: auto;
              margin-top: 83%;
              margin-right: 5%;
              margin-left: 55%;
            }
          }
          @media (height: 1024px){
            &:nth-child(1) {
              width:25%;
              margin-top: 30%;
              margin-right: 10%;
              margin-left: 65%;
            }
            &:nth-child(2) {
              width:20%;
              margin-top: 78%;
              margin-right: 55%;
              margin-left: 25%;
            }
            &:nth-child(3) {
              width:20%;
              bottom: 6%;
              margin-top: 0%;
              margin-right: 15%;
              margin-left: 65%;
            }
            &:nth-child(4) {
              width:40%;
              bottom: auto;
              margin-top: 83%;
              margin-right: 5%;
              margin-left: 55%;
            }
          }
          @media (max-width:900px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:30%;
              top: 29%;
              margin-top: 0;
              margin-right: 0;
              margin-left: 70%;
            }
            &:nth-child(3) {
              width:30%;
              bottom: 4%;
              margin-top: 0;
              margin-right: 25%;
              margin-left: 55%;
            }
            &:nth-child(4) {
              display: none;
            }
          }
          @media (max-width: 767px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:30%;
              top: 29%;
              margin-top: 0;
              margin-right: 0;
              margin-left: 70%;
            }
            &:nth-child(3) {
              width:30%;
              bottom: 4%;
              margin-top: 0;
              margin-right: 25%;
              margin-left: 55%;
            }
            &:nth-child(4) {
              display: none;
            }
          }
          @media (max-width: 639px){
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              width:50%;
              top: 25%;
              margin-top: 0;
              margin-right: 0;
              margin-left: 50%;
            }
            &:nth-child(3) {
              width:50%;
              bottom: 6%;
              margin-top: 0;
              margin-right: 0;
              margin-left: 50%;
            }
            &:nth-child(4) {
              display: none;
            }
          }
          @media (max-height:800px){
            &:nth-child(4) {
              width: 45%;
            }
          }
        }
      }
    }
  }
  .slide1 {
    height: 100vh;
    padding-top: 70px;
    overflow: hidden;
    .container {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
    .banner-title {
      top: 6%;
      font-size: 220px;
      color: var(--c-primary);
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 0;
      font-weight: 900;
      line-height:1;
      @media (min-width:3280px){
        top: 8%;
        font-size: 330px;
      }
      @media (max-width:1500px){
        top: 8%;
        font-size: 200px;
      }
      @media (max-width: 1299px) {
        font-size: 180px;
      }
      @media (max-width: 1023px) {
        font-size: 140px;
      }
      @media (max-width: 767px) {
        font-size: 120px;
      }
      @media (max-height: 599px) {
        top: 0;
      }
    }
  }
  .banner-robo {
    height: 100%;
  }
}
@keyframes float {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-20px) rotate(-5deg);
	}
	100% {
		transform: translateY(0px) rotate(0deg);
	}
}
</style>