<template>
  <div class="sec-full-width">
    <div class="lerning-app-box">
      <div class="lerning-apps">
        <div class="app-listing" v-if="$device.isDesktop && appIconsDesktop.length">
          <div v-for="(icon, index) in appIconsDesktop" :key="index" class="miko-app desktop-only" :class="iconTitle(icon)">
            <img loading="lazy" :src="iconURL(icon)" :alt="iconTitle(icon)" :height="iconDimentions(icon).height" :width="iconDimentions(icon).width">
          </div>
        </div>
        <div class="app-listing" v-if="$device.isMobile && appIconsMobile.length">
          <div v-for="(icon, index) in appIconsMobile" :key="index" class="miko-app mobile-only">
            <img loading="lazy" :src="iconURL(icon)" :alt="iconTitle(icon)" :height="iconDimentions(icon).height" :width="iconDimentions(icon).width">
          </div>
        </div>
        <div class="app-info">
          <svg viewBox="0 0 915 722" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-9.05107e-05 361C-7.16289e-05 145.017 175.361 -3.62614e-06 457.5 2.10392e-05C724.749 4.44029e-05 915.001 133.292 915 361C915 567.727 719.573 722 457.5 722C205.775 722 -0.000108098 562.173 -9.05107e-05 361Z" fill="#EE6B6B" fill-opacity="0.1"/>
          </svg>
          <h2 class="h1" v-if="sectionHeading">{{ sectionHeading }}</h2>
          <RichTextRenderer v-if="sectionContent" :document="sectionContent" />
          <!-- <button v-if="buttonLabel" class="btn-1" :disabled="false" :link="buttonlink">
            {{ buttonLabel }}
          </button> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import {
  getFileUrl,
  getImageDimentions,
} from '~/helpers/contentful'

export default {
  components: {
    RichTextRenderer
  },
  props: {
    contents: {},
  },
  setup (props, context) {
    let [ 
      buttonLabel,
      buttonlink,
      sectionContent,
      sectionHeading,
      appIconsDesktop,
      appIconsMobile
    ] = [ '', '', {}, '', [], [] ]


    buttonlink = props.contents && props.contents.fields.hasOwnProperty('ctaButtonUrl') ? props.contents.fields.ctaButtonUrl : ''
    // buttonLabel = props.contents && props.contents.fields.hasOwnProperty('ctaButtonLabel') ? props.contents.fields.ctaButtonLabel : ''
    sectionContent = props.contents && props.contents.fields.hasOwnProperty('sectionContents') ? props.contents.fields.sectionContents : ''
    sectionHeading = props.contents && props.contents.fields.hasOwnProperty('sectionHeading') ? props.contents.fields.sectionHeading : ''
    appIconsDesktop = props.contents && props.contents.fields.hasOwnProperty('appIconsDesktop') ? props.contents.fields.appIconsDesktop : []
    appIconsMobile = props.contents && props.contents.fields.hasOwnProperty('appIconsMobile') ? props.contents.fields.appIconsMobile : []
    const iconTitle = (icon) => icon.fields.title;
    const iconURL = (icon)=> getFileUrl(icon.fields, context.root.$device);
    const iconDimentions = (icon) => getImageDimentions(icon.fields);
    return {
      // buttonLabel,
      buttonlink,
      sectionContent,
      sectionHeading,
      appIconsDesktop,
      appIconsMobile,
      iconURL,
      iconDimentions,
      iconTitle
    }
  }
};
</script>
<style lang="scss" scoped>
.lerning-app-box{
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  background: var(--c-light-pink-F1E8ED);
  margin-left: auto;
  margin-right: auto;
  @media (min-width:768px){
    background: var(--c-white);
  }
  @media (min-width: 3280px) {
    max-width: 2880px;
    height: 1580px;
  }
  @media (max-width: 1300px) {
    height: 980px;
  }
  @media (max-width: 1023px) {
    height: auto;
  }
  @media (min-width:3280px){
    max-width: 2880px;
    height: 1350px;
    .lerning-apps{
      width: 100%;
    }
  }
}
.lerning-apps{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  @media (min-width: 1024px) {
    width: 1920px;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @media (min-width: 3280px) {
    width: 100%;
  }
  .app-info{
    width: 915px;
    height: 722px;
    padding: 155px 200px;
    margin: 0 105px;
    position: relative;
    z-index: 1;
    @media (max-width: 1500px) {
      margin-left: 130px;
    }
    @media (max-width: 1300px) {
      margin: 0 0 0 -185px;
    }
    @media (min-width: 3280px) {
      width: 1600px;
      height: 1000px;
      margin: 0 0 0 -100px;
      padding: 250px 350px;
    }
    svg{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
    h2{
      color: var(--c-secondary-darken);
      margin-bottom: 45px;
      line-height: 1;
    }
    p{
      letter-spacing: 0.2px;
      font-size: var(--font-size--lg);
      color: var(--c-secondary-lighten);
      font-weight: normal;
      padding-bottom: 52px;
      @media (min-width: 2200px) {
        font-size: var(--font-size--xl);
      }
      @media (min-width: 3280px) {
        font-size: var(--font-size--xxl);
      }
    }
    .btn-1{
      line-height: 1.5;
      @media (min-width: 2200px) {
        font-size: var(--font-size--lg);
      }
    }
  }
  @media (min-width: 1024px) {
    .mobile-only{
      display: none;
    }
    .app-listing{
      z-index: 1;
      .miko-app{
        position: absolute;
        animation-name: floating;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
      @keyframes floating {
        from { transform: translate(0,  0px) rotate(0deg); }
        50%  { transform: translate(10px, 20px) rotate(10deg); }
        to   { transform: translate(0, -0px) rotate(-0deg); }    
      }
      .al-icon1{
        max-width: 8%;
        top: -2%;
        left: -2%;
      }
      .al-icon2{
        max-width: 10%;
        top: 5%;
        left: 14%;
      }
      .al-icon3{
        max-width: 11%;
        top: 1%;
        left: 31%;
      }
      .al-icon4{
        top: 0;
        left: 50%;
        max-width: 7%;
      }
      .al-icon5{
        top: 0;
        left: 67%;
        max-width: 12%;
      }
      .al-icon6{
        top: 21%;
        left: 62%;
        max-width: 10%;
      }
      .al-icon7{
        top: 12%;
        left: 86%;
        max-width: 12%;
      }
      .al-icon8{
        top: -6%;
        right: 5%;
        max-width: 9%;
      }
      .al-icon9{
        top: 29%;
        right: -3%;
        max-width: 7%;
      }
      .al-icon10{
        top: 15%;
        left: -4%;
        max-width: 12%;
      }
      .al-icon11{
        top: 16%;
        left: 47%;
        max-width: 10%;
      }
      .al-icon12{
        top: 38%;
        left: 56%;
        max-width: 10%;
      }
      .al-icon13{
        top: 25%;
        right: 17%;
        max-width: 10%;
      }
      .al-icon14{
        top: 37%;
        right: 6%;
        max-width: 10%;
      }
      .al-icon15{
        bottom: 18%;
        left: 43%;
        max-width: 8%;
      }
      .al-icon16{
        bottom: 32%;
        left: 74%;
        max-width: 12%;
      }
      .al-icon17{
        bottom: 29%;
        right: 37%;
        max-width: 10%;
      }
      .al-icon18{
        bottom: 27%;
        right: -5%;
        max-width: 10%;
      }
      .al-icon19{
        bottom: 2%;
        left: -4%;
        max-width: 11%;
      }
      .al-icon20{
        bottom: 2%;
        left: 12%;
        max-width: 12%;
      }
      .al-icon21{
        bottom: 3%;
        left: 33%;
        max-width: 9%;
      }
      .al-icon22{
        bottom: -1%;
        left: 50%;
        max-width: 12%;
      }
      .al-icon23{
        bottom: 20%;
        right: 28%;
        max-width: 8%;
      }
      .al-icon24{
        bottom: 7%;
        right: 8%;
        max-width: 12%;
      }
      .al-icon25{
        bottom: 1%;
        right: 1%;
        max-width: 8%;
      }
    }
  }
  @media (max-width: 1300px) {
    width: 100%;
  }
  @media (max-width: 1023px) {
    .mobile-only{
      display: block;
    }
    .app-info{
      padding:60px 15px;
      margin: 0;
      width: 100%;
      height: auto;
      h2{
        margin-bottom: 25px;
      }
      p{
        padding-bottom: 30px;
      }
    }
    .app-listing{
      display:flex;
      flex-wrap: wrap;
      width: 100%;
      .miko-app{
        width: 16.666667%;
        padding: 15px;
        img {
          width: 100%;
        }
        &.al-icon25{
          display: none;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .app-info{
      padding:60px 15px;
      margin: 0;
      width: 100%;
      height: auto;
      svg{
        display: none;
      }
    }
  }
  @media (max-width: 650px) {
    .app-listing{
      width: 114%;
      margin: 0 -7%;
      .miko-app{
        width: 25%;
        padding: 10px;
      }
    }
  }
}
</style>
