<template>
  <section class="mikomax-banner sec-full-width" :style="`background-image: url(${ $device.isDesktop ? desktopImage : mobileImage })`">
      <div class="miko-max-content">
        <div class="miko-max-info">
            <h2 class="banner-title maxheading h1" v-if="secTitle" v-html="secTitle"></h2>
            <h2 class="banner-title h1 maxsubheading" v-if="secSubTitle" v-html="secSubTitle"></h2>
            <nuxt-link class="btn-1 sf-button maxbutton" :to="localePath('/store/mikomax')">
                {{buttonLabel}}
            </nuxt-link>
        </div>
        <div class="miko-max-img mobile" v-if="iconMobile">
            <img :src="iconMobile" alt="" />
        </div>
        <div class="miko-max-img desktop" v-if="iconDesktop">
            <img :src="iconDesktop" alt="" />
        </div>
        
      </div>
  </section>
</template>

<script>
import { getFileUrl, getImageDimentions } from '~/helpers/contentful';
export default {
  data () {
    return {
      visible: false,
      isMobile: false
    }
  },
  props: {
    contents: {}
  },
  components: {
  },
  setup(props, context) {
     let [ 
       secTitle,
       secSubTitle,
       buttonLabel,
       buttonLink,
       desktopImage,
       mobileImage, 
       iconDesktop, 
       iconMobile
    ] = [ '', '', '', '', '', '', '' ]
    secTitle = props.contents && props.contents.hasOwnProperty('fields') ? props.contents.fields.sectionTitle : '';
    secSubTitle = props.contents && props.contents.hasOwnProperty('fields') ? props.contents.fields.sectionDesc : '';
    buttonLabel = props.contents && props.contents.hasOwnProperty('fields') ? props.contents.fields.buttonLabel : '';
    buttonLink = props.contents && props.contents.hasOwnProperty('fields') ? props.contents.fields.buttonLink : '';
    const sectionBackgroundImage = props.contents && props.contents.fields.hasOwnProperty('sectionBackgroundImage') ? props.contents.fields.sectionBackgroundImage : '';
    const sectionBackgroundImageMobile = props.contents && props.contents.fields.hasOwnProperty('sectionBackgroundImageMobile') ? props.contents.fields.sectionBackgroundImageMobile : '';
    desktopImage = sectionBackgroundImage ? getFileUrl(sectionBackgroundImage.fields, context.root.$device) : '';
    mobileImage = sectionBackgroundImageMobile ? getFileUrl(sectionBackgroundImageMobile.fields, context.root.$device) : '';
    const maxIcons = props.contents && props.contents.fields.hasOwnProperty('maxIcons') ? props.contents.fields.maxIcons : '';
    const maxIconsMobile = props.contents && props.contents.fields.hasOwnProperty('maxIconsMobile') ? props.contents.fields.maxIconsMobile : '';
    iconDesktop = maxIcons ? getFileUrl(maxIcons.fields, context.root.$device) : '';
    iconMobile = maxIconsMobile ? getFileUrl(maxIconsMobile.fields, context.root.$device) : '';
    
    return {
      secTitle,
      secSubTitle,
      buttonLabel,
      buttonLink,
      desktopImage,
      mobileImage,
      iconDesktop, 
      iconMobile
    }
  }
}
</script>

<style lang="scss" scoped>
    .mikomax-banner{background-size: cover;margin-bottom: 100px;}
    @media (max-width: 767px) {
        .mikomax-banner{margin-bottom: 50px;}
    }
    .maxheading{
        color: #0B3533;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 70px #fff;
        margin-bottom: 10px;
        @media (max-width: 767px) {
          margin-top: 10px;
        }
    }
    .maxsubheading{letter-spacing: 0.05em;
        color: #FFFFFF;
        line-height: 1em;
    }
    .maxbutton{margin-top: 25px;display: inline-block;}
    .miko-max-content{
    display: flex;
    flex-direction: column;
        @media (min-width:1024px){
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        }
    }
    .miko-max-info {
        @media (min-width:1024px){
          order: 1;
          padding-right: 0px;
          padding-left: 15%;
          flex-basis: 50%;
        }
        @media (max-width: 1023px) {
            text-align: center;
            margin: 30px;
            @media (max-width: 767px) {
              margin: 30px 10px 0px 10px;
            }
        }
      }
    .miko-max-img {
        @media (min-width:1024px){
          order: 2;
          margin-left: -35%;
          margin-bottom: -5px;
        }
        
        img {
          @media (min-width:1024px){
            margin-left: 0;
          }
          @media screen and (min-device-width: 400px) and (max-device-width: 1023px) { 
            margin-left: -12%;
            margin-top: 20px;
          }
          @media (max-width: 400px) {
            margin-left: 0%;
          }
        }
      }
      .mobile{display: none;
        @media (max-width: 400px) {
          display: block !important;
        }
      }

      .desktop{
        @media (max-width: 400px) {
          display: none;
        }
      }
</style>
