<template>
  <div class="miko-information">
    <div class="sec-full-width bg-sf-c-lightblue1 z-2">
      <div class="miko-info-block container">
        <div class="miko-see">
          <span class="shape-1"><img src="/homepage/shape-Rectangle.webp" alt="Shape Rectangle" width="174" height="202" loading="lazy"></span>
          <span class="shape-2"><img src="/homepage/shape-Polygon.webp" alt="Shape Polygon" width="315" height="314" loading="lazy"></span>
          <span></span>
          <h2 class="h1">
            <span v-if="section1Heading">
              {{ section1Heading }}
            </span>
            <svg width="154" height="154" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M70.2129 7.70101C77.3797 -2.69987 93.2116 -1.06547 98.1024 10.5802L111.794 43.1804C112.977 45.9978 114.943 48.4169 117.459 50.1507L146.575 70.2131C156.976 77.3799 155.342 93.2118 143.696 98.1026L111.096 111.794C108.278 112.977 105.859 114.943 104.125 117.46L84.0631 146.575C76.8963 156.976 61.0644 155.342 56.1736 143.696L42.4824 111.096C41.2992 108.279 39.3328 105.86 36.8165 104.126L7.70081 84.0633C-2.70006 76.8965 -1.06566 61.0646 10.58 56.1738L43.1802 42.4826C45.9976 41.2993 48.4167 39.333 50.1505 36.8167L70.2129 7.70101Z" fill="#EB6B6B"/>
            </svg>
          </h2>
          <div class="miko-see-pic">
            <svg class="icon-1" width="74" height="81" viewBox="0 0 74 81" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.8" d="M39.7413 78.8111C37.1787 80.1937 34.0712 80.1073 31.5894 78.5845L4.87737 62.1945C2.39557 60.6717 0.91646 57.9438 0.997224 55.0385L1.8665 23.7677C1.94726 20.8623 3.57563 18.2208 6.1382 16.8383L33.7195 1.95749C36.2821 0.574925 39.3896 0.661307 41.8714 2.1841L68.5834 18.5741C71.0652 20.0969 72.5443 22.8248 72.4636 25.7301L71.5943 57.0009C71.5135 59.9063 69.8852 62.5478 67.3226 63.9303L39.7413 78.8111Z" fill="#7EE6E1"/>
            </svg>
            <span class="miko-see-img">
              <img v-if="isImage1 && lottie1" :src="lottie1" alt="" :height="image1Dimentions ? image1Dimentions.height : ''" :width="image1Dimentions ? image1Dimentions.width : ''">
              <span v-else-if="!isImage1 && lottie1" id="speaking-miko" />
            </span>
          </div>
          <RichTextRenderer v-if="section1Contents" :document="section1Contents" />
        </div>
      </div>
    </div>
    <div class="sec-full-width bg-sf-c-lightblue2 z-1">
      <div class="miko-info-block container">
        <div class="miko-hear">
          <h2 class="h1">
            <span v-if="section2Heading">
              {{ section2Heading }}
            </span>
            <svg width="183" height="224" viewBox="0 0 183 224" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M47.3487 135.678C71.1248 180.032 123.5 199.227 169.48 182.691C177.192 179.917 179.888 170.803 176.016 163.581L95.3397 13.0779C91.468 5.85516 82.3854 3.05513 75.8069 7.94199C36.5819 37.0801 23.5726 91.3235 47.3487 135.678Z" fill="#FEBCA0"/>
            </svg>
          </h2>
          <div class="miko-see-pic">
            <svg class="icon-1" width="193" height="161" viewBox="0 0 193 161" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M74.5042 117.519C111.29 138.757 157.24 129.741 183.543 98.1915C188.791 91.897 186.27 82.7085 179.173 78.611L55.8655 7.41947C48.7684 3.32194 39.5505 5.73301 36.7231 13.4249C22.5515 51.9788 37.7187 96.2813 74.5042 117.519Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M86.1775 60.9057C80.3286 59.3384 76.8576 53.3265 78.4248 47.4775C78.4862 47.2485 78.5544 47.023 78.6291 46.8014C81.8515 45.9356 85.8185 45.934 89.8962 47.0267C93.9741 48.1193 97.409 50.1043 99.7667 52.4654C99.7207 52.6947 99.667 52.9239 99.6057 53.1529C98.0384 59.0019 92.0265 62.4729 86.1775 60.9057ZM99.948 51.1678C100.357 46.0003 97.04 41.1147 91.8529 39.7248C86.6659 38.3349 81.3507 40.9075 79.121 45.587C82.3915 44.8621 86.2496 44.9492 90.1713 46C94.0932 47.0509 97.4781 48.9047 99.948 51.1678Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M57.8279 53.3095C51.979 51.7422 48.508 45.7303 50.0752 39.8813C50.1366 39.6524 50.2047 39.427 50.2794 39.2055C53.5019 38.3395 57.4691 38.3379 61.547 39.4306C65.6247 40.5232 69.0594 42.508 71.4172 44.869C71.3711 45.0983 71.3174 45.3277 71.2561 45.5567C69.6888 51.4057 63.6769 54.8767 57.8279 53.3095ZM71.5984 43.5714C72.0072 38.404 68.6903 33.5185 63.5033 32.1286C58.3162 30.7387 53.0009 33.3114 50.7713 37.991C54.0419 37.266 57.9002 37.3531 61.8221 38.4039C65.7438 39.4548 69.1285 41.3084 71.5984 43.5714Z" fill="white"/>
              <path d="M64.4476 88.7017C73.5494 91.1405 84.5497 78.5852 88.5824 70.5887C89.3719 69.0231 88.0663 67.4205 86.3169 67.5392C73.8875 68.3827 66.0282 66.7913 54.756 60.8081C53.3048 60.0378 51.5419 60.8123 51.4723 62.4538C51.1116 70.967 55.2485 86.2368 64.4476 88.7017Z" fill="white"/>
            </svg>
            <span class="miko-see-img">
              <img v-if="isImage2 && lottie2" :src="lottie2" alt="" :height="image2Dimentions ? image2Dimentions.height : ''" :width="image2Dimentions ? image2Dimentions.width : ''">
              <span v-else-if="!isImage2 && lottie2" id="teaching-miko" />
            </span>
          </div>
          <RichTextRenderer v-if="section2Contents" :document="section2Contents" />
        </div>
      </div>
    </div>
    <div class="sec-full-width bg-sf-light-pink">
      <div class="miko-info-block container">
        <div class="miko-speak">
          <h2 class="h1">
            <span v-if="section3Heading">
              {{ section3Heading }}
            </span>
            <svg width="154" height="150" viewBox="0 0 154 150" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.7" d="M129.313 97.485C129.333 101.81 127.047 105.823 123.316 108.011L83.1574 131.561C79.4263 133.749 74.8169 133.78 71.0655 131.643L30.6885 108.639C26.9371 106.502 24.6136 102.521 24.5933 98.1955L24.3746 51.6418C24.3543 47.3165 26.6403 43.3041 30.3714 41.1161L70.5297 17.566C74.2608 15.3779 78.8702 15.3466 82.6216 17.4839L122.999 40.4876C126.75 42.6248 129.074 46.6059 129.094 50.9312L129.313 97.485Z" fill="#33B3E1"/>
            </svg>
          </h2>
          <div class="miko-see-pic">
            <svg class="icon-1" width="117" height="121" viewBox="0 0 117 121" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M91.3819 98.6547C77.4329 110.641 56.4079 109.051 44.4213 95.1015L21.7034 68.6644C9.71675 54.7155 11.3075 33.6905 25.2565 21.7038C39.2055 9.71718 60.2305 11.308 72.2171 25.257L94.935 51.694C106.922 65.643 105.331 86.668 91.3819 98.6547Z" fill="#7DD75C"/>
            </svg>
            <span class="miko-see-img">
              <!-- <img loading="lazy" src="/homepage/miko-speak.png" alt=""> -->
              <img  v-if="isImage3 && lottie3" :src="lottie3" alt="" :height="image3Dimentions ? image3Dimentions.height : ''" :width="image3Dimentions ? image3Dimentions.width : ''">
              <span v-else-if="!isImage3 && lottie3" id="miko-speak" />
            </span>
          </div>
          <RichTextRenderer v-if="section3Contents" :document="section3Contents" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SfAccordion } from '@storefront-ui/vue';
import lottie from 'lottie-web-light/build/player/lottie_svg.min.js';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import {
  getFileUrl,
  checkFileType,
  getImageDimentions
} from '~/helpers/contentful'

export default {
  components: {
    SfAccordion,
    RichTextRenderer
  },
  props: {
    contents: {},
  },
  setup (props, context) {
    let [ 
      section1Contents,
      section2Contents,
      section3Contents,
      section1Heading,
      section2Heading,
      section3Heading,
      isImage1,
      isImage2,
      isImage3,
      lottie1,
      lottie2,
      lottie3,
      image1Dimentions,
      image2Dimentions,
      image3Dimentions
    ] = [ [], [], [], '', '', '', '', '', '', '', '', '', '', '', '' ]
    
    section1Contents = props.contents.fields.hasOwnProperty('section1Contents') ? props.contents.fields.section1Contents : [];
    section2Contents = props.contents.fields.hasOwnProperty('section2Contents') ? props.contents.fields.section2Contents : [];
    section3Contents = props.contents.fields.hasOwnProperty('section3Contents') ? props.contents.fields.section3Contents : [];
    
    section1Heading = props.contents.fields.hasOwnProperty('section1Heading') ? props.contents.fields.section1Heading : [];
    section2Heading = props.contents.fields.hasOwnProperty('section2Heading') ? props.contents.fields.section2Heading : [];
    section3Heading = props.contents.fields.hasOwnProperty('section3Heading') ? props.contents.fields.section3Heading : [];
    
    const section1LottieJson = props.contents.fields.hasOwnProperty('section1LottieJson') ? props.contents.fields.section1LottieJson : [];
    const section2LottieJson = props.contents.fields.hasOwnProperty('section2LottieJson') ? props.contents.fields.section2LottieJson : [];
    const section3LottieJson = props.contents.fields.hasOwnProperty('section3LottieJson') ? props.contents.fields.section3LottieJson : [];
    
    isImage1 = checkFileType(section1LottieJson.fields, 'image');
    isImage2 = checkFileType(section2LottieJson.fields, 'image');
    isImage3 = checkFileType(section3LottieJson.fields, 'image');

    image1Dimentions = isImage1 ? getImageDimentions(section1LottieJson.fields) : {}
    image2Dimentions = isImage2 ? getImageDimentions(section2LottieJson.fields) : {}
    image3Dimentions = isImage3 ? getImageDimentions(section3LottieJson.fields) : {}
    
    lottie1 = section1LottieJson ? getFileUrl(section1LottieJson.fields, context.root.$device) : '';
    lottie2 = section2LottieJson ? getFileUrl(section2LottieJson.fields, context.root.$device) : '';
    lottie3 = section3LottieJson ? getFileUrl(section3LottieJson.fields, context.root.$device) : '';

    return {
      section1Contents,
      section2Contents,
      section3Contents,
      section1Heading,
      section2Heading,
      section3Heading,
      isImage1,
      isImage2,
      isImage3,
      lottie1,
      lottie2,
      lottie3,
      image1Dimentions,
      image2Dimentions,
      image3Dimentions
    }
  },
  methods: {
    loadLottieAnimation(ele, lottiePath) {
      lottie.loadAnimation({
        container: ele,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: lottiePath
      });
    }
  },
  mounted() {
    this.$nextTick(() => {
      const speakingMikoEle = document.getElementById('speaking-miko');
      this.lottie1 ? this.loadLottieAnimation(speakingMikoEle, this.lottie1) : '';
      
      const teachingMikoEle = document.getElementById('teaching-miko');
      this.lottie2 ? this.loadLottieAnimation(teachingMikoEle, this.lottie2) : '';
      
      const mikoSpeak = document.getElementById('miko-speak');
      this.lottie3 ? this.loadLottieAnimation(mikoSpeak, this.lottie3) : '';
    });
  }
};
</script>

<style lang="scss" scoped>
.miko-information{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .miko-info-block{
    width: 100%;
    max-width: 1440px;
    position: relative;
    @media (min-width:2200px){
      max-width: 1920px;
    }
    @media (min-width:3280px){
      max-width: 2880px;
    }
    h2{
      position: relative;
      line-height: 1.25;
      color: var(--c-secondary-darken);
      margin-bottom: 25px;
      font-family: var(--font-family--primary);
      span{
        position: relative;
        z-index: 1;
      }
      svg{
        position: absolute;
        display: none;
        @media (min-width:1024px){
          display: block;
        }
      }
    }
    p{
      font-size: var(--font-size--base);
      display: inline-block;
      color: var(--c-secondary-lighten);
      font-weight: normal;
      max-width: 100%;
      @media (min-width:1024px){
        font-size: var(--font-size--lg);
        max-width: 440px;
      }
      @media (min-width:2200px){
        font-size: var(--font-size--xl);
        max-width: 700px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
        max-width: 1000px;
      }
    }
    img{
      width: 100%;
    }
    .miko-see{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 50px 0;
      max-width: 1280px;
      @media (max-width: 1023px) {
        .shape-1,
        .shape-2{
          display: none;
        }
      }
      @media (min-width: 1024px) {
        padding: 120px 15px;
        min-height: 600;
        .shape-1{
          top:-8%;
          position: absolute;
          left: 27%;
          img{
            max-width: 80px;
          }
        }
        .shape-2{
          top:-16%;
          position: absolute;
          left: 67%;
          img{
            max-width: 150px;
          }
        }
      }
      @media (min-width: 1280px) {
        min-height: 800px;
      }
      @media (min-width: 1300px) {
        .shape-1{
          top:-10%;
          position: absolute;
          left: 18%;
          img{
            max-width: 120px;
          }
        }
        .shape-2{
          top:-15%;
          left: 74%;
          position: absolute;
          img{
            max-width: 190px;
          }
        }
      }
      @media (min-width: 2200px) {
        .shape-1{
          display: none;
        }
        .shape-2{
          left: 70%;
          img{
            max-width: 190px;
          }
        }
      }
      @media (min-width: 2200px) {
        max-width: 100%;
      }
      @media (min-width: 3280px) {
        min-height: 1000px;
      }
      .miko-see-img{
        padding-top: 30px;
        padding-bottom: 30px;
        display: block;
        margin-left: -25%;
        width: 150%;
        @media (min-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          max-width: 800px;
          width: 100%;
        }
        @media (min-width: 1024px) {
          display: inline-block;
          position: absolute;
          padding-top: 0;
          padding-bottom: 0;
          right: -30px;
          bottom: -70px;
        }
        @media (min-width: 1280px) {
          bottom: -90px;
          max-width: 100%;
        }
        & > span {
          display: block;
          max-width: 1220px;
          @include for-desktop {
            margin-left: auto;
          }
          @media (min-width:3280px){
            max-width: 1850px;
          }
        }
      }
      h2{
        svg{
          left:-55px;
          bottom: -5px;
        }
      }
      .miko-see-pic{
        max-width: 600px;
        @media (min-width: 768px) {
          max-width: 100%;
        }
        .icon-1{
          position: absolute;
          display: none;
          left: 80px;
          bottom: -65px;
          @media (min-width: 1024px) {
            display: block;
          }
        }
      }
    }

    .miko-hear{
      padding: 50px 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1280px;
      @media (min-width: 1024px) {
        padding-top: 180px;
        padding-bottom: 120px;
        padding: 180px 15px 120px;
        text-align: right;
        min-height: 600px;
      }
      @media (min-width: 1280px) {
        min-height: 800px;
      }
      @media (min-width: 2200px) {
        max-width: 100%;
      }
      @media (min-width: 3280px) {
        min-height: 1000px;
      }
      .miko-see-img{
        display: block;
        margin-left: -25%;
        padding-top: 0;
        padding-bottom: 10px;
        width: 150%;
        @media (min-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          max-width: 800px;
          width: 100%;
        }
        @media (min-width: 1024px) {
          position: absolute;
          display: inline-block;
          padding-top: 0;
          padding-bottom: 0;
          left: -80px;
          bottom: -50px;
        }
        @media (min-width: 1280px) {
          left: -155px;
          bottom: -155px;
          max-width: 100%;
        }
        & > span {
          display: block;
          max-width: 1300px;
          @media (min-width: 3200px) {
            max-width: 1850px;
          }
        }
      }
      h2{
        svg{
          bottom:-60px;
          right: -55px;
        }
      }
      p{
        display: block;
        @media (min-width: 1024px) {
          display: inline-block;
        }
      }
      .miko-see-pic{
        max-width: 600px;
        @media (min-width: 768px) {
          max-width: 100%;
        }
        .icon-1{
          display: none;
          position: absolute;
          right: 80px;
          bottom: -70px;
          @media (min-width: 1024px) {
            display: block;
          }
        }
      }
    }

    .miko-speak{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      z-index: 10;
      padding:50px 0 50px;
      @media (min-width: 1024px) {
        min-height: 600px;
        padding:270px 15px 120px;
      }
      @media (min-width: 1280px) {
        min-height: 800px;
      }
      @media (min-width: 2200px) {
        max-width: 100%;
      }
      @media (min-width: 3280px) {
        min-height: 1150px;
      }
      .miko-see-img{
        display: block;
        margin-left: -45%;
        padding-top: 0;
        padding-bottom: 25px;
        width: 150%;
        @media (min-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          max-width: 800px;
          width: 100%;
        }
        @media (min-width: 1024px) {
          position: absolute;
          display: inline-block;
          padding-bottom: 0;
          right: -30px;
          bottom: -70px;
        }
        @media (min-width: 1280px) {
          bottom: -195px;
          max-width: 100%;
        }
      }
      h2{
        svg{
          left:-50px;
          bottom:-15px;
        }
      }
      .miko-see-pic{
        max-width: 600px;
        @media (min-width: 768px) {
          max-width: 100%;
        }
        .icon-1{
          position: absolute;
          display: none;
          left: 190px;
          top: 135px;
          @media (min-width: 1024px) {
            display: block;
          }
        }
        @media (min-width: 3280px) {
          max-width: 100%;
          .miko-see-img{
            max-width: 1950px;
          }
        }
      }
    }
  }
}
</style>
