<template>
<div class="preOrder-container sec-full-width" :class="{ 'top-bar-enabled' : $store.state.isTopBarEnabled }" style="display:none;">
  <div :style="{ backgroundImage: 'url(' + backgroundImg.url + ')' }">
    <div class="preOrderBanner">
        <div class="preOrderTitle">
        {{title}}
        </div>
        <div class="subtitle">
            {{subtitle}}
        </div>
    </div>
  </div>
</div>
</template>
<script>
import {SfButton } from '@storefront-ui/vue';
export default {
    components:{
        SfButton
    },
      props: {
    preOrderData: {},
  },
    setup(props,content){
        const componentData =props.preOrderData.fields;
        let title = componentData.hasOwnProperty('heading')?componentData.heading:"";
        let subtitle = componentData.hasOwnProperty('subheading')?componentData.subheading:"";
        let backgroundImg = componentData.hasOwnProperty('backgroundImage')?componentData.backgroundImage.fields.file:"";
        return {
            componentData,
            title,
            subtitle,
            backgroundImg
        }
    }
}
</script>
<style lang="scss" scoped>
.preOrder-container{
  padding-top: 70px;
  background-color: var(--c-primary-lighten);
  @include for-mobile {
    padding-top: 60px;
  }
  @media (min-width:2200px){
    padding-top: 87px;
  }
  @media (min-width:3280px){
    padding-top: 120px;
  }
  &.top-bar-enabled {
    padding-top: 110px;
    @media (min-width:2200px){
      padding-top: 126px;
    }
    @media (min-width:3280px){
      padding-top: 160px;
    }
    @media (max-width: 1023px) {
      padding-top: 100px;
    }
  }
  .preOrderBanner{
          max-width: 75%;
          margin: 0px auto;
          position: relative;
          padding: 12px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
          font-size: 18px;
      @include for-mobile {
      margin-left:5%;
      max-width: 100%;
      .btn-onlyMobile {
        margin: 0;
        padding: 0;
        background-color: transparent;
      }
    }
  .preOrderTitle {
      flex:90%;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      letter-spacing: 0.05em;
      line-height: 20px;
      text-align: center;
      @include for-mobile {
       font-size: 16px;
    }
  }
.head-buyNow{
    border-color: white;
    color: white;
    letter-spacing: 0.05em;
    font-size: var(--font-size--bace);
    @include for-mobile {
      display: none;
      font-size: 16px;
    }
}
.btn-onlyMobile{
  display: none;
  font-size: 12px;
  margin-left: 25px;
    @include for-mobile {
      display: block;
      border: none;
    }
}
.subtitle{
      flex:90%;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-align: center;
      @include for-mobile {
        font-size: 12px;
      }
    }
    .buttonContains{
      position: absolute;
      right: 5%;
      @include for-mobile {
        right: 5%;
      }
    }
}
}
.sf-link {
    text-decoration: none;
  }
</style>