<template>
  <section>
    <div class="simply-secure" v-if="sectionHeading">
      <div class="simply-secure-content">
        <div class="simply-secure-info">
          <h2 class="h1 relative">
            <span >{{ sectionHeading }}</span>
            <svg width="149" height="152" viewBox="0 0 149 152" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M64.8146 3.78899C70.5379 -0.563836 78.4621 -0.563836 84.1854 3.78899C87.8561 6.58075 92.553 7.65278 97.0715 6.73017C104.117 5.29166 111.256 8.7298 114.524 15.1348C116.62 19.2428 120.386 22.2465 124.858 23.3758C131.829 25.1365 136.77 31.3318 136.935 38.5204C137.041 43.131 139.132 47.4715 142.67 50.429C148.187 55.0402 149.951 62.7657 146.981 69.3141C145.076 73.514 145.076 78.3317 146.981 82.5316C149.951 89.08 148.187 96.8055 142.67 101.417C139.132 104.374 137.041 108.715 136.935 113.325C136.77 120.514 131.829 126.709 124.858 128.47C120.386 129.599 116.62 132.603 114.524 136.711C111.256 143.116 104.117 146.554 97.0715 145.116C92.553 144.193 87.8561 145.265 84.1854 148.057C78.4621 152.41 70.5379 152.41 64.8146 148.057C61.1439 145.265 56.447 144.193 51.9285 145.116C44.8834 146.554 37.744 143.116 34.4761 136.711C32.3802 132.603 28.6136 129.599 24.1422 128.47C17.1706 126.709 12.23 120.514 12.0648 113.325C11.9588 108.715 9.86846 104.374 6.32988 101.417C0.812631 96.8055 -0.950646 89.08 2.01949 82.5316C3.92443 78.3317 3.92443 73.514 2.01949 69.3141C-0.950646 62.7657 0.812632 55.0402 6.32988 50.429C9.86846 47.4715 11.9588 43.131 12.0648 38.5204C12.23 31.3318 17.1706 25.1365 24.1422 23.3758C28.6136 22.2465 32.3802 19.2428 34.4761 15.1348C37.744 8.7298 44.8834 5.29166 51.9285 6.73017C56.447 7.65278 61.1439 6.58075 64.8146 3.78899Z" fill="#8FD5EC"/>
            </svg>
          </h2>
          <RichTextRenderer v-if="sectionContent" :document="sectionContent" />
        </div>
        <div class="simply-secure-img" v-if="contentImage">
          <img :src="contentImage" alt="" :height="imageDimentions.height" :width="imageDimentions.width" />
        </div>
      </div>
      <div class="simply-secure-content">
        <div class="simply-secure-info">
          <h2 class="h1 relative">
            <span>{{ section2Heading }}</span>
            <svg width="207" height="207" viewBox="0 0 207 207" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M96.6128 3.85517C100.106 -0.636113 106.894 -0.63611 110.387 3.85517L121.068 17.5881C123.467 20.6719 127.623 21.7855 131.241 20.3141L147.358 13.7615C152.629 11.6185 158.507 15.0125 159.287 20.6486L161.67 37.8822C162.206 41.752 165.248 44.7944 169.118 45.3296L186.351 47.7131C191.987 48.4926 195.382 54.3713 193.239 59.6421L186.686 75.7585C185.215 79.3775 186.328 83.5335 189.412 85.9319L203.145 96.6128C207.636 100.106 207.636 106.894 203.145 110.387L189.412 121.068C186.328 123.467 185.215 127.623 186.686 131.241L193.239 147.358C195.382 152.629 191.987 158.507 186.351 159.287L169.118 161.67C165.248 162.206 162.206 165.248 161.67 169.118L159.287 186.351C158.507 191.987 152.629 195.382 147.358 193.239L131.241 186.686C127.623 185.215 123.467 186.328 121.068 189.412L110.387 203.145C106.894 207.636 100.106 207.636 96.6128 203.145L85.9319 189.412C83.5335 186.328 79.3775 185.215 75.7585 186.686L59.6421 193.239C54.3713 195.382 48.4926 191.987 47.7131 186.351L45.3296 169.118C44.7944 165.248 41.752 162.206 37.8822 161.67L20.6486 159.287C15.0125 158.507 11.6185 152.629 13.7615 147.358L20.3141 131.241C21.7855 127.623 20.6719 123.467 17.5881 121.068L3.85517 110.387C-0.636114 106.894 -0.63611 100.106 3.85517 96.6128L17.5881 85.9319C20.6719 83.5335 21.7855 79.3775 20.3141 75.7585L13.7615 59.6421C11.6185 54.3713 15.0125 48.4926 20.6486 47.7131L37.8822 45.3296C41.752 44.7944 44.7944 41.752 45.3296 37.8822L47.7131 20.6486C48.4926 15.0125 54.3713 11.6185 59.6421 13.7615L75.7585 20.3141C79.3775 21.7855 83.5335 20.6719 85.9319 17.5881L96.6128 3.85517Z" fill="#CEE483"/>
            </svg>
          </h2>
          <RichTextRenderer v-if="section2Content" :document="section2Content" />
        </div>
        <div class="simply-secure-img" v-if="content2Image">
          <img :src="content2Image" alt="" :height="image2Dimentions.height" :width="image2Dimentions.width" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { SfAccordion } from '@storefront-ui/vue';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import { getFileUrl, getImageDimentions } from '~/helpers/contentful'

export default {
  components: {
    SfAccordion,
    RichTextRenderer
  },
  props: {
    contents: {},
  },
  setup (props, context) {
    let [ 
      sectionContent,
      sectionHeading,
      contentImage,
      imageDimentions,
      section2Content,
      section2Heading,
      content2Image,
      image2Dimentions
    ] = [ [], '', '', [] ]
    // simply secure section
    sectionContent = props.contents.fields.hasOwnProperty('sectionContents') ? props.contents.fields.sectionContents : [];
    sectionHeading = props.contents.fields.hasOwnProperty('sectionHeading') ? props.contents.fields.sectionHeading : '';
    
    const imgObj = props.contents.fields.hasOwnProperty('sectionAsset') ? props.contents.fields.sectionAsset.fields : [];
    contentImage = imgObj ? getFileUrl(imgObj, context.root.$device) : '';
    imageDimentions = getImageDimentions(imgObj);

    // stay connected section
    section2Content = props.contents.fields.hasOwnProperty('section2Contents') ? props.contents.fields.section2Contents : [];
    section2Heading = props.contents.fields.hasOwnProperty('section2Heading') ? props.contents.fields.section2Heading : '';
    
    const img2Obj = props.contents.fields.hasOwnProperty('section2Image') ? props.contents.fields.section2Image.fields : [];
    content2Image = imgObj ? getFileUrl(img2Obj, context.root.$device) : '';
    image2Dimentions = getImageDimentions(img2Obj);

    return {
      sectionContent,
      sectionHeading,
      contentImage,
      imageDimentions,
      section2Content,
      section2Heading,
      content2Image,
      image2Dimentions
    }
  }
};
</script>

<style lang="scss" scoped>
.simply-secure{
  padding: 100px 15px 60px;
  @media (min-width:768px){
    padding-bottom: 80px;
  }
  @media (min-width:1280px){
    padding-top: 225px;
    padding-bottom: 150px;
  }
  .simply-secure-content{
    display: flex;
    flex-direction: column;
    @media (min-width:1024px){
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    & + .simply-secure-content {
      margin-top: 97px;
      @media (min-width:1024px){
        margin-top: 58px;
      }
    }
    &:nth-child(2n) {
      .simply-secure-img {
        @media (min-width:1024px){
          order: 1;
        }
        img {
          @media (min-width:1024px){
            margin-left: 0;
          }
        }
      }
      .simply-secure-info {
        @media (min-width:1024px){
          order: 2;
          padding-right: 0;
          padding-left: 15px;
        }
        @media (max-width: 767px) {
          h2 {
            svg {
              bottom: -68px;
            }
          }
        }
      }
    }
  }
  h2{
    position: relative;
    line-height: 1.25;
    color: var(--c-secondary-darken);
    font-family: var(--font-family--primary);
    margin-bottom: 25px;
    padding-left: 0;
    @media (min-width:768px){
      margin-bottom: 30px;
      padding-left: 30px;
    }
    @media (min-width:1024px){
      padding-left: 0;
    }
    span{
      position: relative;
      line-height: 1.13;
    }
    svg{
      position: absolute;
      bottom: -40px;
      left: -35px;
      z-index: -1;
      max-width: 95px;
      @media (min-width:768px){
        bottom: -10px;
        max-width: 100%;
      }
      @media (min-width:1280px){
        bottom: -20px;
      }
    }
  }
  p{
    font-size: var(--font-size--base);
    color: var(--c-secondary-lighten);
    font-weight: normal;
    padding-left: 0;
    @media (min-width:768px){
      font-size: var(--font-size--lg);
      padding-left: 30px;
    }
    @media (min-width:1024px){
      padding-left: 0;
    }
    @media (min-width:1280px){
      max-width: 440px;
    }
    @media (min-width: 2200px) {
      font-size: var(--font-size--xl);
    }
    @media (min-width: 3280px) {
      font-size: var(--font-size--xxl);
    }
  }
  .simply-secure-info{
    padding-bottom: 40px;
    padding-right: 15px;
    @media (min-width:1024px){
      flex: 0 0 40%;
      max-width: 40%;
    }
    @media (min-width:1280px){
      padding-bottom: 0;
    }
    @media (min-width:2200px){
      max-width: 45%;
      p{
        max-width: 100%;
      }
    }
  }
  .simply-secure-img{
    width: auto;
    img{
      max-width: auto;
      margin: 0 auto;
      display: block;
    }
    @media (min-width:1024px){
      flex: 0 0 60%;
      max-width: 60%;
      img{
        display: block;
        margin-left: auto;
      }
    }
    @media (min-width:768px){
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width:2200px){
      width: 100%;
      max-width: 50%;
      img{
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        display: block;
      }
    }
    @media (min-width:3280px){
      img{
        max-width: 1000px;
      }
    }
    @media (max-width: 767px) {
      min-width: 467px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
</style>
