<template>
  <section class="home-hero-banner sec-full-width">
    <div class="panel slide1">
      <div class="container text-center" v-if="slide1Caption">
        <h1 class="banner-title">
          <RichTextRenderer :document="slide1Caption" />
        </h1>
      </div>
      <div class="robo-img-wrap">
        <picture>
          <source media="(min-width: 355px)" srcset="/homepage/miko-robo.webp">
          <img src="/homepage/miko-robo-mobile.webp" alt="Miko" width="354" height="293">
        </picture>
      </div>
    </div>
  </section>
</template>

<script>
import RichTextRenderer from 'contentful-rich-text-vue-renderer';

export default {
  props: {
    heroBannerContents: {},
  },
  components: {
    RichTextRenderer
  },
  setup (props) {
    const slide1Caption = props.heroBannerContents.fields.hasOwnProperty('slide1Caption') ? props.heroBannerContents.fields.slide1Caption : [];
    return {
      slide1Caption
    }
  }
}
</script>

<style lang="scss" scoped>
.home-hero-banner {
  height: calc(100vh - 60px);
  padding-top:60px;
  @include for-mobile {
    height: calc(100vh - 60px);
    padding-top:60px;
  }
  @media (max-width: 767px) {
    height: calc(100vh - 60px);
    padding-top:60px;
  }
  @media (max-height: 499px) and (max-width: 767px) {
    height: calc(100vh - 60px);
    padding-top:60px;
  }
  @media (max-width: 399px) {
    height: calc(100vh - 60px);
    padding-top:60px;
  }
  @media only screen 
    and (max-width : 399px)
    and (-webkit-device-pixel-ratio : 2) {
    height: calc(100vh - 60px);
    padding-top:60px;
  }
  @media (min-height: 1365px) {
    height: calc(80vh - 60px);
  }
  .slide1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--c-primary-lighten);
    overflow: hidden;
    .banner-title {
      font-size: 220px;
      line-height: 1;
      font-weight: var(--font-weight--black);
      text-align: center;
      color: var(--c-primary);
      padding-top: 70px;
      p{
        line-height: 0.8;
        @media (min-width:768px){
          line-height: 1;
        }
      }
      @media (min-width:3280px){
        padding-top: 150px;
        font-size: 260px;
      }
      @media (max-width:1500px){
        font-size: 200px;
      }
      @media (max-width: 1299px) {
        font-size: 180px;
      }
      @media (max-width: 1023px) {
        font-size: 140px;
      }
      @media (max-width: 767px) {
        font-size: 120px;
        padding-top: 20px;
      }
      @media (max-height: 499px) and (max-width: 767px) {
        padding-top: 0;
      }
    }
    .robo-img-wrap {
      min-height: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      picture {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding: 0 15px;
        min-height: 0;
      }
      img {
        display: block;
        margin: 0 auto;
        font-family: 'object-fit: contain;';
        object-fit: contain;
        min-height: 0;
        @media (min-width: 2200px) and (min-height: 1365px) {
          height: 100%;
        }
      }
    }
  }
}
</style>