<template>
  <section class="home-testimonial-sec" v-if="testimonials.length > 0">
      <h2 class="h1 testimonial-sec-title" v-if="title">{{ title }}</h2>
      <div class="testimonial-slider">
        <div class="container">
          <swiper class="swiper" :options="swiperOption">
            <swiper-slide class="h-auto" v-for="(testimonial, index) in testimonials" :key="index">
              <div v-if="getTestimonialImage(testimonial)" class="testimonial-img">
                <img
                  loading="lazy"
                  :src="getTestimonialImage(testimonial)"
                  :alt="getTitle(testimonial)"
                  :width="getTestimonialImageWidth(testimonial)"
                  :height="getTestimonialImageHeight(testimonial)"
                >
              </div>
              <p v-if="getTestimonialContent(testimonial)" class="testimonial-info text-center">{{ getTestimonialContent(testimonial) }}</p>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </div>
  </section>
</template>

<script>
import SwiperCore, { Pagination, Autoplay } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss';
import 'swiper/components/pagination/pagination.scss';
SwiperCore.use([Pagination, Autoplay]);

export default {
  props: {
    testimonials: Array,
    title: String
  },
  setup() {
    const getTestimonialImage = (testimonial) => {
      const testiFields = testimonial.fields
      if (testiFields.hasOwnProperty('companyImage')) {
          return testiFields.companyImage.fields.file.url
      }
      return false;
    }

    const getTestimonialImageWidth= (testimonial)=> {
      const testiFields = testimonial.fields
      if (testiFields.hasOwnProperty('companyImage')) {
          return testiFields.companyImage.fields.file.details.image.width
      }
      return false;
    }

    const getTestimonialImageHeight = (testimonial)=> {
      const testiFields = testimonial.fields
      if (testiFields.hasOwnProperty('companyImage')) {
          return testiFields.companyImage.fields.file.details.image.height
      }
      return false;
    }

    const getTitle = (testimonial) => {
      if (testimonial.fields.hasOwnProperty('companyImage')) {
          return testimonial.fields.companyImage.fields.title
      }
      return false;
    }

    const getTestimonialContent= (testimonial) => {
      if (testimonial.fields.hasOwnProperty('companyReviewText')) {
          return testimonial.fields.companyReviewText
      }
      return false;
    }

    return {
      getTestimonialImage,
      getTitle,
      getTestimonialContent,
      getTestimonialImageWidth,
      getTestimonialImageHeight
    }
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 10,
        slidesPerGroup: 1,
        loop: true,
        freeMode: false,
        autoplay: {
          disableOnInteraction: false
        },
        observer: true,
        observeParents: true,
        observeSlideChildren: true,
        resizeObserver: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 20,
            slidesPerGroup: 2
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 20,
            slidesPerGroup: 3
          },
          3280: {
            slidesPerView: 4,
            spaceBetween: 40,
            slidesPerGroup: 3
          }
        }
      }
    }
  },
  components: {
    Swiper,
    SwiperSlide
  }
}
</script>

<style lang="scss" scoped>
.home-testimonial-sec {
  padding-bottom: 90px;
  @media (min-width:768px){
    padding-bottom: 140px;
  }
}
.testimonial-sec-title {
  text-align: center;
  color: var(--c-secondary-darken);
  margin-bottom: 38px;
  @media (min-width:768px){
    margin-bottom: 86px;
  }
}
.testimonial-slider {
  padding-left: 1px;
  .swiper-slide {
    border: solid 1px var(--c-gray-dfdfdf);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding-top: 24px;
    padding-bottom: 32px;
    padding: 24px 24px 32px;
    height: auto;
    &:hover{
      border-color: var(--c-primary);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      box-shadow: var(box-ring-offset-shadow, 0 0 #0000), var(box-ring-shadow, 0 0 #0000), var(box-shadow);
    }
    @media (min-width:1024px){
      padding: 50px 40px;
    }
  }
  .testimonial-img {
    min-height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width:3280px){
      min-height: 100px;
      img{
        height: 70px;
        display: block;
      }
    }
  }
  .testimonial-info{
    margin-top: 10px;
    font-size: var(--font-size--base);
    color: var(--c-secondary-lighten);
    line-height: 1.4;
    @media (min-width:768px){
      margin-top: 15px;
    }
    @media (min-width:2200px){
      font-size: var(--font-size--lg);
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xxl);
    }
  }
  .swiper-pagination {
    position: static;
    margin-top: 25px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width:768px){
      margin-top: 80px;
    }
    ::v-deep .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      border: solid 2px var(--c-light);
      background: var(--c-white);
      opacity: 1;
      margin-top: 5px;
      margin-bottom: 5px;
      margin: 5px 8px;
      border-radius: 9999px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &:hover,
      &.swiper-pagination-bullet-active {
        background: var(--c-primary);
        border-color: var(--c-primary);
      }
      @media (min-width:768px){
        margin-top: 0;
        margin-bottom: 0;
      }
      @media (min-width:3280px){
        width: 30px;
        height: 30px;
      }
    }
  }
}
</style>