<template>
  <div id="accountSidebar">
    <SfSidebar
      :visible="isAccountSidebarOpen"
      title=""
      class="sf-sidebar--right"
      @close="toggleAccountSidebar"
      :persistent="true"
    >
      <template #circle-icon="{ close }">
        <div class="close-icon" @click="close" />
      </template>
      <div class="sidebar-head">
        <nuxt-link
          data-cy="app-header-url_logo"
          :to="localePath('/')"
          class="sf-header__logo"
        >
          <img
            src="/icons/logo.svg"
            alt="Miko 3"
            width="77"
            height="23"
            class="sf-header__logo-image"
          />
        </nuxt-link>
        <span>{{ firstName }} {{ lastName }}</span>
      </div>
      <SfContentPages
        data-cy="account_content-pages"
        :active="currentPage"
        class="account-menu"
        title=""
        @click:change="currentPage = $event"
      >
        <template #menu-item="{ page }">
          <SfMenuItem
            :class="{ 'is-active': isMyaccountPage && page.title.toLowerCase() === activePage }"
            :label="
              page.title === 'Billing details'
                ? 'Address book'
                : page.title === 'Order history'
                ? 'My orders'
                : page.title
            "
            class="sf-content-pages__menu"
            @click="changeActivePage(page), toggleAccountSidebar()"
            icon=""
          />
        </template>
        <SfContentPage data-cy="Account-my-profile" title="My profile" />
        <SfContentPage data-cy="Account-address-book" title="Billing details" />
        <SfContentPage data-cy="Account-my-orders" title="Order history" />
        <SfContentPage data-cy="account-page_log-out" title="Log out" />
      </SfContentPages>
    </SfSidebar>
  </div>
</template>
<script type="module">
import {
  SfSidebar,
  SfContentPages,
  SfMenuItem
} from "@storefront-ui/vue";
import { ref, watch } from '@vue/composition-api';
import { useUiState, useUiNotification } from "~/composables";
export default {
  name: "MyAccountSidebar",
  components: {
    SfSidebar,
    SfContentPages,
    SfMenuItem
  },
  props: {
    firstName: String,
    lastName: String
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, context) {
    const { isAccountSidebarOpen, toggleAccountSidebar } = useUiState();
    const { $router } = context.root;
    const { send: sendNotification } = useUiNotification();
    const isMyaccountPage = ref($router.history.current.name.includes('my-account'));
    let activePage = ref($router.history.current.params.pageName);
    activePage.value = activePage.value
      ? activePage.value.toString().toLowerCase().replace("-", " ")
      : "my profile";

    watch(
      () => context.root.$route,
      (currentPage) => {
        isMyaccountPage.value = currentPage.name.includes('my-account');
      }
    )

    const changeActivePage = async (page) => {
      if (page.title === "Log out") {
        context.emit("initLogout", true);
        return;
      }
      $router.push(
        context.root.localePath(`/my-account/${(page.title || "").toLowerCase().replace(" ", "-")}`)
      );
      activePage.value = page.title.toLowerCase().replace("-", " ");
    };
    return {
      isAccountSidebarOpen,
      toggleAccountSidebar,
      changeActivePage,
      activePage,
      sendNotification,
      isMyaccountPage
    };
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      breadcrumbs: [
        {
          text: "Home",
          route: { link: "/" },
        },
        {
          text: "My Account",
          route: { link: "/my-account" },
        },
        {
          text: this.activePage,
          route: { link: "#" },
        },
      ],
      currentPage: this.activePage,
    };
  },
};
</script>
<style lang="scss">
#accountSidebar {
  .sf-sidebar__aside {
    @include for-desktop {
      width: 500px;
      box-shadow: 4px 0 30px rgba(0, 0, 0, 0.1);
    }
    @include for-mobile {
      max-width: 360px;
      left: 0;
      right: 0;
      margin-left: auto;
    }
    .close-icon {
      left: -300%;
      width: 300%;
      top: 0;
      position: absolute;
      height: 100%;
      cursor: pointer;
    }
    @media (min-width:2200px){
      width: 600px;
    }
  }
  .sidebar-head {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--c-pink-FDF0F0);
    padding: 20px;
    @media (min-width:1024px){
      padding: 35px 40px;
    }
    img {
      display: block;
    }
    span {
      font-weight: 500;
      color:var(--c-secondary-lighten);
      @media (min-width:3280px){
        font-size: 30px;
      }
    }
  }
  .sf-sidebar__content {
    padding: 0;
    .sf-content-pages__section {
      display: block;
      margin: 0;
      &.is-active{
        transform: none;
      }
    }
    .sf-content-pages__sidebar {
      background: var(--c-white);
      padding: 20px 15px;
      @media (min-width:1024px){
        padding: 30px 40px;
      }
      h1.sf-content-pages__title {
        display: none;
      }
      .sf-list {
        .sf-list__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0;
          margin-top: 0;
          margin-bottom: 0;
          @media (min-width:1024px){
            padding-top: 30px;
            padding-bottom: 30px;
          }
          .sf-menu-item__label {
            font-size: var(--font-size--base);
            color:var(--c-primary);
            @media (min-width:3280px){
              font-size: var(--font-size--xxl);
            }
          }
          .sf-menu-item__count {
            &::before {
              content: "";
              transform: rotate(45deg);
              cursor: pointer;
              display: block;
              border-top: solid 1px var(--c-primary);
              border-right: solid 1px var(--c-primary);
              width: 12px;
              height: 12px;
              @media (min-width:3280px){
                width: 20px;
                height: 20px;
              }
            }
          }
          .is-active,
          &:hover {
            .sf-menu-item__label {
              color: var(--c-black);
            }
            .sf-menu-item__count {
              &::before {
                border-color: var(--c-black);
              }
            }
          }
          &:last-child {
            .sf-menu-item__count {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
    .sf-content-pages__content {
      display: none;
    }
  }
  .sf-bar.smartphone-only {
    display: none;
  }
}
</style>
