<template>
  <SfFooter :open="['Miko 3', 'Miko Max', 'Tech specs', 'Track your order']" :column="1" class="site-footer">
    <div class="footer-top">
      <div class="footer-logo">
        <nuxt-link v-if="footerLogo" data-cy="app-footer-url_logo" :to="localePath('/')" class="sf-footer__logo inline-block">
          <img :src="footerLogo" :alt="logoTitle" :width="footerLogoDimentions.width" :height="footerLogoDimentions.height"  class="sf-footer__logo-image" loading="lazy" />
        </nuxt-link>
      </div>
      <div class="footer-menus-sec">
        <div class="footer-menu-list">
          <SfFooterColumn :title="('Miko 3')" v-if="footerTopColumn1 && footerTopColumn1.length">
            <SfList>
              <SfListItem
                v-for="(column1, index) in footerTopColumn1"
                :key="index"
                >
                <SfButton @click="handlerMethod" link="javascript:void(0);" class="nav-item" id='openChat' v-if='column1.fields.isJavascriptElement'>
                  <SfMenuItem
                    :label="column1.fields.menuLabel"
                    icon=""
                  />
                </SfButton>
                <SfLink class="nav-item" target='_blank' :link="`${column1.fields.menuExternalLink}`" v-else-if='column1.fields.isExternalLink'>
                  <SfMenuItem
                    :label="column1.fields.menuLabel"
                    icon=""
                  />
                </SfLink>
                <nuxt-link v-else class="nav-item" :to="localePath(`/${column1.fields.menuItemHandler}`)">
                  <SfMenuItem
                    :label="column1.fields.menuLabel"
                    icon=""
                  />
                </nuxt-link>
              </SfListItem>
            </SfList>
          </SfFooterColumn>
          <SfFooterColumn :title="('Miko Max')" v-if="footerTopColumn2 && footerTopColumn2.length">
            <SfList>
              <SfListItem
                v-for="(column2, index) in footerTopColumn2"
                :key="index"
                >
                <nuxt-link class="nav-item" :to="localePath(`/${column2.fields.menuItemHandler}`)">
                  <SfMenuItem
                    :label="column2.fields.menuLabel"
                    icon=""
                  />
                </nuxt-link>
              </SfListItem>
            </SfList>
          </SfFooterColumn>
          <SfFooterColumn :title="('Tech specs')" v-if="footerTopColumn3 && footerTopColumn3.length">
            <SfList>
              <SfListItem
                v-for="(column3, index) in footerTopColumn3"
                :key="index"
                >
                <nuxt-link class="nav-item" :to="localePath(`/${column3.fields.menuItemHandler}`)">
                  <SfMenuItem
                    :label="column3.fields.menuLabel"
                    icon=""
                  />
                </nuxt-link>
              </SfListItem>
            </SfList>
          </SfFooterColumn>
          <SfFooterColumn :title="('Track your order')" v-if="footerTopColumn4 && footerTopColumn4.length">
            <SfList>
              <SfListItem
                v-for="(column4, index) in footerTopColumn4"
                :key="index"
                >
                <nuxt-link class="nav-item" :to="localePath(`/${column4.fields.menuItemHandler}`)">
                  <SfMenuItem
                    :label="column4.fields.menuLabel"
                    icon=""
                  />
                </nuxt-link>
              </SfListItem>
            </SfList>
          </SfFooterColumn>
        </div>
        <div class="footer-app-list-sec">
          <h3>Miko app is available on:</h3>
          <div class="footer-app-list">
            <div class="footer-app-item" v-if="appStoreObj">
              <a data-cy="appstore-url_logo" :target="appStoreObj.fields.isExternalLink ? '_blank' : '_self'" :href="appStoreObj.fields.menuExternalLink" rel="noopener">
                <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.7973 11.2475C14.8081 10.4369 15.0298 9.64202 15.4418 8.93694C15.8538 8.23186 16.4428 7.63946 17.1539 7.21486C16.7021 6.58825 16.1062 6.07258 15.4134 5.7088C14.7205 5.34501 13.9499 5.14315 13.1627 5.11922C11.4835 4.94803 9.85552 6.09516 8.99981 6.09516C8.12754 6.09516 6.81004 5.13622 5.39131 5.16457C4.47364 5.19337 3.57929 5.45255 2.79541 5.91686C2.01154 6.38117 1.36486 7.03478 0.918393 7.814C-1.01561 11.0661 0.426982 15.8457 2.27959 18.4745C3.20649 19.7617 4.28977 21.1996 5.70722 21.1486C7.09428 21.0927 7.61232 20.2895 9.28662 20.2895C10.9454 20.2895 11.4314 21.1486 12.8776 21.1162C14.366 21.0927 15.3038 19.8232 16.1981 18.5238C16.8641 17.6066 17.3766 16.5929 17.7166 15.5202C16.8518 15.165 16.1139 14.5704 15.5948 13.8106C15.0757 13.0508 14.7983 12.1594 14.7973 11.2475Z" fill="black"/>
                  <path d="M12.0649 3.39025C12.8764 2.44406 13.2762 1.22788 13.1794 0C11.9396 0.126476 10.7943 0.701997 9.97185 1.61189C9.56971 2.0564 9.26172 2.57352 9.06547 3.13371C8.86923 3.69389 8.78858 4.28615 8.82815 4.87663C9.44828 4.88283 10.0618 4.75228 10.6224 4.49482C11.1831 4.23735 11.6763 3.85968 12.0649 3.39025Z" fill="black"/>
                </svg>
                {{appStoreObj.fields.menuLabel}}
              </a>
            </div>
            <div class="footer-app-item" v-if="playStoreObj">
              <a data-cy="playstore-url_logo" :target="playStoreObj.fields.isExternalLink ? '_blank' : '_self'" :href="playStoreObj.fields.menuExternalLink" rel="noopener">
                <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.6524 10.3566L3.60806 0.574977L16.3874 7.7003L13.6524 10.3566ZM0.987392 0C0.395394 0.300572 0 0.848674 0 1.56015V21.0662C0 21.7777 0.396122 22.3258 0.987392 22.6264L12.6657 11.3107L0.987392 0ZM20.3377 9.97192L17.6573 8.46481L14.6674 11.3157L17.6573 14.1665L20.3923 12.6594C21.2115 12.0278 21.2115 10.6042 20.3377 9.97192ZM3.60879 22.057L16.3881 14.9317L13.6531 12.2754L3.60879 22.057Z" fill="black"/>
                </svg>
                {{playStoreObj.fields.menuLabel}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <nuxt-link data-cy="app-footer-url_copyright" :to="localePath('/')" class="sf-footer__copyright" v-if="footerCopyright">
          {{ footerCopyright }}
        </nuxt-link>
        <SfList class="footer-bottom-menu" v-if="footerBottomMenu && footerBottomMenu.length">
          <SfListItem v-for="(bottomMenu, index) in footerBottomMenu" :key="index">
            <nuxt-link class="nav-item" :to="localePath(bottomMenu.fields.menuItemHandler)" v-if="!bottomMenu.fields.isExternalLink">
              <SfMenuItem
                :label="bottomMenu.fields.menuLabel"
                icon=""
              />
            </nuxt-link>
            <a class="nav-item" :href="bottomMenu.fields.menuItemHandler" v-else target='_blank'>
              <SfMenuItem
                :label="bottomMenu.fields.menuLabel"
                icon=""
              />
            </a>
          </SfListItem>
        </SfList>
      </div>
      <div class="footer-bottom-right" v-if="socialNavigation && socialNavigation.length">
        <SfList class="footer-social-menu">
          <SfListItem v-for="(socialMenu, index) in socialNavigation" :key="index">
            <SfMenuItem
              :link="socialMenu.fields.menuExternalLink"
              :target="socialMenu.fields.isExternalLink ? '_blank' : '_self'"
              icon=""
              rel="noopener"
            >
              <template #icon>
                <img
                  :src="socialMenuIcon(socialMenu.fields.menuItemIcon)"
                  :height="socialMenuIconDimention(socialMenu.fields.menuItemIcon).height"
                  :width="socialMenuIconDimention(socialMenu.fields.menuItemIcon).width"
                  loading="lazy"
                  alt="Miko App"
                />
              </template>
            </SfMenuItem>
          </SfListItem>
        </SfList>
      </div>
    </div>
  </SfFooter>
</template>

<script>
import { SfFooter, SfList, SfMenuItem, SfLink, SfButton } from '@storefront-ui/vue';
import {
  getFileUrl,
  getImageDimentions,
  getMenuByPosition
} from '~/helpers/contentful'

export default {
  props: {
    contents: {},
  },
  methods:{
    handlerMethod(){
      fcWidget.open(),fcWidget.show();
    }
  },
  setup(props, context) {
    let [
      footerLogo,
      footerLogoDimentions,
      logoTitle,
      footerCopyright,
      footerBottomMenu,
      socialNavigation,
      footerTopColumn1,
      footerTopColumn2,
      footerTopColumn3,
      footerTopColumn4,
      footerAppNavigation,
      appStoreObj,
      playStoreObj
    ] = [ '', '', '', {}, {} ];
    if (props.contents && Object.keys(props.contents).length) {
      const footerData = props.contents

      const footerLogoObj = footerData && footerData.hasOwnProperty('fields') ? footerData.fields.footerLogo.fields : [];
      logoTitle = footerData && footerData.hasOwnProperty('fields') ? footerData.fields.footerLogo.fields.title : '';

      footerLogo = footerLogoObj ? getFileUrl(footerLogoObj, context.root.$device) : '';
      footerLogoDimentions = getImageDimentions(footerLogoObj);

      footerCopyright = footerData && footerData.hasOwnProperty('fields') ? footerData.fields.footerCopyright : '';
      footerTopColumn1 = footerData && footerData.hasOwnProperty('fields') ? getMenuByPosition(footerData.fields.footerTop, 'Footer Top: Column-1 Menu') : '';
      footerTopColumn2 = footerData && footerData.hasOwnProperty('fields') ? getMenuByPosition(footerData.fields.footerTop, 'Footer Top: Column-2 Menu') : '';
      footerTopColumn3 = footerData && footerData.hasOwnProperty('fields') ? getMenuByPosition(footerData.fields.footerTop, 'Footer Top: Column-3 Menu') : '';
      footerTopColumn4 = footerData && footerData.hasOwnProperty('fields') ? getMenuByPosition(footerData.fields.footerTop, 'Footer Top: Column-4 Menu') : '';
      footerAppNavigation = footerData && footerData.hasOwnProperty('fields') ? getMenuByPosition(footerData.fields.footerTop, 'Footer: App Navigation') : '';
      footerBottomMenu = footerData && footerData.hasOwnProperty('fields') ? getMenuByPosition(footerData.fields.footerBottom, 'Footer Bottom Navigation') : [];
      socialNavigation = footerData && footerData.hasOwnProperty('fields') ? getMenuByPosition(footerData.fields.footerBottom, 'Social Navigation') : [];

      appStoreObj = footerAppNavigation ? footerAppNavigation.find(menu => menu.fields.menuItemHandler === 'app-store') : {};
      playStoreObj = footerAppNavigation ? footerAppNavigation.find(menu => menu.fields.menuItemHandler === 'play-store'): {};
    }
    const socialMenuIcon = (menuicon) => getFileUrl(menuicon.fields, context.root.$device);
    const socialMenuIconDimention = (menuicon) => getImageDimentions(menuicon.fields);
    return {
      footerLogo,
      footerLogoDimentions,
      logoTitle,
      footerCopyright,
      footerBottomMenu,
      socialNavigation,
      footerTopColumn1,
      footerTopColumn2,
      footerTopColumn3,
      footerTopColumn4,
      footerAppNavigation,
      socialMenuIcon,
      socialMenuIconDimention,
      appStoreObj,
      playStoreObj
    }
  },
  components: {
    SfFooter,
    SfList,
    SfMenuItem,
    SfLink,
    SfButton
  }
};
</script>
<style lang="scss">
.fc-widget-small, .fc-widget-normal{
  display: none !important;
}
.fc-widget-small.h-open-container, .fc-widget-normal.h-open-container{
  display: block !important;
}
.d-hotline.h-btn.animated.zoomIn.faster {
    display: none !important;
}
body #fc_frame.fc-widget-normal{
  bottom: 115px !important;
}
@media (max-width:767px) {
    body #fc_frame, body #fc_frame.fc-widget-small, body #fc_frame.fc-mobile-view.h-open-container {
        bottom: 75px !important;
        max-height: 74% !important;
        right: 0;
        margin: auto;
        width: 367px !important;
    }
}
@media (max-width:539px) {
    body #fc_frame, body #fc_frame.fc-widget-small, body #fc_frame.fc-mobile-view.h-open-container {
        max-height: 70% !important;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    body .fc-widget-small div.hotline-launcher.h-open{
      width: 100%;
      margin:0;
    }
}
@media (max-width:320px) {
    body #fc_frame, body #fc_frame.fc-widget-small, body #fc_frame.fc-mobile-view.h-open-container {
      bottom:48px !important;
      width: 342px !important;
    }
    body #fc_frame.fc-widget-normal.h-open-container{
      bottom:68px !important;
      width: 325px !important;
    }
  
}
</style>
<style lang="scss" scoped>
.site-footer {
  background: var(--c-primary-lighten);
  padding: 40px 0 100px;
  @media (min-width:768px){
    padding: 60px 0 120px;
  }
  @media (min-width:3280px){
    padding-bottom:130px;
  }
}
::v-deep .sf-footer__container {
  display: block;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width:2200px){
    max-width: 1920px;
  }
  @media (min-width:3280px){
    max-width: 2880px;
  }
}
.footer-top {
  padding-bottom: 30px; 
  @media (min-width:768px){
    padding-bottom: 35px;
  }
}
::v-deep .sf-footer-column__title,
.sf-footer-column {
  background: var(--c-primary-lighten);
  color: var(--c-black);
  font-size: var(--font-size--sm);
  @media (min-width:2200px){
    font-size: var(--font-size--lg);
  }
  @media (min-width:3280px){
    font-size: var(--font-size--xxl);
  }
}
::v-deep .sf-footer-column__title {
  text-transform: none;
  padding: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  pointer-events: none;
  @media (min-width:768px){
    margin-bottom: 20px;
    cursor: default;
  }
  .sf-footer-column__chevron {
    display: none;
    .sf-chevron__bar {
      &::after {
        background: var(--c-black);
      }
    }
  }
}
::v-deep .sf-menu-item {
  .sf-menu-item__label {
    color: var(--c-black);
    font-size: var(--font-size--sm);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    &:hover {
      color:var(--c-primary);
    }
    @media (min-width:2200px){
      font-size: 24px;
    }
    @media (min-width:3280px){
      font-size: 34px;
    }
  }
}
.footer-logo {
  line-height: 1;
  font-size: 0;
  margin-bottom: 40px;
  @media (min-width:768px){
    margin-bottom: 50px;
  }
  @media (min-width:2200px){
    img{
      width: 130px;
    }
  }
  @media (min-width:3280px){
    img{
      width: 200px;
    }
  }
}
.footer-menus-sec {
  display: flex;
  flex-direction: column;
  @media (min-width:1024px){
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
}
.footer-menu-list {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  flex-wrap: wrap;
  @media (min-width:1024px){
    width: 58.333333%;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: nowrap;
  }
  .sf-footer-column {
    width: 25%;
    margin: 0;
    padding: 0 15px;
    @media (max-width: 767px) {
      width: 100%;
      border-bottom: solid 1px var(--c-black);
      padding: 0 0 10px;
      & + .sf-footer-column {
        padding-top: 10px;
      }
    }
    ::v-deep .sf-footer-column__content {
      .sf-list:not(:empty) {
        @media (max-width: 767px) {
          padding-top: 10px;
        }
      }
    }
    .sf-list__item {
      margin: 0 0 5px;
      &:last-child {
        margin-bottom:0;
      }
      ::v-deep .sf-menu-item__label {
        text-align: left;
      }
      ::v-deep .sf-button{
        background: transparent;
        padding: 0;
        text-transform: capitalize;
      }
    }
  }
}
.footer-app-list-sec {
  display: flex;
  flex-direction: column;
  @include for-mobile {
    width: 100%;
    margin-top: 20px;
  }
  @media (max-width: 767px) {
    margin-top: 40px;
    align-items: center;
  }
  h3 {
    font-weight: 700;
    font-size: var(--font-size--sm);
    margin-top: 0;
    margin-bottom: 22px;
    @media (min-width:768px){
      margin-bottom: 16px;
      font-size: var(--font-size--sm);
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xl);
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xxl);
    }
  }
  .footer-app-list {
    display: flex;
    .footer-app-item {
      a {
        display: flex;
        padding: 16px 20px;
        align-items: center;
        font-weight: 500;
        color: var(--c-black);
        border: solid 2px var(--c-black);
        border-radius: 10px;
        font-size: var(--font-size--sm);
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        @media (max-width: 399px) {
          padding: 10px;
        }
        @media (min-width:2200px){
          font-size: var(--font-size--lg);
        }
        @media (min-width:3280px){
          font-size: 32px;
        }
        svg {
          margin-right:16px;
          path {
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
          }
          @media (min-width:3280px){
            width: 28px;
            height: 28px;
          }
        }
        &:hover {
          border-color: var(--c-primary);
          color: var(--c-primary);
          svg {
            path {
              fill: var(--c-primary);
            }
          }
        }
      }
      & + .footer-app-item {
        margin-left:16px;
      }
    }
  }
}
.footer-bottom {
  border-top: solid 1px var(--c-black);
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    padding-top: 20px;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    border-top: 0;
    flex-direction: column;

  }
  .footer-bottom-left {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      order: 2;
    }
    @media (max-width: 399px) {
      flex-direction: column;
      align-items: center;
    }
    .footer-bottom-menu {
      margin-left: 10px;
      display: flex;
      align-items: center;
      @media (min-width: 768px) {
        margin-left: 24px;
      }
      @media (max-width: 399px) {
        margin-left: 0;
        margin-top: 10px;
      }
      .sf-list__item {
        line-height:1;
        & + .sf-list__item {
          margin-left: 10px;
          padding-left: 10px;
          border-left: solid 1px var(--c-black);
        }
        .sf-menu-item {
          font-weight:normal;
          text-decoration: underline;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 150ms;
          ::v-deep .sf-menu-item__label {
            font-size: var(--font-size--xs);
            @media (min-width:2200px){
              font-size: var(--font-size--lg);
            }
            @media (min-width:3280px){
              font-size: 28px;
            }
          }
          &.nuxt-link-active {
            color:var(--c-primary);
            ::v-deep .sf-menu-item__label {
              color:var(--c-primary);
            }
          }
        }
      }
    }
    .sf-footer__copyright {
      font-family: var(--font-family--primary);
      color: var(--c-black);
      font-size: var(--font-size--xs);
      font-weight: normal;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &:hover {
        color:var(--c-primary);
      }
      @media (min-width:2200px){
        font-size: var(--font-size--lg);
      }
      @media (min-width:3280px){
        font-size: 28px;
      }
    }
  }
  .footer-bottom-right {
    @media (max-width: 767px) {
      order: 1;
      margin-bottom: 18px;
    }
    .footer-social-menu {
      display: flex;
      align-items: center;
      .sf-list__item {
         display: flex;
         align-items: center;
        & + .sf-list__item {
          display: flex;
           align-items: center;
          @media (min-width:1024px){
            margin-left: 16px;
          }
        }
        .sf-menu-item {
          img{
            @media (min-width:2200px){
              width: 40px;
              height: 40px;
            }
            @media (min-width:3280px){
              width: 50px;
              height: 50px;
            }
          }
          svg {
            path {
              transition-property: all;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 150ms;
            }
          }
          &:hover {
            svg {
              path {
                fill: var(--c-primary);
              }
            }
          }
        }
      }
    }
  }
}
</style>
