<template>
  <SfHeader
    data-cy="app-header"
    @click:cart="toggleCartSidebar"
    @click:account="handleAccountClick"
    :cartItemsQty="cartTotalItems"
    :accountIcon="accountIcon"
  >
    <!-- TODO: add mobile view buttons after SFUI team PR -->
    <template #logo>
      <div class="hamburger-icon-wrap" @click="removeActiveFromTechSpecs">
        <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg" @click="toggleNavigationSidebar">
          <rect width="25.2634" height="3.15792" rx="1.57896" fill="#EB6B6B"/>
          <rect y="8.4209" width="25.2634" height="3.15792" rx="1.57896" fill="#EB6B6B"/>
          <rect y="16.842" width="25.2634" height="3.15792" rx="1.57896" fill="#EB6B6B"/>
        </svg>
      </div>
      <nuxt-link data-cy="app-header-url_logo" :to="localePath('/')" class="sf-header__logo" v-if="mikoLogo">
        <img :src="mikoLogo" :alt="mikoLogoTitle" :width="mikoLogoDimentions.width" :height="mikoLogoDimentions.height" class="sf-header__logo-image" loading="lazy" />
      </nuxt-link>
    </template>

    <template #navigation v-if="$device.isDesktop && menuItems.length > 0">
      <template v-for='(menu, index) in menuItems'>
        <SfButton :key="index" @click="handlerMethod(menu.fields.menuItemActionScript)" link="javascript:void(0);" class="nav-item" id='openChat' v-if='menu.fields.isJavascriptElement'>
          <SfMenuItem
            :label="menu.fields.menuLabel"
            icon=""
          />
        </SfButton>
        <SfLink class="nav-item" :key="index" target='_blank' :link="`${menu.fields.menuExternalLink}`" v-else-if='menu.fields.isExternalLink'>
          <SfMenuItem
            :label="menu.fields.menuLabel"
            icon=""
          />
        </SfLink>
        <nuxt-link v-else class="nav-item" :key="index" :to="localePath(menu.fields.menuItemHandler)" @click.native="scrollToSection($event), $gtm.push({ ecommerce: null }), $gtm.push({event: 'Click', action: 'MenuOpen', value: `${menu.fields.menuLabel} Clicked`, deviceid: deviceExistingUUID});">
          <SfMenuItem
            :data-check ="menu.fields.menuItemHandler"
            :label="menu.fields.menuLabel"
            icon=""
          />
        </nuxt-link>
      </template>
<!-- <SfButton @click="handlerMethod" link="javascript:void(0);" class="nav-item" id='openChat' v-if='column1.fields.isJavascriptElement'>
        <SfMenuItem
          :label="column1.fields.menuLabel"
          icon=""
        />
      </SfButton>
      <SfLink class="nav-item" target='_blank' :link="`${column1.fields.menuExternalLink}`" v-else-if='column1.fields.isExternalLink'>
        <SfMenuItem
          :label="column1.fields.menuLabel"
          icon=""
        />
      </SfLink>
      <nuxt-link v-else class="nav-item" :to="localePath(`/${column1.fields.menuItemHandler}`)">
        <SfMenuItem
          :label="column1.fields.menuLabel"
          icon=""
        />
      </nuxt-link> -->
    </template>
    <template #search>
      <div/>
    </template>
    <template #header-icons>
        <div class="sf-header__icons">
          <div v-if="isLeadPage" >
          </div>
          <div v-else class="btns_wrapper">
          <SfButton
            class="sf-button--pure sf-header__action cart-action toggle-cart-drawer"
            @click="toggleCartSidebar(), sendGTM('Cart-NavBar', 'Cart Icon Clicked')"
            aria-label="Cart"
          >
            <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.3636 14.1788H6.59973L7.34102 12.6689L19.6579 12.6466C20.0744 12.6466 20.4314 12.3491 20.5058 11.9375L22.2115 2.38998C22.2561 2.13958 22.1892 1.88174 22.0255 1.68588C21.9447 1.58949 21.8438 1.51184 21.7299 1.45833C21.616 1.40482 21.4919 1.37671 21.3661 1.37598L5.69728 1.32391L5.56341 0.694186C5.47911 0.29255 5.11714 0 4.70559 0H0.87517C0.643061 0 0.420458 0.0922051 0.256331 0.256331C0.0922052 0.420458 0 0.643061 0 0.875171C0 1.10728 0.0922052 1.32988 0.256331 1.49401C0.420458 1.65814 0.643061 1.75034 0.87517 1.75034H3.99653L4.58163 4.53204L6.02207 11.5061L4.1676 14.5333C4.07129 14.6633 4.01328 14.8176 4.00014 14.9788C3.987 15.1401 4.01924 15.3018 4.09322 15.4456C4.24197 15.7407 4.54196 15.9266 4.87418 15.9266H6.43114C6.09921 16.3675 5.91993 16.9045 5.92042 17.4563C5.92042 18.8596 7.06086 20 8.46411 20C9.86736 20 11.0078 18.8596 11.0078 17.4563C11.0078 16.9034 10.8243 16.3654 10.4971 15.9266H14.4911C14.1592 16.3675 13.9799 16.9045 13.9804 17.4563C13.9804 18.8596 15.1209 20 16.5241 20C17.9274 20 19.0678 18.8596 19.0678 17.4563C19.0678 16.9034 18.8843 16.3654 18.5571 15.9266H21.3661C21.847 15.9266 22.2412 15.5349 22.2412 15.0514C22.2398 14.8196 22.1467 14.5977 21.9823 14.4342C21.8179 14.2707 21.5954 14.1789 21.3636 14.1788ZM6.06173 3.04946L20.3372 3.09657L18.9389 10.926L7.7253 10.9458L6.06173 3.04946ZM8.46411 18.2397C8.03273 18.2397 7.68067 17.8877 7.68067 17.4563C7.68067 17.0249 8.03273 16.6729 8.46411 16.6729C8.8955 16.6729 9.24755 17.0249 9.24755 17.4563C9.24755 17.6641 9.16501 17.8634 9.01809 18.0103C8.87116 18.1572 8.67189 18.2397 8.46411 18.2397ZM16.5241 18.2397C16.0927 18.2397 15.7407 17.8877 15.7407 17.4563C15.7407 17.0249 16.0927 16.6729 16.5241 16.6729C16.9555 16.6729 17.3075 17.0249 17.3075 17.4563C17.3075 17.6641 17.225 17.8634 17.0781 18.0103C16.9312 18.1572 16.7319 18.2397 16.5241 18.2397Z" fill="#F0555D"/>
            </svg>
            <SfBadge v-if="cartTotalItems" class="sf-badge--number cart-badge bg-sf-c-primary">{{cartTotalItems}}</SfBadge>
          </SfButton>
          <SfButton
            class="sf-button--pure sf-header__action user-action toggle-account-drawer"
            @click="handleAccountClick(), sendGTM('Account-NavBar', 'Account Clicked')"
            aria-label="User"
          >
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.48606 0 0 4.48606 0 10C0 15.5139 4.48606 20 10 20C15.5139 20 20 15.5139 20 10C20 4.48606 15.5139 0 10 0ZM10.0962 4.61538C10.7808 4.61538 11.45 4.8184 12.0193 5.19876C12.5885 5.57912 13.0322 6.11974 13.2942 6.75225C13.5562 7.38476 13.6247 8.08076 13.4912 8.75224C13.3576 9.42371 13.0279 10.0405 12.5438 10.5246C12.0597 11.0087 11.4429 11.3384 10.7715 11.4719C10.1 11.6055 9.40399 11.537 8.77148 11.275C8.13897 11.013 7.59835 10.5693 7.21799 10.0001C6.83763 9.4308 6.63462 8.76155 6.63462 8.07692C6.63462 7.15887 6.99931 6.27841 7.64848 5.62925C8.29764 4.98008 9.1781 4.61538 10.0962 4.61538ZM10 18.4615C8.83291 18.462 7.67841 18.2204 6.60943 17.7521C5.54045 17.2837 4.58022 16.5987 3.78942 15.7404C4.21442 13.5394 8.03173 13.0769 10 13.0769C11.9683 13.0769 15.7856 13.5394 16.2106 15.7399C15.4199 16.5984 14.4597 17.2835 13.3907 17.752C12.3217 18.2204 11.1671 18.462 10 18.4615Z" fill="#F0555D"/>
            </svg>
          </SfButton>
          </div>
          <div v-if="isLeadPage" >
            <button class="btn-1 head-buyNow btn-top-buy-now" @click="visible_form = !visible_form">Register Now</button>
            <LeadModal v-if="visible_form" />
          </div>
          <div v-else>
            <nuxt-link v-if="preOrderText" :to="localePath(ctaButtonUrl)" class="btn-1 head-buyNow btn-top-buy-now" @click.native="sendGTM('BuyNow-NavBar', 'Buy Now')">
              {{ preOrderText }}
            </nuxt-link>
          </div>
        </div>
      </template>
  </SfHeader>
</template>

<script type="module">
import { SfHeader, SfButton, SfBadge, SfMenuItem, SfLink } from '@storefront-ui/vue';
import useUiState from '~/composables/useUiState';
import { computed, ref, onMounted } from '@vue/composition-api';
import {
  getFileUrl,
  getImageDimentions,
  getMenuByPosition
} from '~/helpers/contentful'

export default {
  methods: {
    handlerMethod(handlers){
      handlers
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    scrollToSection(e) {
      const linkUri = e.target.baseURI;
      if(linkUri.includes('#')) {
        const sectionId = linkUri.split('#')[1];
        setTimeout(() => {
          const scrollSection = document.getElementById(sectionId);
          scrollSection && scrollSection.scrollIntoView({
            behavior: 'smooth'
          });
        }, 500);
      }
    },
    sendGTM(data, val=null){
        //Handle freechat widget
        if(process.client && fcWidget !== undefined) {
          window.fcWidget.close();
        }
        if (this.isCartSidebarOpen){
          // Trigger pageview for cart open
          this.$gtm.push({ ecommerce: null });
          this.$gtm.push({event: 'ViewContent', action: 'PageView', value: 'Cart', deviceid: this.deviceExistingUUID});
        }
        
        // push event data to datalayer
        this.$gtm.push({event: 'Click', action: data, value: val, deviceid: this.deviceExistingUUID});
    },
    removeActiveFromTechSpecs() {
      if(process.client){
        window.fcWidget.close();
      }
      let headerNav;
      if(this.$device.isDesktop) {
        headerNav = document.querySelector('.sf-header__navigation');
      } else {
        headerNav = document.querySelector('.primary-navigation-items-wrapper');
      }
      let navItems = headerNav && headerNav.querySelectorAll('a.nav-item')
      navItems && navItems.forEach(navItem => {
        if(navItem.getAttribute('href').split('#')[1] === 'tech-specs') {
          if(navItem.classList.contains('nuxt-link-active')) {
            navItem.classList.remove('nuxt-link-exact-active', 'nuxt-link-active');
          }
        }
      });
    },
  },
  components: {
    SfHeader,
    SfButton,
    SfBadge,
    SfMenuItem,
    SfLink,
    LeadModal:() => import ('~~/components/home/LeadModal.vue')
  },
  data () {
        return {
            visible_form: false
        }
  },
  props: {
    contents: {},
    cartTotalItems: Number,
    isUserAuthenticated: Boolean,
    preOrderText: String
  },
  setup(props, context) {
    if (!context.root.$cookies.get('deviceUUID')){
      const deviceUUID = computed(()=> {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {
          let r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      });
      context.root.$cookies.set('deviceUUID', deviceUUID.value, {maxAge: 60 * 60 * 24 * 24000});
    }
    const { slug } = context.root.$route.params;
    const { $router } = context.root;
    const isLeadPage = ref($router.history.current.name.includes('lead'));
    const deviceExistingUUID = computed(()=> context.root.$cookies.get('deviceUUID'));
    let routePath = context.root.context.route.path
    let [ 
      mikoLogo,
      mikoLogoDimentions,
      mikoLogoTitle,
      ctaButtonUrl,
      menuItems
    ] = [ '', [], '', '', '', [] ];
    if (props.contents && Object.keys(props.contents).length) {
      const HeaderData = props.contents;
      
      const logoObj = HeaderData && HeaderData.hasOwnProperty('fields') ? HeaderData.fields.logo.fields : [];
      mikoLogoTitle = HeaderData && HeaderData.hasOwnProperty('fields') ? HeaderData.fields.logo.fields.title : '';
      
      mikoLogo = logoObj ? getFileUrl(logoObj , context.root.$device) : '';
      mikoLogoDimentions = getImageDimentions(logoObj);
      
      ctaButtonUrl = HeaderData && HeaderData.hasOwnProperty('fields') ? HeaderData.fields.ctaButtonUrl : '';

      menuItems = HeaderData && HeaderData.hasOwnProperty('fields') ? getMenuByPosition(HeaderData.fields.topMainNavigation, 'Guest: Primary Navigation') : [];

    }
    const { toggleCartSidebar, toggleAccountSidebar, toggleLoginModal, toggleNavigationSidebar, isCartSidebarOpen } = useUiState();

    const getVariantIdByAttribs = (productInfo, attrib) => {
      return productInfo.variants.find((variant) => variant.selectedOptions.some(variantInfo => variantInfo.value === attrib));
    }

    let selectedVariant = ref('Martian Red');

    const accountIcon = computed(() => props.isUserAuthenticated ? 'profile_fill' : 'profile');

    // TODO: https://github.com/DivanteLtd/vue-storefront/issues/4927
    const handleAccountClick = async () => {
      if (props.isUserAuthenticated) {
        toggleAccountSidebar();
        return;
      }
      toggleLoginModal();
    };
    onMounted(async () => {
      if (context.root.$router.history.current.query && context.root.$router.history.current.query.hasOwnProperty('fp')){
        toggleLoginModal();
      }
    })
    return {
      selectedVariant,
      getVariantIdByAttribs,
      routePath,
      mikoLogo,
      mikoLogoTitle,
      mikoLogoDimentions,
      accountIcon,
      ctaButtonUrl,
      menuItems,
      handleAccountClick,
      toggleCartSidebar,
      toggleAccountSidebar,
      toggleNavigationSidebar,
      isCartSidebarOpen,
      deviceExistingUUID,
      slug,
      isLeadPage
    };
  }
};
</script>

<style lang="scss" scoped>
::v-deep .sf-header__wrapper {
  box-shadow:0 0 0;
  backdrop-filter: blur(100px);
  background-color:rgba(255, 255, 255, 0.8);
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  ::v-deep .sf-header__wrapper {
    box-shadow:0 0 0;
    backdrop-filter: blur(100px);
    background-color:rgba(255, 255, 255, 0.3);
  }
}

::v-deep .sf-header__header {
  max-width: 1280px;
  padding-left:15px;
  padding-right:15px;
  @include for-mobile {
    justify-content: space-between;
  }
  @media (min-width:2200px){
    max-width: 1920px;
  }
  @media (min-width: 3280px) {
    max-width: 2880px;
  }
}

::v-deep .sf-header__logo {
  margin-right:68px;
  @media (min-width: 2200px) {
    display: block;
    --image-width:auto;
    --image-height:auto;
    width: 130px;
    img{
      width: 100%;
    }
  }
  @media (min-width: 3280px) {
    width: 200px;
    img{
      width: 100%;
    }
  }
  @media (max-width: 1279px) {
    margin-right:28px;
  }
  @media (max-width: 767px) {
    margin-right:0px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
  img {
    display: block;
  }
  @media (min-width:3280px){
    width: 200px;
    img{
      width: 100%;
    }
  }
}

::v-deep .sf-header__navigation {
  --header-navigation-margin: 0;
  display: flex;
  @include for-mobile {
    flex: 1 1 auto;
  }
  @media (max-width: 767px) {
    display: none;
  }
  a{
    position: relative;
    text-decoration: none;
    .sf-menu-item {
      z-index:2;
      position: relative;
      white-space: nowrap;
      text-transform: none;
      color: var(--c-black);
      font-size: var(--font-size--sm);
      padding-top: 19px;
      padding-bottom: 19px;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
      @media (min-width:1024px){
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: var(--spacer-lg);
        padding-right: var(--spacer-lg);
      }
      @media (min-width:2200px){
        font-size: var(--font-size--lg);
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 45px;
        padding-right: 45px;
      }
    }
    &::after {
      content: "";
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      height: 0;
      z-index:1;
      transform: translateY(-50%);
    }
    &.nuxt-link-active,
    &:hover {
      .sf-menu-item__label {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transition-timing-function: linear;
        color: var(--c-white);

      }
      &::after {
        height:100%;
        background: var(--c-primary);
      }
    }
    &.nuxt-link-active {
      .sf-menu-item__label {
        font-weight: bold;
      }
    }
  }
}

::v-deep .sf-header__actions {
  line-height: 1;
  justify-content: flex-start;
  @include for-mobile {
    flex: 1 1 auto;
  }
  @media (max-width: 767px) {
    flex: none;
  }
}

::v-deep .sf-header__action {
  margin-left: 26px;
  svg{
    pointer-events: none;
  }
  &:first-child {
    margin-left: 0px;
  }
  @include for-mobile {
    margin-left: 20px;
  }
  svg {
    path {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
  @media (min-width:2200px){
    margin-left: 30px;
    svg{
      width: 35px;
      height: 35px;
    }
  }
  @media (min-width:3280px){
    margin-left: 40px;
    svg{
      width: 45px;
      height: 45px;
    }
  }
  &.cart-action {
    position: relative;
    svg{
      pointer-events: none;
    }
    .cart-badge {
      pointer-events: none;
      padding:0;
      min-width: 0;
      min-height: 0;
      width: 15px;
      height: 15px;
      position: absolute;
      font-size: 10px;
      font-weight: normal;
      text-align: center;
      line-height: 1.4;
      right: -4px;
      top: -6px;
      background: var(--c-primary);
      @media (min-width: 768px) {
        top: 4px;
      }
      @media (min-width:2200px){
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 17px;
      }
      @media (min-width:3280px){
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 23px;
      }
    }
  }
}

::v-deep .sf-header__icons {
  display:flex;
  margin-left: auto;
  @include for-mobile {
    order: 3;
  }
  @media (max-width: 767px) {
    display:flex;
    margin-left: 0;
  }
}

::v-deep .sf-header__aside {
  display: none;
}

.hamburger-icon-wrap {
  display: none;
  @media (max-width: 767px) {
    display: inline-flex;
  }
}
.btns_wrapper{display: flex;}
.head-buyNow{
  display: none;
  color:var(--c-white);
  background: var(--c-primary);
  border-color: var(--c-primary);
  width: auto;
  font-size: 16px;
  margin-left: 25px;
  padding: 9px 20px;
  font-weight: 700;
  &:hover{
    color: var(--c-primary);
    background: transparent;
  }
  @media (min-width:768px){
    display: block;
  }
  @media (min-width:2200px){
    font-size: var(--font-size--lg);
    padding: 13px 35px;
    margin-left: 30px;
  }
  @media (min-width:3280px){
    font-size: var(--font-size--xxl);
    padding: 18px 40px;
    margin-left: 40px;
  }
}
</style>
