<template>
  <div class="pdp_bottom_bar" :class="{ 'has-scrolled': hasScroled, 'bottom-space': $device.isDesktop }">
    <div class="pdp_bottom_bar_block container">
      <div class="pdp_bottom_bar_title_price">
        <div class="product_bottom_bar_title">
          <h2>{{ productTitle }}</h2>
        </div>
        <div class="product_bottom_bar_price">
          <label>From</label>
          <span><template
                    v-if="
                      productPrice.special &&
                      parseFloat(productPrice.special) <
                        parseFloat(productPrice.regular)
                    "
                  >
                    <SfPrice
                      :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                        $n(productPrice.regular, 'decimal')}`
                      "
                      :special="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                        $n(productPrice.special, 'decimal')}`
                      "
                    />
                  </template>
                  <SfPrice
                    :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                      $n(productPrice.special, 'decimal')}`
                    "
                    v-else-if="
                      productPrice.special &&
                      parseFloat(productPrice.special) >
                        parseFloat(productPrice.regular)
                    "
                  />
                  <SfPrice
                    :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                      $n(productPrice.regular, 'decimal')}`
                    "
                    v-else
                  /></span>
        </div>
      </div>
        <div class="flex items-center" v-if="options && Object.keys(options).length > 0">
                  <div v-if="isLeadPage" >
                  </div>
                  <div v-else>
                    <template v-for="(option, o) in options">
                      <div
                        :key="o ? `attrib-${o.toLowerCase()}` : ''"
                        :class="o ? `product__${o.toLowerCase()}s` : ''"
                      >
                        <div class="color-option small-co">
                        <SfColor
                          data-cy="product-color_update"
                          v-for="(attribs, a) in option"
                          :key="`item-${a}`"
                          :color="attribs"
                          :class="`product__color ${attribs.toLowerCase().replace(/ /g,'')}`"
                          :aria-label="attribs"
                          @click="
                            (atttLbl = o), updateFilter({ [atttLbl]: attribs })
                          "
                          :selected="selectedVariant === attribs"
                        />
                        </div>
                      </div>
                    </template>
                  </div>
                  
                  <div v-if="isLeadPage" >
                    <button class="cart-btn lead_btn" @click="visible_form = !visible_form">
                      <div class="lead_btn">
                        <span class="btn-add-to-cart btn-sticky-add-to-cart">Register Now</span>
                      </div>
                    </button>
                    <LeadModal v-if="visible_form" />
                  </div>
                  <div v-else>
                    <SfButton
                    class="sf-add-to-cart__button cart-btn"
                    @click="addingToCart({ product: {variantBySelectedOptions: {id: ChosenVariantId}}, quantity: 1 })"
                    :disabled="addtocartLoading"
                    >
                      <SfLoader :class="{ loader: addtocartLoading }" :loading="addtocartLoading">
                        <span class="btn-add-to-cart btn-sticky-add-to-cart">{{preOrderText}}</span>
                      </SfLoader>
                    </SfButton>
                  </div>
                </div>
      </div>
    </div>
</template>

<script>
import {
  SfHeading,
  SfPrice,
  SfAddToCart,
  SfButton,
  SfColor,
  SfSelect,
  SfLoader
} from "@storefront-ui/vue";
import { useUiHelpers, useUiState, useUiNotification } from '~/composables';
import { useCart, productGetters } from "@vue-storefront/shopify";
import { computed, ref } from "@vue/composition-api";

export default {
  components: {
    SfHeading,
    SfPrice,
    SfAddToCart,
    SfButton,
    SfColor,
    SfSelect,
    SfLoader,
    LeadModal:() => import ('~~/components/home/LeadModal.vue')
  },
  props: {
    products: Object,
    preOrderText: String
  },
  data() {
    return {
      isScrolling: false,
      hasScroled: false,
      scrollTop: 0,
      lastScrollTop: 0,
      bottombarPosition: 100,
      addtocartLoading: false,
      visible_form: false
    };
  },
  watch: {
    $route(to, from) {
      if (to !== from) {
        this.addToCartBtnPosition();
        if(this.$device.isDesktop) {
          this.addToCartBtnPosition();
        }
      }
    },
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  beforeMount() {
    this.$nextTick(() => {
      window.addEventListener("load", () => {
        if(this.$device.isDesktop) {
          this.addToCartBtnPosition();
        }
      });
      window.addEventListener("resize", () => {
        if(this.$device.isDesktop) {
          this.addToCartBtnPosition();
        }
      });
      window.addEventListener(
        "scroll",
        () => {
          this.isScrolling = true;
        },
        { passive: true }
      );
      setInterval(() => {
        if (this.isScrolling) {
          this.hasScrolled();
          this.isScrolling = false;
        }
      }, 250);
    });
  },
  methods: {
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    async addingToCart(Productdata) {
      this.addtocartLoading = true;
      const activeProduct = this.getVariantIdByAttribs(this.product, this.selectedVariant);
      await this.addItem(Productdata).then(() => {
        this.toggleCartSidebar();
        // Track add to cart based on ecommerce enhancement
        this.$gtm.push({ ecommerce: null });
        this.$gtm.push({
            event: "addToCart",
            action: '', 
            deviceid: this.deviceExistingUUID,
            // eslint-disable-next-line camelcase
            content_type: 'product_group',
            // eslint-disable-next-line camelcase
            content_ids: [parseInt(this.getOriginalID(this.product.id))],
            value: activeProduct.priceV2.amount,
            currency: activeProduct.priceV2.currencyCode,
            // eslint-disable-next-line camelcase
            content_category: Productdata.product.slug === this.$config.mikoMaxHandle? 'VIRTUAL' : 'PHYSICAL',
            content_name: this.selectedVariant,
            num_items: 1,
            'ecommerce': {
              'currencyCode': activeProduct.priceV2.currencyCode,
              'add': {
                'products': [{
                  'name': this.product.title,
                  'id': activeProduct.sku,
                  price: activeProduct.priceV2.amount,
                  brand: 'Miko',
                  category: 'Commerce',
                  variant: this.selectedVariant,
                  quantity: 1
                }]
              }
            }
          });
      });
      this.addtocartLoading = false;
    },
    hasScrolled() {
      this.scrollTop = window.scrollY;
      if (this.scrollTop > this.bottombarPosition) {
        this.hasScroled = true;
      } else {
        this.hasScroled = false;
      }
      this.lastScrollTop = this.scrollTop;
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    addToCartBtnPosition() {
      if (this.$route.name.includes("home")) {
        const belowHeroBannerSection = document.getElementsByClassName(
          "home-below-hero-banner"
        );
         this.bottombarPosition = belowHeroBannerSection.length > 0 && belowHeroBannerSection[0].offsetHeight + 50;
      } else {
        this.bottombarPosition = 100;
      }
    },
  },
  setup(props, context) {
    const {getOriginalID} = useUiHelpers();
    const deviceExistingUUID = context.root.$cookies.get('deviceUUID');
    const slug = context.root.$config.mikoHandle;
    const { addItem, loading } = useCart();
    const { send: sendNotification } = useUiNotification();
    const { toggleCartSidebar } = useUiState();
    const { $router } = context.root;
    const isLeadPage = ref($router.history.current.name.includes('lead'));

    const getFilteredProduct = props.products;
  
    
    const product = computed(
      () =>
        productGetters.getFiltered(getFilteredProduct, {
          master: true,
        })[0]
    );
    let selectedVariant = ref('Martian Red');
    let ChosenVariantId = product.value ? ref(product.value.variants[0].id): '';
    const productTitle = computed(() => productGetters.getName(product.value));
    const productPrice = computed(() => productGetters.getPrice(product.value));
    const options = computed(() =>
      productGetters.getAttributes(product.value)
    );
     const getVariantIdByAttribs = (productInfo, attrib) => {
      return productInfo.variants.find((variant) => variant.selectedOptions.some(variantInfo => variantInfo.value === attrib));
    }
    const updateFilter = (filter) => {
      selectedVariant.value = filter.Color;
      ChosenVariantId.value = getVariantIdByAttribs(product.value,filter.Color).id;
    };
    return {
      addItem,
      sendNotification,
      product,
      productTitle,
      productPrice,
      options,
      updateFilter,
      selectedVariant,
      ChosenVariantId,
      toggleCartSidebar,
      getVariantIdByAttribs,
      deviceExistingUUID,
      loading,
      getOriginalID,
      isLeadPage
    };
  },
};
</script>
<style lang="scss" scoped>
.pdp_bottom_bar {
  box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-in-out;
  background:var(--c-white) url(/homepage/miko-face.webp) no-repeat;
  background-position: top left -20px;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
  padding-top: 19px;
  padding-bottom: 19px;
  &.bottom-space{
    bottom: -70px;
    @media (min-width:768px){
      bottom: -100px;
    }
    @media (min-width:3280px){
      bottom: -113px;
    }
  }
  &.has-scrolled {
    bottom: 0 !important;
  }
  .pdp_bottom_bar_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:767px){
      padding-left: 0;
      padding-right: 0;
    }
  }
  .pdp_bottom_bar_title_price {
    display: flex;
    align-items: center;
    padding-left: 15px;
    @media (min-width:768px){
      padding-left: 0;
    }
    .product_bottom_bar_title {
      display: none;
      border-right: solid 1px var(--c-black);
      line-height: 1;
      margin-right: 25px;
      padding-right: 25px;
      h2{
        margin: 0;
        @media (min-width:3280px){
          font-size: 56px;
        }
      }
      @media (min-width:768px){
        display: block;
      }
    }
    .product_bottom_bar_price {
      font-size: var(--font-size--xxl);
      font-weight: normal;
      .sf-price {
        display: flex;
        align-items: center;
      }
      .sf-price__old {
        font-size: var(--font-size--lg);
        color: var(--c-gray-9a9a9a);
        font-size: 21px;
        font-weight: 400;
        order: 2;
        margin-left: 10px;
        margin-right: 0;
        @media (max-width: 399px) {
          margin-left: 5px;
        }
        &:after {
          @media (max-width: 374px) {
            top: 4px;
          }
        }
      }
      .sf-price__special {
        order: 1;
        font-weight: 700;
      }
      @media (min-width:3280px){
        .sf-price__regular{
          font-size: 40px;
        }
      }
      label{
        display: block;
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
  @media (max-width: 1500px) {
    background-position: -35px;
    background-size: auto 100%;
  }
  @media (max-width: 1340px) {
    background-image: none;
  }
  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
    .pdp_bottom_bar_title_price {
      .product_bottom_bar_price {
        span {
          line-height: 1;
          font-weight: 700;
        }
        label {
          font-size: var(--font-size--sm);
          color: var(--c-secondary-lighten);
          line-height: 1;
          padding-top:3px;
        }
        .sf-price__old {
          font-size: 19px;
        }
        @media (max-width: 374px) {
          .sf-price__special {
              font-weight: 700;
            }
          .sf-price__special,
          .sf-price__old {
            line-height: 1;
            font-size: 14px;
          }
          .sf-price__old {
            font-size: 13px;
          }
        }
      }
    }
    ::v-deep .color-option {
      &.small-co {
        margin-right: 10px;
      }
    }
  }
}
.lead_btn{
  padding: 22px 30px;
  color: #fff;
  cursor: pointer;
  font-weight: var(--font-weight--bold);
  flex-grow: 1;
  position: static;
  white-space: var(--button-wrap,nowrap);
  width: 100%;
  height: 100%;
  border: none;
    @media (min-width: 768px) {
      padding: 16px 46px;
    }
    @media (max-width: 400px) {
      padding: 22px 18px;
    }
}
.cart-btn {
  background: var(--c-black);
  padding: 0;
  text-transform: capitalize;
  font-size: var(--font-size--lg);
  margin: 0;
  min-width: 138.19px;
  min-height: 68px;
  flex-direction: column;
  overflow: hidden;
  @media (min-width: 768px) {
    min-width: 185.81px;
    min-height: 60.8px;
  }
  @media (max-width: 374px) {
    min-width: 100px;
  }
  &:hover{
    background: var(--c-primary);
  }
  @media (min-width: 768px) {
    border-radius: 9999px;
  }
  @media (min-width: 3280px) {
    font-size: 36px;
    min-width: 232.72px;
    min-height: 75.19px;
  }
  .sf-loader {
    padding: 22px 30px;
    flex-grow: 1;
    position: static;
    @media (min-width: 768px) {
      padding: 16px 46px;
    }
    @media (max-width: 374px) {
      padding: 22px 20px;
    }
    .sf-loader__overlay {
      background-color: var(--c-black);
    }
  }
}
</style>
