<template>
  <div id="cart">
    <SfSidebar
      :visible="isCartSidebarOpen"
      :title="cartTitle"
      :subtitle="`(${totalItems})`"
      class="sf-sidebar--right"
      @close="toggleCartSidebar"
      :persistent="true"
    >
      <div class="free-shiping-label" v-if="showShppingLabel">
        <svg
          width="20"
          height="21"
          viewBox="0 0 20 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.029 1.25153C9.32605 1.08656 9.66022 1 10 1C10.3398 1 10.674 1.08656 10.971 1.25153L18.486 5.42553C18.6418 5.51217 18.7716 5.63888 18.862 5.79255C18.9524 5.94622 19 6.12125 19 6.29953V14.5345C18.9999 14.8912 18.9045 15.2413 18.7235 15.5487C18.5426 15.856 18.2828 16.1094 17.971 16.2825L10.971 20.1725C10.674 20.3375 10.3398 20.4241 10 20.4241C9.66022 20.4241 9.32605 20.3375 9.029 20.1725L2.029 16.2825C1.71736 16.1095 1.45763 15.8562 1.27671 15.5491C1.0958 15.2419 1.00026 14.892 1 14.5355V6.29953C0.999993 6.12125 1.04764 5.94622 1.13802 5.79255C1.22839 5.63888 1.3582 5.51217 1.514 5.42553L9.03 1.25153H9.029Z"
            stroke="black"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.5 3.21152L14.5 8.21152V11.7115"
            stroke="black"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4 11.0395L7 12.7115"
            stroke="black"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10 10.7115V20.7115M1 5.71152L10 10.7115L1 5.71152ZM10 10.7115L19 5.71152L10 10.7115Z"
            stroke="black"
            stroke-linejoin="round"
          />
        </svg>
        <span v-if="cartAnnouncements" v-html="cartAnnouncements"> </span>
      </div>
      <div class="free-preorder-label" v-else>
        <svg
          width="18"
          height="16"
          viewBox="0 0 18 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.8347 5.94374H12.6046C12.5147 5.94374 12.4411 6.01729 12.4411 6.10719V7.08784C12.4411 7.17773 12.5147 7.25128 12.6046 7.25128H17.8347C17.9246 7.25128 17.9981 7.17773 17.9981 7.08784V6.10719C17.9981 6.01729 17.9246 5.94374 17.8347 5.94374ZM15.097 8.72226H12.6046C12.5147 8.72226 12.4411 8.79581 12.4411 8.8857V9.86636C12.4411 9.95625 12.5147 10.0298 12.6046 10.0298H15.097C15.1869 10.0298 15.2605 9.95625 15.2605 9.86636V8.8857C15.2605 8.79581 15.1869 8.72226 15.097 8.72226ZM8.27947 4.11523H7.39483C7.26817 4.11523 7.16602 4.21739 7.16602 4.34405V9.41076C7.16602 9.48431 7.20075 9.55173 7.26 9.59464L10.3021 11.8134C10.4042 11.8869 10.5472 11.8665 10.6208 11.7643L11.1458 11.0472V11.0452C11.2194 10.943 11.1969 10.8 11.0948 10.7265L8.50624 8.85506V4.34405C8.50829 4.21739 8.40409 4.11523 8.27947 4.11523Z"
            fill="black"
          />
          <path
            d="M14.9713 11.2945H13.7905C13.676 11.2945 13.5678 11.3537 13.5065 11.4518C13.247 11.8624 12.9446 12.2424 12.5973 12.5898C11.9987 13.1884 11.302 13.6583 10.5277 13.9851C9.72483 14.3243 8.87288 14.4959 7.99438 14.4959C7.11384 14.4959 6.26189 14.3243 5.46103 13.9851C4.68672 13.6583 3.99005 13.1884 3.39144 12.5898C2.79283 11.9912 2.32294 11.2945 1.99605 10.5202C1.65691 9.71931 1.4853 8.86736 1.4853 7.98682C1.4853 7.10627 1.65691 6.25637 1.99605 5.45346C2.32294 4.67916 2.79283 3.98248 3.39144 3.38388C3.99005 2.78527 4.68672 2.31537 5.46103 1.98849C6.26189 1.64935 7.11588 1.47773 7.99438 1.47773C8.87493 1.47773 9.72687 1.64935 10.5277 1.98849C11.302 2.31537 11.9987 2.78527 12.5973 3.38388C12.9446 3.73119 13.247 4.1112 13.5065 4.52184C13.5678 4.61991 13.676 4.67916 13.7905 4.67916H14.9713C15.1123 4.67916 15.2022 4.53206 15.1389 4.40743C13.8068 1.75763 11.1059 0.0353547 8.0904 0.000623177C3.67542 -0.0545386 0.00818607 3.55958 1.39576e-05 7.97048C-0.00815815 12.3895 3.57327 15.9751 7.99234 15.9751C11.0467 15.9751 13.7925 14.2467 15.1389 11.5662C15.2022 11.4416 15.1102 11.2945 14.9713 11.2945Z"
            fill="black"
          />
        </svg>
        <span v-if="cartAnnouncements2" v-html="cartAnnouncements2"> </span>
      </div>
      <template #bar>
        <div></div>
      </template>
      <template #circle-icon="{ close }">
        <div class="close-icon" @click="close">
          <svg
            width="20"
            height="20"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L17 17" stroke="#171717" stroke-width="2" />
            <path d="M17 1L1 17" stroke="#171717" stroke-width="2" />
          </svg>
        </div>
      </template>
      <transition name="sf-collapse-top" mode="out-in">
        <div class="notifications">
          <SfNotification
            :visible="visible"
            title="Are you sure?"
            message="Are you sure you would like to remove this item from the shopping cart?"
            type="secondary"
            v-if="!isLoadervisible"
          >
            <template #action>
              <div class="button-wrap">
                <SfButton
                  class="sf-button_remove_item"
                  @click="handleRemove(productToRemove)"
                  >{{ $t("Yes") }}</SfButton
                >
                <SfButton @click="visible = false">{{ $t("Cancel") }}</SfButton>
              </div>
            </template>
            <template #close>
              <div />
            </template>
          </SfNotification>
        </div>
      </transition>
      <SfLoader
        v-if="isLoadervisible || loading"
        :loading="isLoadervisible || loading"
      >
        <div />
      </SfLoader>
      <transition name="sf-fade" mode="out-in">
        <div
          v-if="totalItems && !isOrderCompleted"
          key="my-cart"
          class="my-cart"
        >
          <div class="miko-card">
            <div class="collected-product-list">
              <transition-group name="sf-fade" tag="div">
                <template v-for="product in products">
                  <SfCollectedProduct
                    data-cy="collected-product-cart-sidebar"
                    :key="cartGetters.getItemId(product)"
                    @click:remove="ConfirmRemove({ product })"
                    :stock="99999"
                    class="collected-product"
                  >
                    <template #title>
                      <div class="product-title" @click="toggleCartSidebar">
                        <nuxt-link
                          :to="
                            product.variant.product.handle ===
                            $config.mikoHandle
                              ? localePath(`${getCartItemLink(product)}`)
                              : localePath('/store/mikomax')
                          "
                          >{{ cartGetters.getItemName(product) }}</nuxt-link
                        >
                      </div>
                    </template>
                    <template #image>
                      <SfImage
                        v-if="productImage(product)"
                        :src="productImage(product).url"
                        :alt="cartGetters.getItemName(product)"
                        :width="productImage(product).details.image.width"
                        :height="productImage(product).details.image.height"
                        class="sf-collected-product__image"
                      />
                    </template>
                    <template #configuration>
                      <div class="collected-product__properties custom_attrib_property" v-if="product.customAttributes.length > 0">
                        <SfProperty
                          name="Warranty for:"
                          :value="extractWarrantyProduct(product.customAttributes) && extractWarrantyProduct(product.customAttributes).value"
                        />
                      </div>
                      <div
                        class="collected-product__properties"
                        v-if="
                          product.variant.product.handle === $config.mikoHandle
                        "
                      >
                        <SfProperty
                          v-for="(
                            attribute, key
                          ) in cartGetters.getItemAttributes(product, [
                            'Color',
                          ])"
                          :key="key"
                          :name="key"
                          :value="attribute"
                        />
                      </div>
                      <div v-else />
                      <div :id="`extend-cart-offer-${getCleanID(product.id)}`" class='btn-cart-offers' v-if="IsExtendEnabled && IsMiko3InCart && !checkIsProductWarrantyInCart(getCleanID(product.variant.id))"/>
                    </template>
                    <template #price>
                      <div class="sf-price">
                        <del
                          v-if="getItemPrice(product).regular > 0"
                        >
                          {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{
                            $n(
                              getItemPrice(product).regular,
                              "decimal"
                            )
                          }}
                        </del>
                        {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{
                          $n(
                            getItemPrice(product).special,
                            "decimal"
                          )
                        }}
                      </div>
                      <template
                        v-if="
                          getCartItemSlug(product) === $config.mikoMaxHandle
                        "
                      >
                        <div
                          v-for="(option, o) in productGetters.getAttributes(
                            getFilteredProduct($config.mikoMaxHandle)
                          )"
                          :class="`product__${o.toLowerCase()}s`"
                          :key="`attrib-${o.toLowerCase()}`"
                        >
                          <SfRadio
                            name="miko-max-plan"
                            v-for="(attribs, a) in option"
                            :class='`cart-${attribs}`'
                            :set="
                              getVariantIdByAttribs(
                                getFilteredProduct($config.mikoMaxHandle),
                                attribs
                              ).sku !== $config.annualSubscriptionProduct
                                ? (onetime = getVariantIdByAttribs(
                                    getFilteredProduct($config.mikoMaxHandle),
                                    attribs
                                  ).price)
                                : ''
                            "
                            :key="`item-${a}`"
                            :value="attribs"
                            description=""
                            :disabled="false"
                            :required="true"
                            @change="
                              (atttLbl = o),
                                (ChosenSubscription = attribs),
                                switchSubscription(
                                  getFilteredProduct($config.mikoMaxHandle),
                                  cartGetters.getItemQty(product),
                                  product.id,
                                  { [atttLbl]: attribs }
                                )
                            "
                            :selected="
                              isChosenSubscription(product, attribs)
                            "
                          >
                          <template #checkmark  v-bind="{ isChecked, disabled }">
                            <div
                              class="sf-radio__checkmark"
                              :class="{ 'sf-radio__checkmark is-active': isChecked }"
                            ></div>
                            <div class='custom-overlay' :class="`cart-${attribs
                                .toLowerCase()
                                .replace(/ /g, '')}`"></div>
                          </template>
                            <template #label>
                              <div class="miko-max-plan-wrap">
                                <div class="miko-max-plan-label-wrap">
                                  <div class="miko-max-plan-label">
                                    {{ attribs }} purchase
                                  </div>
                                  <div class="miko-max-plan-detail">
                                    {{
                                      getVariantIdByAttribs(
                                        getFilteredProduct(
                                          $config.mikoMaxHandle
                                        ),
                                        attribs
                                      ).sku &&
                                      getVariantIdByAttribs(
                                        getFilteredProduct(
                                          $config.mikoMaxHandle
                                        ),
                                        attribs
                                      ).sku ===
                                        $config.annualSubscriptionProduct
                                        ? $store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] + $n(
                                            getVariantIdByAttribs(
                                              getFilteredProduct(
                                                $config.mikoMaxHandle
                                              ),
                                              attribs
                                            ).priceV2.amount / 12,
                                            "decimal"
                                          ) : '$' + $n(
                                            getVariantIdByAttribs(
                                              getFilteredProduct(
                                                $config.mikoMaxHandle
                                              ),
                                              attribs
                                            ).priceV2.amount / 12,
                                            "decimal"
                                          )
                                        : $store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] + $n(
                                            getVariantIdByAttribs(
                                              getFilteredProduct(
                                                $config.mikoMaxHandle
                                              ),
                                              attribs
                                            ).priceV2.amount / 3,
                                            "decimal"
                                          ) : '$' + $n(
                                            getVariantIdByAttribs(
                                              getFilteredProduct(
                                                $config.mikoMaxHandle
                                              ),
                                              attribs
                                            ).priceV2.amount / 3,
                                            "decimal"
                                          )
                                    }}/month
                                  </div>
                                </div>
                                <div class="miko-max-plan-detail-wrap">
                                  <div class="miko-max-plan-label-price">
                                    <del class="miko-max-plan-detail-price" v-if="getVariantIdByAttribs(
                                          getFilteredProduct(
                                            $config.mikoMaxHandle
                                          ),
                                          attribs
                                        ).compareAtPriceV2 ? getVariantIdByAttribs(
                                          getFilteredProduct(
                                            $config.mikoMaxHandle
                                          ),
                                          attribs
                                        ).compareAtPriceV2.amount > 0 : false">{{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{
                                      $n(
                                        getVariantIdByAttribs(
                                          getFilteredProduct(
                                            $config.mikoMaxHandle
                                          ),
                                          attribs
                                        ).compareAtPriceV2 ? getVariantIdByAttribs(
                                          getFilteredProduct(
                                            $config.mikoMaxHandle
                                          ),
                                          attribs
                                        ).compareAtPriceV2.amount : '',
                                        "decimal"
                                      )
                                    }}</del
                                    >&nbsp;&nbsp;{{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{
                                      $n(
                                        getVariantIdByAttribs(
                                          getFilteredProduct(
                                            $config.mikoMaxHandle
                                          ),
                                          attribs
                                        ).priceV2.amount,
                                        "decimal"
                                      )
                                    }}
                                  </div>
                                  <div
                                    class="annual-discount"
                                    v-if="
                                      getVariantIdByAttribs(
                                        getFilteredProduct($config.mikoMaxHandle),
                                        attribs
                                      ).sku === $config.annualSubscriptionProduct &&
                                      onetime
                                    "
                                  >
                                    {{
                                      parseFloat(
                                        ((onetime * 4 -
                                          getVariantIdByAttribs(
                                            getFilteredProduct(
                                              $config.mikoMaxHandle
                                            ),
                                            attribs
                                          ).priceV2.amount) *
                                          100) /
                                          (onetime * 4)
                                      ).toFixed(2)
                                    }}% discount
                                  </div>
                                </div>
                              </div>
                            </template>
                          </SfRadio>
                        </div>
                      </template>
                      <div class="sf-qty">
                        <div class="sf-qty-title">
                          <label>{{ $t("Qty") }}</label>
                          <SfButton @click="ConfirmRemove({ product })" class='cart-btn-remove-item'>{{
                            $t("Remove")
                          }}</SfButton>
                        </div>
                        <SfQuantitySelector
                          :disabled="product.customAttributes.length > 0"
                          :qty="
                            cartGetters.getItemQty(product) > 0
                              ? cartGetters.getItemQty(product)
                              : 1
                          "
                          @input="
                            updateMikoItemQty({ product, quantity: $event })
                          "
                          class="sf-collected-product__quantity-selector"
                        />
                      </div>
                      <template
                        v-if="getCartItemSlug(product) === $config.mikoHandle"
                      >
                        <div
                          v-for="(option, o) in productGetters.getAttributes(
                            getFilteredProduct($config.mikoHandle)
                          )"
                          :key="`attrib-${o.toLowerCase()}`"
                          :class="`product__${o.toLowerCase()}s`"
                        >
                          <div class="color-option">
                            <SfColor
                              data-cy="product-color_update"
                              v-for="(attribs2, a) in option"
                              :key="`item-${a}`"
                              :color="attribs2"
                              :class="`product__color ${attribs2
                                .toLowerCase()
                                .replace(/ /g, '')}`"
                              :aria-label="attribs2"
                              @click="
                                (atttLbl = o),
                                  (ChosenVariant = attribs2),
                                  switchVariant(
                                    getFilteredProduct($config.mikoHandle),
                                    cartGetters.getItemQty(product),
                                    product.id,
                                    { [atttLbl]: attribs2 },
                                    product.variant.id
                                  )
                              "
                              :selected="
                                isChosenVariant(product, attribs2)
                              "
                            />
                          </div>
                        </div>
                      </template>
                    </template>
                    <template #input>
                      <div />
                    </template>
                    <template #actions>
                      <div />
                    </template>
                    <template #remove>
                      <div />
                    </template>
                    <template #more-actions>
                      <div />
                    </template>
                  </SfCollectedProduct>
                </template>
              </transition-group>
            </div>
          </div>
          <template>
            <div class="miko-max-cart-row">
              <SfButton
                class="miko-max-btn btn-add-to-cart"
                :disabled="loading"
                @click="AddAnotherMiko"
                v-if="CanAddMoreMiko"
              >
                {{$t("Add Another Miko")}}
              </SfButton>
            </div>
            <div class="mikomax-card disabled" v-if='false'>
              <!-- <div class="mikomax-card" v-if='!IsMikoMaxInCart'> -->
              <div class="max-card-label">
                {{ mikoMaxCardTitle }}
                <div class="info-tooltip">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                  <div class="tooltip-pop">
                    <h4>{{ mikoMaxTooltipTitle }}</h4>
                    <p
                      v-if="mikoMaxTooltipContents"
                      v-html="mikoMaxTooltipContents"
                    />
                    <nuxt-link
                      to="/store/mikomax"
                      @click.native="toggleCartSidebar"
                      >{{ $t("Learn more") }}</nuxt-link
                    >
                  </div>
                </div>
              </div>
              <div class="max-card-btn">
                <SfButton
                  class="btn-1 text-sf-sm"
                  :disabled="loading"
                  @click="
                    addingToCart({
                      product: {
                        slug: $config.mikoMaxHandle,
                        title: 'Miko max',
                        variantBySelectedOptions: {
                          id: getDefaultVariant($config.mikoMaxHandle).id,
                        },
                      },
                      quantity: 1,
                    })
                  "
                >
                  {{ addMikoMaxButtonLabel }}
                </SfButton>
              </div>
            </div>
            <div class="miko3-card max-card2" v-if="!IsMiko3InCart">
              <div class="max-card-label">
                {{ miko3CardTitle }}
              </div>
              <div class="max-card-btn">
                <SfButton
                  class="btn-1 text-sf-sm btn-add-to-cart"
                  :disabled="loading"
                  @click="
                    addingToCart({
                      product: {
                        slug: $config.mikoHandle,
                        title: 'Miko3',
                        variantBySelectedOptions: {
                          id: getDefaultVariant($config.mikoHandle).id,
                        },
                      },
                      quantity: 1,
                    })
                  "
                >
                  {{ addMiko3ButtonLabel }}
                </SfButton>
              </div>
            </div>
          </template>
          <div class="order-summary-card">
            <h3>{{ orderSummaryLabel }}</h3>
            <div class="summary-property">
              <div class="property-card">
                <span class="summary-name">{{ shippingLabel }}</span>
                <span class="summary-value">
                  {{ shippingType }}
                </span>
              </div>
              <div class="property-card">
                <span class="summary-name">{{ $t("Est. Tax & Fees") }}</span>
                <span class="summary-value"> - </span>
              </div>
              <div class="property-card" v-if="totalDiscount">
                <span class="summary-name">{{ $t("Discount") }}</span>
                <span class="summary-value">
                  {{!totalDiscount.percentage ? $store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$' : ''}}{{ $n(totalDiscount.percentage ? totalDiscount.percentage/100 : totalDiscount.amount, totalDiscount.percentage ? 'percent':'decimal') }}
                </span>
              </div>
              <div class="property-card">
                <span class="summary-name">{{ $t("Subtotal") }}</span>
                <span class="summary-value">
                  <SfPrice :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${$n(totals.subtotal, 'decimal')}`" />
                </span>
              </div>
              <div class="property-card" v-if="parseFloat(totalSavings) > 0">
                <span class="summary-name">{{ $t("Total Savings") }}</span>
                <span class="summary-value">
                  {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{ $n(totalSavings, "decimal") }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div v-else key="empty-cart" class="empty-cart">
          <div class="empty-cart__banner">
            <SfHeading
              :title="emptyCartSubTitle"
              :level="2"
              class="empty-cart__heading"
              :description="emptyCartMessage"
            />
          </div>
        </div>
      </transition>
      <template #content-bottom>
        <transition name="sf-fade">
          <div v-if="totalItems && !isOrderCompleted">
            <SfHeading
              title=""
              description="Free Shipping On Orders with Subtotals over $100"
              customClass="sf-heading--left"
            >
              <template #description="{ description }">
                <div class="cart-free-shipping-text">
                  {{ description }}
                </div>
              </template>
            </SfHeading>
            <SfAlert :message="cartRestrictionMsg" class="cart-validation-msg" type="danger" v-if="IsMikoMaxInCart && !IsMiko3InCart"/>
            <SfLink
              @click="handleCheckout(checkoutURL, parseFloat(totals.subtotal))"
              link="javascript:void(0);"
              :class="IsMikoMaxInCart && !IsMiko3InCart ? 'checkout-disabled' : ''"
            >
              <SfButton
                class="btn-1 checkout-init"
                :disable="IsMikoMaxInCart && !IsMiko3InCart"
              >
                <span>{{ checkoutButtonLabel }}</span>
                <SfPrice :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${$n(totals.subtotal, 'decimal')}`" />
              </SfButton>
            </SfLink>
          </div>
          <div v-else>
            <nuxt-link :to="localePath(`/store/${$config.mikoHandle}`)">
              <SfButton
                class="btn-1 continue-Shopping-btn"
                @click="toggleCartSidebar"
                >{{ continueButtonLabel }}</SfButton
              >
            </nuxt-link>
          </div>
        </transition>
      </template>
    </SfSidebar>
  </div>
</template>
<script type="module">
import {
  SfSidebar,
  SfHeading,
  SfButton,
  SfProperty,
  SfPrice,
  SfCollectedProduct,
  SfImage,
  SfLink,
  SfNotification,
  SfLoader,
  SfQuantitySelector,
  SfColor,
  SfRadio,
  SfAlert
} from "@storefront-ui/vue";
import { onBeforeMount, computed, ref } from "@vue/composition-api";
const SpbClient = require('shopify-buy/index.unoptimized.umd.min.js');
const connSpb= SpbClient.buildClient({
          domain: 'shop-in.miko.ai',
          storefrontAccessToken: '99f5fd909a334730b9a55eb95cb0c35a'
        });
import {
  useCart,
  useProduct,
  useUser,
  cartGetters,
  productGetters,
} from "@vue-storefront/shopify";
import { useUiState, useUiNotification, useUiHelpers } from "~/composables";
import { onSSR } from "@vue-storefront/core";

export default {
  props: {
    contents: {},
    cartTotalItems: Number,
    cartItems: {},
  },
  name: "Cart",
  components: {
    SfSidebar,
    SfButton,
    SfHeading,
    SfProperty,
    SfPrice,
    SfCollectedProduct,
    SfImage,
    SfLink,
    SfNotification,
    SfLoader,
    SfQuantitySelector,
    SfColor,
    SfRadio,
    SfAlert
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      showShppingLabel: true,
      visible: false,
      isLoadervisible: false,
      productToRemove: "",
      IsMiko3InCart: false,
      IsMikoMaxInCart: false,
      IsSubscriptionInCart: false,
      isChecked: false
    };
  },
  mounted() {
    this.CheckIsProductAvailable();
    this.animateFreeShipingLabel();
  },
  watch: {
    isCartSidebarOpen:{
      handler(status) {
        if(status){
          setTimeout(()=>{
            this.initizeExtendOffers();      
          }, 200);
        }
      },
      deep: true,
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    dataAmount: {
      // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
      handler(n) {
        this.dataAmount = n;
      },
      deep: true,
    },
    totals: {
      // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
      handler(n) {
        // Update cart total
        this.$store.commit(
          "SET_CARTTOTAL",
          !this.isOrderCompleted ? this.totalItems : 0
        );
        this.$store.commit(
          "SET_CART_ITEMS",
          !this.isOrderCompleted ? this.cart.lineItems : []
        );
        this.dataAmount = n.subtotal;
        this.CheckIsProductAvailable();
        setTimeout(()=>{
          // reinititialize extend
          this.initizeExtendOffers();
        }, 200);
      },
      deep: true,
    },
  },
  methods: {
    animateFreeShipingLabel() {
      let _this = this;
      if (this.cartAnnouncements2 && this.cartAnnouncements2 != "") {
        setInterval(function () {
          _this.showShppingLabel = !_this.showShppingLabel;
        }, 3000);
      }
    },
    extractWarrantyProduct(custAttribs){
      return custAttribs.find(pp => pp.key=== 'Product');
    },
    ConfirmRemove(product) {
      if (this.notifications.length > 0) {
        this.notifications[0].dismiss();
      }
      this.visible = true;
      this.productToRemove = product;
    },
    getCartItemLink(item) {
      return `/store/${item.variant.product.handle}`;
    },
    getCartItemSlug(item) {
      return item.variant.product.handle;
    },
    sendGTM(productData) {
      // Track cart update based on ecommerce enhancement
      this.$gtm.push({ ecommerce: null });
      this.$gtm.push({
        event: "updateCart",
        action: "",
        value: "",
        deviceid: this.deviceExistingUUID,
        ecommerce: {
          currencyCode: productData.product.variant.priceV2.currencyCode,
          update: {
            products: [
              {
                name: productData.product.title,
                id: productData.product.variant.sku,
                price: productData.product.variant.priceV2.amount,
                brand: "Miko",
                category: "Commerce",
                variant: productData.product.variant.selectedOptions[0].value,
                quantity: productData.quantity,
              },
            ],
          },
        },
      });
    },
    async handleRemove(productObj) {
      this.isLoadervisible = true;
      let warrantyToRemove;
      await this.removeItem(productObj).then(() => {
        // Track removed from cart based on ecommerce enhancement
        this.$gtm.push({ ecommerce: null });
        this.$gtm.push({
          event: "removeFromCart",
          action: "",
          value: "",
          deviceid: this.deviceExistingUUID,
          ecommerce: {
            currencyCode: productObj.product.variant.priceV2.currencyCode,
            remove: {
              products: [
                {
                  name: productObj.product.title,
                  id: productObj.product.variant.sku,
                  price: productObj.product.variant.priceV2.amount,
                  brand: "Miko",
                  category: "Commerce",
                  variant: productObj.product.variant.selectedOptions[0].value,
                  quantity: 1,
                },
              ],
            },
          },
        });
        this.isLoadervisible = false;
        this.visible = false;
        this.sendNotification({
          key: "product_removed",
          message: `${productObj.product.title} has been successfully removed from your cart.`,
          type: "success",
          title: "Product removed!",
          icon: "check",
        });
      });
      // remove warranty if available
      if(productObj.product.variant.product.handle === this.$config.mikoHandle){
          warrantyToRemove = this.fetchWarrantyChosen(productObj.product.variant.id);
          if (warrantyToRemove){
            //Remove warranty on product remove from the cart
              await this.removeItem({product: warrantyToRemove});
          }
      }
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    async handleCheckout(checkoutUrl) {
      if(this.IsMikoMaxInCart && !this.IsMiko3InCart) {
          this.sendNotification({
            key: "not_allowed",
            message: `${this.cartRestrictionMsg}`,
            type: "danger",
            title: "Not allowed!",
          });
          return false;
        }
      this.isLoadervisible =  true;
      // extract google client ID
      const googleClientId = await this.getGoogleClientId().then((res)=>res);
      // extract segment annonymous ID
      const segmentClientId= window.analytics ? await this.getSegmentAnonymousId().then((res)=>res) : '';
      
      const updateAttributes = {}
      updateAttributes.customAttributes = [
        { key: "google-clientID", value: googleClientId },
        { key: "segment-clientID", value: segmentClientId },
		  ];
    const checkoutId = atob(this.$cookies.get(this.$config.appKey+'_cart_id'));
    await connSpb.checkout.updateAttributes(checkoutId,
			updateAttributes);
    
    // Initiate checkout on ecommerce enhancement
      this.$gtm.push({ ecommerce: null });
      this.$gtm.push({
        event: "checkout",
        action: "InitiateCheckout",
        value: "",
        deviceid: this.deviceExistingUUID,
        ecommerce: {
          checkout: {
            products: this.cart
              ? this.cart.lineItems.map((item) => {
                  return [
                    {
                      name: item.title,
                      id: item.variant.sku,
                      price: item.variant.priceV2.amount,
                      brand: "Miko",
                      category: "Commerce",
                      variant: item.variant.selectedOptions[0].value,
                      quantity: item.quantity,
                    },
                  ][0];
                })
              : [],
          },
        },
      });
      // checking if discount_code exists is session storage
      let discount_code = this.checkDiscount()
      window.location.href = checkoutUrl.replace(
        "shop.miko3.ai",
        "shop.miko.ai"
      )+`${discount_code?'&discount='+discount_code:''}`;
    },
    checkDiscount(){
      let discount_code = sessionStorage.getItem("discount_code")
      if (discount_code) {
        return discount_code
      }
      else {
        return ''
      }
    },
    CheckIsProductAvailable() {
      if (this.cart && this.cart.lineItems && this.cart.lineItems.length > 0) {
        // check if miko3 in cart
        this.IsMiko3InCart = this.cart.lineItems.some(
          (e) => e.variant.product.handle === this.$config.mikoHandle
        );

        // check if miko max in cart
        this.IsMikoMaxInCart = this.cart.lineItems.some(
          (e) => e.variant.product.handle === this.$config.mikoMaxHandle
        );

        // check if miko max in cart
        this.IsSubscriptionInCart = this.cart.lineItems.some(
          (e) => e.variant.sku === this.$config.subscriptionProduct
        );
      }
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, { root }) {
    const IsExtendEnabled = root.$store.state.isExtendEnabled;
    const {getOriginalID} = useUiHelpers();
    const { products: cartProducts, search } = useProduct("cart-items");
    let ChosenVariantId = ref(null);
    let ChosenSubscriptionId = ref(null);
    let ChosenVariant = ref(null);
    let ChosenSubscription = ref(null);
    const deviceExistingUUID = root.$cookies.get("deviceUUID");
    const getVariantIdByAttribs = (productInfo, attrib) => {
      return productInfo.variants.find((variant) =>
        variant.selectedOptions.some(
          (variantInfo) => variantInfo.value === attrib
        )
      );
    };
    const checkIsProductWarrantyInCart = (warrantyProduct) => {
      return (products.value).some(warranty => warranty.customAttributes.length > 0 && warranty.customAttributes[0].value === warrantyProduct)
    };
    const extractNumberOfWarrantiesAvailable = () => {
      let count=0;
      let warrantiesToRemove= [];
      // Read all cart products
      for(let ca=0; ca < (products.value).length; ca++){
        if(products.value[ca].customAttributes.length > 0){
          const arr = products.value[ca].customAttributes;
          for(let wk=0; wk < arr.length; wk++){
            if(arr[wk]['key'] === 'Ref') {
              warrantiesToRemove.push(products.value[ca]);
              count++;
            }
          }
        }
      }

      return {warrantyCount: count, warrantiesToRemove:warrantiesToRemove};
    }
    
    const getSubscriptionIdByAttribs = (productInfo, attrib) => {
      return productInfo.variants.find((variant) =>
        variant.selectedOptions.some(
          (variantInfo) => variantInfo.value === attrib
        )
      );
    };
    
    // Generate google client Id
    const getGoogleClientId = () => {
      return new Promise(resolve => {
          // gtag only makes 'ga' function available after the library loads
          // so we have to stub it if undefined here
          window.ga =
            window.ga ||
            function() {
              ;(window.ga.q = window.ga.q || []).push(arguments) //eslint-disable-line
            }
          window.ga.l = +new Date()

          const fallback = window.setTimeout(function() {
            //after 4 seconds, assume the script is blocked
            resolve('')
          }, 4000)
          window.ga(function() {
            // this function is called after GA library initializes
            window.clearTimeout(fallback)
            const tracker = window.ga.getAll()[0]
            const clientId = tracker && tracker.get('clientId')
            return resolve(clientId)
          })
      })
    }
    // Generate segment anonymous Id
    const getSegmentAnonymousId = () => {
      if(!window.analytics) return;
      return new Promise(resolve => {
        const fallback = window.setTimeout(function() {
          //after 4 seconds, assume the script is blocked
          resolve('')
        }, 4000)
        window.analytics.ready(function() {
          window.clearTimeout(fallback)
          resolve(window.analytics.user().anonymousId())
        })
      })
    }
    const getItemPrice = (product) => {
      if(!product) return;
      return {
        regular: product && product?.variant.compareAtPriceV2 != null ? product?.variant.compareAtPriceV2?.amount : null || null,
        special: product && product?.variant.priceV2 != null ? product?.variant.priceV2.amount : 0 || null
      };
    };
    const getTotals = (cart) => {
       if (cart && cart !== null) {
        return {
          total: parseFloat(cart.totalPriceV2.amount),
          subtotal: parseFloat(cart.subtotalPriceV2.amount),
          special: parseFloat(cart.subtotalPriceV2.amount),
        };
      }
    };
    
    const isChosenVariant = (cartItem, electedVariant) =>
      cartItem.variant.selectedOptions[0].value === electedVariant;
    const isChosenSubscription = (cartItem, electedVariant) =>
      cartItem.variant.selectedOptions[0].value === electedVariant
        ? electedVariant
        : "";
    const productImage = (cartItem) => {
      if (cartItem.variant.product.handle === root.$config.mikoMaxHandle) {
        return props.contents &&
          props.contents.fields.hasOwnProperty("mikoMaxImage")
          ? props.contents.fields.mikoMaxImage.fields.file
          : cartGetters.getItemImage(cartItem);
      }
      else if (cartItem.variant.product.handle === root.$config.mikoHandle) {
        if (cartItem.variant.selectedOptions[0].value === "Martian Red") {
          return props.contents &&
            props.contents.fields.hasOwnProperty("mikoPinkImage")
            ? props.contents.fields.mikoPinkImage.fields.file
            : cartGetters.getItemImage(cartItem);
        }
        if (cartItem.variant.selectedOptions[0].value === "Pixie Blue") {
          return props.contents &&
            props.contents.fields.hasOwnProperty("mikoBlueImage")
            ? props.contents.fields.mikoBlueImage.fields.file
            : cartGetters.getItemImage(cartItem);
        }
      }else{
          return {
            "url": "/icons/extend-shield-logo.png",
            "details": {
                "size": 425,
                "image": {
                    "width": 80,
                    "height": 80
                }
            },
            "fileName": "extend-icon.png",
            "contentType": "image/png"
        }
      }
    };
    const getCleanID = (encodedVariantId) => {
        const buff = Buffer.from(encodedVariantId, "base64");
        const decodedId = buff.toString("ascii");
        const extractedInfo = decodedId.split(/[\s/]+/).pop().split("?")[0];
        return extractedInfo;
    };
    const getVariantIdBySKU = (psku, pprice) => {
      for(let i=0; i < (cartProducts.value).length; i++) {
        for(let j=0; j < (cartProducts.value[i].variants).length; j++) {
          if(cartProducts.value[i].variants[j].sku == psku && parseFloat(cartProducts.value[i].variants[j].price) === parseFloat(pprice)) {
            return cartProducts.value[i].variants[j];
          }
        }
      }
    };
    const initizeExtendOffers = () => {
      if (!IsExtendEnabled){
        return;
      }
      if(root.$store.state.cartItems){
        // extract miko3 variants
        const miko3Product = (root.$store.state.cartItems).filter(p => p.variant.product.handle === root.$config.mikoHandle);
        if (miko3Product.length > 0){
          for(let i=0; i < miko3Product.length; i++){
            // initiates extend offers
            initExtendCartOffers(miko3Product[i].variant.id);
          }
        }
      }
    };
    const getParentQty = ((cartParentItemId) => cart.value && cart.value.lineItems.length > 0 ? cart.value.lineItems.find(item => getCleanID(item.variant.id) === cartParentItemId).quantity : 1);
    // Initiate extend product subscription offers
    const initExtendCartOffers = (encodedVariantId) => {
      if (process.client) {
        if (!IsExtendEnabled){
          return;
        }
        if (products.value && products.value.length > 0) {
          // check if warranty already available for the cart item or not
          if((products.value).some(warranty => warranty.hasOwnProperty('customAttributes') && warranty.customAttributes.length > 0 && warranty.customAttributes[0].value === encodedVariantId)){
            return;
          }
        }
        const extractedInfo = getCleanID(encodedVariantId);
        /* Cart PAGE OFFER */
        if (
          document.getElementById("extend-cart-offer-"+extractedInfo+'0') && !Extend.buttons.instance("#extend-cart-offer-"+extractedInfo+'0')) {
          Extend.buttons.renderSimpleOffer("#extend-cart-offer-"+extractedInfo+'0', {
            referenceId: extractedInfo,
            async onAddToCart({ plan, product, quantity }) {
              if (plan && product) {
                const ChosenWarranty = getVariantIdBySKU(plan.planId, (plan.price)/100);
                // a user has selected a plan.  Add warranty to their cart.
                await addingToCart({
                product: {
                  title: plan.title,
                  slug: null,
                  variantBySelectedOptions: { id: ChosenWarranty.id },
                  price: (plan.price)/100,
                  sku: plan.planId
                },
                quantity: getParentQty(product.id),
                customQuery:[{key: "Ref", value: product.id}, {key: "Product", value: product.name}, {key: "Term", value : (plan.term/12)+' year(s) - sold by Extend' }]
              });
              }
            },
          });
        }
      }
    }

    let [
      cartTitle,
      continueButtonLabel,
      checkoutButtonLabel,
      emptyCartSubTitle,
      emptyCartMessage,
      mikoMaxCardTitle,
      mikoMaxTooltipTitle,
      mikoMaxTooltipContents,
      miko3CardTitle,
      addMiko3ButtonLabel,
      addMikoMaxButtonLabel,
      orderSummaryLabel,
      shippingType,
      shippingLabel,
      cartAnnouncements,
      cartAnnouncements2,
      cartRestrictionMsg
    ] = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
    if (props.contents && Object.keys(props.contents).length) {
      const cartContents = props.contents;

      cartTitle =
        cartContents && cartContents.fields.hasOwnProperty("cartTitle")
          ? cartContents.fields.cartTitle
          : "Shopping Cart";
      emptyCartSubTitle =
        cartContents && cartContents.fields.hasOwnProperty("emptyCartSubTitle")
          ? cartContents.fields.emptyCartSubTitle
          : "Woops! your cart is empty";
      emptyCartMessage =
        cartContents && cartContents.fields.hasOwnProperty("emptyCartMessage")
          ? cartContents.fields.emptyCartMessage
          : "";

      continueButtonLabel =
        cartContents &&
        cartContents.fields.hasOwnProperty("continueButtonLabel")
          ? cartContents.fields.continueButtonLabel
          : "Continue Shopping";
      checkoutButtonLabel =
        cartContents &&
        cartContents.fields.hasOwnProperty("checkoutButtonLabel")
          ? cartContents.fields.checkoutButtonLabel
          : "Checkout now";
      mikoMaxCardTitle =
        cartContents && cartContents.fields.hasOwnProperty("mikoMaxCardTitle")
          ? cartContents.fields.mikoMaxCardTitle
          : "";
      mikoMaxTooltipTitle =
        cartContents &&
        cartContents.fields.hasOwnProperty("mikoMaxTooltipTitle")
          ? cartContents.fields.mikoMaxTooltipTitle
          : "";
      miko3CardTitle =
        cartContents && cartContents.fields.hasOwnProperty("miko3CardTitle")
          ? cartContents.fields.miko3CardTitle
          : "";
      mikoMaxTooltipContents =
        cartContents &&
        cartContents.fields.hasOwnProperty("mikoMaxTooltipContents")
          ? cartContents.fields.mikoMaxTooltipContents
          : "";
      addMiko3ButtonLabel =
        cartContents &&
        cartContents.fields.hasOwnProperty("addMiko3ButtonLabel")
          ? cartContents.fields.addMiko3ButtonLabel
          : "";
      addMikoMaxButtonLabel =
        cartContents &&
        cartContents.fields.hasOwnProperty("addMikoMaxButtonLabel")
          ? cartContents.fields.addMikoMaxButtonLabel
          : "";
      orderSummaryLabel =
        cartContents && cartContents.fields.hasOwnProperty("orderSummaryLabel")
          ? cartContents.fields.orderSummaryLabel
          : "Order Summary";
      shippingType =
        cartContents && cartContents.fields.hasOwnProperty("shippingType")
          ? cartContents.fields.shippingType
          : "";
      shippingLabel =
        cartContents && cartContents.fields.hasOwnProperty("shippingLabel")
          ? cartContents.fields.shippingLabel
          : "";
      const cartAnnouncementsAry =
        cartContents && cartContents.fields.hasOwnProperty("cartAnnouncements")
          ? cartContents.fields.cartAnnouncements
          : "";
      cartAnnouncements = cartAnnouncementsAry.length
        ? cartAnnouncementsAry[0].fields.announcement
        : "";
      cartAnnouncements2 = cartAnnouncementsAry.length
        ? cartAnnouncementsAry[0].fields.announcement2
        : "";
      cartRestrictionMsg = cartContents && cartContents.fields.hasOwnProperty("checkoutRestrictionMessageMikomaxPurchase")
          ? cartContents.fields.checkoutRestrictionMessageMikomaxPurchase
          : "Checkout Restriction Message (Mikomax purchase) ";
    }

    const { isCartSidebarOpen, toggleCartSidebar } = useUiState();
    const {
      cart,
      removeItem,
      updateItemQty,
      load: loadCart,
      loading,
      addItem,
    } = useCart("cart-sidebar");

    const { isAuthenticated } = useUser();
    const isOrderCompleted = computed(() => {
      return cart.value && cart.value.orderStatusUrl === null ? false : true;
    });
    const { send: sendNotification, notifications } = useUiNotification();
    const products = computed(() => cartGetters.getItems(cart.value));
    const totals = computed(() => getTotals(cart.value));
    const totalDiscount = computed(() => cartGetters.getTotalDiscount(cart.value));
    const totalSavings = computed(() => {
      let calculatedTotalSavings = 0;
      products.value.forEach((item) => {
        if (item.variant.compareAtPriceV2 !== null) {
          calculatedTotalSavings +=
            (parseFloat(item.variant.compareAtPriceV2?.amount) -
              parseFloat(item.variant.priceV2.amount)) *
            item.quantity;
        }
      });
      if (totalDiscount.value > 0 || Object.keys(totalDiscount.value).length > 0) {
        calculatedTotalSavings += totalDiscount.value.percentage ? cart.value.lineItemsSubtotalPrice.amount * totalDiscount.value.percentage/100 : parseFloat(totalDiscount.value.amount);
      }
      return calculatedTotalSavings;
    });
    const totalItems = computed(() =>
      isOrderCompleted.value ? 0 : cartGetters.getTotalItems(cart.value)
    );
    const checkoutURL = computed(() => cartGetters.getcheckoutURL(cart.value));
    const AddAnotherMiko = async () => {
      let availableVariant, variantToAdd;
      cart &&
        cart.value.lineItems.some((v) =>
          v.variant.product.handle === root.$config.mikoHandle
            ? (availableVariant = v.variant.selectedOptions[0].value)
            : ""
        );
      cartProducts &&
        cartProducts.value.some(
          (p) =>
            p.handle === root.$config.mikoHandle &&
            p.variants.find((vid) =>
              vid.selectedOptions[0].value !== availableVariant
                ? (variantToAdd = vid)
                : ""
            )
        );
      if (variantToAdd) {
        const itemToAdd = variantToAdd.id;
        ChosenVariant.value = variantToAdd.selectedOptions[0].value;
        await addingToCart({
          product: {
            title: "Miko3",
            slug: root.$config.mikoHandle,
            variantBySelectedOptions: { id: itemToAdd },
          },
          quantity: 1,
        });
        initExtendCartOffers(itemToAdd);
      }
      return;
    };
    const fetchWarrantyChosen = (encodedVariantId) => {
      const plainVariant = getCleanID(encodedVariantId);
      return (products.value).find(warranty => warranty.hasOwnProperty('customAttributes') && warranty.customAttributes.length > 0 && warranty.customAttributes[0].value === plainVariant)
    };
    const updateMikoItemQty = async (productObj) => {
      if (productObj.product.quantity === 1 && productObj.quantity === 1) {
        return;
      }
      await updateItemQty(productObj);

      // remove warranty if available
      if(productObj.product.variant.product.handle === root.$config.mikoHandle){
          const warrantyItemToUpdate = fetchWarrantyChosen(productObj.product.variant.id);
          if (warrantyItemToUpdate){
            //Remove warranty on product remove from the cart
              await updateItemQty({product: warrantyItemToUpdate, quantity: productObj.quantity});
          }
      }
      
      // Track cart update based on ecommerce enhancement
      root.$gtm.push({ ecommerce: null });
      root.$gtm.push({
        event: "updateCart",
        action: "",
        value: "",
        deviceid: deviceExistingUUID,
        ecommerce: {
          currencyCode: productObj.product.variant.priceV2.currencyCode,
          update: {
            products: [
              {
                name: productObj.product.title,
                id: productObj.product.variant.sku,
                price: productObj.product.variant.priceV2.amount,
                brand: "Miko",
                category: "Commerce",
                variant: productObj.product.variant.selectedOptions[0].value,
                quantity: productObj.quantity,
              },
            ],
          },
        },
      });
    };
    
    const CanAddMoreMiko = computed(() => {
      let availableVariants = [];

      cart &&
        cart.value.lineItems.some((v) => {
          if (v.variant.product.handle === root.$config.mikoHandle) {
            availableVariants.push(v.variant.selectedOptions[0].value);
          }
        });
      if (availableVariants.length > 1 || availableVariants.length === 0) {
        return false;
      }
      return true;
    });
    const getFilteredProduct = (pslug) => {
      return cartProducts.value.find((p) => p.handle === pslug);
    };
    const getDefaultVariant = (pslug) => {
      const requestedProduct = getFilteredProduct(pslug);
      return requestedProduct.variants[0];
    };
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    const addingToCart = async (Productdata, isAddingToCart = true, variantLbl = '') => {
      if(Productdata.product.slug !== null){
        const defaultVariant = getDefaultVariant(Productdata.product.slug)
          .selectedOptions[0].value;
        if(Productdata.product.slug){
          if (Productdata.product.slug === root.$config.mikoHandle) {
            ChosenVariant.value = defaultVariant;
          } else if (Productdata.product.slug === root.$config.mikoMaxHandle) {
            ChosenSubscription.value = defaultVariant;
          }
        }
      }
      const activeProduct =
        Productdata.product.slug === root.$config.mikoHandle 
          ? await getVariantIdByAttribs(
              getFilteredProduct(root.$config.mikoHandle),
              ChosenVariant.value
            )
          : Productdata.product.slug === root.$config.mikoMaxHandle? await getSubscriptionIdByAttribs(
              getFilteredProduct(root.$config.mikoMaxHandle),
              ChosenSubscription.value
            ) : Productdata.product;
      await addItem(Productdata).then(() => {
        // Track add to cart based on ecommerce enhancement
        root.$gtm.push({ ecommerce: null });
        if (isAddingToCart){
          root.$gtm.push({
            event: "addToCart",
            action: "",
            value: "",
            // eslint-disable-next-line camelcase
            content_type: 'product_group',
            // eslint-disable-next-line camelcase
            content_ids: (Productdata.product.slug === root.$config.mikoHandle || Productdata.product.slug === root.$config.mikoMaxHandle) ? [parseInt(getOriginalID(activeProduct.id))] : [parseInt(getOriginalID(activeProduct.variantBySelectedOptions.id))],
            value: activeProduct.priceV2.amount,
            currency: activeProduct.priceV2.currencyCode,
            // eslint-disable-next-line camelcase
            content_category: Productdata.product.slug === root.$config.mikoMaxHandle ? 'VIRTUAL' : Productdata.product.slug === root.$config.mikoHandle ? 'PHYSICAL' : 'VIRTUAL',
            content_name: Productdata.product.slug === root.$config.mikoMaxHandle ? ChosenSubscription.value : Productdata.product.slug === root.$config.mikoHandle ? ChosenVariant.value : Productdata.product.sku,
            num_items: 1,
            deviceid: deviceExistingUUID,
            ecommerce: {
              currencyCode: activeProduct.priceV2.currencyCode,
              add: {
                products: [
                  {
                    name: activeProduct.selectedOptions[0].value,
                    id: activeProduct.sku,
                    price: activeProduct.priceV2.amount,
                    brand: "Miko",
                    category: "Commerce",
                    variant: Productdata.product.slug === root.$config.mikoMaxHandle ? ChosenSubscription.value : Productdata.product.slug === root.$config.mikoHandle ? ChosenVariant.value : Productdata.product.sku,
                    quantity: 1,
                  },
                ],
              },
            },
          });
        }else{
          root.$gtm.push({
            event: "updateCart",
            action: "",
            value: "",
            deviceid: deviceExistingUUID,
            ecommerce: {
              currencyCode: activeProduct.priceV2.currencyCode,
              update: {
                products: [
                  {
                    name: Productdata.product.slug === root.$config.mikoMaxHandle ? variantLbl.Subscription : variantLbl.Color,
                    id: activeProduct.sku,
                    price: activeProduct.priceV2.amount,
                    brand: "Miko",
                    category: "Commerce",
                    variant: Productdata.product.slug === root.$config.mikoMaxHandle ? variantLbl.Subscription : variantLbl.Color,
                    quantity: 1,
                  },
                ],
              },
            },
          });
        }
        sendNotification({
          key: "product_added",
          message: `${Productdata.product.title} has been successfully added to your cart.`,
          type: "success",
          title: "Product added!",
          icon: "check",
        });
      });
    };
    const switchVariant = async (
      cartItem,
      existingQty,
      existingVariant,
      switchToVariant,
      cleanExistingVariant
    ) => {
      ChosenVariantId.value = getVariantIdByAttribs(
        cartItem,
        switchToVariant.Color
      );
      if (ChosenVariantId.value) {
        await addingToCart({
          product: {
            title: "Miko3",
            slug: root.$config.mikoHandle,
            variantBySelectedOptions: { id: ChosenVariantId.value.id },
          },
          quantity: existingQty
        }, false, switchToVariant);
        await removeItem({ product: { id: existingVariant } });
        
        // check if multiple warranties in cart, if so remove all
        if(extractNumberOfWarrantiesAvailable().warrantyCount > 1){
          const warrantiesToRemove= extractNumberOfWarrantiesAvailable().warrantiesToRemove;
          // remove warranty if available
          for(let wtr=0; wtr < extractNumberOfWarrantiesAvailable().warrantyCount; wtr++){
            //Remove warranty on product remove from the cart
            await removeItem({product: {id : warrantiesToRemove[wtr].id}});
          }
        }else{
          let termsString= '';
          // remove warranty if available
          const warrantyToRemove = fetchWarrantyChosen(cleanExistingVariant);
          if (warrantyToRemove){
            if(warrantyToRemove.hasOwnProperty('customAttributes') && warrantyToRemove.customAttributes.length > 0){
              // check for terms for this warranty from the custom customAttributes
              const planTerms = (warrantyToRemove.customAttributes).find(terms => terms.key === 'Term');
              if(planTerms && planTerms !== ''){
                termsString = planTerms.value;
              }
            }
            //Remove warranty on product remove from the cart
              await removeItem({product: warrantyToRemove});
              await addingToCart({
                  product: {
                    title: warrantyToRemove.title,
                    slug: null,
                    variantBySelectedOptions: { id: warrantyToRemove.variant.id },
                    price: warrantyToRemove.price,
                    sku: warrantyToRemove.variant.sku
                  },
                  quantity: existingQty,
                  customQuery:[{key: "Ref", value: getCleanID(ChosenVariantId.value.id)}, {key: "Product", value: ChosenVariantId.value.title}, {key: "Term", value : termsString }]
                });
          }
        }
      }
    };

    const switchSubscription = async (
      cartItem,
      existingQty,
      existingSubscription,
      switchToSubscription
    ) => {
      ChosenSubscriptionId.value = getSubscriptionIdByAttribs(
        cartItem,
        switchToSubscription.Subscription
      ).id;
      if (ChosenSubscriptionId.value) {
        await addingToCart({
          product: {
            title: "Miko Max",
            slug: root.$config.mikoMaxHandle,
            variantBySelectedOptions: { id: ChosenSubscriptionId.value },
          },
          quantity: existingQty,
        }, false, switchToSubscription);
        removeItem({ product: { id: existingSubscription } });
        return;
      }
    };
    onSSR(async () => {
      await search({ scope: "all" });
    });
    onBeforeMount(async () => {
      if (!cart.value) {
        await loadCart().then(() => {
          if (cart && cart.value.orderStatusUrl !== null) {
            root.$cookies.remove(`${root.$config.appKey}_cart_id`);
            root.$cookies.remove(`${root.$config.appKey}_cart_id`, {
              path: "/store",
            });
          }
        });
      }
    });
    return {
      updateMikoItemQty,
      cartTitle,
      continueButtonLabel,
      checkoutButtonLabel,
      emptyCartSubTitle,
      emptyCartMessage,
      mikoMaxCardTitle,
      mikoMaxTooltipTitle,
      mikoMaxTooltipContents,
      miko3CardTitle,
      addMiko3ButtonLabel,
      addMikoMaxButtonLabel,
      orderSummaryLabel,
      shippingType,
      shippingLabel,
      cartAnnouncements,
      cartAnnouncements2,
      isAuthenticated,
      products,
      removeItem,
      updateItemQty,
      isCartSidebarOpen,
      toggleCartSidebar,
      totals,
      totalItems,
      totalDiscount,
      totalSavings,
      cartGetters,
      productGetters,
      checkoutURL,
      sendNotification,
      notifications,
      loading,
      cart,
      loadCart,
      switchVariant,
      switchSubscription,
      addItem,
      getFilteredProduct,
      getDefaultVariant,
      isChosenVariant,
      isChosenSubscription,
      ChosenVariantId,
      ChosenSubscriptionId,
      productImage,
      AddAnotherMiko,
      CanAddMoreMiko,
      ChosenVariant,
      getVariantIdByAttribs,
      addingToCart,
      deviceExistingUUID,
      isOrderCompleted,
      getVariantIdBySKU,
      initExtendCartOffers,
      getCleanID,
      initizeExtendOffers,
      fetchWarrantyChosen,
      checkIsProductWarrantyInCart,
      getOriginalID,
      getGoogleClientId,
      getSegmentAnonymousId,
      IsExtendEnabled,
      getItemPrice,
      getTotals,
      cartRestrictionMsg
    };
  },
};
</script>

<style lang="scss" scoped>
.miko3-card, .mikomax-card {
  background: var(--c-light-green-e7f6f2) url(/icons/mikomax-bg.png) no-repeat;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .max-card-label {
    width: 50%;
    font-size: var(--font-size--sm);
  }
  @media (min-width: 1024px) {
    padding: 25px 40px;
  }
  @media (min-width: 2200px) {
    .max-card-label {
      font-size: var(--font-size--lg);
      line-height: 1.3;
      .info-tooltip {
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  @media (min-width: 3280px) {
    .max-card-label {
      font-size: var(--font-size--xxl);
      .info-tooltip {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  &.max-card2 {
    background: var(--c-pink-F6B1B1) url(/icons/mikomax-card-icon.png) no-repeat;
    background-size: 80px auto;
    @media (max-width: 1023px) {
      background-size: auto 100%;
      background-position: left -20px top;
    }
    @media (max-width: 359px) {
      background-size: auto 60%;
      background-position: left 0 top;
    }
    .max-card-label {
      padding-left: 50px;
      @include for-mobile {
        padding-left: 40px;
      }
    }
  }
}
.order-summary-card {
  padding: 20px;
  @media (min-width: 1024px) {
    padding: 20px 40px;
  }
  h3 {
    font-size: var(--font-size--base);
    margin-bottom: 15px;
    @media (min-width: 2200px) {
      font-size: var(--font-size--xl);
    }
    @media (min-width: 3280px) {
      font-size: var(--font-size--xxl);
    }
  }
  .property-card {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
    .summary-name {
      color: var(--c-gray-darken);
      font-size: var(--font-size--sm);
    }
    .summary-value {
      font-size: var(--font-size--sm);
      &::v-deep .sf-price__regular {
        font-size: var(--font-size--sm);
        font-weight: 700;
      }
    }
    @media (min-width: 2200px) {
      .summary-name {
        font-size: var(--font-size--lg);
      }
      .summary-value {
        font-size: var(--font-size--lg);
        &::v-deep .sf-price__regular {
          font-size: var(--font-size--lg);
          font-weight: 500;
        }
      }
    }
    @media (min-width: 3280px) {
      .summary-name {
        font-size: var(--font-size--xxl);
      }
      .summary-value {
        font-size: var(--font-size--xxl);
        &::v-deep .sf-price__regular {
          font-size: var(--font-size--xxl);
        }
      }
    }
  }
}
</style>
<style lang="scss">
.empty-cart {
  --heading-description-margin: 0 0 var(--spacer-xl) 0;
  --heading-title-margin: 0 0 var(--spacer-xl) 0;
  --heading-title-color: var(--c-primary);
  --heading-title-font-weight: var(--font-weight--semibold);
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  &__banner {
    flex-direction: column;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__heading {
    padding: 0 var(--spacer-base);
    .sf-heading__description {
      margin: 0;
    }
  }
  &__image {
    --image-width: 13.1875rem;
    margin: 0 0 var(--spacer-xl) 7.5rem;
    @include for-desktop {
      --image-width: 23.3125rem;
      margin: 0 0 var(--spacer-2xl) 7.5rem;
    }
  }
  @include for-desktop {
    --heading-title-font-size: var(--font-size--xl);
    --heading-title-margin: 0 0 var(--spacer-sm) 0;
  }
  @media (min-width: 3280px) {
    .sf-heading__title.h2 {
      font-size: 45px;
    }
    .sf-heading__description {
      font-size: var(--font-size--xxl);
      line-height: 1.3;
    }
  }
}
.collected-product-list {
  flex: 1;
}

#cart {
  .sf-sidebar__aside {
    @include for-desktop {
      width: 500px;
      box-shadow: 4px 0 30px rgba(0, 0, 0, 0.1);
    }
    @include for-mobile {
      max-width: 360px;
      left: 0;
      right: 0;
      margin-left: auto;
    }
    @media (min-width: 2200px) {
      width: 650px;
    }
    @media (min-width: 3280px) {
      width: 750px;
    }
    .close-icon {
      position: absolute;
      top: 26px;
      right: 20px;
      line-height: 1;
      cursor: pointer;
      z-index: 2;
      @media (min-width: 1024px) {
        top: 27px;
        right: 30px;
      }
      svg {
        width: 14px;
        height: 14px;
        @media (min-width: 1024px) {
          width: 16px;
          height: 16px;
        }
        path {
          transition: all 0.3s ease 0s;
        }
      }
      &:hover {
        svg {
          path {
            stroke: var(--c-primary);
          }
        }
      }
      @media (min-width: 3280px) {
        top: 45px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .custom_attrib_property {
      margin-top: 70px;
      @media (min-width: 768px) {
        margin-top: 75px;
      }
    }
  }
  .sf-sidebar__top {
    padding: 20px;
    z-index: 1;
    @media (min-width: 1024px) {
      padding: 20px 40px;
    }
    .sf-sidebar__title {
      display: flex !important;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      h3 {
        font-size: var(--font-size--lg);
        margin-right: 10px;
        color: var(--c-black);
        @media (min-width: 3280px) {
          font-size: 44px;
          letter-spacing: 1px;
        }
      }
      .sf-heading__description {
        margin: 0;
        font-size: var(--font-size--lg);
        font-weight: 700;
        @media (min-width: 3280px) {
          font-size: 44px;
        }
      }
    }
  }
  .sf-sidebar__content {
    padding: 0;
    z-index: 5;
  }
  .miko-card {
    padding: 0 20px 0px;
    @media (min-width: 1024px) {
      padding: 0 40px 10px;
    }
    .sf-collected-product {
      max-width: 100%;
      padding: 20px 0 0 0;
      @media (min-width: 1024px) {
        padding-top: 30px;
      }
      .sf-collected-product__aside {
        flex: 0 0 auto;
        .sf-image--wrapper {
          width: 70px;
          height: 100px;
          background: transparent;
          display: flex;
          align-items: center;
          .sf-image {
            outline: none;
            width: 100%;
            height: auto;
          }
          @media (min-width: 3280px) {
            width: 100px;
            height: 150px;
          }
          @media (max-width: 354px) {
            width: 50px;
          }
        }
      }
      .sf-collected-product__details {
        flex-direction: initial;
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 auto;
        .product-title {
          width: 50%;
          font-size: var(--font-size--base);
          font-weight: 700;
        }
        .sf-price {
          width: 50%;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: var(--font-size--base);
          font-weight: 700;
          @media (max-width: 1023px) {
            font-size: 18px;
          }
          @media (max-width: 374px) {
            line-height: 1;
          }
          del {
            font-weight: 400;
            font-size: 16px;
            line-height: inherit;
            color: var(--c-gray-9a9a9a);
            margin-right: 10px;
            text-decoration: none;
            position: relative;
            @media (max-width: 1023px) {
              margin-right: 5px;
              font-size: 15px;
            }
            &::after {
              content: "";
              position: absolute;
              top: 11px;
              left: 0;
              width: 100%;
              height: 1px;
              background: var(--c-gray-9a9a9a);
              @media (max-width: 1023px) {
                top: 10px;
              }
              @media (max-width: 374px) {
                top: 5px;
              }
            }
          }
        }
        .sf-qty {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 5px;
          .sf-qty-title {
            label {
              font-size: var(--font-size--sm);
              color: var(--c-light);
              line-height: 1;
            }
            button {
              background: transparent;
              text-transform: capitalize;
              color: var(--c-primary);
              padding: 0;
              font-weight: normal;
              font-size: var(--font-size--sm);
              text-decoration: underline;
              line-height: 1;
              &:active {
                background: transparent;
              }
            }
          }
        }
        @media (min-width: 2200px) {
          .product-title {
            font-size: 30px;
          }
          .sf-price {
            font-size: var(--font-size--lg);
            font-weight: normal;
          }
          .sf-qty {
            padding-top: 15px;
            .sf-qty-title {
              label {
                font-size: var(--font-size--lg);
              }
              button {
                font-size: var(--font-size--bace);
                margin-top: 3px;
              }
            }
          }
        }
        @media (min-width: 3280px) {
          .product-title {
            font-size: 40px;
          }
          .sf-price {
            font-size: var(--font-size--xxl);
            font-weight: normal;
          }
          .sf-qty {
            padding-top: 15px;
            .sf-qty-title {
              label {
                font-size: var(--font-size--xxl);
              }
              button {
                font-size: var(--font-size--xl);
                margin-top: 3px;
              }
            }
          }
        }
      }
      &::after {
        display: none;
      }
    }
    .product__colors {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-top: 20px;
      position: relative;
      padding-bottom: 15px;
    }
    .sf-collected-product__configuration {
      display: block;
      margin-top: -50px;
      @media (min-width: 768px) {
        margin-top: -55px;
      }
      .sf-property {
        display: block;
        .sf-property__name {
          display: block;
          font-weight: 700;
          color: var(--c-light);
          font-size: var(--font-size--sm);
        }
        .sf-property__value {
          display: block;
          font-weight: normal;
          color: var(--c-light);
          font-size: var(--font-size--sm);
        }
      }
      @media (min-width: 2200px) {
        margin-top: -65px;
        .sf-property {
          .sf-property__name {
            font-size: var(--font-size--lg);
          }
          .sf-property__value {
            font-size: var(--font-size--lg);
          }
        }
      }
      @media (min-width: 3280px) {
        margin-top: -75px;
        .sf-property {
          .sf-property__name {
            font-size: var(--font-size--xl);
          }
          .sf-property__value {
            font-size: var(--font-size--xl);
          }
        }
      }
    }
  }
  .sf-sidebar__bottom {
    background: var(--c-gray-f9f6f8);
    padding: 10px 20px;
    .sf-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background: var(--c-black);
      color: var(--c-white);
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
        background: var(--c-primary);
        color: var(--c-black);
      }
      &.continue-Shopping-btn {
        text-align: center;
        display: block;
        font-weight: 500;
        & + .continue-Shopping-btn {
          margin-top: 10px;
        }
      }
      span {
        font-size: var(--font-size--sm);
        font-weight: normal;
      }
      .sf-price__regular {
        font-weight: 700;
        color: var(--c-white);
      }
      &:hover {
        .sf-price__regular {
          color: var(--c-black);
        }
      }
    }
    .sf-link {
      text-decoration: none;
    }
    @media (min-width: 1024px) {
      padding: 20px 40px;
    }
    @media (min-width: 2200px) {
      padding: 30px 40px;
      .sf-button {
        span {
          font-size: var(--font-size--xl);
        }
        .sf-price__regular {
          font-weight: 500;
        }
      }
    }
    @media (min-width: 3280px) {
      padding: 30px 40px;
      .sf-button {
        span {
          font-size: var(--font-size--xxl);
        }
      }
    }
  }
}
.free-shiping-label,
.free-preorder-label {
  animation: stretch 0.2s alternate ease-in-out;
  text-align: center;
  background: var(--c-gray-f9f6f8);
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  svg {
    margin-right: 10px;
  }
  span {
    font-weight: 500;
    font-size: var(--font-size--sm);
    padding-left: 5px;
    a {
      font-size: var(--font-size--sm);
      margin-left: 5px;
      font-weight: normal;
    }
  }
  @media (min-width: 1024px) {
    padding-top: 18px;
    padding-bottom: 18px;
    min-height: auto;
  }
  @media (min-width: 2200px) {
    svg {
      width: 21px;
      height: 21px;
    }
    span {
      font-size: var(--font-size--lg);
      a {
        font-size: var(--font-size--lg);
      }
    }
  }
  @media (min-width: 3280px) {
    svg {
      width: 24px;
      height: 24px;
    }
    span {
      font-size: var(--font-size--xl);
      a {
        font-size: var(--font-size--xl);
      }
    }
  }
}
@keyframes stretch {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
#cart {
  .notifications {
    position: fixed;
    bottom: 67px;
    top: auto;
    right: 0;
    width: 100%;
    max-width: 360px;
    z-index: 9;
    @media (min-width: 640px) {
      bottom: auto;
      top: 15px;
      right: 20px;
      max-width: 320px;
    }
    @media (min-width: 1024px) {
      right: 25px;
      max-width: 440px;
    }
    .sf-notification {
      margin-top: 15px;
      background: var(--c-light-green-e7f6f2);
      padding: 15px;
      place-items: start;
      width: 100%;
      max-width: 100%;
      border-radius: 0;
      .sf-notification__icon {
        margin-right: 5px;
        svg {
          width: 20px;
          height: 20px;
          @media (min-width: 2200px) {
            width: 25px;
            height: 25px;
          }
          @media (min-width: 3280px) {
            width: 30px;
            height: 30px;
          }
          path {
            fill: var(--c-black);
          }
        }
      }
      .sf-notification__title {
        display: none;
      }
      .sf-notification__message {
        font-size: 14px;
        color: var(--c-black);
        @media (min-width: 1024px) {
          font-size: 16px;
        }
        @media (min-width: 2200px) {
          font-size: var(--font-size--bace);
        }
        @media (min-width: 3280px) {
          font-size: var(--font-size--lg);
        }
      }
      .button-wrap {
        display: flex;
        margin-top: 15px;
        margin-left: -5px;
        margin-right: -5px;
        .sf-button {
          font-size: 14px;
          border-radius: 9999px;
          padding: 8px 18px;
          margin-right: 10px;
          text-transform: capitalize;
          background: transparent;
          border: solid 2px var(--c-black);
          color: var(--c-black);
          &:hover {
            background: var(--c-primary);
            border-color: var(--c-primary);
            color: var(--c-white);
          }
        }
      }
    }
  }
  .sf-loader {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
    opacity: 0.95;
    .sf-loader__overlay {
      position: relative;
      height: 100%;
    }
  }
  .my-cart {
    .miko-max-cart-row {
      // text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 30px 20px 15px;
      @media (min-width: 1024px) {
        padding: 30px 40px 15px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
      .miko-max-btn {
        background: transparent;
        font-weight: normal;
        font-size: 16px;
        color: var(--c-info);
        text-transform: capitalize;
        text-decoration: underline;
        padding: 0;
        display: inline-block;
      }
      @media (min-width: 2200px) {
        .miko-max-btn {
          font-size: 24px;
        }
      }
      @media (min-width: 3280px) {
        .miko-max-btn {
          font-size: 28px;
        }
      }
    }
  }
  .max-card-btn {
    .btn-1 {
      padding: 9px 33px;
    }
  }
  .product__subscriptions {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 15px;
    .sf-radio {
      border: 2px solid var(--c-light);
      border-radius: 8px;
      transition: all 0.3s ease 0s;
      .custom-overlay {
        position: absolute;
        opacity: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        cursor: pointer;
      }
      &.is-active,
      &:hover {
        border-color: var(--c-blue-307FF3);
        background-color: var(--c-blue-F5F9FF);
        .sf-radio__container {
          .sf-radio__checkmark {
            border: 3px solid var(--c-blue-307FF3);
          }
        }
      }
      .sf-radio__container {
        padding: 16px;
        display: flex;
        align-items: center;
        @media (max-width: 354px) {
          padding: 10px;
        }
        .sf-radio__checkmark {
          border: 1px solid var(--c-gray-CACACA);
          width: 12px;
          height: 12px;
          transition: all 0.1s ease 0s;
        }
        .sf-radio__content {
          margin-left: 0;
          padding-left: 12px;
        }
        .miko-max-plan-wrap {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          line-height: 1.36;
          font-weight: 500;
          color: var(--c-gray-6A7381);
          .miko-max-plan-detail-wrap {
            padding-left: 10px;
            text-align: right;
          }
          .miko-max-plan-label-price {
            font-weight: 700;
          }
          .miko-max-plan-detail-price {
            color: var(--c-light);
            font-size: 12px;
          }
          .miko-max-plan-detail {
            color: #eb6b6b;
          }
        }
        .annual-discount {
          font-size: 12px;
          line-height: 1.75;
          color: #34B98B;
        }
      }
      & + .sf-radio {
        margin-top: 10px;
      }
    }
  }
  .cart-promotional-banner {
    display: flex;
    flex-wrap: nowrap;
    -webkit-transform: translateZ(0);
    will-change: transform;
    animation: marquee 8s linear infinite;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    &:hover {
      animation-play-state: paused;
    }
    & > div {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .sf-collected-product__main {
    @media (max-width: 354px) {
      margin-left: 10px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.checkout-disabled{
  pointer-events: none;
  button {
    background: var(--c-light) !important;
    border-color: var(--c-light);
    color: var(--c-link) !important;
    .sf-price__regular {
      color: var(--c-link) !important;
    }
  }
}
.cart-validation-msg{
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  line-height: 1.2;
}
</style>