<template>
  <div id="navigation">
    <SfSidebar
      :visible="isNavigationSidebarOpen"
      :button="true"
      title="Menu"
      @close="toggleNavigationSidebar"
      class="sidebar sf-sidebar--top primary-navigation-panel"
      :persistent="true"
      :overlay="false"
    >
      <template #bar>
        <div></div>
      </template>
      <template #title>
        <div class="heading__wrapper" v-if="logo">
          <nuxt-link data-cy="app-header-url_logo" :to="localePath('/')" @click.native="toggleNavigationSidebar">
            <img :src="logo" :alt="logoTitle" class="logo-image" :width="logoDimentions.width" :height="logoDimentions.height"/>
          </nuxt-link>
        </div>
      </template>
      <template #circle-icon="{close}">
        <div class="close-icon" :class="{ 'active' : isNavigationSidebarOpen }" @click="close">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.419604 0.419604C0.552277 0.286595 0.709888 0.181067 0.883407 0.109064C1.05693 0.0370616 1.24295 0 1.43081 0C1.61868 0 1.8047 0.0370616 1.97822 0.109064C2.15174 0.181067 2.30935 0.286595 2.44202 0.419604L10.0004 7.98082L17.5587 0.419604C17.6915 0.286811 17.8492 0.181473 18.0227 0.109605C18.1962 0.0377376 18.3821 0.00074779 18.5699 0.00074779C18.7577 0.00074779 18.9437 0.0377376 19.1172 0.109605C19.2907 0.181473 19.4484 0.286811 19.5811 0.419604C19.7139 0.552398 19.8193 0.710047 19.8911 0.88355C19.963 1.05705 20 1.24301 20 1.43081C20 1.61861 19.963 1.80457 19.8911 1.97808C19.8193 2.15158 19.7139 2.30923 19.5811 2.44202L12.0199 10.0004L19.5811 17.5587C19.7139 17.6915 19.8193 17.8492 19.8911 18.0227C19.963 18.1962 20 18.3821 20 18.5699C20 18.7577 19.963 18.9437 19.8911 19.1172C19.8193 19.2907 19.7139 19.4484 19.5811 19.5811C19.4484 19.7139 19.2907 19.8193 19.1172 19.8911C18.9437 19.963 18.7577 20 18.5699 20C18.3821 20 18.1962 19.963 18.0227 19.8911C17.8492 19.8193 17.6915 19.7139 17.5587 19.5811L10.0004 12.0199L2.44202 19.5811C2.30923 19.7139 2.15158 19.8193 1.97808 19.8911C1.80457 19.963 1.61861 20 1.43081 20C1.24301 20 1.05705 19.963 0.88355 19.8911C0.710047 19.8193 0.552398 19.7139 0.419604 19.5811C0.286811 19.4484 0.181473 19.2907 0.109605 19.1172C0.0377376 18.9437 0.00074779 18.7577 0.00074779 18.5699C0.00074779 18.3821 0.0377376 18.1962 0.109605 18.0227C0.181473 17.8492 0.286811 17.6915 0.419604 17.5587L7.98082 10.0004L0.419604 2.44202C0.286595 2.30935 0.181067 2.15174 0.109064 1.97822C0.0370616 1.8047 0 1.61868 0 1.43081C0 1.24295 0.0370616 1.05693 0.109064 0.883407C0.181067 0.709888 0.286595 0.552277 0.419604 0.419604Z" fill="black"/>
          </svg>
        </div>
      </template>
      <transition-group tag="div" name="fade" mode="out-in">
        <!-- Check for entries available from the contentFul-->
        <div class="my-navigation" key="my-navigation">
          <div name="fade" tag="div" v-if="menuItems.length > 0" key='primary-navigation-items' class="primary-navigation-items-wrapper">
              <template v-for='(menu, index) in menuItems'>
                <SfButton :key="index" @click="handlerMethod(menu.fields.menuItemActionScript)" link="javascript:void(0);" class="nav-item" id='openChat' v-if='menu.fields.isJavascriptElement'>
                  <SfMenuItem
                    :label="menu.fields.menuLabel"
                    icon=""
                    :key="`menu-item-${index}`"
                  />
                </SfButton>
                <SfLink class="nav-item" :key="index" target='_blank' :link="`${menu.fields.menuExternalLink}`" v-else-if='menu.fields.isExternalLink'>
                  <SfMenuItem
                    :label="menu.fields.menuLabel"
                    icon=""
                    :key="`menu-item-${index}`"
                  />
                </SfLink>
                <nuxt-link v-else class="nav-item" :key="index" :to="localePath(menu.fields.menuItemHandler)" @click.native="toggleNavigationSidebar();scrollToSection($event), $gtm.push({ ecommerce: null }), $gtm.push({event: 'Click', action: 'MenuOpen', value: `${menu.fields.menuLabel} Clicked`, deviceid: deviceExistingUUID});">
                  <SfMenuItem
                    :data-check ="menu.fields.menuItemHandler"
                    :label="menu.fields.menuLabel"
                    icon=""
                    :key="`menu-item-${index}`"
                  />
                </nuxt-link>
              </template>
          </div>
        </div>
      </transition-group>
    </SfSidebar>
  </div>
</template>
<script>
import {
  SfSidebar,
  SfMenuItem,
  SfLink
} from '@storefront-ui/vue';
import { useUiState } from '~/composables';
import { computed } from '@vue/composition-api';

export default {
  name: 'NavigationMenu',
  props: {
    logo: String,
    logoDimentions: Object,
    logoTitle: String,
    menuItems: Array,
    headerContents: Object
  },
  components: {
    SfSidebar,
    SfMenuItem,
    SfLink
  },
  mounted () {
    this.$nextTick(() => {
      window.addEventListener('resize', this.toggleMobileNavigation);
    });
  },
  methods: {
    handlerMethod(handlers){
      handlers
    },
    toggleMobileNavigation () {
      if (this.isNavigationSidebarOpen && window.matchMedia("(min-width: 768px)").matches) {
        this.toggleNavigationSidebar();
      }
    },
    scrollToSection(e) {
      const linkUri = e.target.baseURI;
      if(linkUri.includes('#')) {
        const sectionPage = linkUri.split('#')[0];
        const sectionId = linkUri.split('#')[1];
        setTimeout(() => {
          const scrollSection = document.getElementById(sectionId);
          scrollSection && scrollSection.scrollIntoView({
            behavior: 'smooth'
          });
        }, 500);
      }
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, { root }) {
    const { isNavigationSidebarOpen, toggleNavigationSidebar, toggleLoginModal } = useUiState();
    const deviceExistingUUID = computed(()=> root.$cookies.get('deviceUUID'));
    return {
      isNavigationSidebarOpen,
      toggleNavigationSidebar,
      toggleLoginModal,
      deviceExistingUUID
    };
  }
};
</script>

<style lang="scss" scoped>
#navigation {
  ::v-deep .sf-slide-left-enter, ::v-deep .sf-slide-left-leave-to {
    transform: translate3d(0, -100%, 0);
  }
  .heading__wrapper {
    --heading-title-color: var(--c-black);
    --heading-title-font-weight: var(--font-weight--semibold);
    display: flex;
    justify-content: center;
  }
  ::v-deep .sf-sidebar__aside {
    background: var(--c-primary-lighten);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  ::v-deep .sf-sidebar__top {
    padding:20px 0 30px;
  }
  ::v-deep .sf-sidebar__content {
    height: calc(100% - 170px);
    padding: 0;
  }
  ::v-deep .close-icon {
    position: fixed;
    top: auto;
    bottom: -80px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--c-white);
    width: 60px;
    height: 60px;
    border-radius: 9999px;
    padding: 20px;
    &.active {
      animation: menuclose 400ms linear;
      animation-delay: 400ms;
      animation-fill-mode: forwards;
    }
    svg {
      animation: menuclosespin 500ms linear;
      animation-delay: 400ms;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
  }
  .my-navigation {
    .nav-item {
      text-decoration: none;
      .sf-menu-item {
        display: block;
        color: var(--c-black);
        font-size: var(--font-size--xxl);
        font-weight: 500;
        text-align: center;
        line-height: 1.25;
        padding: 20px 10px;
      }
      &.nuxt-link-active {
        .sf-menu-item {
          color: var(--c-white);
          background: var(--c-primary);
           font-weight: 700;
        }
      }
      ::v-deep .sf-menu-item__label {
        color: currentColor;
      }
    }
  }
}
@keyframes menuclose {
  0% {
    opacity: 1;
  }
  100% {
    bottom: 40px;
    opacity: 1;
  } 
}
@keyframes menuclosespin {
  100% {
    transform: rotate(180deg);
  } 
}
</style>
