<template>
  <transition-group tag="div" class="notifications" name="slide-fade">
    <SfNotification
      v-for="notification in notifications"
      :key="notification.id"
      :message="notification.message"
      :action="notification.action && notification.action.text"
      :type="notification.type"
      @click:close="notification.dismiss"
      @click:action="notification.action && notification.action.onClick()"
      visible
    >
      <template #icon v-if="notification.icon">
        <SfIcon :icon="notification.icon" color="white"/>
      </template>
    </SfNotification>
  </transition-group>
</template>

<script>
import { SfNotification, SfIcon } from '@storefront-ui/vue';
import { useUiNotification } from '~/composables';

export default {
  name: 'Notification',
  components: {
    SfNotification,
    SfIcon
  },
  setup () {
    const { notifications } = useUiNotification();

    return {
      notifications
    };
  }
};
</script>

<style scoped lang="scss">
.notifications {
  position: fixed;
  width: 100%;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  @media (min-width:1024px){
    width: 320px;
    top: 30px;
    left: auto;
    right: 30px;
    bottom: auto;
  }
}
::v-deep .sf-notification {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
  > div{
    width: 85%;
  }
  .sf-notification__icon{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    svg{
      width: 20px;
      height: 20px;
    }
  }
  .sf-notification__message{
    font-size: 14px;
    width: 100%;
    letter-spacing: 0.05em;
    @media (min-width:1024px){
      font-size: 16px;
    }
    @media (min-width:2200px){
      font-size: var(--font-size--lg);
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xl);
    }
  }
  &:first-child {
    margin-top: 0;
  }
  @include for-mobile {
    --notification-border-radius: 0;
    --notification-max-width: 100%;
    --notification-font-size: var(--font-size--sm);
    --notification-font-family: var(--font-family--primary);
    --notification-font-weight: var(--font-weight--normal);
    --notification-padding: var(--spacer-base) var(--spacer-lg);
  }
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s;
  @include for-desktop {
    transition: opacity 0.25s linear;
  }
}
.slide-fade-enter {
  transform: translateY(40px);
  @include for-desktop {
    opacity: 0;
  }
}
.slide-fade-leave-to {
  transform: translateY(80px);
  @include for-desktop {
    opacity: 0;
  }
}
</style>
