<template>
  <div class="scroll-left" :style="`background: ${content && content.fields && content.fields.topBarBackgroundColor}; color: ${content && content.fields && content.fields.topBarTextColour}`">
      <RichTextRenderer v-if="content && content.fields && content.fields.promotionalText" :document="content.fields.promotionalText" />
    </div>
</template>

<script>
import RichTextRenderer from 'contentful-rich-text-vue-renderer';

export default {
    name: 'PromotionalBar',
    props: {
        content: {}
    },
    components: {
        RichTextRenderer
    }
}
</script>

<style lang="scss" scoped>
.scroll-left {
    height: 40px;  
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--c-black);
    color: var(--c-white);
    font-size: 18px;
    z-index: 10;
    a {
        color: var(--c-primary);
        text-decoration: underline;
    }
}
.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: left;
    white-space: nowrap;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 40s linear infinite;
    @include for-mobile {
        animation: scroll-left 10s linear infinite;
    }
}
/* Move it (define the animation) */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);    
    }
    100% {
        transform: translateX(-100%);
    }
}
</style>
