<template lang="html">
  <div class="tabs">
    <ul class='tabs__header'>
      <li v-for='(tab, index) in tabs'
        :key='tab.title'
        @click='selectTab(index)'
        :class='{"tab__selected": (index == selectedIndex)}'>
        {{ tab.title }}
      </li>
    </ul>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: 'light'
    }
  },
  data () {
    return {
      selectedIndex: 0,
      tabs: []
    };
  },
  created () {
    this.tabs = this.$children;
  },
  mounted () {
    this.selectTab(0);
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i;
      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.isActive = (index === i);
      });
    }
  }
};
</script>

<style lang="scss">

  ul.tabs__header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    > li{
      position: relative;
      cursor: pointer;
      font-size: var(--font-size--sm);
      line-height: var(--line-height--base);
      color: var(--c-secondary-lighten);
      background: var(--c-white);
      padding: 18px 35px;
      &:first-child{
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
      }
      &:last-child{
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
      }
      &.tab__selected{
        color: var(--c-white);
        background: var(--c-black);
      }
      @media (min-width:2200px){
        font-size: var(--font-size--xl);
        letter-spacing: 1px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
    }
  }
  .tab {
    display: block;
    padding: 30px 0 0;
    @media (min-width:2200px){
      padding-top: 60px;
    }
    @media (min-width:3280px){
      padding-top: 80px;
    }
  }

</style>
