<template>
  <div class='billing-addr' :address="address">
      <div class="address-name">
        <p v-if="address.name">{{ address.name }}</p>
      </div>
      <div class="address-info">
        <p v-if="address.address2 || address.company">{{ address.address2 }}<span v-if="address.address2">,</span> {{ address.company }}</p>
        <p v-if="address.formattedArea">{{ address.formattedArea }}</p>
        <p v-if="address.zip">{{ address.zip }}</p>
        <p class="billing-phone" v-if="address.phone"><a :href="`tel:${address.phone}`">{{ address.phone }}</a></p>
      </div>
  </div>
</template>

<script type="module">
export default {
  name: 'UserBillingAddress',
  props: {
    address: {
      default: {},
      type: Object
    }
  }
};
</script>

<style lang="scss" scoped>
.billing-addr {
  color: var(--c-black);
  display: block;
  @media (min-width:768px){
    display: flex;
  }
  .address-name {
    width: 100%;
    margin-bottom: 4px;
    padding-right: 0;
    @media (min-width:768px){
      width: 36%;
      margin-bottom: 0;
      padding-right: 30px;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
        letter-spacing: 1px;
      }
    }
  }
  .address-info {
    flex-grow: 1;
    p {
      font-weight: normal;
      color: var(--c-secondary-lighten);
      font-size: 14px;
      @media (min-width:768px){
        font-size: 16px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xl);
        letter-spacing: 1px;
      }
    }
  }
  p {
    margin: 0;
    line-height: 1.45;
    &.billing-phone {
      & > a {
        color: var(--c-secondary-lighten);
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        display: inline-flex;
        align-items: center;
        &:hover {
          color: var(--c-primary);
          --icon-color: var(--c-primary);
        }
      }
    }
  }
}
</style>
