<template>
  <div class="product-faq">
    <h2 class="h1 faq-title" v-if="faqMainTitle">{{faqMainTitle}}</h2>
    <div class="faq-tabs">
      <SfTabs :openTab="1" tabMaxContentHeight="auto" tabShowText="" tabHideText="">
        <SfTab v-for="(productfaqItem,index) in productFaqData" :key="index" :title="`${productfaqItem.fields.faqTitle} ( ${productfaqItem.fields.faqItems.length} )`"> 
            <SfAccordion class="faq-accordion">
                 <SfAccordionItem v-for="(accordianItem,index) in productfaqItem.fields.faqItems" :key="index" :header="accordianItem.fields.faqQuestion">
                    <RichTextRenderer :document="accordianItem.fields.faqAnswer" />
                </SfAccordionItem>
            </SfAccordion>
        </SfTab>
      </SfTabs>
    </div>
  </div>
</template>

<script>
import { SfTabs, SfAccordion } from '@storefront-ui/vue';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';


export default {
  props: {
    faqData: {},
  },
  components: {
    SfAccordion,
    SfTabs,
    RichTextRenderer
  },
  setup(props){
    
    const faqMainTitle =  props.faqData.fields.hasOwnProperty('sectionTitle') ? props.faqData.fields.sectionTitle : '';

    const productFaqData =  props.faqData.fields.hasOwnProperty
    ('productFaq') ? props.faqData.fields.productFaq : '';
    return{
      faqMainTitle,
      productFaqData
    }
  }
  };
</script>

<style lang="scss" scoped>
.product-faq{
  padding-left: 15px;
  padding-right: 15px;
}
::v-deep .faq-tabs{
  .sf-tabs{
    padding-top: 20px;
    @media (min-width:768px){
      padding-top: 40px;
    }
    .sf-tabs__title{
      border: solid 1px var(--c-black);
      border-radius: 9999px;
      font-size: var(--font-size--base);
      margin-bottom: 20px;
      margin-right: 0;
      color: var(--c-black);
      padding: 13px 25px;
      @media (min-width:768px){
        padding: 13px 36px;
        font-size: var(--font-size--lg);
        margin-right: 30px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
      &.is-active{
        background: var(--c-black);
        color: var(--c-white);
        .sf-chevron__bar{
          &:after{
            --tabs-title-color: var(--c-primary-lighten);
            --chevron-color: var(--c-primary-lighten);
          }
        }
      }
    }
    .sf-tabs__content{
      border-top: 0;
      .sf-tabs__content__tab{
        padding-top: 0;
      }
    }
  }
}
::v-deep .faq-accordion{
  button{
    font-size: var(--font-size--base);
    line-height: var(--line-height--base);
    position: relative;
    color: var(--c-primary);
    border-bottom: solid 1p var(--c-light);
    padding: 16px 20px 16px 0;
    @media (min-width:768px){
      font-size: var(--font-size--lg);
    }
    @media (min-width:2200px){
      font-size: var(--font-size--xl);
    }
    @media (min-width:3280px){
      font-size: 40px;
    }
    &:before{
      content: '';
      transform: translate(0, -50%);
      left: auto;
      right: 0;
      top: 50%;
      position: absolute;
      width: 15px;
      height: 3px;
      background: var(--c-light);
      opacity: 1;
      display: block;
      @media (min-width:3280px){
        width: 29px;
      }
    }
    &:after{
      content: '';
      transform: translate(0, -50%);
      right: 6px;
      top: 50%;
      position: absolute;
      width: 3px;
      height: 15px;
      background: var(--c-light);
      display: block;
      @media (min-width:3280px){
        height: 29px;
        right: 13px;
      }
    }
    &.is-open{
      &:after{
        display: none;
      }
    }
  }
  .sf-accordion-item__content{
    padding: 15px 0 10px;
    @media (min-width:768px){
      padding-top: 20px;
    }
    p{
      padding-bottom: 15px;
      line-height: var(--line-height--base);
      @media (min-width:2200px){
        font-size: var(--font-size--lg);
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
    }
  }
}
::v-deep .sf-accordion-item__chevron{
  display: none;
}
</style>
