<template>
<div class="tradein-feature-container" v-if="featureSectionData">
    <div class="sectionTitle">
        <h2 class="h1" style="color:#EE6B6B;max-width:50%;margin: 30px auto;">{{heading}}</h2>
    </div>
    <div class="feature-card-container">
        <div class="feature-card">
            <div  class="feature-icons">
            <img :src="feature_img_1" >
            </div>
            <div class="feature-title">
                {{step1}}
            </div>
            <h3 class="feature-discriptions">
             {{heading1}}
            </h3>
        </div>
        <div class="feature-card">
            <div  class="feature-icons">
            <img :src="feature_img_2" >
            </div>
            <div class="feature-title">
            {{step2}}
            </div>
            <h3 class="feature-discriptions">
            {{heading2}}
            </h3>
        </div>
        <div class="feature-card">
            <div  class="feature-icons">
            <img :src="feature_img_3" >
            </div>
            <div class="feature-title">
            {{step3}}
            </div>
            <h3 class="feature-discriptions">
                {{heading3}}
            </h3>
        </div>
    </div>
</div>         
</template>
<script>
export default {
 props: {
    featureSectionData: {},
  },
    setup(props){
        const componentData =props.featureSectionData.fields
        let heading = componentData.hasOwnProperty('section3Heading')?componentData.section3Heading:"";
        let step1 = componentData.hasOwnProperty('section3Step1')?componentData.section3Step1:"";
        let heading1 = componentData.hasOwnProperty('section3Heading1')?componentData.section3Heading1:"";
        let step2 = componentData.hasOwnProperty('section3Step2')?componentData.section3Step2:"";
        let heading2 = componentData.hasOwnProperty('section3Heading2')?componentData.section3Heading2:"";
        let step3 = componentData.hasOwnProperty('section3Step3')?componentData.section3Step3:"";
        let heading3 = componentData.hasOwnProperty('section3Heading3')?componentData.section3Heading3:"";
        let feature_img_1_text =componentData.hasOwnProperty('section3Logo1Text')?componentData.section3Logo1Text:"";
        let feature_img_1 =componentData.hasOwnProperty('section3logo1')?componentData.section3logo1.fields.file.url:"";
        let feature_img_2_text =componentData.hasOwnProperty('section3Logo2Text')?componentData.section3Logo2Text:"";
        let feature_img_2 =componentData.hasOwnProperty('section3tradeLogo2')?componentData.section3tradeLogo2.fields.file.url:"";
        let feature_img_3_text =componentData.hasOwnProperty('section3Logo3Text')?componentData.section3Logo3Text:"";
        let feature_img_3 =componentData.hasOwnProperty('section3tradeLogo3')?componentData.section3tradeLogo3.fields.file.url:"";
        return {
            componentData,
            heading,
            step1,
            heading1,
            step2,
            heading2,
            step3,
            heading3,
            feature_img_1,
            feature_img_1_text,
            feature_img_2,
            feature_img_2_text,
            feature_img_3,
            feature_img_3_text
        }
    }
}
</script>
<style lang="scss" scoped>
.tradein-feature-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 60px;
    @media (max-width: 399px) {margin-bottom: 0px;}
    .sectionTitle{
        flex: 100%;
        text-align: center;
        margin: 20px;
        color: #EB6B6B;
        font-size: 40px;
        font-weight: bolder;
        @media (max-width: 1023px) {
            margin: 10px;
            h2{max-width: 100% !important;}
        }
    }
    .feature-card-container{
         display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
        width: 100%;
        
        .feature-card{
            // width: 25%;
            flex: 30%;
            padding: 0 1rem 0 1rem; 
            text-align: center;
            
            @media (max-width: 1023px) {
               flex: 80%;
               margin-bottom: 40px;
            }
            .feature-title{
                text-align: center;
                letter-spacing: 0.05em;
                margin: 10px auto;
                max-width: 80%;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: #C4C4C4;
            }
            .feature-icons{
                text-align: center;
                justify-content: center;
                display: flex;       
                position: relative;
                height: 6rem;
                width: 100%;
            } 
            .feature-discriptions{
                color: #EB6B6B;
                text-align: center;
                margin: auto 80px;
                @media (max-width: 399px) {
                    margin: auto 30px;
                    font-size: 20px;
                }
            }
        }
    }
}

</style>