<template>
    <div class="whats_in_it_for_you" >
        <div class="whats-container-desktop">
            <div class="img_wrap">
                <img :src="image" >
            </div>
            <div class="text_wrap">
                <h2 class="">{{title}}</h2>
                <RichTextRenderer :document="data" />
                <nuxt-link v-if="button_text" :to="button_url" class="trade-in-btn" @click.native="sendGTM('WhatsInItForYou', 'Get Your Miko3')">
                    {{ button_text }}
                </nuxt-link>
            </div>
        </div>
        <div class="whats-container-mobile">
            <div class="sec-full-width whats_in_it_mobile" >
                <h2 class="">{{title}}</h2>
                <img :src="image" >
                <div class="ul_wrap">
                    <RichTextRenderer :document="data" />
                    <button class="trade-in-btn">{{button_text}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
export default {
 methods: {
     sendGTM(data, val=null){
        // push event data to datalayer
        this.$gtm.push({event: 'Click', action: data, value: val, deviceid: this.deviceExistingUUID});
    }
 },
 props: {
    whatsInItForYouData: {},
  },
  components: {
    RichTextRenderer
  },
    setup(props,content){
        const componentData =props.whatsInItForYouData.fields
        let title = componentData.hasOwnProperty('section7Heading')?componentData.section7Heading:"";
        let image =componentData.hasOwnProperty('section7Image')?componentData.section7Image.fields.file.url:"";
        let data = componentData.hasOwnProperty('section7Desc')?componentData.section7Desc:"";
        let button_text = componentData.hasOwnProperty('section7ButtonText')?componentData.section7ButtonText:"";
        let button_url = componentData.hasOwnProperty('section7ButtonUrl')?componentData.section7ButtonUrl:"";

        return {
            componentData,
            title,
            image,
            data,
            button_text,
            button_url
        }
    }
}
</script>
<style lang="scss" scoped>
    .whats_in_it_for_you{
        background: #E0F3FA;
        border-radius: 40px;
        padding: 4% 9%;
        margin: 6% auto;
        @media (max-width: 1023px) {
            padding: 7% 7%; 
            max-width: 90%;
        }
    }
    .whats-container-desktop{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1023px) {
            display: none;
        }
    }
    ul{padding-inline-start: 20px;}
    .ul_wrap{
        @media (max-width: 1023px) {
            max-width: 70%;
            margin: 0px auto;
        }
        @media (max-width: 550px) {
            max-width: 100%;
            margin: 0px auto;
        }
    }
    .img_wrap{width: 45%;order: 1;}
    .text_wrap{width: 55%;order: 2;}
    .whats_in_it_for_you h2{color: #33B3E1;
        @media (max-width: 1023px) {
            text-align: center;
            margin-top: 10px;
        }
    }
    .whats_in_it_for_you img{
        @media (max-width: 1023px) {
            margin: 0px auto;
            display: block;
        }
    }
    .trade-in-btn{
        font-size: 24px;
        padding: 12px 20px;
        margin-top: 20px;
        border-radius: 9999px;
        display: inline-flex;
        align-items: center;
        color: #000;
        font-weight: 700;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
        border: 1px solid #000;
        background: transparent;
         @media (max-width: 1023px) {
             font-size: 18px;
             margin-left: 20px;
            margin-top: 10px;
         }
    }
     .whats-container-mobile{
       display: none;
        @media (max-width: 1023px) {
            display: block;
        }
            
    }

</style>