<template>
    <div class="sec-full-width" v-if="introData">
        <div class="title_wrap">
            <p class="intro-title1">{{section1smallHeading}}</p>
            <h1 class="intro-title2">{{section1mainHeading}}</h1>
            <RichTextRenderer :document="section1Desc" />
        </div>
        <div class="section_2"  :style="`background-image: url(${ !isMobile ? section2Image : mobileImage })`">
            <h2 class="banner-title h1">{{section2Heading}}</h2>
            <button class="trade-in-btn" @click="visible = !visible">{{section2ButtonText}}</button>
        </div>
        <TradeInModal v-if="visible && tradeData" :tradeData="tradeData" />
    </div>
</template>
<script>
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import { getFileUrl } from '~/helpers/contentful';
import {SfButton} from '@storefront-ui/vue';
export default {
  name: "Intro",
  data () {
        return {
            visible: false
        }
  },
  props: {
    tradeData: {},
    introData: {},
  },
  components: {
    RichTextRenderer,
    SfButton, 
    TradeInModal:() => import ('~/components/TradeIn/TradeInModal.vue'),
  },
    setup(props,context){
        const componentData =props.introData.fields
        let section1mainHeading = componentData.hasOwnProperty('section1mainHeading')?componentData.section1mainHeading:"";
        let section1smallHeading = componentData.hasOwnProperty('section1smallHeading')?componentData.section1smallHeading:"";
        let section1Desc = componentData.hasOwnProperty('section1Desc')?componentData.section1Desc:"";
        let section2Image = componentData.hasOwnProperty('section2Image')?componentData.section2Image.fields.file.url:"";
        const mobileImg = props.introData.fields.hasOwnProperty('section2ImageMobile') ? props. introData.fields.section2ImageMobile : '';
        const mobileImage = mobileImg ? getFileUrl(mobileImg.fields, context.root.$device) : '';
        let section2Heading = componentData.hasOwnProperty('section2Heading')?componentData.section2Heading:"";
        let section2ButtonText = componentData.hasOwnProperty('section2ButtonText')?componentData.section2ButtonText:"";
        return {
            isMobile: false,
            componentData,
            section1smallHeading,
            section1mainHeading,
            section1Desc,
            section2Image,
            mobileImage,
            section2Heading,
            section2ButtonText,
        }
    }
}
</script>
<style lang="scss" scoped>
    .title_wrap{text-align: center;
        max-width: 25em;
        display: block;
        margin: 2em auto;
        @media (max-width: 399px) {
           max-width: 85%; 
           margin: 1em auto;
        }
    }
    .intro-title2{
        color: #34B98B;
        margin: 20px;
        @media (max-width: 1023px) {
                font-size: 80px;
                line-height: 75px;
                letter-spacing: 0.05em;
            }
        @media (max-width: 399px) {
                font-size: 30px;
                line-height: 32px;
            }    
    }


    .section_2{padding: 11% 7% 20% 7%;margin-top: 30px;background-size: cover;
        @media (max-width: 399px) {
            padding: 7% 7%;
            text-align: center;
            background-size: cover;
        }
    }
    .section_2 h2{max-width: 50%;
        color: #FFFFFF;
        @media (max-width: 399px) {
            max-width: 100%;
            text-align: center;
        }
    }
    .trade-in-btn{
        font-size: 24px;
        padding: 12px 20px;
        margin-top: 40px;
        background: #fff;
        border-radius: 9999px;
        display: inline-flex;
        align-items: center;
        color: #ee6b6b;
        font-weight: 700;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
        border: 0;
        @media (max-width: 399px) {
            margin-top: 20px;
            font-size: 18px;
        }
    }

</style>