<template>
<div class="sec-full-width tradein-property-container" v-if="propertyData">
    <div class="property">
        <h2 class="">{{heading}}</h2>
        <p>{{desc}}</p>
         <img :src="img" >
    </div>
    <div class="feature-card-container property-container-desktop">
        <div class="feature-card">
            <div class="feature-title">
                {{heading1}}
            </div>
            <div class="feature-discriptions">
                {{subheading1}}
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-title">
            {{heading2}}
            </div>
            <div class="feature-discriptions">
            {{subheading2}}
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-title">
            {{heading3}}
            </div>
            <div class="feature-discriptions">
                {{subheading3}}
            </div>
        </div>
    </div>
    <div class="property-container-mobile">
        <PropertiesMobile :propertyMobileData ="dataForMobile"/>
    </div>
</div>         
</template>
<script>
import PropertiesMobile  from "./PropertiesMobile.vue";
export default {
    components:{
        PropertiesMobile
    },
 props: {
    propertyData: {},
  },
    setup(props,content){
        const componentData =props.propertyData.fields
        let heading = componentData.hasOwnProperty('section5Heading')?componentData.section5Heading:"";
        let desc = componentData.hasOwnProperty('section5Desc')?componentData.section5Desc:"";
        let img =componentData.hasOwnProperty('section5Img')?componentData.section5Img.fields.file.url:"";
        let heading1 = componentData.hasOwnProperty('section6Heading1')?componentData.section6Heading1:"";
        let subheading1 = componentData.hasOwnProperty('section6SubHeading1')?componentData.section6SubHeading1:"";
        let heading2 = componentData.hasOwnProperty('section6Heading2')?componentData.section6Heading2:"";
        let subheading2 = componentData.hasOwnProperty('section6SubHeading2')?componentData.section6SubHeading2:"";
        let heading3 = componentData.hasOwnProperty('section6Heading3')?componentData.section6Heading3:"";
        let subheading3 = componentData.hasOwnProperty('section6SubHeading3')?componentData.section6SubHeading3:"";
        let dataForMobile =[ {
                    data:[{
                        "heading":heading1,
                        "subheading":subheading1
                    },
                    {
                        "heading":heading2,
                        "subheading":subheading2
                    },
                    {
                        "heading":heading3,
                        "subheading":subheading3
                    }
                    ]
                }]
        
        return {
            componentData,
            heading,
            desc,
            img,
            heading1,
            subheading1,
            heading2,
            subheading2,
            heading3,
            subheading3,
            dataForMobile
        }
    }
}
</script>
<style lang="scss" scoped>

.property{background: #fff;text-align: center;padding-top: 4%;}
.property h2{color: #FFA477;}
.property p{max-width: 40%;margin:20px auto;display:block;
    @media (max-width: 399px) {
        max-width: 90%;
    }
}
.property img{margin-bottom: -10%;
    margin-top: 20px;
    @media (max-width: 399px) {
        margin-bottom: -22%;
        margin-top: 10px;  
    }
}
.tradein-property-container{
    padding-top: 0px;
    @media (max-width: 399px) {padding-top: 20px;}
    .property-container-desktop{
       display: block;
        @media (max-width: 399px) {
            display: none;
        }
            
    }
    .feature-card-container{
         display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
        background: #FFE7DB;
        width: 100%;
        padding: 4%;
        // margin-bottom: 40px;
        
            @media (max-width: 1023px) {
               display:none;
            }
        .feature-card{
            // width: 25%;
            flex: 30%;
            padding: 0 1rem 0 1rem; 
            text-align: center;
            @media (max-width: 1023px) {
               flex: 80%;
            }
            .feature-title{
                font-weight: bolder;
                font-size: 2rem;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #0B3533;
                margin: 20px auto;
                max-width: 80%;
            }
            .feature-discriptions{
            letter-spacing: 0.2px;
            font-size: var(--font-size--base);
            font-weight: var(--font-weight--normal);
            color: var(--c-secondary-lighten);
            text-align: center;
            line-height: 25px;
            margin: auto 50px;
        }
        }
    }
    .property-container-mobile{
       display: none;
        @media (max-width: 1023px) {
            display: block;
        }
            
    }
    
}

</style>