<template>
  <SfModal
    class="trade-modal"
    :visible="visible"
    @close="visible = false"
    v-if="tradeData"
  >
    <div class="" v-if="step == 1">
      <h3>{{ modalName }}</h3>
      <RichTextRenderer :document="modalContent" />


      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup {
          background: #fff;
          clear: left;
          font: 14px Helvetica, Arial, sans-serif;
        }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="https://miko.us20.list-manage.com/subscribe/post?u=14c256e5418a40904e119c966&amp;id=587a079f80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate ref="form">
          <div id="mc_embed_signup_scroll">
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </div>
      <div class="mc-field-group">
        <label for="name">Name  <span class="asterisk">*</span>
      </label>
        <input v-model="name" type="text" value="" name="NAME" class="required" id="name">
      </div>
      <div class="mc-field-group">
        <label for="email">Email  <span class="asterisk">*</span>
      </label>
        <input v-model="email" type="email" value="" name="EMAIL" class="required email" id="email">
      </div>
      <div class="mc-field-group size1of2">
        <label for="code">Last 4 digits of Miko 2 serial code  <span class="asterisk">*</span>
      </label>
        <input v-model="code" type="text" name="MERGE5" class="required" value="" id="code">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_14c256e5418a40904e119c966_587a079f80" tabindex="-1" value=""></div>
          <div class="clear"><input v-on:click="submitForm" type="button" value="Continue" name="continue" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->



      <!-- Begin Mailchimp Signup Form -->
      <!--<link
        href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css"
        rel="stylesheet"
        type="text/css"
      />
      <style type="text/css">
        #mc_embed_signup {
          background: #fff;
          clear: left;
          font: 14px Helvetica, Arial, sans-serif;
        }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form
          action="https://miko.us20.list-manage.com/subscribe/post?u=14c256e5418a40904e119c966&amp;id=037888c441"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          novalidate
          ref="form"
        >
          <div id="mc_embed_signup_scroll">
            <div class="indicates-required">
              <span class="asterisk">*</span> indicates required
            </div>
            <div v-if="errors.length">
              <b>Please correct the following error(s):</b>
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
            <div class="mc-field-group">
              <label for="name">Name <span class="asterisk">*</span> </label>
              <input
                v-model="name"
                type="text"
                value=""
                name="NAME"
                class="required"
                id="name"
              />
            </div>
            <div class="mc-field-group">
              <label for="email">Email <span class="asterisk">*</span> </label>
              <input
                v-model="email"
                type="email"
                value=""
                name="EMAIL"
                class="required email"
                id="email"
              />
            </div>
            <div class="mc-field-group">
              <label for="code"
                >Please enter the last 4 digits of Miko 2 serial code
                <span class="asterisk">*</span>
              </label>
              <input
                v-model="code"
                type="text"
                value=""
                name="MERGE5"
                class="required"
                id="code"
              />
            </div>
            <div id="mce-responses" class="clear">
              <div
                class="response"
                id="mce-error-response"
                style="display: none"
              ></div>
              <div
                class="response"
                id="mce-success-response"
                style="display: none"
              ></div>
            </div>
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input
                type="text"
                name="b_14c256e5418a40904e119c966_037888c441"
                tabindex="-1"
                value=""
              />
            </div>
            <div class="clear">
              <input
                v-on:click="submitForm"
                type="button"
                value="Continue"
                name="continue"
                id="mc-embedded-subscribe"
                class="button"
              />
            </div>
          </div>
        </form>
      </div>
      -->
      <!--End mc_embed_signup-->
    </div>
    <div class="step_1 block" v-if="step == 2">
      <p class="data">{{ step1 }}</p>
      <h3>{{ step1Heading }}</h3>
      <p class="data">{{ step1Desc }}</p>
      <div class="checklist_items_wrap">
        <div class="item" @click="selectAccessory(item_1_text)">
          <!-- Add class selected-accessory to select selectedAccessory-->
          <img
            :src="image"
            :class="this.selectedAccessories.includes(item_1_text) ? ' ' : ''"
          />
          <p>{{ item_1_text }}</p>
        </div>
        <div class="item" @click="selectAccessory(item_2_text)">
          <img
            :src="image2"
            :class="this.selectedAccessories.includes(item_2_text) ? ' ' : ''"
          />
          <p>{{ item_2_text }}</p>
        </div>
        <div class="item" @click="selectAccessory(item_3_text)">
          <img
            :src="image3"
            :class="this.selectedAccessories.includes(item_3_text) ? ' ' : ''"
          />
          <p>{{ item_3_text }}</p>
        </div>
        <div class="item" @click="selectAccessory(item_4_text)">
          <img
            :src="image4"
            :class="this.selectedAccessories.includes(item_4_text) ? ' ' : ''"
          />
          <p>{{ item_4_text }}</p>
        </div>
      </div>
      <div class="btns_wrap">
        <SfButton
          class="next_btn"
          @click="
            gotoNext(), sendGTM('trade-in modal', 'step 1 next button clicked')
          "
          aria-label="modal"
        >
          Next
        </SfButton>
      </div>
    </div>

    <div class="step_2 block" v-if="step == 3">
      <p class="data">Step 2/3</p>
      <h3>{{ step2Heading }}</h3>
      <p class="data">{{ step2Desc }}</p>
      <br />
      <p>Choose one:</p>
      <div class="items_wrap" style="flex-direction: column">
        <div
          class="address_1 address"
          :class="this.selectedAddress == address1 ? ' selected' : ''"
          @click="selectAddress(address1)"
        >
          <h3 class="address_heading">{{ address1 }}</h3>
          <p>{{ address1 }}</p>
        </div>
        <div
          class="address_2 address"
          :class="this.selectedAddress == address2 ? ' selected' : ''"
          @click="selectAddress(address2)"
        >
          <h3 class="address_heading">{{ address2 }}</h3>
          <p>{{ address2 }}</p>
        </div>
      </div>
      <div class="btns_wrap">
        <SfButton
          class="back_btn"
          style="border: none; flex: 1"
          @click="
            gotoPrevious(),
              sendGTM('trade-in modal', 'step 2 back button clicked')
          "
          aria-label="modal"
        >
          Back
        </SfButton>
        <SfButton
          class="next_btn"
          @click="
            gotoNext(), sendGTM('trade-in modal', 'step 2 next button clicked')
          "
          aria-label="modal"
        >
          Next
        </SfButton>
      </div>
    </div>

    <div class="step_3 block" v-if="step == 4">
      <p class="data">Step 3/3</p>
      <h3>{{ step3Heading }}</h3>
      <div class="items_wrap" style="flex-direction: column">
        <div class="instruction">
          <img :src="step3Icon1" />
          <p>{{ step3Icon1Text }}</p>
        </div>
        <div class="instruction">
          <img :src="step3Icon2" />
          <p>{{ step3Icon2Text }}</p>
        </div>
        <div class="instruction">
          <img :src="step3Icon3" />
          <p>{{ step3Icon3Text }}</p>
        </div>
      </div>
      <div class="selected_address">
        <h3 class="address_heading">{{ shipHeading }}</h3>
        <div class="selected">
          <h3 class="address_heading">{{ selectedAddress }}</h3>
          <p>{{ selectedAddress }}</p>
        </div>
      </div>
      <div class="btns_wrap">
        <SfButton
          class="back_btn"
          style="border: none; flex: 1"
          @click="
            gotoPrevious(),
              sendGTM('trade-in modal', 'step 3 back button clicked')
          "
          aria-label="modal"
        >
          Back
        </SfButton>
        <SfButton
          class="submit_btn"
          @click="
            submit(), sendGTM('trade-in modal', 'step 3 submit button clicked')
          "
          aria-label="modal"
        >
          Submit
        </SfButton>
      </div>
    </div>

    <div class="step_4 block" v-if="step == 5">
      <h3 class="final_heading">{{ step4Heading }}</h3>
      <h3>{{ step4Heading2 }}</h3>
      <p class="data" style="margin: 10px 0px">{{ step4Heading3 }}</p>
      <nuxt-link :to="localePath('/')" class="back_home">
        Back to Home
      </nuxt-link>
    </div>
  </SfModal>
</template>
<script>
import { SfModal, SfButton } from "@storefront-ui/vue";
import RichTextRenderer from "contentful-rich-text-vue-renderer";
const axios = require("axios");
export default {
  name: "TradeInModal",
  data() {
    return {
      visible: true,
      step: 1,
      selectedAddress: null,
      selectedAccessories: [],
      errors: [],
      name: "",
      email: "",
      code: "",
    };
  },
  props: {
    tradeData: {},
  },
  components: {
    SfModal,
    SfButton,
    RichTextRenderer,
  },
  methods: {
    gotoNext() {
      this.step = this.step + 1;
    },
    gotoPrevious() {
      this.step = this.step - 1;
    },
    submit() {
      this.step = this.step + 1;
    },
    sendGTM(data, val) {
      this.$gtm.push({
        event: "Click",
        action: data,
        value: val,
        deviceid: this.deviceExistingUUID,
      });
    },
    selectAddress(address) {
      this.selectedAddress = address;
    },
    selectAccessory(accessory) {
      if (this.selectedAccessories.includes(accessory)) {
        const index = this.selectedAccessories.indexOf(accessory);
        if (index !== -1) {
          this.selectedAccessories.splice(index, 1);
        }
      } else {
        this.selectedAccessories.push(accessory);
      }
    },
    async submitForm() {
      this.errors = [];

      if (!this.name) {
        this.errors.push("Name is required.");
      }
      if (!this.email) {
        this.errors.push("Email is required.");
      }
      if (!this.code) {
        this.errors.push("Code is required.");
      }

      if (this.name && this.email && this.code) {
        const formData = new FormData(this.$refs["form"]); // reference to form element
        const modalData = {}; // need to convert it before using not with XMLHttpRequest
        for (let [key, val] of formData.entries()) {
          Object.assign(modalData, { [key]: val });
        }
        await axios
          .get(
            `//${this.$config.baseURL}/tradeinform/${modalData.NAME}/${modalData.EMAIL}/${modalData.MERGE5}`
          )
          .then((res) => {
            if (res.status === 200) {
              if (res.data.error_message) {
                console.info(res.data.error_message);
              } else {
                this.gotoNext();
              }
            }
          });
      }
    },
  },
  setup(props) {
    const componentData = props.tradeData.fields;
    let modalName = componentData.hasOwnProperty("modalName")
      ? componentData.modalName
      : "";
    let modalContent = componentData.hasOwnProperty("modalContent")
      ? componentData.modalContent
      : [];
    let step1 = componentData.hasOwnProperty("step1")
      ? componentData.step1
      : "";
    let step1Heading = componentData.hasOwnProperty("step1Heading")
      ? componentData.step1Heading
      : "";
    let step2Heading = componentData.hasOwnProperty("step2Heading")
      ? componentData.step2Heading
      : "";
    let step3Heading = componentData.hasOwnProperty("step3Heading")
      ? componentData.step3Heading
      : "";
    let step4Heading = componentData.hasOwnProperty("step4Heading")
      ? componentData.step4Heading
      : "";
    let step4Heading2 = componentData.hasOwnProperty("step4Heading2")
      ? componentData.step4Heading2
      : "";
    let step4Heading3 = componentData.hasOwnProperty("step4Heading3")
      ? componentData.step4Heading3
      : "";
    let step1Desc = componentData.hasOwnProperty("step1Desc")
      ? componentData.step1Desc
      : "";
    let step2Desc = componentData.hasOwnProperty("step2Desc")
      ? componentData.step2Desc
      : "";
    let image = componentData.hasOwnProperty("step1Icon1")
      ? componentData.step1Icon1.fields.file.url
      : "";
    let image2 = componentData.hasOwnProperty("step1Icon2")
      ? componentData.step1Icon2.fields.file.url
      : "";
    let image3 = componentData.hasOwnProperty("step1Icon3")
      ? componentData.step1Icon3.fields.file.url
      : "";
    let image4 = componentData.hasOwnProperty("step1Icon4")
      ? componentData.step1Icon4.fields.file.url
      : "";
    let item_1_text = componentData.hasOwnProperty("step1Icon1Text")
      ? componentData.step1Icon1Text
      : "";
    let item_2_text = componentData.hasOwnProperty("step1Icon2Text")
      ? componentData.step1Icon2Text
      : "";
    let item_3_text = componentData.hasOwnProperty("step1Icon3Text")
      ? componentData.step1Icon3Text
      : "";
    let item_4_text = componentData.hasOwnProperty("step1Icon4Text")
      ? componentData.step1Icon4Text
      : "";
    let address1 = componentData.hasOwnProperty("step2AddressOption1")
      ? componentData.step2AddressOption1
      : "";
    let address2 = componentData.hasOwnProperty("step2AddressOption2")
      ? componentData.step2AddressOption2
      : "";
    let step3Icon1 = componentData.hasOwnProperty("step3Icon1")
      ? componentData.step3Icon1.fields.file.url
      : "";
    let step3Icon2 = componentData.hasOwnProperty("step3Icon2")
      ? componentData.step3Icon2.fields.file.url
      : "";
    let step3Icon3 = componentData.hasOwnProperty("step3Icon3")
      ? componentData.step3Icon3.fields.file.url
      : "";
    let step3Icon1Text = componentData.hasOwnProperty("step3Icon1Text")
      ? componentData.step3Icon1Text
      : "";
    let step3Icon2Text = componentData.hasOwnProperty("step3Icon2Text")
      ? componentData.step3Icon2Text
      : "";
    let step3Icon3Text = componentData.hasOwnProperty("step3Icon3Text")
      ? componentData.step3Icon3Text
      : "";
    let shipHeading = componentData.hasOwnProperty("shipHeading")
      ? componentData.shipHeading
      : "";

    return {
      componentData,
      step1,
      step1Heading,
      step2Heading,
      step3Heading,
      step1Desc,
      step2Desc,
      image,
      image2,
      image3,
      image4,
      item_1_text,
      item_2_text,
      item_3_text,
      item_4_text,
      address2,
      address1,
      step3Icon1,
      step3Icon2,
      step3Icon3,
      step3Icon1Text,
      step3Icon2Text,
      step3Icon3Text,
      shipHeading,
      step4Heading,
      step4Heading2,
      step4Heading3,
      modalContent,
      modalName,
    };
  },
};
</script>
<style lang="scss" scoped>
.trade-modal {
  --modal-width: 50%;
  --modal-height: auto;
  --modal-top: 50%;
  --modal-left: 50%;
  --modal-bottom: none;
  --modal-right: none;
  --modal-transform: translate3d(-50%, -50%, 0);
  --modal-max-height: 90%;
  @media (max-width: 1199px) {
    --modal-width: 80%;
  }
  @media (max-width: 767px) {
    --modal-width: 90%;
    h3 {
      line-height: 28px;
      margin: 0px 0px;
    }
  }
  ::v-deep .sf-modal__bar {
    display: none;
  }
  ::v-deep .sf-modal__close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    background: var(--c-primary);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 12px;
      height: 12px;
    }
    svg {
      width: 12px;
      height: 12px;
      display: block;
      path {
        fill: var(--c-white);
      }
    }
  }
  ::v-deep .sf-modal__content {
    padding: 15px;
    @media (min-width: 768px) {
      padding: 40px;
    }
    @media (max-width: 768px) {
      padding: 20px;
    }
  }
}
.data {
  font-size: 14px;
  line-height: 19px;
  color: #606060;
}
.checklist_items_wrap {
  display: grid;
  margin: 20px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .item {
    margin: 5px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.items_wrap {
  display: flex;
  margin: 10px 0px;
  .item {
    margin: 25%;
  }
}

.next_btn,
.back_btn,
.submit_btn {
  font-size: 18px;
  padding: 5px 20px;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  color: #000;
  font-weight: 700;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border: 1px solid #000;
  background: transparent;
  float: right;
  @media (max-width: 399px) {
    margin-top: 20px;
    font-size: 18px;
  }
}
.back_home {
  font-size: 18px;
  padding: 5px 20px;
  line-height: 24px;
  margin-top: 20px;
  border-radius: 9999px;
  align-items: center;
  color: #000;
  font-weight: 700;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border: 1px solid #000;
  background: transparent;
  @media (max-width: 399px) {
    margin-top: 20px;
    font-size: 18px;
  }
}
.address_heading {
  font-size: 20px;
  line-height: 27px;
  color: #eb6b6b;
  @media (max-width: 399px) {
    font-size: 18px;
  }
}
.address {
  background: #fff;
  border: 1px solid #eb6b6b;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 15px 25px;
  margin-bottom: 20px;
  max-width: 200px;
}
.address.selected {
  background: #f1e8ed;
}
.block {
  display: inline-block;
  width: 100%;
  align-items: center;
}
.instruction {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}
.instruction img {
  margin-right: 25px;
  height: 100%;
}
.selected_address {
  text-align: center;
  margin: 10px 0px;
}
.selected_address .selected {
  background: #fafafa;
  text-align: center;
  margin: 10px 0px;
  padding: 10px;
}
.btns_wrap {
  display: block;
}
.btns_wrap .back_btn {
  float: left;
}
.final_heading {
  font-size: 30px;
  line-height: 32px;
  color: #eb6b6b;
  margin: 10px 0px;
}
.step_4 {
  text-align: center;
}
.selected-accessory {
  border: 2px solid #000;
  border-radius: 20px;
}
</style>