<template>
    <div class="sec-full-width whats_in_it" >
        <div class="whats-container-desktop">
            <div class="img_wrap">
                <img :src="image" >
            </div>
            <div class="text_wrap">
                <h2 class="">{{title}}</h2>
                <RichTextRenderer :document="data" />
                <button class="trade-in-btn" @click="visible = !visible">{{button_text}}</button>
            </div>
        </div>
        <div class="whats-container-mobile">
            <div class="sec-full-width whats_in_it_mobile" >
                <h2 class="">{{title}}</h2>
                <img :src="image" >
                <div class="ul_wrap">
                    <RichTextRenderer :document="data" />
                    <button class="trade-in-btn" @click="visible = !visible">{{button_text}}</button>
                </div>
            </div>
        </div>
        <TradeInModal v-if="visible && tradeData" :tradeData="tradeData" />
    </div>
</template>
<script>
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
export default {
 name: "WhatsInIt",
 data () {
        return {
            visible: false
        }
 },
 props: {
    tradeData: {},
    whatsInItData: {},
  },
  components: {
    RichTextRenderer, 
    TradeInModal:() => import ('~/components/TradeIn/TradeInModal.vue')
  },
    setup(props,content){
        const componentData =props.whatsInItData.fields
        let title = componentData.hasOwnProperty('section4Heading')?componentData.section4Heading:"";
        let image =componentData.hasOwnProperty('section4Image')?componentData.section4Image.fields.file.url:"";
        let data = componentData.hasOwnProperty('section4Desc')?componentData.section4Desc:"";
        let button_text = componentData.hasOwnProperty('section4ButtonText')?componentData.section4ButtonText:"";
        
        return {
            componentData,
            title,
            image,
            data,
            button_text
        }
    }
}
</script>
<style lang="scss" scoped>
    .whats_in_it{background: #E8F8E2;padding: 7% 16%; 
        @media (max-width: 1023px) {
            padding: 7% 7%; 
        }
    }
    .whats-container-desktop{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1023px) {
            display: none;
        }
    }
    ul{padding-inline-start: 20px;}
    .ul_wrap{
        @media (max-width: 1023px) {
            max-width: 70%;
            margin: 0px auto;
        }
        @media (max-width: 550px) {
            max-width: 100%;
            margin: 0px auto;
        }
    }
    .img_wrap{width: 45%;order: 1;}
    .text_wrap{width: 55%;order: 2;}
    .whats_in_it h2{color:#7AD854;
        @media (max-width: 1023px) {
            text-align: center;
            margin-top: 10px;
        }
    }
    .whats_in_it img{
        @media (max-width: 1023px) {
            margin: 0px auto;
            display: block;
        }
    }
    .whats_in_it .trade-in-btn{
        font-size: 24px;
        padding: 12px 20px;
        margin-top: 20px;
        border-radius: 9999px;
        display: inline-flex;
        align-items: center;
        color: #000;
        font-weight: 700;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
        border: 1px solid #000;
        background: transparent;
         @media (max-width: 1023px) {
             font-size: 18px;
             margin-left: 20px;
            margin-top: 10px;
         }
    }
     .whats-container-mobile{
       display: none;
        @media (max-width: 1023px) {
            display: block;
        }
            
    }

</style>