@font-face {
  font-family: 'Degular Display';
  src: url('/fonts/DegularDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Degular Display';
  src: url('/fonts/DegularDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Degular Display';
  src: url('/fonts/DegularDisplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Degular Display';
  src: url('/fonts/DegularDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  width: auto;
  overflow: unset;
  scroll-behavior: smooth;
}

body {
  --font-family--primary: 'Degular Display', sans-serif;
  --font-family--secondary: 'Degular Display', sans-serif;
  --font-weight--extrabold: 800;
  --font-weight--black: 900;
  --font-size--xs: 12px;
  --font-size--sm: 16px;
  --font-size--base: 20px;
  --font-size--lg: 24px;
  --font-size--xl: 28px;
  --font-size--xxl: 36px;
  --h1-font-size: 60px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: var(--font-size--base);
  --h6-font-size: var(--font-size--sm);
  --line-height--base: 1.5;
  @media (max-width: 767px) {
    --font-size--base: 18px;
    --font-size--lg: 20px;
    --font-size--xl: 26px;
    --font-size--xxl: 28px;
    --h1-font-size: 30px;
    --h2-font-size: 28px;
    --h3-font-size: 26px;
    --h4-font-size: 22px;
    --h5-font-size: var(--font-size--lg);
    --h6-font-size: var(--font-size--sm);
  }
  --c-black: #000000;
  --c-primary: #EE6B6B;
  --c-primary-lighten: #F1E8EC;
  --c-primary-darken: #AB333E;
  --c-secondary: #000000;
  --c-secondary-lighten: #606060;
  --c-secondary-darken: #0B3533;
  --c-light: #C4C4C4;
  --c-gray-f6f6f6: #f6f6f6;
  --c-gray-f9f6f8: #f9f6f8;
  --c-gray-dfdfdf: #dfdfdf;
  --c-gray-CACACA: #CACACA;
  --c-gray-6A7381: #6A7381;
  --c-gray-9a9a9a: #9a9a9a;
  --c-info: #3E80E3;
  --c-success: #7DD75C;
  --c-warning: #F4BC7B;
  --c-danger: #FF0000;
  --c-white: #ffffff;
  --c-light-green-e7f6f2: #E7F6F2;
  --c-pink-FDF0F0: #FDF0F0;
  --c-pink-EB6B6B: #EB6B6B;
  --c-light-pink-F1E8ED: #F1E8ED;
  --c-pink-F6B1B1: #F6B1B1;
  --c-blue-F5F9FF: #F5F9FF;
  --c-blue-E5F6FA: #E5F6FA;
  --c-blue-a4d1ec: #a4d1ec;
  --c-blue-6d99dc: #B7DDE1;
  --c-blue-55ABDB: #55ABDB;
  --c-blue-4ea5da: #4ea5da;
  --c-blue-307FF3: #307FF3;
  --c-red-db3a4d: #F4364C;
  --c-green-aed94a: #aed94a;
  --c-orenge-FDA37C: #FDA37C;
  ::-moz-selection,
  ::selection{
    background: var(--c-primary);
    color:var(--c-white);
  }
  overflow-x: hidden;
  color: var(--c-black);
  font-size: var(--font-size--lg);
  font-family: var(--font-family--primary);
  font-weight: 500;
  margin: 0;
  padding: 0;
}
*, ::before, ::after {
  font-family: var(--font-family--primary);
  box-sizing: border-box;
}
:focus-visible {
  outline: none;
}
#__nuxt {
  overflow-x: hidden;
}
a{
  color: var(--c-black);
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
p{
  margin: 0;
  line-height: 1.4;
}

h1, .h1 {
  font-size: var(--h1-font-size);
  color: var(--c-secondary-darken);
  font-weight:700;
  @media (min-width: 3280px) {
    font-size: 75px;
  }
}

h2, .h2 {
  font-size: var(--h2-font-size);
  color: var(--c-secondary-darken);
  font-weight:700;
}

h3, .h3 {
  font-size: var(--h3-font-size);
  font-weight:700;
}

h4, .h4 {
  font-size: var(--h4-font-size);
  font-weight:700;
}

h5, .h5 {
  font-size: var(--h5-font-size);
  font-weight:700;
}

h6, .h6 {
  font-size: var(--h6-font-size);
  font-weight:700;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

button{
  &:focus {
    outline: none;
  }
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left:15px;
  padding-right:15px;
  @media (min-width:2200px){
    max-width: 1920px;
  }
  @media (min-width:3280px){
    max-width: 2880px;
  }
}
.about-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  @media (min-width:2200px){
    max-width: 1920px;
  }
  @media (min-width:3280px){
    max-width: 2880px;
  }
}

.sf-button {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --button-font-weight: var(--font-weight--bold);
  &:hover {
    --button-box-shadow-opacity: 0;
  }
  &:active {
    --button-text-decoration: none;
    --button-transition: none;
  }
  &:focus {
    outline: none;
  }
  &::before {
    display:none;
  }
  &--text {
    --button-text-decoration: none;
  }
}
.sec-full-width {
  @media (min-width: 1280px) {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
  }
}
.video-container {
  padding-bottom:56%;
  height:0;
  position: relative;
}
.video-container iframe {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
button, input, optgroup, select, textarea{
  line-height: inherit;
}
.btn-1{
  background:transparent;
  border:solid 2px var(--c-black);
  text-transform: capitalize;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color:var(--c-black);
  font-weight:var(--font-size--base);
  border-radius:9999px;
  font-weight:700;
  padding:7px 20px;
  &:hover{
    border-color:var(--c-primary);
    background:var(--c-primary);
    color:var(--c-white);
  }
  @media (min-width:768px){
    padding:10px 48px;
    font-size:var(--font-size--sm);
  }
  @media (min-width: 2200px) {   
    letter-spacing: 1px;
  }
  @media (min-width: 3280px) {
    font-size: var(--font-size--xxl);
  }
}

.info-tooltip{
  position:relative;
  display: inline-block;
  vertical-align: top;
  padding-top:5px;
  padding-left:5px;
  svg{
    width:16px;
    height:16px;
    color: var(--c-gray-darken);
    cursor: pointer;
  }
  .tooltip-pop{
    box-shadow: 0px 1px 9px rgba(10, 31, 68, 0.1), 0px 0px 1px rgba(10, 31, 68, 0.08), 0px 8px 10px rgba(10, 31, 68, 0.1);
    position: absolute;
    width:225px;
    z-index:1;
    left:0;
    bottom:20;
    padding:15px;
    background: var(--c-white);
    border-radius: 0.375rem;
    display:none;
    h4{
      font-size:var(--font-size--sm);
      font-weight:normal;
      margin-bottom:5px;
    }
    p{
      font-size:var(--font-size--sm);
      color: var(--c-gray-darken);
      margin-bottom:5px;
    }
    a{
      background: transparent;
      padding:0;
      color: var(--c-blue-6d99dc);
      font-size: var(--font-size--xs);
      font-weight:normal;
      text-decoration: underline;
      display:inline-block;
      line-height:1;
      text-transform: capitalize;
    }
  }
  &:hover{
    .tooltip-pop{
      display: block;
    }
  }
  @media (min-width: 3280px) {
    svg{
      width: 20px;
      height: 20px;
    }
    .tooltip-pop{
      width:450px;
      h4{
        font-size:34px;
      }
      p{
        font-size:34px;
      }
      a{
        font-size: 32px;
      }
    }
  }
}
.color-option{
  display:flex;
  align-items:center;
  button{
    display:block;
    width:30px;
    height:30px;
    border-radius:100%;
    position: relative;
    margin:5px 0 5px 25px;
    &::after{
      content: '';
      position: absolute;
      display: block;
      width:40px;
      height:40px;
      top:-5px;
      left:-5px;
      border:solid 1px var(--c-white);
      border-radius:100%;
    }
    &.is-active{ 
      pointer-events: none;
    }
    &.goblingreen {
      background: var(--c-green-aed94a);
      &.is-active,
      &:hover{
        &::after{
          border-color: var(--c-green-aed94a);
        }
      }
    }
    &.martianred,
    &.Pink{
      background: var(--c-red-db3a4d);
      &.is-active,
      &:hover{
        &::after{
          border-color: var(--c-red-db3a4d);
        }
      }
    }
    &.pixieblue,
    &.Blue{
      background:var(--c-blue-6d99dc);
      &.is-active,
      &:hover{
        &::after{
          border-color: var(--c-blue-6d99dc);
        }
      }
    }
    .sf-color__badge{
      display: none !important;
    }
  }
  &.small-co{
    margin-right: 20px;
    button{
      width: 20px;
      height: 20px;
      margin-left: 15px;
      &::after{
        width: 30px;
        height: 30px;
      }
    }
  }
  @media (min-width:768px){
    button{
      width:35px;
      height:35px;
      margin-left:30px;
      &::after{
        width:45px;
        height:45px;
      }
    }
    &.small-co{
      button{
        width: 30px;
        height: 30px;
        margin-left: 20px;
        &::after{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  @media (min-width:1024px){
    &.small-co{
      margin-right: 45px;
    }
  }
  @media (min-width:3280px){
    button{
      width: 45px;
      height: 45px;
      &::after{
        width:60px;
        height:60px;
        border-width: 2px;
        top: -7px;
        left: -7px;
      }
    }
    &.small-co{
      button{
        width: 40px;
        height: 40px;
        &::after{
          width: 52px;
          height: 52px;
          top: -6px;
          left: -6px;
        }
      }
    }
  }
}
.sf-color.is-active,
.sf-color:hover{
  transform: scale(1);
}
.sf-quantity-selector{
  width:120px;
  display:flex;
  background: transparent;
  @media (min-width:1024px){
    width:140px;
  }
  @media (min-width:3280px){
    width:210px;
  }
  .sf-button--pure{
    border:solid 1px var(--c-gray-dfdfdf);
    background: var(--c-gray-f6f6f6);
    border-radius:100%;
    min-width:30px;
    min-height:30px;
    width:30px;
    height:30px;
    padding:0;
    display:block;
    @media (min-width:1024px){
      min-width:40px;
      min-height:40px;
      width:40px;
      height:40px;
    }
    @media (min-width:3280px){
      min-width:60px;
      min-height:60px;
      width:60px;
      height:60px;
      font-size: 40px;
      font-weight: normal;
      line-height: 40px;
    }
  }
  .sf-input{
    min-width:45px;
    min-height:0;
    @media (min-width:1024px){
      min-width:55px;
    }
    @media (min-width:3280px){
      min-width:90px;
    }
    .sf-input__wrapper{
      position: relative;
      display:flex;
      align-items:center;
      &::before{
        content:'';
        position: absolute;
        display:block;
        width:100%;
        height:100%;
      }
      input{
        width:100%;
        line-height:1;
        font-weight:700;
        font-size: var(--font-size--base);
        @media (min-width:3280px){
          font-size: var(--font-size--xxl);
        }
      }
    }
  }
}
html[lang='es'] {
  .home-hero-banner {
    .slide1 {
      .banner-title {
        font-size: 65px;
        @media (min-width:768px){
        font-size: 170px;
        }
      }
    }
  }
}
a,
.sf-button{
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.col-6 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  @media (min-width:640){
    width: 50%;
  }
}

.col-12 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.sf-sidebar {
  position: relative;
  z-index: 10;
}

.sf-modal__overlay {
  z-index: 10;
}
.sf-overlay {
  background: var(--overlay-background, rgba(#fff, 0.7));
}

.sf-modal__container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 11;
  .sf-modal__close {
    @media (max-width:1023px){
      display: block !important;
      top: 21px;
      right: 20px;
      width: 16px;
      height: 16px;
    }
  }
}

.lead-modal .sf-modal__container{
  margin-top:50px;
}

.lead-modal .sf-modal__content{
  min-height: 560px;
  background: #fff;
}

.sf-modal {
  .sf-bar {
    border-bottom: solid 1px var(--c-light);
    padding: 13px 45px 13px 20px;
    width: auto;
    height: auto;
    font-size: var(--font-size--lg);
    font-weight: 700;
    line-height: var(--line-height--base);
    background: var(--c-gray-f6f6f6);
    @media (min-width:1024px){
      padding: 20px 55px 20px 30px;
    }
    @media (min-width:3280px){
      font-size: 45px;
    }
    & > *:empty {
      display: none;
    }
  }
  @media (max-width:1023px){
    --modal-top: 50%;
    --modal-left: 50%;
    --modal-bottom: none;
    --modal-right: none;
    --modal-transform: translate3d(-50%, -50%, 0);
  }
}

.sf-modal__close {
  top: 29px;
  right: 30px;
  svg {
    path {
      transition: all 0.3s ease 0s;
    }
  }
  &:hover {
    svg {
      path {
        stroke: var(--c-primary);
      }
    }
  }
  @media (min-width:3280px){
    top: 45px;
    svg{
      width: 22px;
      height: 22px;
    }
  }
}

.sf-modal__content {
  font-weight: normal;
  font-size: 14px;
  padding:20px;
  @media (min-width:1024px){
    padding:30px;
  }
}

.sf-input:not(.sf-quantity-selector__input) {
  padding-top:25px;
  padding-bottom:12px;
  input{
    font-weight: normal;
    font-size: 16px;
    border-radius: 8px;
    padding:12px 45px 12px 15px;
    color: var(--c-black);
    border: solid 1px var(--c-light);
    @media (min-width:1024px){
      padding:14px 45px 14px 20px;
    }
    &:focus ~ * {
        --input-password-icon-background: var(--c-light);
    }
    &:focus ~ *:not(button),
    &:placeholder-shown ~ * {
        --input-label-top: 50%;
    }
    &:focus ~ *,
    &:placeholder-shown ~ *,
    &:-webkit-autofill ~ *,
    &:-webkit-autofill:hover ~ *,
    &:-webkit-autofill:focus ~ * {
        --input-label-top: 10px;
    }
    &:disabled {
      --input-color: var(--c-secondary-lighten);
      -webkit-text-fill-color: var(--c-secondary-lighten);
    }
  }
  @media (min-width:3280px){
    margin-bottom: 30px;
    input{
      font-size: var(--font-size--xxl);
    }
  }
  &.invalid {
    input {
      border-color: var(--c-danger);
      color: var(--c-danger);
    }
    label {
      color: var(--c-danger);
    }
  }
  .sf-input__bar {
    display: none;
  }
  &.has-text,
  input[type="date"] ~ *,
  input[type="time"] ~ *,
  input[type="image"] ~ *,
  input[type="file"] ~ * {
    --input-label-top: 50%;
  }
  .sf-input__error-message {
    display: none;
  }
  .sf-input__label {
    cursor: text;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 0;
    top: -15px;
    font-size: 14px;
    line-height: 1.13;
    font-weight: 500;
    color:var(--c-secondary-lighten);
    @media (min-width:1024px){
      font-size: 16px;
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xxl);
      top: -30px;
    }
    &::after {
      color: inherit;
    }
  }
}
.sf-checkbox__message--error,
.sf-input__error-message {
  display: none;
}
.sf-select {
  &.form__element {
    position: relative;
    height: auto;
    padding-top: 25px;
    select {
      border: solid 1px var(--c-light);
      padding: 12px 45px 12px 15px;
      height: 47px;
      color: var(--c-black);
      font-size: 16px;
      line-height: 1;
      border-radius: 8px;
      font-weight: normal;
      appearance: none;
      @media (min-width:1024px){
        padding: 14px 45px 14px 20px;
        height: 48px;
      }
      option{
        font-size: var(--font-size--sm);
      }
    }
    &.is-invalid {
      select {
        border-color: var(--c-danger);
        color: var(--c-danger);
      }
      label {
        color: var(--c-danger);
      }
    }
    .sf-select__error-message {
      display: none;
    }
    &::after {
      content: "";
      background: url('/icons/select-arrow.png') no-repeat;
      position: absolute;
      right: 15px;
      top: 50%;
      width: 16px;
      height: 9px;
      pointer-events: none;
      @media (min-width:1024px){
        right: 20px;
      }
    }
    .sf-select__label {
      font-size: 14px;
      color: var(--c-secondary-lighten);
      line-height: 1.13;
      font-weight: 500;
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      height: auto;
      pointer-events: none;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      cursor: text;
      &::after {
        color: inherit;
      }
      @media (min-width:1024px){
        font-size: 16px;
      }
    }
  }
}
.top-bar-enabled {
  .header-placeholder{
    &:not([class*="home___"]):not([class*="homelead__"]):not([class*="warranty-registration___"]):not([class*="category___"]):not([class*="track-order___"]):not([class*="collectionListing___"]):not([class*="loyalty-program___"]):not([class*="loyaltyProgramPage___"]):not([class*="trackOrderPage___"]):not([class*="warrantyRegistrationPage___"]):not([class*="product___"]):not([class*="singleProduct___"]) {
      padding-top: 101px;
      @media (min-width:1024px){
        padding-top: 110px;
      }
    }
  }
}
.header-placeholder{
  &:not([class*="home___"]):not([class*="homelead__"]):not([class*="warranty-registration___"]):not([class*="category___"]):not([class*="track-order___"]):not([class*="collectionListing___"]):not([class*="loyalty-program___"]):not([class*="loyaltyProgramPage___"]):not([class*="trackOrderPage___"]):not([class*="warrantyRegistrationPage___"]):not([class*="product___"]):not([class*="singleProduct___"]) {
    padding-top: 61px;
    @media (min-width:1024px){
      padding-top: 70px;
    }
  }
}
.sf-checkbox__checkmark {
  border: solid 1px var(--c-black);
  width: 16px;
  height: 16px;
  border-radius: 4px;
  @media (min-width:1024px){
    width: 20px;
    height: 20px;
  }
  @media (min-width:3280px){
    width: 30px;
    height: 30px;
  }
  .sf-icon {
    width: inherit;
    height: inherit;
  }
}
.sf-checkbox {
  &.has-error {
    .sf-checkbox__checkmark {
       border: solid 1px var(--c-danger);
    }
  }
  &.is-active {
    --checkbox-border-color: var(--c-black);
    --checkbox-background: var(--c-black);
  }
  .sf-button {
    font-weight:500;
    font-size: 16px;
  }
}
.sf-checkbox__label {
  font-family: var(--font-family--primary);
  transition: all 0.3s ease 0s;
  color: var(--c-black-darken);
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  &:hover{
    color: var(--c-primary);
  }
}
form {
.input-icon {
  position: absolute;
  right: 20px;
  top: 39px;
  line-height: 1;
  font-size: 0;
  @media (min-width:1024px){
    top: 41px;
  }
  @media (min-width:3280px){
    svg{
      width: 30px;
      height: 30px;
    }
  }
}
}
.sf-input__password-button {
  top: 22px;
  right: 20px;
  .sf-icon {
    fill: var(--icon-color, var(--c-light));
  }
  @media (min-width:3280px){
    svg{
      width: 35px;
      height: 35px;
    }
  }
}
.sf-input__password-icon {
  display: block !important;
  &::after {
    background: var(--input-password-icon-background, var(--c-light));
     height: 2px;
     left: 0;
  }
}
.flex{
  display: flex;
}
.items-center{
  align-items: center;
}
.relative{
  position: relative;
}
button{
  cursor: pointer;
}
.bg-sf-c-lightblue1{
  background: rgba(242,252,252,1);
}
.bg-sf-c-lightblue2{
  background: rgba(236,247,253,1);
}
.bg-sf-light-pink{
  background: rgba(252,240,240,1);
}
.z-2{
  z-index: 2;
}
.z-1{
  z-index: 1;
}
.text-center{
  text-align: center;
}
.h-screen {
  height: 100vh;
}

body #fc_frame, body #fc_frame.fc-widget-small {
  z-index: 9;
  @media (max-width: 1440px) {
    bottom: 105px;
  }
  @media (max-width: 767px) {
    bottom: 75px;
  }
}

.sf-price {
  .sf-price__old {
    text-decoration: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--c-gray-9a9a9a);
      @media (max-width: 767px) {
        top: 13px;
      }
    }
  }
}


.nok_button{
    background: #000;
    display: block;
    letter-spacing: initial;
    color: white;
    border-radius: 9999px;
    height: min-content;
    width: max-content;
    padding: 12px 30px;
    max-width: inherit;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    @media (max-width: 767px) {
      padding: 12px 10px;
    }
}

.or{margin: 10px;text-align: center;}

.nok_button img {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-left: 10px;
}