<template>
  <div>
    <div id="layout" >
      <AppHeader />
      <nuxt />
      <CartSidebar />
      <AccountSidebar />
      <LoginModal />
    </div>
  </div>
</template>

<script>
import AppHeader from '~/components/AppHeader.vue';
import CartSidebar from '~/components/CartSidebar.vue';
import AccountSidebar from '~/components/AccountSidebar.vue';
import LoginModal from '~/components/LoginModal.vue';

export default {
  name: 'AccountLayout',
  middleware: 'detect-country',
  components: {
    AppHeader,
    CartSidebar,
    AccountSidebar,
    LoginModal
  }
};
</script>

<style lang="scss">
@import "~@storefront-ui/vue/styles";
</style>
