<template>
  <div>
    <PromotionalBar v-if="$store.state.isTopBarEnabled" :content="HeaderData" />
    <div
      class="site-header"
      :class="{ 'is-visible': navVisible, 'has-scrolled': hasScroled, 'top-bar-enabled': $store.state.isTopBarEnabled }"
    >
      <AppHeader
        v-if="Object.keys(HeaderData).length > 0"
        :contents="HeaderData"
        :cartTotalItems="getCartTotalItems"
        :isUserAuthenticated="getUserStatus"
        :preOrderText="ctaButtonLabel"
      />
    </div>
    <div id="layout" :class="{ 'top-bar-enabled' : $store.state.isTopBarEnabled }">
      <div class="header-placeholder" :class="$route.name" />
      <nuxt :key="$route.fullPath" />
      <CartSidebar
        v-if="Object.keys(cartData).length > 0"
        :contents="cartData"
      />
      <AccountSidebar
        :firstName="firstName"
        :lastName="lastName"
        @initLogout="logoutUser"
      />
      <client-only>
        <NavigationSidebar
          v-if="$device.isMobile"
          :logo="mainLogo"
          :logo-dimentions="LogoDimentions"
          :logo-title="mikoLogoTitle"
          :menu-items="menuItems"
        />
      </client-only>
      <LoginModal />
      <Notification />
    </div>
    <LazyHydrate when-visible>
      <AppFooter
        v-if="Object.keys(footerData).length > 0"
        :contents="footerData"
      />
    </LazyHydrate>
    <GlobalBottomBar v-if="Object.keys(products).length > 0" :products="getFilteredProduct()" :preOrderText="ctaButtonLabel"/>
  </div>
</template>

<script>
import PromotionalBar from "~/components/PromotionalBar.vue";
import AppHeader from "~/components/AppHeader.vue";
import CartSidebar from "~/components/CartSidebar.vue";
import AccountSidebar from "~/components/AccountSidebar.vue";
import LoginModal from "~/components/LoginModal.vue";
import LazyHydrate from "vue-lazy-hydration";
import Notification from "~/components/Notification";
import NavigationSidebar from "~/components/NavigationSidebar.vue";
import GlobalBottomBar from "~/components/BottomBar.vue";
import { useProduct, useUser, userGetters } from "@vue-storefront/shopify";
import { computed, onBeforeMount } from "@vue/composition-api";
import { onSSR } from "@vue-storefront/core";
import { useUiNotification } from "~/composables";
import {
  getFileUrl,
  getContentsBySectionKey,
  getImageDimentions,
  getMenuByPosition,
  getFilteredContents,
} from "~/helpers/contentful";
export default {
  name: "DefaultLayout",
  middleware: 'detect-country',
  setup(props, context) {
    const { products, search } = useProduct("products");
    let inIt = true;
    const slug = context.root.$config.mikoHandle;
    const { user: userInfo, load: loadUser, logout } = useUser();
    const { send: sendNotification } = useUiNotification();
    const getCartTotalItems = computed(
      () => context.root.$store.state.cartTotal
    );
    const chosenSubscriptionVariant = computed(
      () => context.root.$store.state.chosenSubscriptionVariant
    );
    // const getCartItems = computed(() =>
    //   context.root.$store.state.cartItems.reduce((acc, element) => {
    //     if (
    //       element.variant.product.handle === context.root.$config.mikoMaxHandle
    //     ) {
    //       return [element, ...acc];
    //     }
    //     return [...acc, element];
    //   }, [])
    // );
    const firstName = computed(() => userGetters.getFirstName(userInfo.value));
    // const emailAddress = computed(() =>
    //   userGetters.getEmailAddress(userInfo.value)
    // );
    const lastName = computed(() => userGetters.getLastName(userInfo.value));
    // const phoneNumber = computed(() => userGetters.getPhone(userInfo.value));
    const getUserStatus = computed(() => (firstName.value ? true : false));
    let [
      mainLogo,
      mikoLogoTitle,
      LogoDimentions,
      menuItems,
      footerData,
      HeaderData,
      cartData,
      checkoutButtonLabel,
      ctaButtonLabel
    ] = ["", "", [], [], {}, {}, {}, "Pre-Order"];
    let commonSiteData = JSON.parse(
      JSON.stringify(context.root.$store.state.commonElements)
    );
    // mobile menu
    if (commonSiteData && Object.keys(commonSiteData).length) {
      const commonElements = getContentsBySectionKey(commonSiteData, {
        sectionId: "commonElements",
      });
      //Header data
      HeaderData = getFilteredContents(commonElements, {
        contentTypeId: "pwaComponentHeaderSection",
      });
      //FooterData
      footerData = getFilteredContents(commonElements, {
        contentTypeId: "pwaComponentFooterSection",
      });
      //cartData
      cartData = getFilteredContents(commonElements, {
        contentTypeId: "pwaComponentCartElements",
      });

      const logoObj =
        HeaderData && HeaderData.hasOwnProperty("fields")
          ? HeaderData.fields.logo.fields
          : [];
      mikoLogoTitle =
        HeaderData && HeaderData.hasOwnProperty("fields")
          ? HeaderData.fields.logo.fields.title
          : "";

      mainLogo = logoObj ? getFileUrl(logoObj, context.root.$device) : "";
      LogoDimentions = getImageDimentions(logoObj);
      menuItems =
        HeaderData && HeaderData.hasOwnProperty("fields")
          ? getMenuByPosition(
              HeaderData.fields.topMainNavigation,
              "Guest: Primary Navigation"
            )
          : [];
      const isExtendEnable = computed (()=> HeaderData.fields.isExtendEnable);
      const isNokEnable = computed (()=> HeaderData.fields.isNokEnable);
      const isTopBarEnabled = computed (()=> HeaderData.fields.isTopBarEnabled);
      context.root.$store.commit('SET_EXTEND_STATUS', isExtendEnable.value);
      context.root.$store.commit('SET_NOK_STATUS', isNokEnable.value);
      context.root.$store.commit('SET_TOPBAR_STATUS', isTopBarEnabled.value);
      const bundlePRoductInfo = computed (()=>  { 
        return {
          bundleProductBackgroundColor: cartData.fields.bundleProductBackgroundColor,
          bundleProductCtaButtonText: cartData.fields.bundleProductCtaButtonText,
          bundleProductGlobalWidgetIsActive: cartData.fields.bundleProductGlobalWidgetIsActive,
          bundleProductHeading: cartData.fields.bundleProductHeading,
          bundleProductImage: cartData.fields.bundleProductImage.fields.file,
          bundleProductIsActiveOnPdp: cartData.fields.bundleProductIsActiveOnPdp,
          bundleProductSubheading: cartData.fields.bundleProductSubheading,
          bundleProductDefaultMiko3VariantId: cartData.fields.bundleProductDefaultMiko3VariantId,
          bundleProductDefaultMikomaxVariantId: cartData.fields.bundleProductDefaultMikomaxVariantId,
          bundleProductDefaultWarrantyVariantId: cartData.fields.bundleProductDefaultWarrantyVariantId,
        }
      });
      context.root.$store.commit('SET_BUNDLE_PRODUCT_INFO', bundlePRoductInfo.value);  
      checkoutButtonLabel =
        cartData && cartData.fields.hasOwnProperty("checkoutButtonLabel")
          ? cartData.fields.checkoutButtonLabel
          : "Checkout now";
      ctaButtonLabel = HeaderData && HeaderData.hasOwnProperty('fields') ? HeaderData.fields.ctaButtonLabel : '';
    }
    // const initializeChargeBeeWidget = () => {
    //   if (!document.getElementById("chargebe-container")) {
    //     return;
    //   }

    //   // Chargebe checkout button
    //   const cbCheckoutBtn = document.createElement("a");
    //   cbCheckoutBtn.className =
    //     "btn-1 continue-Shopping-btn btn-chargebee-subscription sf-button";
    //   cbCheckoutBtn.href = "javascript:void(0)";
    //   cbCheckoutBtn.setAttribute("data-cb-type", "checkout");
    //   // fill chargeBee items
    //   if (getCartItems.value.length > 0) {
    //     getCartItems.value.forEach((key, index) => {
    //       cbCheckoutBtn.setAttribute(
    //         `data-cb-item-${index}`,
    //         `${key.variant.sku}-USD`
    //       );
    //       cbCheckoutBtn.setAttribute(
    //         `data-cb-item-${index}-quantity`,
    //         key.quantity
    //       );
    //     });
    //   }
    //   cbCheckoutBtn.innerText = checkoutButtonLabel;
    //   document.getElementById("chargebe-container").innerHTML = "";
    //   document.getElementById("chargebe-container").appendChild(cbCheckoutBtn);
    //   setTimeout(() => {
    //     if (inIt) {
    //       Chargebee.init({ site: "pushq-test" });
    //       const cbInstance = Chargebee.getInstance();

    //       // get loggedin user info
    //       if (userInfo.value) {
    //         const cart = cbInstance.getCart();
    //         const customer = {
    //           first_name: firstName.value,
    //           last_name: lastName.value,
    //           email: emailAddress.value,
    //           billing_address: {
    //             first_name: firstName.value,
    //             last_name: lastName.value,
    //             phone: phoneNumber.value,
    //           },
    //         };
    //         cart.setCustomer(customer);
    //       }

    //       cbInstance.setCheckoutCallbacks((cart) => {
    //         // you can define a custom callbacks based on cart object
    //         return {
    //           success: (hostedPageId) => {
    //             // Reset cart
    //             context.root.$cookies.remove(
    //               `${context.root.$config.appKey}_cart_id`
    //             );
    //             context.root.$cookies.remove(
    //               `${context.root.$config.appKey}_cart_id`,
    //               { path: "/store" }
    //             );
    //             window.location.href = context.root.localePath("/thankyou");
    //           },
    //         };
    //       });

    //       if (emailAddress.value) {
    //         // Chargebee Portal session
    //         cbInstance.setPortalSession(() => {
    //           return new Promise(async (resolve, reject) => {
    //             const myHeaders = new Headers();
    //             myHeaders.append("Content-Type", "application/json");
    //             const raw = JSON.stringify({
    //               email: emailAddress.value,
    //             });
    //             const requestOptions = {
    //               method: "POST",
    //               headers: myHeaders,
    //               body: raw,
    //             };

    //             //set up customer sesson if loggedIn
    //             const sessionData = await fetch(
    //               `//${context.root.$config.baseURL}/cb-session`,
    //               requestOptions
    //             )
    //               .then((response) => {
    //                 return response.json();
    //               })
    //               .then((json) => {
    //                 return json;
    //               });
    //             resolve(sessionData);
    //           });
    //         });

    //         // Chargebe portal button
    //         const cbPortalBtn = document.createElement("a");
    //         cbPortalBtn.className =
    //           "btn-1 continue-Shopping-btn btn-chargebee-subscription sf-button";
    //         cbPortalBtn.href = "javascript:void(0)";
    //         //cbPortalBtn.setAttribute('data-cb-type', 'portal');
    //         cbPortalBtn.innerText = "Manage subscriptions";
    //         cbPortalBtn.addEventListener("click", function () {
    //           let cbPortal = cbInstance.createChargebeePortal();
    //           cbPortal.open();
    //         });
    //         document
    //           .getElementById("chargebe-container")
    //           .appendChild(cbPortalBtn);
    //       }
    //       inIt = false;
    //     } else {
    //       Chargebee.registerAgain();
    //       const cbInstance = Chargebee.getInstance();
    //       const cart = cbInstance.getCart();
    //       const customer = {
    //         first_name: firstName.value,
    //         last_name: lastName.value,
    //         email: emailAddress.value,
    //         billing_address: {
    //           first_name: firstName.value,
    //           last_name: lastName.value,
    //           phone: phoneNumber.value,
    //         },
    //       };
    //       cart.setCustomer(customer);

    //       if (emailAddress.value) {
    //         // Chargebee Portal session
    //         cbInstance.setPortalSession(() => {
    //           return new Promise(async (resolve, reject) => {
    //             const myHeaders = new Headers();
    //             myHeaders.append("Content-Type", "application/json");
    //             const raw = JSON.stringify({ email: emailAddress.value });
    //             const requestOptions = {
    //               method: "POST",
    //               headers: myHeaders,
    //               body: raw,
    //             };
                
    //             //set up customer sesson if loggedIn
    //             const sessionData = await fetch(
    //               `//${context.root.$config.baseURL}/cb-session`,
    //               requestOptions
    //             )
    //               .then((response) => {
    //                 return response.json();
    //               })
    //               .then((json) => {
    //                 return json;
    //               });
    //             resolve(sessionData);
    //           });
    //         });

    //         // Chargebe portal button
    //         const cbPortalBtn = document.createElement("a");
    //         cbPortalBtn.className =
    //           "btn-1 continue-Shopping-btn btn-chargebee-subscription sf-button";
    //         cbPortalBtn.href = "javascript:void(0)";
    //         cbPortalBtn.innerText = "Manage subscriptions";
    //         cbPortalBtn.addEventListener("click", function () {
    //           let cbPortal = cbInstance.createChargebeePortal();
    //           cbPortal.open();
    //         });
    //         document
    //           .getElementById("chargebe-container")
    //           .appendChild(cbPortalBtn);
    //       }
    //     }
    //   }, 500);
    // };
    onBeforeMount(async () => {
      await loadUser();
    });
    onSSR(async () => {
      await search({ scope: "all" }).then(() => {
        // store all products to store
        context.root.$store.commit("SET_ALLPRODUCTS", products.value);
      });
    });

    return {
      products,
      mainLogo,
      mikoLogoTitle,
      LogoDimentions,
      menuItems,
      footerData,
      HeaderData,
      cartData,
      getCartTotalItems,
      chosenSubscriptionVariant,
      getUserStatus,
      firstName,
      lastName,
      logout,
      sendNotification,
      ctaButtonLabel,
      slug
      // getFilteredProduct
      // initializeChargeBeeWidget,
    };
  },
  components: {
    LazyHydrate,
    AppHeader,
    CartSidebar,
    AccountSidebar,
    NavigationSidebar,
    LoginModal,
    Notification,
    GlobalBottomBar,
    PromotionalBar,
    AppFooter :() => import('~/components/AppFooter.vue'),
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      commonData: {},
      navVisible: true,
      isScrolling: false,
      hasScroled: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 10,
      // eslint-disable-next-line semi
    };
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  beforeMount() {
    window.addEventListener(
      "scroll",
      () => {
        this.hasScrolled();
      },
      { passive: true }
    );
  },
  methods: {
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    hasScrolled() {
      this.scrollTop = window.scrollY;
      if (this.scrollTop > this.navbarHeight) {
        this.hasScroled = true;
      } else {
        this.hasScroled = false;
      }
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false;
      } else {
        this.navVisible = true;
      }
      this.lastScrollTop = this.scrollTop;
    },
    getFilteredProduct() {
      return (this.products).find(p => p.handle === this.slug)
    },
    async logoutUser() {
      await this.logout();
      this.sendNotification({
        key: "logout_success",
        message: "You are successfully logged out",
        type: "success",
        icon: "check",
        title: "Logout success",
      });
      this.$router.push(this.localePath("/"));
      return;
    },
  },
};
</script>

<style lang="scss">
@import "~@storefront-ui/vue/styles";

#layout {
  box-sizing: border-box;
  @include for-desktop {
    max-width: 1280px;
    margin: auto;
  }
  @media (min-width: 2200px) {
    max-width: 1920px;
  }
  @media (min-width: 3280px) {
    max-width: 2880px;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

// Reset CSS
.site-header {
  top: -72px;
  left: 0;
  right: 0;
  z-index: 9;
  position: fixed;
  transition: all 0.5s ease-in-out;
  &.is-visible {
    top: 0px;
    &.top-bar-enabled {
      top: 40px;
    }
  }
  @media (min-width: 3280px) {
    top: -120px;
  }
}
</style>
