<template>
  <div class="additional-highlights">
    <h2 v-if="additionalSectionTitle">{{additionalSectionTitle}}</h2>
    <div class="ah-information">
      <div class="info-box">
        <SfAccordion :multiple="false" class="about-accordion" open="Study buddy." ref="additionalHighlighs">
          <SfAccordionItem :header="tab1Title">
              <RichTextRenderer :document="tab1Content" />
          </SfAccordionItem>
          <SfAccordionItem :header="tab2Title">
              <RichTextRenderer :document="tab2Content" />
          </SfAccordionItem>
          <SfAccordionItem :header="tab3Title">
              <RichTextRenderer :document="tab3Content" />  
          </SfAccordionItem>
        </SfAccordion>
      </div>
      <div class="img-box" v-if="rightImgURL && header_text ==tab1Title">
        <span class="icon-1">
          <img :src="rightImgURL" :alt="rightImgTitle" :height="imageDimentions.height" :width="imageDimentions.width" />
        </span>
      </div>
       <div class="img-box" v-if="rightImgURL2 && header_text ==tab2Title">
        <span class="icon-1">
          <img :src="rightImgURL2" :alt="rightImgTitle2" :height="imageDimentions2.height" :width="imageDimentions2.width" />
        </span>
      </div>
       <div class="img-box" v-if="rightImgURL3 && header_text ==tab3Title">
        <span class="icon-1">
          <img :src="rightImgURL3" :alt="rightImgTitle3" :height="imageDimentions3.height" :width="imageDimentions3.width" />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { SfAccordion } from '@storefront-ui/vue';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import { getFileUrl,getImageDimentions } from '~/helpers/contentful'

export default {
  props:{
    AdditionalHighlightsData:{}
  },
  data(){
    return{
      header_text:"Study buddy."
    }
  },
  components: {
    SfAccordion,
    RichTextRenderer
  },
  setup(props, context){
     const additionalSectionTitle = props.AdditionalHighlightsData.fields.hasOwnProperty('sectionTitle') ? props. AdditionalHighlightsData.fields.sectionTitle : '';

     const tab1Title = props.AdditionalHighlightsData.fields.hasOwnProperty('tab1Title') ? props. AdditionalHighlightsData.fields.tab1Title : '';
     const tab1Content = props.AdditionalHighlightsData.fields.hasOwnProperty('tab1Contents') ? props. AdditionalHighlightsData.fields.tab1Contents : '';

     const tab2Title = props.AdditionalHighlightsData.fields.hasOwnProperty('tab2Title') ? props. AdditionalHighlightsData.fields.tab2Title : '';
     const tab2Content = props.AdditionalHighlightsData.fields.hasOwnProperty('tab2Contents') ? props. AdditionalHighlightsData.fields.tab2Contents : '';

     const tab3Title = props.AdditionalHighlightsData.fields.hasOwnProperty('tab3Title') ? props. AdditionalHighlightsData.fields.tab3Title : '';
     const tab3Content = props.AdditionalHighlightsData.fields.hasOwnProperty('tab3Contents') ? props. AdditionalHighlightsData.fields.tab3Contents : '';

     const rightImg = props.AdditionalHighlightsData.fields.hasOwnProperty('sectionPictureDesktop') ? props. AdditionalHighlightsData.fields.sectionPictureDesktop : '';

    const rightImgURL = rightImg ? getFileUrl(rightImg.fields, context.root.$device) : '';
    const rightImgTitle = rightImg.fields.title;
    const imageDimentions = getImageDimentions(rightImg.fields);
    const rightImg2 = props.AdditionalHighlightsData.fields.hasOwnProperty('image2') ? props. AdditionalHighlightsData.fields.image2 : '';

    const rightImgURL2 = rightImg2 ? getFileUrl(rightImg2.fields, context.root.$device) : '';
    const rightImgTitle2 = rightImg2.fields.title;
    const imageDimentions2 = getImageDimentions(rightImg2.fields);
   
   const rightImg3 = props.AdditionalHighlightsData.fields.hasOwnProperty('image3') ? props. AdditionalHighlightsData.fields.image3 : '';
    const rightImgURL3 = rightImg3 ? getFileUrl(rightImg3.fields, context.root.$device) : '';
    const rightImgTitle3 = rightImg3.fields.title;
    const imageDimentions3 = getImageDimentions(rightImg3.fields);


     return{
       additionalSectionTitle,
       tab1Title,
       tab1Content,
       tab2Title,
       tab2Content,
       tab3Title,
       tab3Content,
       rightImgURL,
       rightImgTitle,
       imageDimentions,
      rightImgURL2,
       rightImgTitle2,
       imageDimentions2,
        rightImgURL3,
       rightImgTitle3,
       imageDimentions3
     }
  },
   mounted(){
       this.$watch(
        () => {
            return this.$refs.additionalHighlighs._data.openHeader
        },
      (val) => {
        this.header_text = val
        
      }
    )
  },
  
};
</script>

<style lang="scss" scoped>
.additional-highlights{
  padding-left:15px;
  padding-right:15px;
  h2{
    position: relative;
    line-height: 1.13;
    color: var(--c-secondary-darken);
    font-family: var(--font-family--primary);
    margin-bottom: 22px;
    @media (min-width:3280px){
      font-size: 45px;
    }
  }
  .ah-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
    @media (min-width:1024px){
      padding-bottom: 50px;
      min-height: 493px;
    }
    .info-box{
      order: 2;
      width: 100%;
      @media (min-width:1024px){
        order: 1;
        width: 50%;
      }
      p{
        letter-spacing: 0.2px;
        font-size: var(--font-size--base);
        color: var(--c-secondary-lighten);
        font-weight: normal;
        @media (min-width:1024px){
          font-size: var(--font-size--lg);
        }
        @media (min-width:2200px){
          font-size: var(--font-size--xl);
        }
        @media (min-width:3280px){
          font-size: var(--font-size--xxl);
        }
      }
    }
    .img-box{
      position: relative;
      width: 100%;
      order: 1;
      text-align: center;
      @media (min-width:1024px){
        order: 2;
        text-align: right;
        width: 50%;
        margin-top: -50px;
      }
      span{
        display: inline-block;
        img{
          display: inline-block;
        }
        @media (min-width:2200px){
          display: block;
          img{
            display: block;
            width: 80%;
            margin: 0 0 0 20%;
          }
        }
        @media (min-width:3280px){
          max-width: 1200px;
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }
  } 
}
::v-deep .about-accordion{
  padding-top: 20px;
  @media (min-width:1024px){
    padding-top: 0;
  }
  button{
    font-size: var(--font-size--lg);
    border: 0;
    position: relative;
    padding:0 0 0 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    @media (min-width:1280px){
      padding-left: 60px;
    }
    @media (min-width:2200px){
      font-size: var(--font-size--xl);
    }
    @media (min-width:3280px){
      font-size: var(--font-size--xxl);
    }
    &:before{
      content: '';
      background: var(--c-blue-55ABDB);
      opacity: 1;
      position: absolute;
      left: 0;
      top: 11px;
      width: 19px;
      height: 5px;
      display: block;
      @media (min-width:768px){
        top: 15px;
      }
      @media (min-width:3280px){
        top: 24px;
        width: 25px;
        height: 5px;
      }
    }
    &:after{
      content: '';
      left: 7px;
      top: 4px;
      position: absolute;
      width: 5px;
      height: 19px;
      display: block;
      background: var(--c-blue-55ABDB);
      @media (min-width:768px){
        top: 8px;
      }
      @media (min-width:3280px){
        top: 14px;
        width: 5px;
        height: 25px;
        left: 10px;
      }
    }
    &.is-open{
      font-weight: 700;
      color: var(--c-black);
      &:after{
        display: none;
      }
    }
  }
  .sf-accordion-item__content{
    padding: 0;
    border: 0;
    p{
      color: rgba(156, 163, 175, 1);
      padding-bottom: 15px;
      @media (min-width:1024px){
        padding-left: 60px;
      }
    }
  }
}
::v-deep .sf-accordion-item__chevron{
  display: none;
}
</style>
