<template>
  <div class="app-store-block">
    <div class="app-store">
      <div class="miko-app-info">
        <h2 class="h1" v-if="sectionTitle">{{sectionTitle}}</h2>
        <div class="miko-app-tabs">
          <SfTabs :openTab="1" tabMaxContentHeight="auto" tabShowText="" tabHideText="">
            <SfTab @click.native="scrollToTab($event)" :title="tab1Title">
              <div class="miko-tab-data">
                <div class="miko-description">
                 <RichTextRenderer :document="tab1Content" /> 
                </div>
                <div class="miko-app-links">
                  <img :src="tab1tImgURL" :alt="tab1ImgTitle" :height="tab1Dimentions.height" :width="tab1Dimentions.width" />
                  <!-- <div v-if="!isMobile">
                    <h3 v-if="appStoreTitle">{{appStoreTitle}}</h3>
                    <div class="get-app">
                      <div class="app-item" v-if="appleStoreCtaText">
                         <nuxt-link data-cy="appstore-url_logo" :to="localePath(appleStoreUrl)">
                          <img :src="appleStoreIconURL" :alt="appleStoreIconTitle" :height="appleStoreIconDimentions.height" :width="appleStoreIconDimentions.width" />
                          {{appleStoreCtaText}}
                        </nuxt-link>
                      </div>
                      <div class="app-item" v-if="googlePlayStoreCtaText"> 
                        <nuxt-link data-cy="playstore-url_logo" :to="localePath(googlePlayStoreUrl)">
                          <img :src="googlePlayStoreIconURL" :alt="googlePlayStoreIconTitle" :height="googlePlayStoreIconDimentions.height" :width="googlePlayStoreIconDimentions.width" />
                          {{googlePlayStoreCtaText}}
                        </nuxt-link>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </SfTab>
            <SfTab @click.native="scrollToTab($event)" :title="tab2Title">
              <div class="miko-tab-data">
                <div class="miko-description">
                  <RichTextRenderer :document="tab2Content" /> 
                </div>
                <div class="miko-app-links">
                  <img :src="tab2tImgURL" :alt="tab2ImgTitle" :height="tab2Dimentions.height" :width="tab2Dimentions.width" />
                  <!-- <div v-if="!isMobile">
                    <h3 v-if="appStoreTitle">{{appStoreTitle}}</h3>
                    <div class="get-app">
                      <div class="app-item" v-if="appleStoreCtaText">
                        <nuxt-link data-cy="appstore-url_logo" :to="localePath(appleStoreUrl)">
                          <img :src="appleStoreIconURL" :alt="appleStoreIconTitle" :height="appleStoreIconDimentions.height" :width="appleStoreIconDimentions.width" />
                          {{appleStoreCtaText}}
                        </nuxt-link>
                      </div>
                      <div class="app-item" v-if="googlePlayStoreCtaText"> 
                        <nuxt-link data-cy="playstore-url_logo" :to="localePath(googlePlayStoreUrl)">
                          <img :src="googlePlayStoreIconURL" :alt="googlePlayStoreIconTitle" :height="googlePlayStoreIconDimentions.height" :width="googlePlayStoreIconDimentions.width" />
                          {{googlePlayStoreCtaText}}
                        </nuxt-link>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </SfTab>
            <SfTab @click.native="scrollToTab($event)" :title="tab3Title">
              <div class="miko-tab-data">
                <div class="miko-description">
                  <RichTextRenderer :document="tab3Content" /> 
                </div>
                <div class="miko-app-links">
                   <img :src="tab3tImgURL" :alt="tab3ImgTitle" :height="tab3Dimentions.height" :width="tab3Dimentions.width" />
                  <!-- <div v-if="!isMobile">
                    <h3 v-if="appStoreTitle">{{appStoreTitle}}</h3>
                    <div class="get-app">
                      <div class="app-item" v-if="appleStoreCtaText">
                        <nuxt-link data-cy="appstore-url_logo" :to="localePath(appleStoreUrl)">
                          <img :src="appleStoreIconURL" :alt="appleStoreIconTitle" :height="appleStoreIconDimentions.height" :width="appleStoreIconDimentions.width" />
                          {{appleStoreCtaText}}
                        </nuxt-link>
                      </div>
                      <div class="app-item" v-if="googlePlayStoreCtaText"> 
                        <nuxt-link data-cy="playstore-url_logo" :to="localePath(googlePlayStoreUrl)">
                          <img :src="googlePlayStoreIconURL" :alt="googlePlayStoreIconTitle" :height="googlePlayStoreIconDimentions.height" :width="googlePlayStoreIconDimentions.width" />
                          {{googlePlayStoreCtaText}}
                        </nuxt-link>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </SfTab>
          </SfTabs>
          <!-- <div class="miko-app-links" v-if="isMobile">
            <h3 v-if="appStoreTitle">{{appStoreTitle}}</h3>
            <div class="get-app">
              <div class="app-item" v-if="appleStoreCtaText">
                <nuxt-link data-cy="appstore-url_logo" :to="localePath(appleStoreUrl)">
                  <img :src="appleStoreIconURL" :alt="appleStoreIconTitle" :height="appleStoreIconDimentions.height" :width="appleStoreIconDimentions.width" />
                  {{appleStoreCtaText}}
                </nuxt-link>
              </div>
              <div class="app-item" v-if="googlePlayStoreCtaText"> 
                <nuxt-link data-cy="playstore-url_logo" :to="localePath(googlePlayStoreUrl)">
                  <img :src="googlePlayStoreIconURL" :alt="googlePlayStoreIconTitle" :height="googlePlayStoreIconDimentions.height" :width="googlePlayStoreIconDimentions.width" />
                  {{googlePlayStoreCtaText}}
                </nuxt-link>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SfTabs } from '@storefront-ui/vue';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import { getFileUrl,getImageDimentions } from '~/helpers/contentful'

export default {
  props:{
    youreInChargeData:{}
  },
  components: {
    SfTabs,
    RichTextRenderer
  },
  setup(props, context){
     const sectionTitle = props.youreInChargeData.fields.hasOwnProperty('sectionTitle') ? props. youreInChargeData.fields.sectionTitle : '';

     const appStoreTitle = props.youreInChargeData.fields.hasOwnProperty('appStoreTitle') ? props. youreInChargeData.fields.appStoreTitle : '';
     const appleStoreCtaText = props.youreInChargeData.fields.hasOwnProperty('appleStoreCtaText') ? props. youreInChargeData.fields.appleStoreCtaText : '';
     const appleStoreUrl = props.youreInChargeData.fields.hasOwnProperty('appleStoreUrl') ? props. youreInChargeData.fields.appleStoreUrl : '';

      const appleStoreIcon = props.youreInChargeData.fields.hasOwnProperty('appleStoreButtonIcon') ? props. youreInChargeData.fields.appleStoreButtonIcon : '';
      const appleStoreIconURL = appleStoreIcon ? getFileUrl(appleStoreIcon.fields, context.root.$device) : '';
      const appleStoreIconTitle = appleStoreIcon.fields.title;
      const appleStoreIconDimentions = getImageDimentions(appleStoreIcon.fields);

      const googlePlayStoreCtaText = props.youreInChargeData.fields.hasOwnProperty('googlePlayStoreCtaText') ? props. youreInChargeData.fields.googlePlayStoreCtaText : '';

       const googlePlayStoreUrl = props.youreInChargeData.fields.hasOwnProperty('googlePlayStoreUrl') ? props. youreInChargeData.fields.googlePlayStoreUrl : '';
     
      const googlePlayStoreIcon = props.youreInChargeData.fields.hasOwnProperty('googlePlayStoreButtonIcon') ? props. youreInChargeData.fields.googlePlayStoreButtonIcon : '';
       const googlePlayStoreIconURL = googlePlayStoreIcon ? getFileUrl(googlePlayStoreIcon.fields, context.root.$device) : '';
      const googlePlayStoreIconTitle = googlePlayStoreIcon.fields.title;
      const googlePlayStoreIconDimentions = getImageDimentions(googlePlayStoreIcon.fields);



      const tab1Title = props.youreInChargeData.fields.hasOwnProperty('tab1Title') ? props. youreInChargeData.fields.tab1Title : '';
      const tab1Content = props.youreInChargeData.fields.hasOwnProperty('tab1Content') ? props. youreInChargeData.fields.tab1Content : '';
      const tab1Image = props.youreInChargeData.fields.hasOwnProperty('tab1Image') ? props. youreInChargeData.fields.tab1Image : '';
      const tab1tImgURL = tab1Image ? getFileUrl(tab1Image.fields, context.root.$device) : '';
      const tab1ImgTitle = tab1Image.fields.title;
      const tab1Dimentions = getImageDimentions(tab1Image.fields);

      const tab2Title = props.youreInChargeData.fields.hasOwnProperty('tab2Title') ? props. youreInChargeData.fields.tab2Title : '';
      const tab2Content = props.youreInChargeData.fields.hasOwnProperty('tab2Content') ? props. youreInChargeData.fields.tab2Content : '';
      const tab2Image = props.youreInChargeData.fields.hasOwnProperty('tab2Image') ? props. youreInChargeData.fields.tab2Image : '';
      const tab2tImgURL = tab2Image ? getFileUrl(tab2Image.fields, context.root.$device) : '';
      const tab2ImgTitle = tab2Image.fields.title;
      const tab2Dimentions = getImageDimentions(tab2Image.fields);

      const tab3Title = props.youreInChargeData.fields.hasOwnProperty('tab3Title') ? props. youreInChargeData.fields.tab3Title : '';
      const tab3Content = props.youreInChargeData.fields.hasOwnProperty('tab3Content') ? props. youreInChargeData.fields.tab3Content : '';
      const tab3Image = props.youreInChargeData.fields.hasOwnProperty('tab3Image') ? props. youreInChargeData.fields.tab3Image : '';
      const tab3tImgURL = tab3Image ? getFileUrl(tab3Image.fields, context.root.$device) : '';
      const tab3ImgTitle = tab3Image.fields.title;
      const tab3Dimentions = getImageDimentions(tab3Image.fields);
     

    return {
      isMobile: false,
      sectionTitle,
      appStoreTitle,
      googlePlayStoreUrl,
      appleStoreUrl,
      appleStoreCtaText,
      appleStoreIconURL,
      appleStoreIconTitle,
      appleStoreIconDimentions,
      googlePlayStoreCtaText,
      googlePlayStoreIconURL,
      googlePlayStoreIconTitle,
      googlePlayStoreIconDimentions,
      tab1Title,
      tab1Content,
      tab1tImgURL,
      tab1ImgTitle,
      tab1Dimentions,
      tab2Title,
      tab2Content,
      tab2tImgURL,
      tab2ImgTitle,
      tab2Dimentions,
      tab3Title,
      tab3Content,
      tab3tImgURL,
      tab3ImgTitle,
      tab3Dimentions
    };
  },
  mounted () {
    this.$nextTick(() => {
      this.checkIsMobile();
      window.addEventListener('resize', this.checkIsMobile);
    });
  },
  methods: {
    checkIsMobile () {
      if (window.matchMedia("(max-width: 767px)").matches) {
        this.isMobile = true;
      } else {
        this.isMobile = false;
      }
    },
    scrollToTab(e) {
      if (window.matchMedia("(max-width: 1023px)").matches) {
        const scrollSection = e.target;
        if(scrollSection.nodeName === 'BUTTON' && scrollSection.classList.contains('sf-tabs__title')) {
          const scrollSectionOffset = scrollSection && (scrollSection.offsetTop - 70);
          window.scrollTo({
            top: scrollSectionOffset,
            behavior: 'smooth'
          });
        }
        return false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.app-store-block{
  @media (min-width:1024px){
    padding-left: 15px;
    padding-right: 15px;
  }
}
.app-store{
  padding: 40px 15px 50px;
  align-items: center;
  background: var(--c-gray-f9f6f8);
  @media (min-width:768px){
    padding: 50px;
  }
  @media (min-width:1024px){
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 1rem;
  }
  @media (min-width:1280px){
    padding: 75px;
    display: flex;
  }
  .miko-app-info{
    width: 100%;
    .miko-tab-data{
      justify-content: space-between;
      @media (min-width:1280px){
        display: flex;
      }
      .miko-description{
        width: 100%;
        @media (min-width:1280px){
          width: 50%;
        }
        p{
          font-size: var(--font-size--lg);
          display: inline-block;
          color: var(--c-secondary-lighten);
          font-weight: normal;
          @media (min-width:2200px){
            font-size: var(--font-size--xl);
          }
          @media (min-width:3280px){
            font-size: var(--font-size--xxl);
          }
        }
      }
    }
    .miko-app-links{
      margin-top:-200px;
      width: 100%;
      text-align: center;
      padding-top: 15px;
      margin-top: 0;
      @media (min-width:1280px){
        width: 50%;
        padding-top: 0;
        margin-top: -160px;
      }
      img{
        display: inline-block;
        @media (min-width:3280px){
          height: 500px;
        }
      }
      h3{
        font-size: var(--font-size--base);
        font-weight: normal;
        text-align: center;
        padding-bottom: 10px;
        @media (min-width:2200px){
          font-size: var(--font-size--xl);
        }
        @media (min-width:3280px){
          font-size: var(--font-size--xxl);
        }
      }
      .get-app{
        display: flex;
        justify-content: center;
        .app-item {
          margin-left: 8px;
          margin-right: 8px;
          a {
            padding: 10px;
            display: flex;
            align-items: center;
            font-weight: 500;
            border: solid 2px var(--c-black);
            border-radius: 10px;
            font-size: var(--font-size--sm);
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            @media (min-width:640px){
              padding: 16px 20px;
            }
            @media (min-width:2200px){
              font-size: var(--font-size--lg);
              letter-spacing: 1px;
            }
            @media (min-width:3280px){
              font-size: var(--font-size--xl);
            }
            img {
              margin-right: 16px;
              @media (min-width:3280px){
                width: 35px;
                height: 40px;
              }
            }
            &:hover {
              border-color: var(--c-primary);
              color: var(--c-primary);
            }
          }
        }
      }
    }
  }
}
::v-deep .miko-app-tabs{
  .sf-tabs{
    padding-top: 20px;
    @media (min-width:768px){
      padding-top: 27px;
    }
    .sf-tabs__title{
      border: solid 1px var(--c-black);
      border-radius: 9999px;
      font-size: var(--font-size--base);
      margin-bottom: 20px;
      padding: 10px 25px;
      color: var(--c-black);
      margin-right: 0;
      @media (min-width:768px){
        font-size: var(--font-size--lg);
        margin-right: 25px;
      }
      @media (min-width:1024px){
        margin-bottom: 0;
      }
      @media (min-width:1536px){
        padding: 13px 36px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
      &.is-active{
        background: var(--c-black);
        color: var(--c-white);
        .sf-chevron__bar{
          &:after{
            --tabs-title-color: var(--c-primary-lighten);
            --chevron-color: var(--c-primary-lighten);
          }
        }
      }
    }
    .sf-tabs__content{
      border-top:0;
      .sf-tabs__content__tab{
        padding-top: 10px;
        padding-bottom: 0;
        @media (min-width:1024px){
          padding-top: 30px;
        }
        .simplebar-wrapper{
          overflow: inherit;
          .simplebar-mask{
            overflow: inherit;
            .simplebar-content-wrapper{
              overflow: inherit !important;
            }
          }
        }
      }
    }
  }
}
</style>
