<template>
  <div class="sec-full-width miko-rolls-block" :style="`background-image: url(${ !isMobile ? rollDesktopImgURL : mobileImage })`">
    <div class="miko-rolls container">
      <div class="miko-punches-info">
        <h2 class="h1" v-if="rollsSectionTitle">{{rollsSectionTitle}}</h2>
          <RichTextRenderer :document="rollsSectionDescription" />  
      </div>
    </div>
  </div>
</template>

<script>
// import { SfTabs, SfAccordion } from '@storefront-ui/vue';
import Tabs from '~/components/Tabs.vue';
import Tab from '~/components/Tab.vue';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import { getFileUrl } from '~/helpers/contentful'

export default {
  props:{
    rollsWithThePunchesData:{}
  },
  components: {
    Tabs,
    Tab,
    RichTextRenderer
  },
  setup(props, context){
    const rollsSectionTitle = props.rollsWithThePunchesData.fields.hasOwnProperty('sectionTitle') ? props. rollsWithThePunchesData.fields.sectionTitle : '';
    const rollsSectionDescription = props.rollsWithThePunchesData.fields.hasOwnProperty('sectionContentText') ? props. rollsWithThePunchesData.fields.sectionContentText : '';

    const rollDesktopImg = props.rollsWithThePunchesData.fields.hasOwnProperty('sectionBackgroundImage') ? props. rollsWithThePunchesData.fields.sectionBackgroundImage : '';
    const mobileImg = props.rollsWithThePunchesData.fields.hasOwnProperty('sectionBackgroundImage') ? props. rollsWithThePunchesData.fields.sectionBackgroundImage : '';

    const rollDesktopImgURL = rollDesktopImg ? getFileUrl(rollDesktopImg.fields, context.root.$device) : '';
    const mobileImage = mobileImg ? getFileUrl(mobileImg.fields, context.root.$device) : '';

    return {
      isMobile: false,
      mobileImage,
      rollsSectionTitle,
      rollsSectionDescription,
      rollDesktopImgURL
    };
  }, 
  
  mounted () {
    this.$nextTick(() => {
      this.checkIsMobile();
      window.addEventListener('resize', this.checkIsMobile);
    });
  },
  methods: {
    checkIsMobile () {
      if (window.matchMedia("(max-width: 767px)").matches) {
        this.isMobile = true;
      } else {
        this.isMobile = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.miko-rolls-block{
  min-height: 450px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  @media (max-width: 700px) {
    background-size: auto 80%;
  }
  @media (min-width:768px){
    min-height: 720px;
  }
  @media (min-width:1024px){
    min-height: 920px;
  }
  @media (min-width:1280px){
    min-height: 1080px;
  }
  @media (min-width:1536px){
    min-height: 1220px;
  }
  @media (min-width:2200px){
    background-position: top center;
    min-height: 1400px;
  }
  @media (min-width:3280px){
    background-position: top center;
    min-height: 1900px;
  }
  .miko-rolls{
    display: flex;
    justify-content: flex-end;
    .miko-punches-info{
      width: 100%;
      @media (min-width:1024px){
        width: 50%;
      }
    }
    h2{
      padding-bottom:15px;
      line-height: 1.13;
    }
    p{
      max-width:100%;
      font-weight: normal;
      font-size: var(--font-size--base);
      color: var(--c-secondary-lighten);
      @media (min-width:1024px){
        max-width: 425px;
        font-size: var(--font-size--lg);
      }
      @media (min-width:2200px){
        max-width: 800px;
        font-size: var(--font-size--xl);
      }
      @media (min-width:3280px){
        max-width: 800px;
        font-size: var(--font-size--xxl);
      }
    }
  }
}
</style>

