<template>
  <section id="miko-friendship-sec" class="sec-full-width miko-friendship-sec">
    <swiper class="swiper" ref="mikoFriendshipSwiper" :options="swiperOption">
      <swiper-slide>
        <div class="slide1">
          <div class="miko-friendship-top">
            <div class="container">
              <div class="miko-friendship-top-wrap">
                <template v-for="(redbubbleData,index) in bubbleTextData">
                <span v-if="redbubbleData.fields.appearOnSelectedBackground" :key="index">
                  {{redbubbleData.fields.bubbleText}}
                </span>
              </template>
              </div>
            </div>
          </div>
          <div class="miko-friendship-bottom">
            <div class="container">
              <div class="miko-friendship-bottom-wrap">
                <h2 class="h1 miko-friendship-title" v-if="titleWithRedBackground">{{titleWithRedBackground}}</h2>
                <div class="miko-friendship-img">
                  <img :src="mikoBlueImgURL" :alt="mikoBlueImgTitle" :height="mikoBlueimageDimentions.height" :width="mikoBlueimageDimentions.width"/>
                </div>
                <div class="miko-friendship-desc"  v-if="textWithRedBackground">
                  <RichTextRenderer :document="textWithRedBackground" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide2">
          <div class="miko-friendship-top">
            <div class="container">
              <div class="miko-friendship-top-wrap">
                <template v-for="(redbubbleData,index) in bubbleTextData">
                <span v-if="!redbubbleData.fields.appearOnSelectedBackground" :key="index">
                  {{redbubbleData.fields.bubbleText}}
                </span>
              </template>
              </div>
            </div>
          </div>
          <div class="miko-friendship-bottom">
            <div class="container">
              <div class="miko-friendship-bottom-wrap">
                <h2 class="h1 miko-friendship-title" v-if="titleWithBlueBackground">{{titleWithBlueBackground}}</h2>
                <div class="miko-friendship-img">
                  <img :src="mikoRedImgURL" :alt="mikoRedImgTitle" :height="mikoRedimageDimentions.height" :width="mikoRedimageDimentions.width"/>
                </div>
                <div class="miko-friendship-desc"  v-if="textWithBlueBackground">
                  <RichTextRenderer :document="textWithBlueBackground" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </section>
</template>

<script>
import SwiperCore, { EffectFade, Autoplay } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.min.css';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import { getFileUrl,getImageDimentions } from '~/helpers/contentful'
SwiperCore.use([EffectFade, Autoplay]);

export default {
  props: {
    friendshipData: {},
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        freeMode: false,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false
        },
        observer: true,
        observeParents: true,
        observeSlideChildren: true,
        resizeObserver: true,
        effect: 'fade',
        fadeEffect: {
          crossFade: true
        },
        speed: 2000,
        init: false,
        direction: 'horizontal'
      }
    }
  },
  components: {
    RichTextRenderer,
    Swiper,
    SwiperSlide
  },
  setup(props, context){
     const titleWithRedBackground = props.friendshipData.fields.hasOwnProperty('titleWithRedBackground') ? props.friendshipData.fields.titleWithRedBackground : '';
     const titleWithBlueBackground = props.friendshipData.fields.hasOwnProperty('titleWithBlueBackground') ? props.friendshipData.fields.titleWithBlueBackground : '';

    const textWithRedBackground = props.friendshipData.fields.hasOwnProperty('textWithRedBackground') ? props.friendshipData.fields.textWithRedBackground : '';
    const textWithBlueBackground = props.friendshipData.fields.hasOwnProperty('textWithBlueBackground') ? props.friendshipData.fields.textWithBlueBackground : '';

    const bubbleTextData =  props.friendshipData.fields.hasOwnProperty('bubbleText') ? props.friendshipData.fields.bubbleText : '';

    const centerMikoImageBlue = props.friendshipData.fields.hasOwnProperty('centerMikoImageBlue') ? props.friendshipData.fields.centerMikoImageBlue : '';
    const mikoBlueImgURL = centerMikoImageBlue ? getFileUrl(centerMikoImageBlue.fields, context.root.$device) : '';
    const mikoBlueImgTitle = centerMikoImageBlue.fields.title;
    const mikoBlueimageDimentions = getImageDimentions(centerMikoImageBlue.fields);

    const centerMikoImage = props.friendshipData.fields.hasOwnProperty('centerMikoImage') ? props.friendshipData.fields.centerMikoImage : '';
    const mikoRedImgURL = centerMikoImage ? getFileUrl(centerMikoImage.fields, context.root.$device) : '';
    const mikoRedImgTitle = centerMikoImage.fields.title;
    const mikoRedimageDimentions = getImageDimentions(centerMikoImage.fields);

    return{
      titleWithRedBackground,
      titleWithBlueBackground,
      textWithRedBackground,
      textWithBlueBackground,
      bubbleTextData,
      mikoBlueImgURL,
      mikoBlueImgTitle,
      mikoBlueimageDimentions,
      mikoRedImgURL,
      mikoRedImgTitle,
      mikoRedimageDimentions
    }
  },
  computed: {
    swiper() {
      return this.$refs.mikoFriendshipSwiper.$swiper;
    }
  },
  methods: {
    isInViewport(el) {
      var top = el.offsetTop;
      var left = el.offsetLeft;
      var width = el.offsetWidth;
      var height = el.offsetHeight;

      while(el.offsetParent) {
        el = el.offsetParent;
        top += el.offsetTop;
        left += el.offsetLeft;
      }

      return (
        top < (window.pageYOffset + window.innerHeight) &&
        left < (window.pageXOffset + window.innerWidth) &&
        (top + height) > (window.pageYOffset) &&
        (left + width) > window.pageXOffset
      );
    }
  },
  mounted() {
    this.$nextTick(() => {
      const mikoFriendshipSec = document.querySelector('#miko-friendship-sec');
      document.addEventListener('scroll', () => {
        if(this.isInViewport(mikoFriendshipSec) && !this.swiper.initialized) {
          this.swiper && this.swiper.init();
        }
      }, {
          passive: true
      });
    });
  }
}
</script>

<style lang="scss" scoped>
.miko-friendship-sec {
  position: relative;
  .miko-friendship-top {
    @media (max-width: 767px) {
      min-height: 480px;
    }
  }
}
.slide1 {
  background: var(--c-white);
  padding-bottom: 60px;
  @media (min-width: 768px) {
    padding-bottom: 130px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 200px;
  }
  .miko-friendship-top {
    background: var(--c-primary);
    @media (min-width:3280px){
      min-height: 700px;
    }
    .miko-friendship-top-wrap {
      position: relative;
      min-height: 480px;
      padding-top: 40px;
      padding-bottom: 40px;
      @media (min-width:768px){
        min-height: 425px;
      }
      @media (min-width:1024px){
        min-height: 525px;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      @media (min-width:3280px){
        min-height: 700px;
      }
      span {
        transform: scale(0);
        background: var(--c-white);
        font-size: var(--font-size--sm);
        padding: 7px 15px;
        border-radius: 9999px;
        position: absolute;
        line-height: 1;
        opacity: 0;
        @media (max-width: 767px) {
          display: none;
          &:nth-child(-n+4) {
            display: block;
          }
        }
        @media (min-width: 768px) {
          padding: 15px 20px;
        }
        @media (min-width: 1280px) {
          padding: 25px 40px;
        }
        @media (min-width:3280px){
          font-size: var(--font-size--xxl);
        }
        &:nth-child(1) {
          top: 40px;
          left: 40px;
          @media (min-width:768px){
            left: 60px;
          }
          @media (min-width:1024px){
            left: 110px;
            top: 60px;
          }
        }
        &:nth-child(2) {
          top: 85px;
          left: auto;
          right: 46px;
          @media (min-width:768px){
            top: 150px;
            right: auto;
          }
          @media (min-width:1024px){
            top: 180px;
            left: 36px;
          }
          @media (min-width:3280px){
            top: 230px;
          }
        }
        &:nth-child(3) {
          left: 50px;
          top: 125px;
          @media (min-width:768px){
            top: 240px;
          }
          @media (min-width:1024px){
            left: 105px;
            top: 285px;
          }
          @media (min-width:1280px){
            left: 40px;
          }
          @media (min-width:3280px){
            top: 380px;
          }
        }
        &:nth-child(4) {
          top: 180px;
          left: auto;
          right: 30px;
          @media (min-width:768px){
            top: 325px;
            left: 0;
            right: auto;
          }
          @media (min-width:1024px){
            top: 390px;
          }
          @media (min-width:3280px){
            top: 540px;
          }
        }
        &:nth-child(5) {
          top: 100px;
          left: 250px;
          @media (min-width:1024px){
            left: 400px;
          }
          @media (min-width:1280px){
            left: 500px;
          }
          @media (min-width:3280px){
            left: 1150px;
            top: 150px;
          }
        }
        &:nth-child(6) {
          top: 40px;
          right: 40px;
          @media (min-width:1024px){
            top: 90px;
          }
        }
        &:nth-child(7) {
          top: 155px;
          right: 14px;
          @media (min-width:1024px){
            top: 195px;
            right: 135px;
          }
          @media (min-width:3280px){
            top: 240px;
          }
        }
        &:nth-child(8) {
          top:235px;
          right: 0;
          @media (min-width:1024px){
            top: 300px;
          }
          @media (min-width:3280px){
            top: 385px;
          }
        }
        &:nth-child(9) {
          top: 320px;
          right: 0;
          @media (min-width:1024px){
            top: 400px;
            right: 62px;
          }
          @media (min-width:3280px){
            top: 540px;
          }
        }
      }
    }
  }
}
.miko-friendship-bottom-wrap {
  position: relative;
  padding-top: 92px;
  @media (min-width: 768px) {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1024px) {
    padding-top: 46px;
  }
  .miko-friendship-title {
    font-size: 40px;
    line-height: 1.13;
    margin-bottom: 25px;
    width: 100%;
    @media (min-width: 768px) {
      margin-bottom: 0;
      width: 20%;
    }
    @media (min-width: 1024px) {
      font-size: 60px;
    }
  }
  .miko-friendship-img {
    transform: translateX(-50%);
    top: -310px;
    bottom: auto;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 235px;
    @media (max-width: 767px) {
      top: -215px;
      margin-left: auto;
      margin-right: auto;
      transform: none;
    }
    @media (min-width: 768px) {
      left: 50%;
      right: auto;
      max-width: 300px;
    }
    @media (min-width: 1024px) {
      max-width: 100%;
    }
  }
  .miko-friendship-desc {
    font-size: var(--font-size--base);
    width: 100%;
    @media (min-width: 768px) {
      width: 28.5714286%;
    }
    @media (min-width: 1024px) {
      font-size: var(--font-size--lg);
    }
    @media (min-width: 2200px) {
      font-size: var(--font-size--xl);
    }
    @media (min-width: 3280px) {
      font-size: var(--font-size--xxl);
    }
  }
}
.slide2 {
  background: var(--c-white);
  padding-bottom: 60px;
  @media (min-width: 768px) {
    padding-bottom: 130px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 200px;
  }
  .miko-friendship-top {
    background: var(--c-blue-a4d1ec);
    @media (min-width: 3280px) {
      min-height: 700px;
    }
    .miko-friendship-top-wrap {
      min-height: 435px;
      position: relative;
      padding-top: 40px;
      padding-bottom: 40px;
      @media (min-width: 768px) {
        min-height: 425px;
      }
      @media (min-width: 1024px) {
        min-height: 525px;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      @media (min-width: 3280px) {
        min-height: 700px;
      }
      span {
        transform: scale(0);
        font-size: 25px;
        color: var(--c-blue-4ea5da);
        padding: 10px 20px;
        background: var(--c-white);
        border-radius: 9999px;
        position: absolute;
        line-height: 1;
        font-weight: 700;
        opacity: 0;
        @media (min-width: 768px) {
          font-size: 40px;
        }
        @media (min-width: 1024px) {
          font-size: 60px;
        }
        @media (min-width: 1280px) {
          padding: 15px 30px;
        }
        @media (min-width: 3280px) {
          font-size: 70px;
          padding: 35px 70px;
        }
        &:nth-child(1) {
          top: 90px;
          left: 20px;
          @media (min-width:640px){
            top: 145px;
            left: 60px;
          }
          @media (min-width:768px){
            left: 160px;
          }
          @media (min-width:1024px){
            left: 190px;
          }
          @media (min-width:1280px){
            left: 260px;
          }
          @media (min-width: 3280px) {
            left: 350px;
          }
        }
        &:nth-child(2) {
          left: 8px;
          top: 160px;
          @media (min-width:640px){
            left: 18px;
            top: 250px;
          }
          @media (min-width:768px){
            left: 110px;
            top: 270px;
          }
          @media (min-width:1024px){
            top: 310px;
          }
          @media (min-width:1280px){
            left: 210px;
          }
          @media (min-width: 3280px) {
            top: 400px;
          }
        }
        &:nth-child(3) {
          right: 20px;
          top: 130px;
          @media (min-width:640px){
            right: 42px;
            top: 125px;
          }
          @media (min-width:768px){
            right: 140px;
          }
          @media (min-width:1024px){
            right: 200px;
          }
          @media (min-width:1280px){
            right: 270px;
          }
          @media (min-width:3280px){
            right: 330px;
          }
        }
        &:nth-child(4) {
          right: 0;
          top: 195px;
          @media (min-width:640px){
            right: 80px;
            top: 285px;
          }
          @media (min-width:1024px){
            right: 60px;
            top: 315px;
          }
          @media (min-width:1280px){
            right: 180px;
            top: 355px;
          }
          @media (min-width: 3280px) {
            top: 400px;
          }
        }
      }
    }
  }
  .miko-friendship-bottom-wrap {
    .miko-friendship-title {
      @media (min-width: 768px) {
        width: 24%;
      }
    }
  }
}
.swiper-slide-active {
  .miko-friendship-top {
    .miko-friendship-top-wrap {
      span {
        animation: bubble 2s 1;
        animation-timing-function: cubic-bezier(0.25, 0.4, 0.55, 1.4);
        animation-fill-mode: forwards;
      }
    }
  }
}
@keyframes bubble {
  0%, 10% {
    opacity: 0;
    transform: scale(0);
  }
  90%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}
</style>