<template>
    <div class="nok_tooltip">
        <div class="or">or</div>
        <a class="nok_button" :href="'https://noktryouts.com/products/miko/miko-3?utm_source=brand-miko&utm_medium=website&utm_campaign=pdp'" target='_blank'>
            {{noktitle}} <img src="https://cdn.shopify.com/s/files/1/0122/4212/4862/files/nok-logo-arrow.png?v=1643274663">
        </a>
        <div class="info-tooltip">
            <div style="display: flex;">
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g opacity="0.5">
                    <path
                        d="M8 0C3.58214 0 0 3.58214 0 8C0 12.4179 3.58214 16 8 16C12.4179 16 16 12.4179 16 8C16 3.58214 12.4179 0 8 0ZM8 14.6429C4.33214 14.6429 1.35714 11.6679 1.35714 8C1.35714 4.33214 4.33214 1.35714 8 1.35714C11.6679 1.35714 14.6429 4.33214 14.6429 8C14.6429 11.6679 11.6679 14.6429 8 14.6429Z"
                        fill="#606060"
                    />
                    <path
                        d="M7.14258 4.85714C7.14258 5.08447 7.23288 5.30249 7.39363 5.46323C7.55437 5.62398 7.77239 5.71429 7.99972 5.71429C8.22705 5.71429 8.44507 5.62398 8.60581 5.46323C8.76656 5.30249 8.85686 5.08447 8.85686 4.85714C8.85686 4.62981 8.76656 4.4118 8.60581 4.25105C8.44507 4.09031 8.22705 4 7.99972 4C7.77239 4 7.55437 4.09031 7.39363 4.25105C7.23288 4.4118 7.14258 4.62981 7.14258 4.85714ZM8.42829 6.85714H7.57115C7.49258 6.85714 7.42829 6.92143 7.42829 7V11.8571C7.42829 11.9357 7.49258 12 7.57115 12H8.42829C8.50686 12 8.57115 11.9357 8.57115 11.8571V7C8.57115 6.92143 8.50686 6.85714 8.42829 6.85714Z"
                        fill="#606060"
                    />
                    </g>
                </svg>
                <span class="how_it_works">how it works</span>
            </div>
            <div class="tooltip-pop">
                <img :src="tooltipImage" :alt="nok" :height="secDimentions.height" :width="secDimentions.width" />
            </div>
        </div>
    </div>
</template>
<script>
import { getFileUrl,getImageDimentions } from '~/helpers/contentful';
export default {
  props: {
    preOrderData: {},
  },
  setup(props, context){
    const componentData = props.preOrderData.fields;
    let noktitle = componentData.hasOwnProperty('nokButtonText')?componentData.nokButtonText:"";
    const nokImg = componentData.hasOwnProperty('nokImage') ?componentData.nokImage : '';
    const tooltipImage = nokImg ? getFileUrl(nokImg.fields, context.root.$device) : '';
    const secDimentions = getImageDimentions(nokImg.fields);
    return {
        componentData,
        noktitle,
        tooltipImage,
        secDimentions
    }
  }
}
</script>
<style lang="scss" scoped>
    .nok_tooltip .tooltip-pop{
        background: none;
        box-shadow: none;
        z-index: 20;
        padding: 8px;
        left: -100px;
        width: 300px;
    }
    .nok_tooltip svg{margin-right: 5px;}
    .nok_tooltip .info-tooltip{
        font-size: 14px;
        margin-top: 10px;
    }
    .how_it_works{text-decoration: underline;color: #555;}
</style>