<template>
  <div class="sec-full-width out-smart">
    <div class="out-smart container">
      <div class="out-smart-img">
        <span>
          <img :src="secImgURL" :alt="secImgTitle" :height="secDimentions.height" :width="secDimentions.width" />
        </span>
      </div>
      <div class="out-smart-info">
        <h2 class="h1" v-if="SectionTitle">{{SectionTitle}}</h2>
        <SfButton
          v-if="ctaButtonText"
          class="btn-1"
          @click="$emit('add-to-cart', true);"
          :disabled="disable"
          :class="{ loader: addtocartLoading }"
        >
          <SfLoader :loading="addtocartLoading">
            <span>{{ctaButtonText}}</span>
          </SfLoader>
        </SfButton>
      </div>
    </div>
  </div>
</template>
<script>
import { SfAccordion, SfButton, SfLoader } from '@storefront-ui/vue';
import { getFileUrl,getImageDimentions } from '~/helpers/contentful'

export default {
  props:{
    outSmartData:{},
    disable: Boolean,
    addtocartLoading: Boolean
  },
  components: {
    SfAccordion,
    SfLoader,
    SfButton
  },
  setup(props, context){
    const SectionTitle = props.outSmartData.fields.hasOwnProperty('sectionHeading') ? props. outSmartData.fields.sectionHeading : '';
    const ctaButtonText = props.outSmartData.fields.hasOwnProperty('ctaButtonText') ? props. outSmartData.fields.ctaButtonText : '';
    const SectionImgObj = props.outSmartData.fields.hasOwnProperty('sectionAsset') ? props. outSmartData.fields.sectionAsset : '';
    const secImgURL = SectionImgObj ? getFileUrl(SectionImgObj.fields, context.root.$device) : '';
    const secImgTitle = SectionImgObj.fields.title;
    const secDimentions = getImageDimentions(SectionImgObj.fields);

    return{
      SectionTitle,
      secImgURL,
      secImgTitle,
      secDimentions,
      ctaButtonText
    }
  }
  
};
</script>

<style lang="scss" scoped>
.out-smart{
  margin-bottom: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--c-orenge-FDA37C);
  @media (min-width:768px){
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .out-smart{
    position: relative;
    @media (min-width:768px){
      display: flex;
    }
    .out-smart-img{
      @media (min-width:768px){
        width: 50%;
      }
      span{
        display:block;
        margin-left: -35%;
        @media (min-width:768px){
          margin-left: -200px;
        }
        @media (min-width:2200px){
          img{
            width: 100%;
          }
        }
      }
    }
    .out-smart-info{
      text-align: center;
      padding-top: 40px;
      h2{
        text-align: center;
        line-height: 1.13;
        margin-bottom: 20px;
      }
      button{
        background: transparent;
        font-size: 16px;
        padding: 13px 29px;
        min-width: 135.53px;
        min-height: 47px;
        margin: 0 auto;
        &:hover{
          background: var(--c-black);
          border-color: var(--c-black);
        }
        &.loader {
          background-color: var(--c-black);
        }
      }
      @media (min-width:768px){
        max-width:520px;
        width: 50%;
        text-align: left;
        padding-left: 35px;
        padding-top: 0;
        h2{
          text-align: left;
          margin-bottom: 45px;
        }
        button{
          font-size: 24px;
          padding: 14px 47px;
          min-width: 208.3px;
          min-height: 60.8px;
          margin: 0;
        }
        @media (min-width:768px){
          font-size: 24px;
          padding: 14px 47px;
        }
      }
      @media (min-width:3280px){
        padding-left: 70px;
        max-width:820px;
        h2{
          font-size: 100px;
          max-width: 800px;
        }
        button{
          padding: 25px 55px;
          font-size: var(--font-size--xxl);
          min-width: 279.45px;
          min-height: 94px;
        }
      }
    }
  }
}
</style>
