<template>
<div class="preOrder-container sec-full-width">
    <div class="preOrderBanner">
        <div class="preOrderTitle">
        {{title}}
        
        </div>
        <div class="subtitle">
            {{subtitle}}
        </div>
    </div>
</div>
</template>
<script>
import {SfButton } from '@storefront-ui/vue';
export default {
  components:{
      SfButton
  },
  props: {
    preOrderData: {},
  },
  setup(props){
    const componentData = props.preOrderData.fields;
    let title = componentData.hasOwnProperty('heading')?componentData.heading:"";
    let subtitle = componentData.hasOwnProperty('subheading')?componentData.subheading:"";
    return {
        componentData,
        title,
        subtitle
    }
  }
}
</script>
<style lang="scss" scoped>
.preOrder-container{
  position: absolute;
  top: 10%;
  width: 100%;
  @include for-mobile {
    top: 7%;
  }
  .preOrderBanner{
    max-width: 80%;
    margin: 20px auto;
    position:relative;
    @include for-mobile {
      padding:10px;
    }
    .preOrderTitle {
      flex:90%;
      text-align: center;
      font-size: 45px;
      letter-spacing: 0.05em;
      font-weight: 600;
      @include for-mobile {
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
    .subtitle{
      flex:90%;
      text-align: center;
      letter-spacing: 0.05em;
      font-weight: 600;
      font-size: var(--font-size--lg);
      font-weight: var(--font-weight--normal);
      color: var(--c-secondary-darken);
    }
  }
}
.sf-link {
  text-decoration: none;
}
</style>