<template>
  <div class="pdp_bottom_bar" :class="{ 'has-scrolled': hasScroled }">
    <div class="pdp_bottom_bar-block container">
      <div class="pdp_bottom_bar_title_price">
        <div class="product_bottom_bar_title">
          <SfHeading
            :title="title"
            :level="3"
            class="sf-heading--no-underline sf-heading--left"
          />
        </div>
        <div class="product_bottom_bar_price">
          <label>From</label>
          <SfPrice
            v-if="(price.special && parseFloat(price.special) < parseFloat(price.regular))"
            :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
              $n(price.regular, 'decimal')}`
            "
            :special="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${$n(price.special, 'decimal')}`
            "
          />
          <SfPrice
            :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
              $n(price.special, 'decimal')}`
            "
            v-else-if="(price.special && parseFloat(price.special) > parseFloat(price.regular))"
          />
          <SfPrice
            :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
              $n(price.regular, 'decimal')}`
            "
            v-else
          />
        </div>
      </div>
      <div class="flex items-center" v-if="options && Object.keys(options).length > 0">
        <template v-for="(option, o) in options">
          <div
            :key="`attrib-${o.toLowerCase()}`"
            :class="`product__${o.toLowerCase()}s`"
          >
            <div class="color-option small-co">
            <SfColor
              data-cy="product-color_update"
              v-for="(attribs, a) in option"
              :key="`item-${a}`"
              :color="attribs.value"
              :aria-label="attribs.value"
              :class="`product__color ${attribs.value.toLowerCase().replace(/ /g,'')}`"
              @click="
                (atttLbl = o), updateFilter({ [atttLbl]: attribs.value })
              "
              :selected="selectedVariant === attribs.value"
            />
            </div>
          </div>
        </template>
        <SfButton
          class="sf-add-to-cart__button cart-btn btn-add-to-cart btn-sticky-add-to-cart"
          @click="addingToCart({ product: {variantBySelectedOptions: {id: ChosenVariantId}}, quantity: 1 })"
          :disabled="disable"
        >
          <SfLoader :class="{ loader: addtocartLoading }" :loading="addtocartLoading">
            <span>Pre-Order</span>
          </SfLoader>
        </SfButton>
      </div>
    </div>
  </div>
</template>

<script>
import {
  SfHeading,
  SfPrice,
  SfAddToCart,
  SfImage,
  SfButton,
  SfColor,
  SfLoader
} from '@storefront-ui/vue';
import useUiState from '~/composables/useUiState';
import { useCart } from '@vue-storefront/shopify';
import useUiNotification from '~/composables/useUiNotification';
import { ref } from "@vue/composition-api";
export default {
  components: {
    SfHeading,
    SfPrice,
    SfAddToCart,
    SfImage,
    SfButton,
    SfColor,
    SfLoader
  },
  props: {
    title: String,
    product: Object,
    price: Object,
    stock: Number,
    id: String,
    disable: Boolean,
    addtocartLoading: Boolean,
    availableQty: Number,
    options: Object,
    chosenVariant: String
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data () {
    return {
      isScrolling: false,
      hasScroled: false,
      scrollTop: 0,
      lastScrollTop: 0,
      bottombarPosition: 100
    };
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  beforeMount () {
    window.addEventListener('load', () => {
      this.addToCartBtnPosition();
    });
    window.addEventListener('resize', () => {
      this.addToCartBtnPosition();
    });
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true;
      },
      { passive: true }
    );
    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled();
        this.isScrolling = false;
      }
    }, 250);
  },
  methods: {
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    async addingToCart(Productdata) {
      this.$emit('pbAddtocartLoading', true);
      const activeProduct = this.getVariantIdByAttribs(this.product, this.selectedVariant);
      await this.addItem(Productdata).then(() => {
        this.toggleCartSidebar();
        // Track add to cart based on ecommerce enhancement
        this.$gtm.push({ ecommerce: null });
        this.$gtm.push({
            event: "addToCart",
            action: '', 
            value: '',
            deviceid: this.deviceExistingUUID,
            'ecommerce': {
              'currencyCode': 'USD',
              'add': {
                'products': [{
                  'name': this.product.title,
                  'id': activeProduct.sku,
                  price: activeProduct.price,
                  brand: 'Miko',
                  category: 'Commerce',
                  variant: this.selectedVariant,
                  quantity: 1
                }]
              }
            }
          });
      });
      this.$emit('pbAddtocartLoading', false);
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    hasScrolled () {
      this.scrollTop = window.scrollY;
      if (this.scrollTop > this.bottombarPosition) {
        this.hasScroled = true;
      } else {
        this.hasScroled = false;
      }
      this.lastScrollTop = this.scrollTop;
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    addToCartBtnPosition () {
      const addToCartBtnWrap = document.getElementsByClassName('product__cart__wishlist');
      const addToCartBtn = addToCartBtnWrap.length > 0 && addToCartBtnWrap[0].querySelectorAll('.sf-add-to-cart__button');
      this.bottombarPosition = addToCartBtn.length > 0 && addToCartBtn[0].offsetTop + 50;
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup (props, {root}) {
    let selectedVariant = ref(props.chosenVariant);
    const deviceExistingUUID = root.$cookies.get('deviceUUID');
    const { addItem, loading } = useCart();
    const { send: sendNotification} = useUiNotification();
    const { toggleCartSidebar } = useUiState();
    const getVariantIdByAttribs = (productInfo, attrib) => {
      return productInfo.variants.find((variant) => variant.selectedOptions.some(variantInfo => variantInfo.value === attrib));
    }
    let ChosenVariantId = ref(props.id);
    const updateFilter = (filter) => {
      selectedVariant.value = filter.Color;
      ChosenVariantId.value = getVariantIdByAttribs(props.product,filter.Color).id;
    };
    return {
      addItem,
      loading,
      sendNotification,
      selectedVariant,
      updateFilter,
      ChosenVariantId,
      toggleCartSidebar,
      getVariantIdByAttribs,
      deviceExistingUUID
    };
  }
};
</script>

<style lang="scss" scoped>
.pdp_bottom_bar {
  box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-in-out;
  background: var(--c-white) url(/homepage/miko-face.webp) no-repeat;
  background-position: top left -20px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  padding: 19px 0;
  @media (min-width:1501px){
    left: -15px;
  }
  &.has-scrolled {
    bottom: 0 !important;
  }
  .pdp_bottom_bar-block {
    display:flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:767px){
      padding-left: 0;
      padding-right: 0;
    }
  }
  .pdp_bottom_bar_title_price {
    display:flex;
    align-items: center;
    padding-left: 15px;
    @media (min-width:768px){
      padding-left: 0;
    }
    .product_bottom_bar_title {
      display: none;
      @media (min-width:768px){
        display: block;
        line-height:1;
        border-right: solid 1px var(--c-black);
        margin-right: 25px;
        padding-right: 25px;
      }
      h3{
        line-height:1.13;
        color: var(--c-secondary-darken);
        font-size: var(--font-size--xxl);
        font-weight: 800;
        @media (min-width:3280px){
          font-size: 56px;
        }
      }
    }
    .product_bottom_bar_price {
      font-size: var(--font-size--xxl);
      font-weight: normal;
      label{
        display: block;
        @media (min-width: 768px) {
          display: none;
        }
      }
      @media (min-width:3280px){
        .sf-price__regular{
          font-size: 40px;
        }
      }
    }
  }
  @media (max-width: 1500px) {
    background-position: -35px;
    background-size: auto 100%;
  }
  @media (max-width: 1340px) {
    background-image: none;
  }
  @media (max-width: 767px) {
    padding-top:0;
    padding-bottom:0;
    .pdp_bottom_bar_title_price {
      .product_bottom_bar_price {
        span {
          font-weight: 700;
          line-height: 1;
        }
        label {
          font-size: var(--font-size--sm);
          color: var(--c-secondary-lighten);
          line-height: 1;
          padding-top: 3px;
        }
      }
    }
  }
}
.cart-btn {
  background: var(--c-black);
  padding: 0;
  text-transform: capitalize;
  font-size: var(--font-size--lg);
  margin: 0;
  min-width: 138.19px;
  min-height: 68px;
  flex-direction: column;
  overflow: hidden;
  @media (min-width: 768px) {
    min-width: 185.81px;
    min-height: 60.8px;
  }
  &:hover{
    background: var(--c-primary);
  }
  @media (min-width: 768px) {
    border-radius: 9999px;
  }
  @media (min-width: 3280px) {
    font-size: 36px;
    min-width: 232.72px;
    min-height: 75.19px;
  }
  .sf-loader {
    padding: 22px 30px;
    flex-grow: 1;
    position: static;
    @media (min-width: 768px) {
      padding: 16px 46px;
    }
    .sf-loader__overlay {
      background-color: var(--c-black);
    }
  }
}
</style>
