<template>
  <div id="tech-specs" class="quick-setup-block">
    <div class="quick-setup">
      <div class="setup-info">
        <h2 class="h1" v-if="sectionTitle">{{sectionTitle}}</h2>
        <RichTextRenderer v-if="sectionDesc" :document="sectionDesc" />  
        <tabs>
          <tab :title="tab1Title">
            <div class="miko-technology">
              <div class="step-1" v-if="tab1CalloutOne">
                {{tab1CalloutOne}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <div class="step-2" v-if="tab1CalloutTwo">
                {{tab1CalloutTwo}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <div class="step-3" v-if="tab1CalloutThree">
                {{tab1CalloutThree}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <div class="step-4" v-if="tab1CalloutFour">
                {{tab1CalloutFour}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <!-- <div class="step-5" v-if="tab1CalloutFive">
                {{tab1CalloutFive}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div> -->
               <img :src="centerImgURL" :alt="centerImgTitle" :height="centerimageDimentions.height" :width="centerimageDimentions.width" />
            </div>
          </tab>
          <tab :title="tab2Title">
            <div class="miko-hardware">
              <div class="step-1" v-if="tab2CalloutOne">
                {{tab2CalloutOne}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <div class="step-2" v-if="tab2CalloutTwo">
                {{tab2CalloutTwo}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <div class="step-3" v-if="tab2CalloutThree">
                {{tab2CalloutThree}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <div class="step-4" v-if="tab2CalloutFour">
                {{tab2CalloutFour}}
                <div class="callout">
                  <span class="circle" />
                  <span class="line" />
                </div>
              </div>
              <img :src="centerImgURL" :alt="centerImgTitle" :height="centerimageDimentions.height" :width="centerimageDimentions.width" />
            </div>
          </tab>
        </tabs>
      </div>
    </div>
  </div>
</template>

<script>
// import { SfTabs, SfAccordion } from '@storefront-ui/vue';
import Tabs from '~/components/Tabs.vue';
import Tab from '~/components/Tab.vue';
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
import { getFileUrl,getImageDimentions } from '~/helpers/contentful'

export default {
  props:{
    mikoTechnicalSpecsData:{}
  },
  components: {
    Tabs,
    Tab,
    RichTextRenderer
  },
  setup(props, context){
      const sectionTitle = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('sectionTitle') ? props. mikoTechnicalSpecsData.fields.sectionTitle : '';
      const sectionDesc = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('sectionContentText') ? props. mikoTechnicalSpecsData.fields.sectionContentText : '';

      const tab1Title = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab1Title') ? props. mikoTechnicalSpecsData.fields.tab1Title : '';
      const tab1CalloutOne = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab1CalloutOne') ? props. mikoTechnicalSpecsData.fields.tab1CalloutOne : '';
      const tab1CalloutTwo = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab1CalloutTwo') ? props. mikoTechnicalSpecsData.fields.tab1CalloutTwo : '';
      const tab1CalloutThree = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab1CalloutThree') ? props. mikoTechnicalSpecsData.fields.tab1CalloutThree : '';
      const tab1CalloutFour = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab1CalloutFour') ? props. mikoTechnicalSpecsData.fields.tab1CalloutFour : '';
      // const tab1CalloutFive = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab1CalloutFive') ? props. mikoTechnicalSpecsData.fields.tab1CalloutFive : '';


       const tab2Title = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab2Title') ? props. mikoTechnicalSpecsData.fields.tab2Title : '';
       const tab2CalloutOne = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab2CalloutOne') ? props. mikoTechnicalSpecsData.fields.tab2CalloutOne : '';
       const tab2CalloutTwo = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab2CalloutTwo') ? props. mikoTechnicalSpecsData.fields.tab2CalloutTwo : '';
       const tab2CalloutThree = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab2CalloutThree') ? props. mikoTechnicalSpecsData.fields.tab2CalloutThree : '';
       const tab2CalloutFour = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('tab2CalloutFour') ? props. mikoTechnicalSpecsData.fields.tab2CalloutFour : '';

       const mikoCenterImage = props.mikoTechnicalSpecsData && props.mikoTechnicalSpecsData.fields.hasOwnProperty('mikoCenterImage') ? props. mikoTechnicalSpecsData.fields.mikoCenterImage : '';
      const centerImgURL = mikoCenterImage ? getFileUrl(mikoCenterImage.fields, context.root.$device) : '';
      const centerImgTitle = mikoCenterImage && mikoCenterImage.fields.title;
      const centerimageDimentions = mikoCenterImage && getImageDimentions(mikoCenterImage.fields);


      return{
        sectionTitle,
        sectionDesc,
        tab1Title,
        tab1CalloutOne,
        tab1CalloutTwo,
        tab1CalloutThree,
        tab1CalloutFour,
        // tab1CalloutFive,
        tab2Title,
        tab2CalloutOne,
        tab2CalloutTwo,
        tab2CalloutThree,
        tab2CalloutFour,
        centerImgURL,
        centerImgTitle,
        centerimageDimentions
      }
  }
 
};
</script>

<style lang="scss" scoped>
.quick-setup-block{
  margin-top: 0;
  @media (min-width:768px){
    margin-top: -160px;
  }
  @media (min-width:1024px){
    padding-left:15px;
    padding-right:15px;
  }
  .quick-setup{
    padding: 40px 15px 50px;
    @media (min-width:768px){
      padding: 40px 0;
    }
    @media (min-width:1024px){
      border-radius: 1rem;
    }
    @media (min-width:1280px){
      padding: 75px;
    }
    background: var(--c-primary-lighten);
    .setup-info{
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      @media (min-width:1280px){
        max-width: 1200px;
      }
    }
    h2{
      text-align: center;
      margin-bottom: 10px;
      line-height: 1.13;
      @media (min-width:1024px){
        line-height: var(--line-height--base);
      }
    }
    p{
      font-size: var(--font-size--lg);
      color: var(--c-secondary-lighten);
      font-weight: normal;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 40px;
      max-width: 500px;
      @media (min-width:1280px){
        padding-bottom: 65px;
      }
      @media (min-width:2200px){
        font-size: var(--font-size--xl);
        max-width: 80%;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
        max-width: 100%;
      }
    }
    .miko-technology{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size--sm);
      color: var(--c-secondary-lighten);
      position: relative;
      padding-top: 80px;
      padding-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      max-width: 275px;
      @media (min-width:1024px){
        font-size: var(--font-size--lg);
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 100%;
      }
      @media (min-width:2200px){
        font-size: 26px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
      .callout{
        position: absolute;
        &::before{
          content: '';
          position: absolute;
          display: block;
          border: solid 1px var(--c-white);
          width: 22px;
          height: 22px;
          opacity: 0.5;
          border-radius: 9999px;
          @media (min-width:1024px){
            width: 26px;
            height: 26px;
          }
        }
        &::after{
          content: '';
          position: absolute;
          display: block;
          left: 3px;
          top: 3px;
          width: 16px;
          height: 16px;
          border: solid 1px var(--c-white);
          opacity: 0.8;
          border-radius: 9999px;
          @media (min-width:1024px){
            width: 20px;
            height: 20px;
          }
        }
        .circle{
          position: absolute;
          display: block;
          margin: 7px;
          width: 8px;
          height: 8px;
          background: var(--c-white);
          opacity: 0.8;
          border-radius: 9999px;
          @media (min-width:1024px){
            width: 12px;
            height: 12px;
          }
        }
        .line{
          position: absolute;
          background: var(--c-black);
          opacity: 0.5;
          &::after{
            content: '';
            position: absolute;
            background: var(--c-white);
            opacity: 0.7;
          }
        }
      }
      .step-1{
        position: absolute;
        top: -13px;
        left: 30px;
        max-width: 125px;
        .callout{
          top: 95px;
          right: 48px;
          transform: rotate(-30deg);
          .line{
            height: 70px;
            width: 1px;
            top: -63px;
            left: 11px;
            &::after{
              display: block;
              bottom: 0;
              right: 0;
              width: 1px;
              height: 24px;
            }
          }
        }
        @media (min-width:1024px){
          left: 112px;
          top: 0;
          max-width: 230px;
          .callout{
            top: 2px;
            right: -140px;
            transform: rotate(0deg);
            .line{
              height: 2px;
              width: 140px;
              top: 12px;
              left: auto;
              right: -13px;
              &::after{
                bottom: auto;
                width: 80px;
                height: 2px;
              }
            }
          }
        }
        @media (min-width:1280px){
          left: 162px;
        }
        @media (min-width:2200px){
          max-width: 240px;
          left: 192px;
          top: -4px;
          .callout{
            top: 8px;
          }
        }
        @media (min-width:3280px){
          max-width: 320px;
          left: 92px;
          .callout{
            right: -155px;
            .line{
              width: 155px;
              &::after{
                width: 82px;
              }
            }
          }
        }
      }
      .step-2{
        position: absolute;
        left: 0;
        top: 391px;
        max-width: 110px;
        .callout{
          top: -117px;
          right: -25px;
          transform: rotate(35deg);
          .line{
            height: 115px;
            width: 1px;
            top: 12px;
            right: -11px;
          }
        }
        @media (min-width:1024px){
          left: 52px;
          top: 280px;
          max-width: 270px;
          .callout{
            top: 6px;
            right: -175px;
            transform: rotate(0deg);
            .line{
              height: 1px;
              width: 170px;
              top: 12px;
              right: -7px;
            }
          }
        }
        @media (min-width:1280px){
          left: 102px;
        }
        @media (min-width:2200px){
          max-width: 300px;
          left: 132px;
        }
        @media (min-width:3280px){
          left: 112px;
        }
      }
      .step-3{
        position: absolute;
        top: -14px;
        right: 18px;
        width: 105px;
        .callout{
          left: -17px;
          top: 81px;
          transform: rotate(28deg);
          .line{
            width: 1px;
            height: 59px;
            top: -52px;
            right: auto;
            left: 10px;
            &::after{
              content: '';
              display: block;
              bottom: 0;
              left: 0;
              width: 1px;
              height: 13px;
            }
          }
        }
        @media (min-width:1024px){
          right: 84px;
          width: 250px;
          top: -11px;
          .callout{
            left: -170px;
            top: 1px;
            transform: rotate(0deg);
            .line{
              width: 130px;
              height: 2px;
              top: 12px;
              right: -7px;
              &::after{
                bottom: auto;
                width: 24px;
                height: 2px;
              }
            }
          }
        }
        @media (min-width:1280px){
          right: 130px;
        }
        @media (min-width:2200px){
          right: 175px;
          width: 260px;
        }
        @media (min-width:3280px){
          width: 350px;
          right: 83px;
          top: -17px;
          .callout{
            top: 6px;
          }
        }
      }
      .step-4{
        position: absolute;
        top: 408px;
        right: -10px;
        width: 130px;
        .callout{
          top: -81px;
          left: -25px;
          transform: rotate(-25deg);
          .line{
            height: 75px;
            top: 14px;
            left: 10px;
            width: 1px;
          }
        }
        @media (min-width:1024px){
          width: 220px;
          top: 358px;
          right: 48px;
          .callout{
            top: 1px;
            left: -245px;
            transform: rotate(0deg);
            .line{
              height: 2px;
              top: 12px;
              left: 19px;
              width: 210px;
            }
          }
        }
        @media (min-width:1280px){
          right: 98px;
        }
        @media (min-width:2200px){
          right:145px;
        }
        @media (min-width:3280px){
          width: 325px;
          right: 45px;
        }
      }
      img{
        display: inline-block;
        max-height: 300px;
        max-width: 205px;
        @media (min-width:1024px){
          max-height: 100%;
          max-width: 100%;
        }
        @media (min-width:2200px){
          height: 100%;
          max-height: 430px;
          max-width: 100%;
        }
      }
    }
    .miko-hardware{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size--sm);
      color: var(--c-secondary-lighten);
      position: relative;
      padding-top: 80px;
      padding-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      max-width: 275px;
      @media (min-width:1024px){
        font-size: var(--font-size--lg);
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 100%;
      }
      @media (min-width:2200px){
        font-size: var(--font-size--xl);
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
      .callout{
        position: absolute;
        &::before{
          content: '';
          position: absolute;
          display: block;
          border: solid 1px var(--c-white);
          width: 22px;
          height: 22px;
          opacity: 0.5;
          border-radius: 9999px;
          @media (min-width:1024px){
            width: 26px;
            height: 26px;
          }
        }
        &::after{
          content: '';
          position: absolute;
          display: block;
          left: 3px;
          top: 3px;
          border: solid 1px var(--c-white);
          width: 16px;
          height: 16px;
          opacity: 0.8;
          border-radius: 9999px;
          @media (min-width:1024px){
            width: 20px;
            height: 20px;
          }
        }
        .circle{
          position: absolute;
          display: block;
          margin: 7px;
          width: 8px;
          height: 8px;
          background: var(--c-white);
          opacity: 0.8;
          border-radius: 9999px;
          @media (min-width:1024px){
            width: 12px;
            height: 12px;
          }
        }
        .line{
          position: absolute;
          background: var(--c-black);
          opacity: 0.5;
          &::after{
            content: '';
            position: absolute;
            display: block;
            background: var(--c-white);
            opacity: 0.7;
            @media (min-width:1024px){
              display: none;
            }
          }
        }
      }
      .step-1{
        position: absolute;
        top: -3px;
        left: 0;
        max-width: 125px;
        .callout{
          top: 110px;
          right: 48px;
          .line{
            height: 70px;
            width: 1px;
            top: -63px;
            left: 11px;
            &::after{
              display: block;
              bottom: 0;
              right: 0;
              width: 1px;
              height: 24px;
            }
          }
        }
        @media (min-width:1024px){
          left: 142px;
          max-width: 160px;
          .callout{
            top: 42px;
            right: -70px;
            .line{
              height: 2px;
              width: 70px;
              top: 12px;
              left: auto;
              right: -13px;
              &::after{
                bottom: auto;
                width: 24px;
                height: 2px;
              }
            }
          }
        }
        @media (min-width:1280px){
          left: 192px;
        }
        @media (min-width:2200px){
          max-width: 200px;
          left: 202px;
        }
        @media (min-width:3280px){
          max-width: 240px;
          left: 142px;
          .callout{
            right: -95px;
            .line{
              width: 95px;
              &::after{
                width: 32px;
              }
            }
          }
        }
      }
      .step-2{
        position: absolute;
        top: 200px;
        left: 0px;
        max-width: 105px;    
        .callout{
          top: 195px;
          left: 45px;
          right: auto;
          @media (max-width:1024px){
            .circle {
              top: -86px;
              left: 29px;
            }
            &::before {
              top: -86px;
              left: 29px;
            }
            &::after {
              left: 32px;
              top: -83px;
            }
          }
          .line{
            top: -175px;
            left: 21px;
            right: auto;
            width: 1px;
            height: 100px;
            transform: rotate(-20deg);
            &::after{
              display: none;
            }
          }
        }
        @media (min-width:1024px){
          top: 320px;
          left: 145px;
          max-width: 168px;
          .callout{
            top: 2px;
            left: auto;
            right: -98px;
            .line{
              top: 12px;
              left: auto;
              right: -7px;
              width: 90px;
              height: 2px;
              transform: rotate(0deg);
              &::after{
                bottom: 45px;
                right: 0;
                width: 1px;
                height: 110px;
              }
            }
          }
        }
        @media (min-width:1280px){
          left: 195px;
        }
        @media (min-width:2200px){
          max-width: 200px;
          left: 215px;
          .callout{
            top: 5px;
          }
        }
        @media (min-width:3280px){
          max-width: 250px;
          left: 160px;
          .callout{
            top: 10px;
          }
        }
      }
      .step-3{
        position: absolute;
        top: 22px;
        left: 145px;
        right: auto;
        width: 125px;
        .callout{
          left: 15px;
          top: 215px;
          .line{
            top: -170px;
            left: 11px;
            height: 175px;
            width: 1px;
            &::after{
              bottom: 47px;
              height: 110px;
              width: 1px;
            }
          }
        }
        @media (min-width:1024px){
          top: 225px;
          left: auto;
          right: 64px;
          width: 220px;
          .callout{
            left: -180px;
            top: 6px;
            .line{
              top: 12px;
              left: 19px;
              height: 2px;
              width: 145px;
            }
          }
        }
        @media (min-width:1280px){
          right: 115px;
        }
        @media (min-width:2200px){
          width: 320px;
          right: 65px;
        }
        @media (min-width:3280px){
          width: 325px;
          right: 58px;
        }
      }
      .step-4{
        position: absolute;
        top: 395px;
        left: 127px;
        right: auto;
        width: 125px;
        .callout{
          left: 0;
          top: -44px;
          @media (min-width:1024px){
            left: -165px;
            top: 6px;
          }
          .line{
            top: 15px;
            left: 11px;
            width: 1px;
            height: 26px;
            @media (min-width:1024px){
              top: 12px;
              left: 19px;
              width: 130px;
              height: 2px;
            }
          }
        }
        @media (min-width:1024px){
          left: auto;
          right: 125px;
          width: 220px;
        }
        @media (min-width:1280px){
          right: 175px;
        }
        @media (min-width:2200px){
          width: 325px;
          right: 125px;
        }
        @media (min-width:3280px){
          width: 320px;
          top: 395px;
        }
      }
      img{
        display: inline-block;
        max-height: 300px;
        max-width: 205px;
        @media (min-width:1024px){
          max-height: 100%;
          max-width: 100%;
        }
        @media (min-width:2200px){
          height: 100%;
          max-height: 430px;
          max-width: 100%;
        }
      }
    }
  }
}
</style>
