<template>
  <div class="cms-page">
    <SfHeading
      :title="cmsPageTitle"
      :level="1"
      class="sf-heading--no-underline sf-heading--center page-title"
    />
    <style type="text/css">{{ cmsPageStyle }}</style>
    <div class="small-container bordered-container" v-html="cmsPageContent">
    </div>
  </div>
</template>

<script>
import { getCmsData } from '~/helpers/contentful'
import RichTextRenderer from 'contentful-rich-text-vue-renderer';
// import { useCache } from "@vue-storefront/cache";
// import { onSSR } from "@vue-storefront/core";
import {
  SfHeading,
} from '@storefront-ui/vue';
export default {
  components: {
    SfHeading,
    RichTextRenderer
  },
  setup(props, context) {
    // const { addTags } = useCache();
    let routePath = context.root.context.route.path
    routePath = routePath.replace(/\//g, "");
    // onSSR(async() => {
    //   addTags([{ prefix: "V", value: routePath }]);
    // })
  },
  asyncData ({$CfClient, error, app, route}) {
    const curLocale = app.i18n.locale && app.i18n.locale === 'es' ? app.i18n.locale + '-' + (app.i18n.locale).toUpperCase() : 'en-US';
    return Promise.all([
      $CfClient.getEntries({
      'include': 9,    
      'content_type': 'pwaLandingPageCms',
      'fields.pageSlug': `/${route.params.pathMatch}`,
      'locale': curLocale
    })
      ]).then(([entries]) => {
        if(entries.total === 0) {
          return error({ statusCode: 404, message: 'This page could not be found' });
        }
        let seoTitle = '';
        let seoDescription = '';
        let techSpecsData = '';
        let cmsPageTitle = '';
        let cmsPageContent = '';
        let cmsPageStyle = '';
        if (entries && Object.keys(entries).length) {
          techSpecsData = getCmsData(entries.items);
          cmsPageTitle = techSpecsData.cmsPageTitle ? techSpecsData.cmsPageTitle : '';
          cmsPageContent = techSpecsData.cmsPageContent ? techSpecsData.cmsPageContent : '';
          cmsPageStyle = techSpecsData.cmsPageStyle ? techSpecsData.cmsPageStyle : '';
          seoTitle = techSpecsData.seoTitle;
          seoDescription = techSpecsData.seoTitle;
        }
        return {
          cmsPageTitle,
          cmsPageContent,
          seoTitle,
          cmsPageStyle,
          seoDescription
        }
      }).catch((e) => {
        error({ statusCode: 404, message: 'This page could not be found' })
      })
  },
  head() {
    return {
      title: this.seoTitle,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.seoDescription
        }
      ]
    };
  }
};
</script>
<style lang="scss">
.cms-page{
  min-height: calc(100vh - 500px);
  padding: 25px 15px 30px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  @media (min-width:768px){
    padding-top:50px;
    padding-bottom:70px;
  }
  h1{
    letter-spacing: 0.025em;
    line-height: 1.13;
    margin-bottom: 10px;
    font-size: 25px;
    @media (min-width:768px){
      margin-bottom: 15px;
      font-size: 40px;
    }
  }
  p{
    letter-spacing: 0.025em;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: var(--font-size--sm);
  }
  ul {
    list-style: inside disc;
    font-size: var(--font-size--sm);
    font-weight: 400;
  }
  b{
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
  }
  @media (min-width:2200px){
    font-size: 24px;
    p{
      font-size: 24px;
    }
  }
  @media (min-width:3280px){
    font-size: 30px;
    p{
      font-size: 30px;
    }
  }
}
</style>