<template>
  <div class="faq-home-page">
    <FAQ :faqData="productFAQData" />
  </div>
</template>
<script>
import FAQ from "~/components/Product/FAQ.vue";
import {
  getContentsBySectionKey
} from "~/helpers/contentful";
export default {
  name: "faq",
  layout: "FAQ-mainPage",
  asyncData(context) {
    const curLocale = context.app.i18n.locale && context.app.i18n.locale === 'es' ? context.app.i18n.locale + '-' + (context.app.i18n.locale).toUpperCase() : 'en-US';
    return Promise.all([
      context.$CfClient.getEntries({
        include: 9,
        content_type: "pwaComponentProduct",
        locale: curLocale
      }),
    ])
      .then(([entries]) => {
        let [
          productFAQData
        ] = [{}, {}, {}, {}, {}, {}, {},{},{}, ""];
    
        
        if (entries && Object.keys(entries).length) {
          productFAQData = getContentsBySectionKey(entries, {
            sectionId: "mikoFaq",
          });
        }
        return {
          productFAQData,
        };
      })
      .catch(console.error);
  },
  components: {
    FAQ
  }
};
</script>

<style lang="scss">
.faq-home-page{
  padding-top: 25px;
  padding-bottom: 30px;
  @media (min-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .faq-title{
    text-align: center;
  }
}
</style>
