<template>
  <div id="home">
    <!-- <PreOrderBanner v-if="preOrderBannerData" :preOrderData="preOrderBannerData" /> -->
    <StaticHeroBanner v-if="heroBannerData" :hero-banner-contents="heroBannerData" />
    <LazyHydrate when-visible>
      <AsSeenOn v-if="heroBannerData" :hero-banner-contents="heroBannerData" />
    </LazyHydrate>
    <LazyHydrate when-visible>
      <BelowHeroBanner v-if="getToKnowMikoSection" :contents="getToKnowMikoSection" />
    </LazyHydrate>
    <div class="section-box" data-section-name="aboutInfo">
      <AboutInfo v-if="introSectionData && sectionList.aboutInfo" :about-data="introSectionData" />
    </div>
    <div class="section-box" data-section-name="lerningAppListing">
      <LerningAppListing v-if="learningAppContent && sectionList.lerningAppListing" :contents="learningAppContent" />
    </div>
    <div class="section-box" data-section-name="mikoInformation">
      <MikoInformation v-if="mikoInfoContent && sectionList.mikoInformation" :contents="mikoInfoContent" />
    </div>
    <div class="section-box" data-section-name="simplySecure">
      <SimplySecure v-if="sectionSimplySecure && sectionList.simplySecure" :contents="sectionSimplySecure" />
    </div>
    <div class="section-box" data-section-name="mikoMax">
      <MikoMax v-if="sectionMikoMax && sectionList.mikoMax" :contents="sectionMikoMax" />
    </div>
    <div class="section-box" data-section-name="testimonialSlider">
      <TestimonialSlider v-if="tesimonialsData && tesimonialsData.length && sectionList.testimonialSlider" :testimonials="tesimonialsData" :title="testimonialSecTitle" />
    </div>
    <div class="section-box" data-section-name="leadSection">
      <LeadSection />
    </div>
  </div>
</template>
<script>
import StaticHeroBanner from '~/components/home/StaticHeroBanner.vue';
import { getContentsBySectionKey } from '~/helpers/contentful'
import { ref, onMounted, onUnmounted, nextTick } from '@vue/composition-api';
// import { useCache } from "@vue-storefront/cache";
// import { onSSR } from "@vue-storefront/core";
import LazyHydrate from "vue-lazy-hydration";

export default {
  name: 'homelead',
  setup (props, context) {
    // const { addTags } = useCache();
      let [ 
          mikoInfoContent,
          tesimonialsData,
          introSectionData,
          heroBannerData,
          // preOrderBannerData,
          sectionSimplySecure,
          sectionMikoMax,
          getToKnowMikoSection,
          learningAppContent,
          testimonialSecTitle
        ] = [ {}, {}, {}, {}, {}, {}, {}, '' ]
        let headerData = JSON.parse(JSON.stringify(context.root.$store.state.homeElements));
        
        // mobile menu
         if (headerData && Object.keys(headerData).length) {
          heroBannerData = getContentsBySectionKey(headerData, {sectionId: 'heroBanner'})
          introSectionData = getContentsBySectionKey(headerData, {sectionId: 'introSection'})
          tesimonialsData = getContentsBySectionKey(headerData, {sectionId: 'tesimonials'})
          mikoInfoContent = getContentsBySectionKey(headerData, {sectionId: 'sayItLoudProud'})
          sectionSimplySecure = getContentsBySectionKey(headerData, {sectionId: 'sectionSimplySecure'})
          sectionMikoMax = getContentsBySectionKey(headerData, {sectionId: 'sectionMikoMax'})
          getToKnowMikoSection = getContentsBySectionKey(headerData, {sectionId: 'getToKnowMikoSection'})
          learningAppContent = getContentsBySectionKey(headerData, {sectionId: 'gameForAnythingSection'})
          testimonialSecTitle = getContentsBySectionKey(headerData, {sectionId: 'sectionWhosTalkingAboutMikoTitle'})
          // preOrderBannerData = getContentsBySectionKey(headerData, {sectionId: 'preOrderBanner'})
        }
        const sectionList = ref({
          // asSeenOn: false,
          // belowHeroBanner: false,
          aboutInfo: false,
          lerningAppListing: false,
          mikoInformation: false,
          simplySecure: false,
          mikoMax: false,
          testimonialSlider: false
        });
        // onSSR(() => {
        //   addTags([{ prefix: "V", value: "homelead" }]);
        // });
        let observer;
        onMounted(() => {
          nextTick(() => {
            const visibleSection = (entries, observer) => {
              entries.forEach((entry) => {
                if (!entry.isIntersecting) {
                  return;
                }
                if (entry.isIntersecting && entry.intersectionRatio > 0) {
                  sectionList.value[
                    entry.target.getAttribute("data-section-name")
                  ] = true;
                }
              });
            };
            const options = {
              rootMargin: "130px 0px 0px 0px",
              threshold: 0,
            };
            observer = new IntersectionObserver(visibleSection, options);
            const sections = document.querySelectorAll(".section-box");
            sections &&
              sections.forEach((section) => {
                observer.observe(section);
              });
          });
        });
        onUnmounted(() => {
          observer.disconnect();
        });
        return {
          heroBannerData,
          introSectionData,
          tesimonialsData,
          mikoInfoContent,
          sectionSimplySecure,
          sectionMikoMax,
          // preOrderBannerData,
          getToKnowMikoSection,
          learningAppContent,
          testimonialSecTitle,
          sectionList
        }
  },
  components: {
    // PreOrderBanner :() => import('~/components/home/PreOrderBanner.vue'),
    LazyHydrate,
    StaticHeroBanner,
    AsSeenOn :() => import('~/components/home/AsSeenOn.vue'),
    BelowHeroBanner: () => import('~/components/home/BelowHeroBanner.vue'),
    TestimonialSlider: () => import('~/components/home/TestimonialSlider.vue'),
    AboutInfo: () => import('~/components/home/AboutInfo.vue'),
    MikoInformation: () => import('~/components/home/MikoInformation.vue'),
    SimplySecure: () => import('~/components/home/SimplySecure.vue'),
    MikoMax: () => import('~/components/home/MikoMax.vue'),
    LerningAppListing: () => import('~/components/home/LerningAppListing.vue'),
    LeadSection :() => import ('~/components/home/LeadSection.vue')
  },
  head(){
    return{
      script: [
        {
          type: 'application/ld+json',
          defer: true,
          json: {
              "@context": "http://www.schema.org",
              "@type": "Organization",
              "name": "Miko",
              "url": "https://miko.ai/",
              "sameAs": [
                "https://www.facebook.com/Miko-108227973861366/",
                "https://twitter.com/mikorobotusa"
              ],
              "logo": "https://images.ctfassets.net/g9ymljj7t64b/58Ae50iaytu6bMgx2ZWZ1d/22d84ea040663a3b60df8f6854eb3c9f/old-miko-logo.svg?fm=webp",
              "description": "Miko 3 is an advanced AI robot toy made to engage, educate and entertain kids. Miko 3 robot is a programmable and voice activated STEM toy to make kids smarter"
            }
        }
      ],
    }
  }
};
</script>
<style lang="scss" scoped>
.section-box {
  min-height: 30vh;
}
</style>
