<template>
  <div class="manual-page">
    <div class="dropdown_container">
        <label style="display:none;">Please choose a language</label>
        <br />
        <select id="select_language" name="language" title="Please choose a language" @change="onChange($event)" class="form-select form-control">
            <option>---- Select language ----</option>
            <option value="english">English</option>
            <option value="french">French</option>
            <option value="spanish">Spanish</option>
            <option value="italian">Italian</option>
            <option value="german">German</option>
        </select>
    </div>
    <div class="manual_option_container">
        <div id="language_container" class="language_container" v-if="language">
            <div class="option"><a href="#" class="btn-1 guide_button" @click="onClickStartGuide($event)">Quick Start Guide</a></div>
            <div class="option"><a href="#" class="btn-1 guide_button" @click="onClickInfoGuide($event)">Product Information Guide</a></div>
        </div>
    </div>
  </div>
</template>
<script>    
export default {
  name: "manual",
  data() {
    return {
        language: ''
    };
  },
  methods: {
    onChange(e) {
        this.language = e.target.value;
    },
    onClickStartGuide(e) {
        const urls = {
            'english': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_quick_start_guide.pdf?v=1648108378',
            'french': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_manual_new3_numbered_french.pdf?v=1648149422',
            'spanish': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_manual_new3_numbered_spanish.pdf?v=1648149710',
            'italian': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_manual_new3_numbered_italian.pdf?v=1648149572',
            'german': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_manual_new3_numbered_german.pdf?v=1648149773'
        }
    window.open(urls[this.language])
    },
    onClickInfoGuide(e) {
        const urls = {
            'english': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_compliances_manual.pdf?v=1648108461',
            'french': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_compliances_manual_french.pdf?v=1648149421',
            'spanish': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_compliances_manual_spanish.pdf?v=1648149710',
            'italian': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_compliances_manual_italian.pdf?v=1648149572',
            'german': 'https://cdn.shopify.com/s/files/1/0122/4212/4862/files/Miko_3_compliances_manual_german.pdf?v=1648149772'
        }
    window.open(urls[this.language])
    }
  }
}
</script>

<style lang="scss">
.guide_button{
    border-color: var(--c-primary);
    background: var(--c-primary);
    color: var(--c-white);
}
.language_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
    .option{
        margin: 10px;
    }
}
#select_language{
    width: 80%;
    padding: 5px;
    margin: 20px;
    font-size: 16px;
    @media (min-width: 1024px) {
      width: 400px;
    }
}
.manual-page{
  text-align: center;
  padding-top: 25px;
  min-height: 70vh;
  padding-bottom: 30px;
  @media (min-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 0;
    min-height: 70vh;
  }
}
</style>
