<template>

    <div class="mikomaxContainer">

      <div class="max-main-page">
        <LazyHydrate when-visible >
          <FeatureSection v-if="featureSectionContent" :featureData="featureSectionContent"/>
        </LazyHydrate>
        <div class="max-copanies-main sec-full-width">
          <LazyHydrate when-visible >
            <PremiumContainsCompaniesB v-if="companiesSectionContent2" :companiesData="companiesSectionContent2"/>
          </LazyHydrate>  
        </div>
          <LazyHydrate when-visible >
            <ManyMoreSlider  v-if="ManyMoreSliderContent" :logosectionData="ManyMoreSliderContent"/>
          </LazyHydrate>
          <LazyHydrate when-visible v-if="MoreThanExpectedContent">
              <TrulyMoreThanExpected :MoreThanExpected="MoreThanExpectedContent" />
          </LazyHydrate>
          <LazyHydrate when-visible>
            <MaxSubscriptions  v-if="MikoMaxSubscriptionsContent" :subscriptionCOntent="MikoMaxSubscriptionsContent" :oneTimeAnnualLoading="oneTimeAnnualLoading" :oneTimeLoading="oneTimeLoading" @performAddingToCart="addingToCart" :variantOneTimePrice="getFilteredProduct.variants[0]" :variantAnnualPrice="getFilteredProduct.variants[1]"/>
          </LazyHydrate>
          <LazyHydrate when-visible v-if="productFAQData">
            <FAQ  :faqData="productFAQData" />
          </LazyHydrate>
      </div>
    </div>
</template>
<script>
import LazyHydrate from "vue-lazy-hydration";
import {
 
  SfLoader,

} from "@storefront-ui/vue";
import {
  getContentsBySectionKey,
  getFilteredContents,
  getAllFilteredContents,
} from "~/helpers/contentful";
import { computed, ref } from "@vue/composition-api";
import { useCart } from "@vue-storefront/shopify";
import { useUiHelpers, useUiState } from '~/composables';
export default {
    name: "MikoMax",
    components:{     
    FeatureSection: () => import('~/components/MikoMax/FeatureSection.vue'),
    // PremiumContainsCompanies: () =>import('~/components/MikoMax/PremiumContainsCompanies.vue'),
     PremiumContainsCompaniesB: () =>import('~/components/MikoMax/MikoMaxOptionB/PremiumContainsCompaniesB.vue'),
    ManyMoreSlider: () =>import('~/components/MikoMax/PlusManyMoreSlider.vue'),
    TrulyMoreThanExpected :() => import('~/components/MikoMax/TrulyMoreThanExpected.vue'),
    MaxSubscriptions :() =>import('~/components/MikoMax/MikoMaxSubscription.vue'),
    FAQ : () =>import('~/components/MikoMax/FAQ.vue'),
    LazyHydrate,
    SfLoader,
    },
    data(){
      return{
        loadingMaxContent:false
      }
    },
  asyncData(context) {
    const curLocale = context.app.i18n.locale && context.app.i18n.locale === 'es' ? context.app.i18n.locale + '-' + (context.app.i18n.locale).toUpperCase() : 'en-US';
    return Promise.all([
      context.$CfClient.getEntries({
        include: 9,
        content_type: "maxSections",
        locale: curLocale
      }),
    ])
      .then(([entries]) => {
           let [
          featureSectionContent,
          companiesSectionContent,
          companiesSectionContent2,
          ManyMoreSliderContent,
          MoreThanExpectedContent,
          MikoMaxSubscriptionsContent,
          productFAQData
 
        ] = [[],{},{},{},{},{},{}];
         if (entries && Object.keys(entries).length) {
          const section = getContentsBySectionKey(entries, {sectionId: 'sections'})
         featureSectionContent = getFilteredContents(section, {
            contentTypeId: 'mikoMaxSpecifications',
          });
          companiesSectionContent = getFilteredContents(section, {
            contentTypeId: "mikomaxCompanies",
          });
          companiesSectionContent2 = getAllFilteredContents(section, {
            contentTypeId: "richPremiumContentsFromTopTierCompanies",
          });
          ManyMoreSliderContent =getFilteredContents(section, {
            contentTypeId: "mikomaxLogoSection",
          });
          MoreThanExpectedContent =getFilteredContents(section, {
            contentTypeId: "mikomaxValueProps",
          });
          MikoMaxSubscriptionsContent =getFilteredContents(section, {
            contentTypeId: "mikoPlans",
          });
          productFAQData = getFilteredContents(section, {
            contentTypeId: "productFaq",
          });
         }
        return {
          entries,
          featureSectionContent,
          companiesSectionContent,
          companiesSectionContent2,
          ManyMoreSliderContent,
          MoreThanExpectedContent,
          MikoMaxSubscriptionsContent,
          productFAQData
        };
      })
      .catch(console.error);
  },
  head() {
    return {
      title: this.seoTitle,
      meta: [
        {
          hid: "content_type",
          name: "content_type",
          content: "product_group",
        },
        {
          hid: "content_ids",
          name: "content_ids",
          content: "[6628829003838]",
        },
        {
          hid: "value",
          name: "value",
          content: this.getFilteredProduct.variants[1].price,
        },
        {
          hid: "num_items",
          name: "num_items",
          content: "1",
        },
        {
          hid: "currency",
          name: "currency",
          content: "USD",
        },
        {
          hid: "Setup Method",
          name: "Setup Method",
          content: "Manual",
        },
        {
          hid: "URL Called",
          name: "URL Called",
          content: "Show",
        },
        {
          hid: "Load Time",
          name: "Load Time",
          content: "18.38 ms",
        },
        {
          hid: "Pixel Location",
          name: "Pixel Location",
          content: "Show",
        },
        {
          hid: "Event ID",
          name: "Event ID",
          content: "c61674ae-0200-46AF-DA96-B6A25A6F5117",
        },
        {
          hid: "Matched Products",
          name: "Matched Products",
          content: "6628829003838",
        },
      ],
    };
  },
  data(){
    return{
      addtocartLoading: false
    }
  },
  methods: {
    async addingToCart(ChosenVariant) {
      if (ChosenVariant == 1){
        this.oneTimeAnnualLoading= true;
      }else{
        this.oneTimeLoading= true;
      }
      await this.addItem({
          product: {
            title: "Miko Max",
            slug: this.$config.mikoMaxHandle,
            variantBySelectedOptions: { id: this.getFilteredProduct.variants[ChosenVariant].id },
          },
          quantity: 1,
        })
        this.toggleCartSidebar();
         // Track add to cart based on ecommerce enhancement
        this.$gtm.push({ ecommerce: null });
        this.$gtm.push({
            event: "addToCart",
            action: '', 
            deviceid: this.deviceExistingUUID,
            // eslint-disable-next-line camelcase
            content_type: 'product_group',
            // eslint-disable-next-line camelcase
            content_ids: [parseInt(this.getOriginalID(this.getFilteredProduct.variants[ChosenVariant].id))],
            num_items: 1,
            value: this.getFilteredProduct.variants[ChosenVariant].price,
            currency: 'USD',
            // eslint-disable-next-line camelcase
            content_category: 'VIRTUAL',
            content_name: this.getFilteredProduct.variants[ChosenVariant].title,
            'ecommerce': {
              'currencyCode': 'USD',
              'add': {
                'products': [{
                  'name': this.getFilteredProduct.variants[ChosenVariant].title,
                  'id': this.getFilteredProduct.variants[ChosenVariant].sku,
                  price: this.getFilteredProduct.variants[ChosenVariant].price,
                  brand: 'Miko',
                  category: 'Commerce',
                  variant: this.getFilteredProduct.variants[ChosenVariant].selectedOptions[0].value,
                  quantity: 1
                }]
              }
            }
          });
          this.oneTimeLoading= false;
          this.oneTimeAnnualLoading=false;
    }
  },
  setup (props, context) {
    const {getOriginalID} = useUiHelpers();
    const oneTimeLoading= ref(false);
    const oneTimeAnnualLoading= ref(false);
    const deviceExistingUUID = context.root.$cookies.get('deviceUUID');
    const { addItem, loading } = useCart();
    const { toggleCartSidebar } = useUiState();
    const allProducts = context.root.$store.state.allProducts;
    const getFilteredProduct = computed(() => allProducts.find((p) => p.handle === context.root.$config.mikoMaxHandle));
    return {getFilteredProduct, addItem, loading, toggleCartSidebar, deviceExistingUUID, oneTimeLoading, oneTimeAnnualLoading, getOriginalID};
  }
}
</script>
<style lang="scss" scoped>
.mikomaxContainer{
    width: 100%;
}
</style>