<template>
  <div id="account">
    <SfContentPages
      data-cy="account_content-pages"
      :active="currentPage"
      class="my-account"
      title="Menu"
      @click:change="currentPage = $event;"
    >
      <template #menu-item="{ page }">
        <SfMenuItem
          :class="{ 'is-active': page.title === activePage }"
          :label="page.title === 'Billing details' ? 'Address Book' :  page.title === 'Order history' ? 'My Orders' : page.title"
          class="sf-content-pages__menu"
          @click="changeActivePage(page.title)"
          icon=""
        />
      </template>

      <SfContentPage data-cy="Account-my-profile" title="My profile">
        <MyProfile />
      </SfContentPage>

      <SfContentPage data-cy="Account-address-book" title="Billing details">
        <AdressBook />
      </SfContentPage>

      <SfContentPage data-cy="Account-my-orders" title="Order history">
        <OrderHistory />
      </SfContentPage>

      <SfContentPage data-cy="account-page_log-out" title="Log out" />
    </SfContentPages>
  </div>
</template>
<script type="module">
import { SfContentPages, SfMenuItem, SfLink } from '@storefront-ui/vue';
import { ref, computed, onMounted } from '@vue/composition-api';
import { useUser, userGetters, useContent } from '@vue-storefront/shopify';
import MyProfile from './MyAccount/MyProfile';
import AdressBook from './MyAccount/AdressBook';
import LoyaltyCard from './MyAccount/LoyaltyCard';
import OrderHistory from './MyAccount/OrderHistory';
import useUiNotification from '~/composables/useUiNotification';
export default {
  name: 'MyAccount',
  middleware: 'authenticated',
  components: {
    SfContentPages,
    SfMenuItem,
    MyProfile,
    AdressBook,
    LoyaltyCard,
    OrderHistory,
    SfLink
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, context) {
    const { $router, $route } = context.root;
    const { logout, load: loadUser, user: userInfo} = useUser();
    const { loading: newsLetterLoading, content: NewsletterStatus, search: UpdateNewsletterPreference } = useContent('UpdateNewsletterPreference');
    const { send: sendNotification} = useUiNotification();
    const acceptsMarketing = computed(() => userGetters.AcceptsMarketingStatus(userInfo.value));
    const email = computed(() => userGetters.getEmailAddress(userInfo.value));
    const id = computed(() => userGetters.getCleanID(userInfo.value));

    const activePage = computed(() => {
      const { pageName } = $route.params;

      if (pageName) {
        return (pageName.charAt(0).toUpperCase() + pageName.slice(1)).replace('-', ' ');
      }

      return 'My profile';
    });

    const changeActivePage = async (title) => {
      if (title === 'Log out') {
        await logout();
        sendNotification({
          key: 'logout_success',
          message: 'You are successfully logged out',
          type: 'success',
          icon: 'check',
          title: 'Loguut success'
        });
        $router.push(context.root.localePath('/'));
        return;
      }

      $router.push(context.root.localePath(`/my-account/${(title || '').toLowerCase().replace(' ', '-')}`));
    };
    onMounted(async () => {
      await loadUser();
    });
    return { loadUser, changeActivePage, activePage, acceptsMarketing, UpdateNewsletterPreference, email, id, NewsletterStatus, sendNotification, newsLetterLoading };
  },
  methods: {
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    async updateNewsletterPreference(status) {
      await this.UpdateNewsletterPreference({ContentType: 'updatePreferences', Email: this.email, isSubscribed: status, customerId: this.id}).then(() => {
        this.sendNotification({
          key: 'preferences_updated',
          message: this.NewsletterStatus,
          type: 'success',
          icon: 'check',
          title: 'Subscribed status'
        });
      });
      await this.loadUser();
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Home',
          route: { link: '/' }
        },
        {
          text: 'My Account',
          route: { link: '/my-account' }
        },
        {
          text: this.activePage,
          route: { link: '#' }
        }
      ],
      currentPage: this.activePage
    };
  }
};
</script>

<style lang='scss'>
#account {
  padding:40px 15px 0 15px;
  min-height: calc(100vh - 560px);
  .sf-content-pages {
    overflow: unset;
    height: auto;
  }
  & > .sf-content-pages {
    & > .sf-bar {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
      padding: 15px 40px 15px 20px;
      justify-content: flex-start;
      flex: 1 1 auto;
      height: auto;
      position: relative;
      margin-bottom: 30px;
      margin-left: -15px;
      margin-right: -15px;
      background: var(--c-white);
      .sf-bar__title {
        font-weight:normal;
        color: var(--c-black);
        font-size: 18px;
        text-transform: capitalize;
        line-height: var(--line-height--base);
      }
      .sf-button {
        padding-right:20px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        .sf-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  .sf-content-pages__section {
    align-items: flex-start;
    padding-bottom: 50px;
    margin: 0;
    position: relative;
    @media (min-width:768px){
      padding-bottom: 80px;
    }
    &.is-active {
      transform: none;
      .sf-content-pages__sidebar {
        left: calc(-100% - 15px);
      }
    }
  }
  .sf-content-pages__content, .sf-content-pages__sidebar {
    height: auto;
    overflow: unset;
  }
  .sf-content-pages__sidebar {
    background-color: transparent;
    max-width: 230px;
    width: 16.666667%;
    padding: 0;
    @include for-mobile {
      min-height: 200px;
      transition: all 0.3s ease-in-out 0s;
      box-shadow:0 0 0;
      padding: 0;
      z-index: 1;
      border-radius: 0;
      background: var(--c-white);
      width: 100%;
      height: 100%;
      max-width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    & > .sf-content-pages__title {
      display: none;
    }
    .sf-content-pages__list {
      .sf-content-pages__list-item {
        padding:0;
        margin: 0;
        border: 0;
      }
      .sf-menu-item {
        font-size:var(--font-size--base);
        line-height: var(--line-height--base);
        font-weight: normal;
        position: relative;
        padding: 30px 40px;
        color:var(--c-secondary-lighten);
        @include for-mobile {
          font-size: 14px;
          padding: 15px 20px;
        }
        &.is-active,
        &:hover {
          background: var(--c-pink-FDF0F0);
          &::after {
            height: 100%;
          }
          .sf-menu-item__label {
            color:var(--c-primary);
            font-weight: 700;
          }
        }
        .sf-menu-item__label {
          text-transform: capitalize;
          color:var(--c-secondary-lighten);
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 150ms;
        }
        @media (min-width:3280px){
          font-size:var(--font-size--xxl);
        }
      }
    }
    @media (min-width:3280px){
      font-size:var(--font-size--xxl);
      max-width: 100%;
      width: 30%;
      padding-top: 40px;
    }
  }
  .sf-content-pages__content {
    padding-left:80px;
    width: 83.333333%;
    @include for-mobile {
      min-height: 400px;
      padding:0;
      width: 100%;
    }
    @media (min-width:3280px){
      width: 70%;
    }
  }
  .my_accout_title_wrap {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    .sf-heading {
      @include for-mobile {
        padding: 0;
      }
    }
    .sf-heading__title {
      line-height:var(--line-height--base);
      font-weight: 700;
      color:var(--c-black);
      font-size: var(--font-size--xxl);
      @media (min-width:3280px){
        font-size: 45px;
      }
    }
    .sf-button {
      text-transform: none;
      transition: all 0.3s ease 0s;
      display:flex;
      align-items: center;
      line-height: var(--line-height--base);
      font-weight: normal;
      font-size: 14px;
      color:var(--c-black);
      padding: 0;
      background: transparent;
      svg {
        margin-right:10px;
        path {
          transition: all 0.3s ease 0s;
        }
      }
      &:focus-visible {
        outline: 0 none;
      }
      &:hover {
        color: var(--c-primary);
        svg {
          path {
            fill: var(--c-primary);
          }
        }
      }
      &:active {
        --button-background: transparent;
      }
    }
  }
  .my_account_content {
    &.container-small {
      @include for-desktop {
        max-width: 500px;
      }
      @media (min-width:3280px){
        max-width: 800px;
      }
    }
    @include for-mobile {
      .notifications{
        z-index:5;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        .sf-notification{
          border-radius: 0px;
          width: 100%;
          max-width: 100%;
        }
      }
    }
    .my-account-bottom-action-wrap {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 15px;
      @media (min-width:640px){
        margin-left: -10px;
        margin-right: -10px;
        justify-content: flex-start;
      }
      .form__button_wrap {
        padding-left: 0;
        padding-right: 0;
        @media (min-width:640px){
          padding-left: 10px;
          padding-right: 10px;
        }
        .form__button {
          width: 100%;
        }
      }
    }
    .form__button {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      min-height: 58px;
      text-transform: capitalize;
      border-radius: 9999px;
      border: solid 1px var(--c-primary);
      font-weight: 700;
      font-size: var(--font-size--sm);
      padding: 13px 28px;
      @include for-mobile {
        min-height: 46px;
        padding: 17px 40px;
      }
      &:not(.btn-full) + .form__button:not(.btn-full) {
        margin-right: 10px;
      }
      &.sf-link {
        &:hover {
          color: var(--c-white);
        }
      }
      &:hover {
        border-color:var(--c-secondary);
        background: var(--c-secondary);
      }
      &.is-disabled--button,
      &.is-disabled--button:hover {
        background:var(--c-light);
      }
      &.btn-full {
        width: 100%;
        & + .btn-full {
          margin-top: 10px;
        }
      }
      &.sf-btn-secondary {
        background: var(--c-secondary);
        &:hover {
          background:var(--c-primary);
        }
      }
      &.btn-bordered {
        color:var(--c-primary);
        background: transparent;
        &:hover {
          color:var(--c-secondary);
        }
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
    }
    .tabs__header {
      border-bottom:solid 1px var(--c-light);
      justify-content: flex-start;
      li {
        font-size:var(--font-size--base);
        color: var(--c-secondary-lighten);
        padding: 0 20px 10px 20px;
        font-weight: 700;
        background: transparent;
        @include for-mobile {
          padding: 0 10px 10px;
        }
        &:hover,
        &.tab__selected {
          color:var(--c-primary);
          &::after {
            background: var(--c-primary);
            width: 100%;
          }
        }
        &::after {
          content: "";
          width: 0;
          transition: all .3s ease 0s;
          height:1px;
          background: transparent;
          position: absolute;
          left: 0;
           bottom: -1px;
        }
      }
    }
  }
  .sf-bar.smartphone-only{
    display: none;
  }
}
</style>
