<template>
  <div>
    <SfLoader
      v-if="productloading"
      class="miko-pdp-loader"
      :loading="productloading"
    >
      <div />
    </SfLoader>
    <div id="product" v-else>
      
      <div class="sec-full-width product-hero">
        <PreOrderHighlighs v-if="preOrderHeadings" :preOrderData="preOrderHeadings" />
        <div class="product container">
          <div class="sf-gallery product__gallery" v-if="productGallery" :style="slug !== 'miko3' ? 'margin-left: 0' : ''">
            <div class="sf-gallery__stage">
              <div class="glide glide--ltr glide--slider glide--swipeable">
                <div class="glide__track">
                  <ul class="glide__slides">
                    <li class="glide__slide glide__slide--active">
                      <div class="sf-image--wrapper sf-gallery__big-image">
                        <img
                          :src="productGallery[0].desktop.url"
                          :alt="productGallery[0].alt"
                        />
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product__info">
            <div class="product-info-block">
              <div class="product-header">
                <h2>
                  {{ slug === $config.mikoHandle ? 'Miko 3' : productGetters.getName(product) }}
                </h2>
                <div class="product-price">
                  <template
                    v-if="
                      productGetters.getPrice(product).special &&
                      parseFloat(productGetters.getPrice(product).special) <
                        parseFloat(productGetters.getPrice(product).regular)
                    "
                  >
                     <SfPrice
                      :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                        $n(
                          productGetters.getPrice(product).regular,
                          'decimal'
                        )}`
                      "
                      :special="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                        $n(
                          productGetters.getPrice(product).special,
                          'decimal'
                        )}`
                      "
                    />
                    <!-- <SfBadge class="sf-badge--number">
                      {{ productGetters.getDiscountPercentage(product) }}% off
                    </SfBadge> -->
                  </template>
                   <SfPrice
                    :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                      $n(
                        productGetters.getPrice(product).special,
                        'decimal'
                      )}`
                    "
                    v-else-if="
                      productGetters.getPrice(product).special &&
                      parseFloat(productGetters.getPrice(product).special) >
                        parseFloat(productGetters.getPrice(product).regular)
                    "
                  />
                  <SfPrice
                    :regular="`${$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}${
                      $n(
                        productGetters.getPrice(product).regular,
                        'decimal'
                      )}`
                    "
                    v-else
                  />
                </div>
              </div>
              <div>
                <p class="product__description" v-if="productDescription">
                  {{ productDescription }}
                </p>
                  <div
                      v-for="(option, o) in options"
                      :key="`attrib-${o.toLowerCase()}`"
                      :class="`product__${o.toLowerCase()}s`"
                    >
                      <p class="product__color-label" v-if="o.toLowerCase() === 'color'">{{ $t(`${o}`) }}: <span>{{product.variantBySelectedOptions === null ? product.variants[0].selectedOptions[0].value : productGetters.getName(product)}}</span></p>
                      <div :class="o.toLowerCase() === 'color'? 'color-option' : ''">
                        <SfSelect
                          v-if="o.toLowerCase() !== 'color'"
                          :key="`attrib-${o}`"
                          :data-cy="`product-select_${o.toLowerCase()}`"
                          :set="(atttLbl = o)"
                          @input="(o) => updateFilter({ [atttLbl]: o })"
                          :value="configuration[o] || options[o][0]"
                          :label="$t(`${o}`)"
                          :class="`sf-select--underlined product__select-${o.toLowerCase()}`"
                          :required="true"
                        >
                          <SfSelectOption
                            v-for="(attribs, a) in option"
                            :key="`item-${a}`"
                            :value="attribs"
                          >
                            {{ attribs }}
                          </SfSelectOption>
                        </SfSelect>
                        <SfColor
                          data-cy="product-color_update"
                          v-for="(attribs, a) in option"
                          :key="`item-${a}`"
                          :color="attribs"
                          :class="`product__color ${attribs
                            .replace(/\s/g, '')
                            .toLowerCase()}`"
                          @click="
                            (atttLbl = o),
                              updateFilter({ [atttLbl]: attribs })
                          "
                          :selected="
                            configuration[o]
                              ? configuration[o] === attribs
                                ? true
                                : false
                              : a === 0
                              ? true
                              : false
                          "
                        />
                      </div>
                    </div>
                <SfAddToCart
                  data-cy="product-cart_add"
                  :stock="stock"
                  v-model="qty"
                  :canAddToCart="stock > 0"
                  class="product__add-to-cart"
                >
                  <template #quantity-select-input>
                    <div class="add-to-cart-quantity-wrap">
                      <div class="qty-block">
                        <label>{{$t("QTY")}}</label>
                      </div>
                      <SfQuantitySelector
                        v-model="qty"
                        aria-label="Quantity"
                        :disabled="loading"
                        class="sf-add-to-cart__select-quantity"
                      />
                    </div>
                    <SfCheckbox
                      class="mikomax-card-wrapper"
                      name="shipping"
                      :label="
                        slug === $config.mikoMaxHandle
                          ? 'Miko 3'
                          : 'Miko Max'
                      "
                      hintMessage=""
                      :infoMessage="
                        slug === $config.mikoMaxHandle
                          ? 'Add miko3'
                          : 'One-time purchase for 3 months'
                      "
                      v-model="subscriptionState"
                      :click="updatePreference(subscriptionState)"
                      v-if="!IsExtendEnabled"
                    >
                      <template #label="{ label }">
                        <div v-if="label" class="sf-checkbox__label">
                          {{ label }}
                          <div class="info-tooltip">
                            <svg
                              width="16"
                              height="16"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <g opacity="0.5">
                                <path
                                  d="M8 0C3.58214 0 0 3.58214 0 8C0 12.4179 3.58214 16 8 16C12.4179 16 16 12.4179 16 8C16 3.58214 12.4179 0 8 0ZM8 14.6429C4.33214 14.6429 1.35714 11.6679 1.35714 8C1.35714 4.33214 4.33214 1.35714 8 1.35714C11.6679 1.35714 14.6429 4.33214 14.6429 8C14.6429 11.6679 11.6679 14.6429 8 14.6429Z"
                                  fill="#606060"
                                />
                                <path
                                  d="M7.14258 4.85714C7.14258 5.08447 7.23288 5.30249 7.39363 5.46323C7.55437 5.62398 7.77239 5.71429 7.99972 5.71429C8.22705 5.71429 8.44507 5.62398 8.60581 5.46323C8.76656 5.30249 8.85686 5.08447 8.85686 4.85714C8.85686 4.62981 8.76656 4.4118 8.60581 4.25105C8.44507 4.09031 8.22705 4 7.99972 4C7.77239 4 7.55437 4.09031 7.39363 4.25105C7.23288 4.4118 7.14258 4.62981 7.14258 4.85714ZM8.42829 6.85714H7.57115C7.49258 6.85714 7.42829 6.92143 7.42829 7V11.8571C7.42829 11.9357 7.49258 12 7.57115 12H8.42829C8.50686 12 8.57115 11.9357 8.57115 11.8571V7C8.57115 6.92143 8.50686 6.85714 8.42829 6.85714Z"
                                  fill="#606060"
                                />
                              </g>
                            </svg>
                            <div class="tooltip-pop">
                              <h4 v-if="descriptionMikoMaxTooltipTitle">
                                {{ descriptionMikoMaxTooltipTitle }}
                              </h4>
                              <p
                                v-if="descriptionMikoMaxTooltipContents"
                                v-html="descriptionMikoMaxTooltipContents"
                              />
                              <nuxt-link :to="slug === $config.mikoHandle ? localePath(`/store/mikomax`) : localePath(`/store/${$config.mikoHandle}`)">{{ $t("Learn more") }}</nuxt-link>
                            </div>
                          </div>
                        </div>
                      </template>
                    </SfCheckbox>
                    <div id="extend-offer" v-if="slug === $config.mikoHandle && !checkIsProductWarrantyInCart()"></div>
                  </template>
                  <template #add-to-cart-btn>
                    <SfButton
                      class="sf-add-to-cart__button btn-1 btn-add-to-cart"
                      :disabled="pdpAddtocartLoading"
                      @click="
                        addingToCart({ product, quantity: parseInt(qty) })
                      "
                      :class="{ loader: pdpAddtocartLoading }"
                    >
                      <SfLoader :loading="pdpAddtocartLoading">
                        <span>{{$t("Add to Cart")}}</span>
                      </SfLoader>
                    </SfButton>
                  </template>
                </SfAddToCart>
                <div v-if="IsNokEnabled && $i18n.locale==='en'" style="text-align: center;">
                    <Nok v-if="preOrderHeadings" :preOrderData="preOrderHeadings" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <LazyHydrate when-visible>
        <MikoFriendship
          v-if="mikoFriendShipData"
          :friendshipData="mikoFriendShipData"
        />
      </LazyHydrate>
      <LazyHydrate when-visible>
        <AdditionalHighlights
          v-if="AdditionalHighlightsData"
          :AdditionalHighlightsData="AdditionalHighlightsData"
        />
      </LazyHydrate>
      <LazyHydrate when-visible v-if="rollsWithThePunchesData">
        <MikoRolls :rollsWithThePunchesData="rollsWithThePunchesData" />
      </LazyHydrate>
      <LazyHydrate when-idle v-if="mikoTechnicalSpecsData">
        <QuickSetup :mikoTechnicalSpecsData="mikoTechnicalSpecsData" />
      </LazyHydrate>
      <LazyHydrate when-visible v-if="youreInChargeData">
        <AppStore :youreInChargeData="youreInChargeData" />
      </LazyHydrate>
      <LazyHydrate when-visible v-if="outSmartData">
        <OutSmart :outSmartData="outSmartData" :addtocart-loading="pdpAddtocartLoading" :disable="pdpAddtocartLoading"  @add-to-cart="addingToCart({ product, quantity: parseInt(qty) })"/>
      </LazyHydrate>
      <LazyHydrate when-visible>
        <FAQ v-if="productFAQData" :faqData="productFAQData" />
      </LazyHydrate>
    </div>
  </div>
</template>
<script>
import {
  SfHeading,
  SfPrice,
  SfAddToCart,
  SfGallery,
  SfImage,
  SfBadge,
  SfBanner,
  SfLoader,
  SfButton,
  SfColor,
  SfSelect,
  SfCheckbox,
  SfQuantitySelector
} from "@storefront-ui/vue";

import { ref, computed } from "@vue/composition-api";
import { useProduct, useCart, productGetters } from "@vue-storefront/shopify";
import LazyHydrate from "vue-lazy-hydration";
import { onSSR } from "@vue-storefront/core";
import FAQ from "~/components/Product/FAQ.vue";
import OutSmart from "~/components/Product/OutSmart.vue";
import AppStore from "~/components/Product/AppStore.vue";
import MikoFriendship from "~/components/Product/MikoFriendship.vue";
import QuickSetup from "~/components/Product/QuickSetup.vue";
import MikoRolls from "~/components/Product/MikoRolls.vue";
import AdditionalHighlights from "~/components/Product/AdditionalHighlights.vue";
import PreOrderHighlighs from '~/components/Product/PreOrderHighlighs.vue';
import Nok from '~/components/Product/Nok.vue';
import { useUiHelpers, useUiState, useUiNotification } from '~/composables';
import {
  getContentsBySectionKey,
  getMetaTitle,
  getMetaDescription,
} from "~/helpers/contentful";


export default {
  name: "Product",
  asyncData(context) {
    const curLocale = context.app.i18n.locale && context.app.i18n.locale === 'es' ? context.app.i18n.locale + '-' + (context.app.i18n.locale).toUpperCase() : 'en-US';
    return Promise.all([
      context.$CfClient.getEntries({
        include: 9,
        content_type: "pwaComponentProduct",
        locale: curLocale
      }),
      
    ])
      .then(([entries]) => {
        let [
          descriptionMikoMaxTooltipTitle,
          descriptionMikoMaxTooltipContents,
          mikoFriendShipData,
          productFAQData,
          AdditionalHighlightsData,
          rollsWithThePunchesData,
          mikoTechnicalSpecsData,
          youreInChargeData,
          preOrderHeadings,
          outSmartData,
        ] = [{}, {}, {}, {}, {}, {}, {},{},{}, ""];
        let seoTitle = "";
        let seoDescription = "";
        if (entries && Object.keys(entries).length) {
          descriptionMikoMaxTooltipTitle = getContentsBySectionKey(entries, {
            sectionId: "descriptionMikoMaxTooltipTitle",
          });
          descriptionMikoMaxTooltipContents = getContentsBySectionKey(entries, {
            sectionId: "descriptionMikoMaxTooltipContents",
          });
          preOrderHeadings = getContentsBySectionKey(entries, {
            sectionId: "productPageHeadline",
          });
          mikoFriendShipData = getContentsBySectionKey(entries, {
            sectionId: "sectionBubbleAnimation",
          });
          productFAQData = getContentsBySectionKey(entries, {
            sectionId: "mikoFaq",
          });
          AdditionalHighlightsData = getContentsBySectionKey(entries, {
            sectionId: "sectionAdditionalHighlights",
          });
          rollsWithThePunchesData = getContentsBySectionKey(entries, {
            sectionId: "rollsWithThePunches",
          });
          mikoTechnicalSpecsData = getContentsBySectionKey(entries, {
            sectionId: "mikoTechnicalSpecs",
          });
          youreInChargeData = getContentsBySectionKey(entries, {
            sectionId: "youreInCharge",
          });
          outSmartData = getContentsBySectionKey(entries, {
            sectionId: "outSmart",
          });
          seoTitle = getMetaTitle(entries.items);
          seoDescription = getMetaDescription(entries.items);
        }
        return {
          descriptionMikoMaxTooltipTitle,
          descriptionMikoMaxTooltipContents,
          mikoFriendShipData,
          productFAQData,
          AdditionalHighlightsData,
          rollsWithThePunchesData,
          mikoTechnicalSpecsData,
          youreInChargeData,
          outSmartData,
          preOrderHeadings,
          seoTitle,
          seoDescription,
        };
      })
      .catch(console.error);
  },
  head() {
    return {
      title: this.seoTitle,
      
    };
  },

  transition: "fade",
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.prevRoute = from;
    });
  },
  methods: {
    setAddtocartLoader(value) {
      this.pdpAddtocartLoading = value;
    },
    async addingToCart(Productdata) {
      let [warrantyChosen, ChosenWarranty, extProduct, extTermAsString] = [false, {}, {}, ''];
      if (this.IsExtendEnabled){
        // check if warranty offers available for product or not
        const extComponent = Extend.buttons.instance('#extend-offer');
        /** get the users plan selection */
        const extPlan = extComponent !== null ? extComponent.getPlanSelection() : null;
        if (extPlan !== null){
          // extract terms
          extTermAsString = (extPlan.term/12)+' year(s) - sold by Extend';
          // Extract variant reference
          extProduct = extComponent.getActiveProduct();
          // Extract warranty ID to add it to the cart
          ChosenWarranty = this.getVariantIdBySKU(extPlan.planId, (extPlan.price)/100 );
          warrantyChosen = true;
        }
      }
      this.pdpAddtocartLoading = true;
      // check if add on selected then add item to the cart
      if (this.subscriptionState) {
        const DefaultVariant = this.addOnProduct.variants[0].id;
        await  this.addItem({
          product: { variantBySelectedOptions: { id: DefaultVariant } },
          quantity: 1
        }).then(() => {
          // Track addon product add to cart based on ecommerce enhancement
          this.$gtm.push({ ecommerce: null });
          this.$gtm.push({
              event: "addToCart",
              action: '', 
              deviceid: this.deviceExistingUUID,
              // eslint-disable-next-line camelcase
              content_type: 'product_group',
              // eslint-disable-next-line camelcase
              content_ids: [parseInt(this.getOriginalID(this.addOnProduct.id))],
              num_items: 1,
              value: this.addOnProduct.variants[0].priceV2.amount,
              currency: this.addOnProduct.variants[0].priceV2.currencyCode,
              // eslint-disable-next-line camelcase
              content_category: 'VIRTUAL',
              content_name: this.addOnProduct.title,
              'ecommerce': {
                'currencyCode': this.addOnProduct.variants[0].priceV2.currencyCode,
                'add': {
                  'products': [{
                    'name': this.addOnProduct.title,
                    'id': this.addOnProduct.variants[0].sku,
                    price: this.addOnProduct.variants[0].priceV2.amount,
                    brand: 'Miko',
                    category: 'Miko subscription',
                    variant: this.addOnProduct.variants[0].sku,
                    quantity: 1
                  }]
                }
              }
            });
          this.subscriptionState = false;
        });
      }
      
      // check if warranty chosen, then add warranty to the cart
      if (this.IsExtendEnabled && warrantyChosen) {
        await this.addItem({
          product: { variantBySelectedOptions: { id: ChosenWarranty.id } },
          quantity: this.qty,
          customQuery:[{key: "Ref", value: extProduct.id}, {key: "Product", value: extProduct.name}, {key: "Term", value : extTermAsString }]
        }).then(() => {
          // Track addon product add to cart based on ecommerce enhancement
          this.$gtm.push({ ecommerce: null });
          this.$gtm.push({
              event: "addToCart",
              action: '', 
              deviceid: this.deviceExistingUUID,
              // eslint-disable-next-line camelcase
              content_type: 'product_group',
              // eslint-disable-next-line camelcase
              content_ids: [parseInt(this.getOriginalID(ChosenWarranty.id))],
              num_items: this.qty,
              value: ChosenWarranty.price,
              currency: 'USD',
              // eslint-disable-next-line camelcase
              content_category: 'VIRTUAL',
              content_name: ChosenWarranty.title,
              'ecommerce': {
                'currencyCode': 'USD',
                'add': {
                  'products': [{
                    'name': ChosenWarranty.title,
                    'id': ChosenWarranty.sku,
                    price: ChosenWarranty.price,
                    brand: 'Miko',
                    category: 'Extend warranty',
                    variant: ChosenWarranty.title,
                    quantity: this.qty
                  }]
                }
              }
            });
        });
      }

      // Add active product to the cart
      await this.addItem(Productdata).then(() => {
        this.toggleCartSidebar();
        // Track add to cart based on ecommerce enhancement
        this.$gtm.push({ ecommerce: null });
        this.$gtm.push({
            event: "addToCart",
            action: '', 
            deviceid: this.deviceExistingUUID,
            // eslint-disable-next-line camelcase
            content_type: 'product_group',
            // eslint-disable-next-line camelcase
            content_ids: [parseInt(this.getOriginalID(Productdata.product.id))],
            num_items: this.qty,
            value: (Productdata.product.variants[0].priceV2.amount) * this.qty,
            currency: Productdata.product.variants[0].priceV2.currencyCode,
            // eslint-disable-next-line camelcase
            content_category: this.addOnProduct.slug === this.$config.mikoMaxHandle? 'VIRTUAL' : 'PHYSICAL',
            content_name: Object.keys(this.configuration).length > 0 ? this.configuration.Color : Productdata.product.variants[0].selectedOptions[0].value,
            'ecommerce': {
              'currencyCode': Productdata.product.variants[0].priceV2.currencyCode,
              'add': {
                'products': [{
                  'name': Productdata.product.title,
                  'id': Productdata.product.variantBySelectedOptions === null ? Productdata.product.variants[0].sku : Productdata.product.variantBySelectedOptions.sku,
                  price: Productdata.product.price.original ? Productdata.product.price.original : Productdata.product.price.current,
                  brand: 'Miko',
                  category: 'Commerce',
                  variant: Productdata.product.variantBySelectedOptions === null ? Productdata.product.variants[0].title : Productdata.product.variantBySelectedOptions.title,
                  quantity: this.qty
                }]
              }
            }
          });
          this.qty = 1;
      });
      this.pdpAddtocartLoading = false;
    },
    updatePreference(status) {
      return (this.subscriptionState = status);
    },
    // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    setGalleryWidth() {
      const gallary = document.getElementsByClassName("product__gallery");
      const gallerySlider =
        gallary.length > 0 && gallary[0].querySelectorAll(".glide__slides");
      const galleryAllSlides =
        gallerySlider.length > 0 &&
        gallerySlider[0].querySelectorAll(".glide__slide");
      typeof galleryAllSlides !== Boolean &&
        galleryAllSlides.length > 0 &&
        galleryAllSlides.forEach((gallerySlide) => {
          gallerySlide.style.flexBasis = gallerySlide.style.width;
        });
    },
    removeActiveFromTechSpecs() {
      let headerNav;
      if (this.$device.isDesktop) {
        headerNav = document.querySelector(".sf-header__navigation");
      } else {
        headerNav = document.querySelector(".primary-navigation-items-wrapper");
      }
      let navItems = headerNav && headerNav.querySelectorAll("a.nav-item");
      navItems &&
        navItems.forEach((navItem) => {
          if (navItem.getAttribute("href").split("#")[1] === "tech-specs") {
            if (navItem.classList.contains("nuxt-link-active")) {
              navItem.classList.remove(
                "nuxt-link-exact-active",
                "nuxt-link-active"
              );
            }
          }
        });
    },
    // Initiate extend product subscription offers
    initExtendOffers(encodedVariantId){
      if(process.client){
        // product detail impression
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          'ecommerce': {
            'detail': {
              'actionField': {'list': 'ProductDetailPageView'},
              'products': [{
                'name': this.product.title,         // Name or ID is required.
                'id': this.product.variantBySelectedOptions === null ? this.product.variants[0].sku : this.product.variantBySelectedOptions.sku,
                'price': this.product.variantBySelectedOptions === null ? this.product.variants[0].priceV2.amount : this.product.variantBySelectedOptions.priceV2.amount,
                'brand': 'Miko 3',
                'category': 'Physical',
                'variant': this.product.variantBySelectedOptions === null ? this.product.variants[0].title : this.product.variantBySelectedOptions.title
              }]
            }
          }
        });

        if (!this.IsExtendEnabled){
          return;
        }
        const buff = Buffer.from(encodedVariantId, 'base64');
        const decodedId = buff.toString('ascii');
        const extractedInfo = decodedId.split(/[\s/]+/).pop();
        /* PRODUCT PAGE OFFER */
        if (document.getElementById('extend-offer')) {
            Extend.buttons.render('#extend-offer', {
                referenceId: extractedInfo,
            });
        }
      }
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  mounted() {
    window.addEventListener("load", () => {
      this.setGalleryWidth();
    });
    this.$nextTick(() => {
      this.setGalleryWidth();
      window.addEventListener("resize", this.setGalleryWidth);
      this.removeActiveFromTechSpecs();
      // init extend offers
      setTimeout(()=>{
        this.initExtendOffers(this.originalId);
      }, 1200);
    });
  },
  watch: {
    handleOffersReactivity:{
      handler(status) {
        if(process.client && !status){
          this.initExtendOffers(this.originalId);      
        }
      },
      deep: true,
    }
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  updated() {
    this.setGalleryWidth();
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, context) {
    const IsExtendEnabled = context.root.$store.state.isExtendEnabled;
    const IsNokEnabled = context.root.$store.state.isNokEnabled;
    let cartItems = ref({});
    const {getOriginalID} = useUiHelpers();
    const deviceExistingUUID = context.root.$cookies.get('deviceUUID');
    const atttLbl = "";
    const qty = ref(1);
    const { slug } = context.root.$route.params;
    const { toggleCartSidebar } = useUiState();
    const {
      loading: productloading,
      products,
      search,
    } = useProduct("product-single");
    const { products: AllProducts, search: fetchAll } = useProduct("products-main");
    const { send: sendNotification } = useUiNotification();
    const { addItem, loading } = useCart('product-pdp');
    const getFilteredProduct = computed(() =>
      AllProducts.value.find((p) => p.handle === slug)
    );
    const getCleanID = (encodedVariantId) => {
        const buff = Buffer.from(encodedVariantId, "base64");
        const decodedId = buff.toString("ascii");
        const extractedInfo = decodedId.split(/[\s/]+/).pop().split("?")[0];
        return extractedInfo;
    };
    const getVariantIdBySKU = (psku, pprice) => {
      for(let i=0; i < (AllProducts.value).length; i++) {
        for(let j=0; j < (AllProducts.value[i].variants).length; j++) {
       {
         if(AllProducts.value[i].variants[j].sku == psku && parseFloat(AllProducts.value[i].variants[j].priceV2.amount) === parseFloat(pprice)) {
           return AllProducts.value[i].variants[j];
         }
       }
      }
    }};
    const addOnProduct = computed(() => {
      if (slug === context.root.$config.mikoMaxHandle) {
        return AllProducts.value.find((p) => p.handle === context.root.$config.mikoHandle);
      }
      if (slug === context.root.$config.mikoHandle) {
        return AllProducts.value.find((p) => p.handle === context.root.$config.mikoMaxHandle);
      }
    });
    const currentProduct = computed(
      () =>
        productGetters.getFiltered(getFilteredProduct.value, {
          master: true,
          attributes: context.root.$route.query,
        })[0]
    );
    const product = computed(
      () =>
        productGetters.getFiltered(products.value, {
          master: true,
          attributes: context.root.$route.query,
        })[0]
    );
     const handleOffersReactivity= ref(false);
    // variant id
    const originalId = computed(() => product.value && product.value.variantBySelectedOptions === null ? product.value.variants[0].id : product.value.variantBySelectedOptions.id);
    const checkIsProductWarrantyInCart= () =>{
      const warrantyProduct = getCleanID(originalId.value);
      if (!IsExtendEnabled){
        return true;
      }
      if (originalId.value && context.root.$store.state.cartItems && context.root.$store.state.cartItems.length > 0 && (context.root.$store.state.cartItems).some(warranty => warranty.customAttributes.length > 0 && warranty.customAttributes[0].value === warrantyProduct)){
        handleOffersReactivity.value = true;
      }else{
        handleOffersReactivity.value = false;
      }
      return originalId.value && context.root.$store.state.cartItems && context.root.$store.state.cartItems.length > 0 && (context.root.$store.state.cartItems).some(warranty => warranty.customAttributes.length > 0 && warranty.customAttributes[0].value === warrantyProduct)
    };
    const productTitle = computed(() => productGetters.getName(product.value));
    const productCoverImage = computed(() =>
      productGetters.getPDPCoverImage(product.value)
    );
    const productDescription = computed(() =>
      productGetters.getDescription(product.value)
    );
    const productDescriptionHtml = computed(() =>
      productGetters.getDescription(product.value, true)
    );
    const options = computed(() =>
      productGetters.getAttributes(products.value)
    );
    const configuration = computed(() => {
      return productGetters.getSelectedVariant(
        products.value,
        context.root.$route.query
      );
    });
    const stock = computed(() => {
      return productGetters.getStock(product.value);
    });
    const ActiveVariantImage = computed(() => {
      return productGetters.getVariantImage(product.value) || 0;
    });
    const productGallery = computed(() => {
      if (product.value && product.value.images.length === 0) {
        product.value.images.push({
          originalSrc:
            "https://cdn.shopify.com/s/files/1/0407/1902/4288/files/placeholder_600x600.jpg?v=1625742127",
        });
      }
      const allImagesArr = [];
      const allImages = product.value.images.map((img) => ({
        desktop: { url: img.originalSrc },
        alt: product.value._name || product.value.name,
      }));
      allImagesArr.push(allImages[ActiveVariantImage.value]);
      return allImagesArr;
    });
    onSSR(async () => {
      fetchAll({ scope: "all" });
      await search({ slug, selectedOptions: configuration.value }).then(() => {
        if (productTitle.value === "Product's name") {
          context.root.$root.context.redirect('/');
        }
      });
    });

    const updateFilter = (filter) => {
      if (options.value) {
        Object.keys(options.value).forEach((attr) => {
          if (attr in filter) {
            return;
          }
          filter[attr] =
            Object.keys(configuration.value).length > 0
              ? configuration.value[attr]
              : options.value[attr][0];
        });
      }
      context.root.$router.push({
        path: context.root.$route.path,
        query: {
          ...configuration.value,
          ...filter,
        },
      });
    };

    return {
      updateFilter,
      configuration,
      product,
      productDescription,
      productCoverImage,
      productDescriptionHtml,
      ActiveVariantImage,
      sendNotification,
      originalId,
      options,
      stock,
      productTitle,
      qty,
      slug,
      addItem,
      loading,
      productloading,
      productGallery,
      productGetters,
      atttLbl,
      currentProduct,
      toggleCartSidebar,
      addOnProduct,
      deviceExistingUUID,
      getOriginalID,
      getVariantIdBySKU,
      checkIsProductWarrantyInCart,
      IsExtendEnabled,
      IsNokEnabled,
      cartItems,
      getCleanID,
      handleOffersReactivity
    };
  },
  components: {
    SfColor,
    SfSelect,
    SfLoader,
    SfHeading,
    SfPrice,
    SfAddToCart,
    SfGallery,
    SfImage,
    SfBanner,
    SfBadge,
    SfButton,
    LazyHydrate,
    FAQ,
    OutSmart,
    AppStore,
    SfCheckbox,
    MikoFriendship,
    QuickSetup,
    MikoRolls,
    AdditionalHighlights,
    PreOrderHighlighs,
    Nok,
    SfQuantitySelector
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      subscriptionState: false,
      pdpAddtocartLoading: false,
    };
  },
  head() {
    return {
      title: `${this.productGetters.getName(this.product)} | Miko 3 - Personal AI Robot For Kids | Miko Advanced STEM toys`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.seoDescription,
        },
        {
          hid: "content_type",
          name: "content_type",
          content: "product_group",
        },
        {
          hid: "content_ids",
          name: "content_ids",
          content: "[6628829003838]",
        },
        {
          hid: "value",
          name: "value",
          content: productGetters.getPrice(this.product).special,
        },
        {
          hid: "num_items",
          name: "num_items",
          content: "1",
        },
        {
          hid: "currency",
          name: "currency",
          content: "USD",
        },
        {
          hid: "Setup Method",
          name: "Setup Method",
          content: "Manual",
        },
        {
          hid: "URL Called",
          name: "URL Called",
          content: "Show",
        },
        {
          hid: "Load Time",
          name: "Load Time",
          content: "18.38 ms",
        },
        {
          hid: "Pixel Location",
          name: "Pixel Location",
          content: "Show",
        },
        {
          hid: "Event ID",
          name: "Event ID",
          content: "c61674ae-0200-46AF-DA96-B6A25A6F5117",
        },
        {
          hid: "Matched Products",
          name: "Matched Products",
          content: "6628829003838",
        },
      ],
    }
  }
};
</script>

<style lang="scss" scoped>
.miko-pdp-loader {
  min-height: 200px;
  min-height: calc(100vh - 450px);
  padding: 100px 0;
}
.top-bar-enabled {
  .product-hero {
    padding-top: 270px;
    @include for-mobile {
      padding-top:230px;
    }
    .preOrder-container{
      top: 16%;
      @include for-mobile {
        top: 12%;
      }
    }
  }
}
.product-hero {
  position: relative;
  padding-top:230px;
  padding-bottom: 30px;
  background: linear-gradient(165.11deg, rgba(129, 196, 173, 0.53) -23.72%, #2EB385 71.54%);
  @include for-mobile {
    padding-top:190px;
  }
}
.product {
  @media (min-width:1024px){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product__gallery {
    width: 800px;
    margin-left: -309px;
    overflow: hidden;
    max-height: 512px;
    @media (max-width: 1279px) {
      width: 800px;
      margin-left: 0;
    }
    @media (max-width: 1170px) {
      width: 650px;
    }
    @media (max-width: 1023px) {
      width:100%;
      margin: 20px 20px 20px 0px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    @media (min-width: 2200px) {
      width: 1450px;
      max-height: 900px;
      img{
        width: 100%;
      }
    }
    @media (min-width: 3280px) {
      width: 1800px;
      max-height: 1000px;
    }
  }
  .product__info {
    width:100%;
    @media (min-width:1024px){
      width: 530px;
    }
    @media (min-width:1280px){
      width: 600px;
    }
    @media (min-width:3280px){
      width: 1000px;
    }
    .product-info-block {
      box-shadow: 0px 1px 9px rgba(10, 31, 68, 0.1),
        0px 0px 1px rgba(10, 31, 68, 0.08), 0px 8px 10px rgba(10, 31, 68, 0.1);
      padding:25px 30px;
      border-radius: 1rem;
      background: var(--c-white);
      position: relative;
      @media (min-width:768px){
        padding:50px;
      }
      .product-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          letter-spacing: 0.05em;
          line-height: var(--line-height--base);
          color:var(--c-black);
          @media (min-width:3280px){
            font-size: 56px;
          }
        }
        .product-price {
          line-height: var(--line-height--base);
          font-weight: var(--font-weight--light);
          .sf-price {
            display: flex;
            align-items: center;
          }
          .sf-price__old {
            line-height: var(--line-height--base);
            font-weight: var(--font-weight--light);
            color: var(--c-gray-9a9a9a);
            font-size: 21px;
            @media (max-width: 767px) {
              font-size: 19px;
              &::after {
                top: 12px;
              }
            }
          }
          span {
            font-weight: var(--font-weight--light);
            letter-spacing: 0.05em;
            font-size: var(--font-size--lg);
            @media (min-width:3280px){
              font-size: 46px;
            }
          }
        }
      }
      .product__description {
        font-weight:normal;
        padding-bottom: 20px;
        color: var(--c-secondary-lighten);
        font-size: var(--font-size--lg);
        @media (min-width:3280px){
          font-size: var(--font-size--xxl);
        }
      }
      .product__colors {
        display:flex;
        justify-content: space-between;
        align-items: center;
        .product__color-label {
          font-weight:700;
          letter-spacing: 0.05em;
          line-height: 1.13;
          font-size: var(--font-size--sm);
          @media (min-width:768px){
            font-size: var(--font-size--lg);
          }
          @media (min-width:3280px){
            font-size: var(--font-size--xxl);
          }
          span{
            color: var(--c-secondary-lighten);
            font-weight: normal;
          }
        }
      }
      .qty-block {
        display:flex;
        align-items: center;
        label {
          font-size: var(--font-size--lg);
          font-weight: 700;
          line-height: 1.13;
          @media (min-width:768px){
            font-size: var(--font-size--xl);
          }
        }
        @media (min-width:3280px){
          label {
            font-size: var(--font-size--xxl);
          }
        }
      }
      .add-to-cart-quantity-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        @media (min-width:3280px){
          margin-top: 30px;
        }
      }
      .sf-add-to-cart {
        // max-width:160px;
        --add-to-cart-select-quantity-display: block;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media (min-width:1024px){
          // max-width:235px;
          margin-left: 0;
          margin-right: 0;
        }
        ::v-deep .sf-quantity-selector {
          margin: 0;
          height: auto;
        }
      }
      .tooltip-pop {
        h4 {
          color:var(--c-black);
          font-weight: 500;
        }
        p {
          font-weight:normal;
          color: var(--c-secondary-darken);
        }
      }
    }
  }
}
.product__add-to-cart{
  .btn-add-to-cart{
    font-size: var(--font-size--lg);
    min-height: 52.8px;
    padding: 0;
    overflow: hidden;
    @media (min-width:3280px){
      font-size: var(--font-size--xxl);
      min-height: 67.19px;
    }
    @media (max-width:767px) {
      min-height: 42px;
    }
    &.loader {
      &:hover {
        background-color: var(--c-white);
      }
    }
    .sf-loader {
      padding: 7px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width:768px) {
        padding: 10px 48px;
      }
      svg {
        @media (max-width:767px) {
          height: 28px;
        }
      }
    }
  }
}
::v-deep .sf-gallery__stage {
  overflow: inherit;
  max-width: 100%;
  .glide--slider {
    overflow: inherit;
    .glide__track {
      overflow: inherit;
      .glide__slides {
        overflow: inherit;
        .glide__slide {
          .sf-image--wrapper {
            width: 100%;
            height: auto;
            @include for-mobile {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
::v-deep .sf-gallery__thumbs {
  display:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::v-deep .mikomax-card-wrapper {
  margin-top:25px;
  margin-bottom:25px;
  position: relative;
  border-radius: 0.5rem;
  border: solid 2px var(--c-light);
  .sf-checkbox__container {
    padding: 10px;
    position: relative;
    @media (min-width:768px){
      padding: 20px;
    }
    .sf-checkbox__label {
      z-index:2;
      padding-bottom: 40px;
      margin: 0;
      font-weight: 700;
      font-size: var(--font-size--lg);
      @media (min-width:768px){
        padding-bottom: 25px;
      }
      @media (min-width:3280px){
        font-size: var(--font-size--xxl);
      }
      .info-tooltip {
        vertical-align: 0;
      }
    }
    .sf-checkbox__checkmark {
      width: 16px;
      height: 16px;
      border: solid 1px var(--c-light);
      border-radius: 9999px;
      margin-top: -8px;
      top: 50%;
      right: 10px;
      position: absolute;
      @media (min-width:768px){
        width: 24px;
        height: 24px;
        margin-top: -12px;
        right: 20px;
      }
    }
  }
  .sf-checkbox__message {
    position: absolute;
    top: 37px;
    left: 10px;
    max-width: 180px;
    @media (min-width:768px){
      top: 55px;
      left: 20px;
      max-width: 90%;
    }
    .sf-checkbox__message--info {
      font-weight:normal;
      font-size: var(--font-size--sm);
      color: var(--c-secondary-lighten);
    }
    @media (min-width:3280px){
      top: 65px;
      .sf-checkbox__message--info {
        font-size: var(--font-size--xl);
      }
    }
  }
  &.is-active {
    background:var(--c-blue-F5F9FF);
    border-color: var(--c-blue-6d99dc);
    .sf-checkbox__checkmark {
      border-color:var(--c-blue-6d99dc);
      background: transparent;
      border-width: 6px;
      @media (min-width:768px){
        border-width: 8px;
      }
      span {
        display: none;
      }
    }
  }
}

.pd-blue {
  .product-hero {
    background:var(--c-blue-E5F6FA);
  }
  ::v-deep .app-store {
    background:var(--c-blue-E5F6FA);
  }
  ::v-deep .quick-setup-block .quick-setup {
    background:var(--c-blue-E5F6FA);
  }
  ::v-deep .faq-accordion button {
    font-size:var(--c-blue-a4d1ec);
  }
}
#extend-offer {
  margin-bottom: 20px;
}
</style>
