<template>
  <div id="warranty-page" class="track-order">
    <LazyHydrate when-idle>
      <div>
        <SfBanner
          class="innerpage-banner sec-full-width"
          title="Track Order Status"
          description=""
        >
          <template #subtitle>
            <SfBreadcrumbs :breadcrumbs="breadcrumbs">
              <template #link="{breadcrumb}">
                <nuxt-link
                  :data-testid="$t(breadcrumb.text)"
                  :to="breadcrumb.route.link"
                >
                  {{ breadcrumb.text }}
                </nuxt-link>
              </template>
            </SfBreadcrumbs>
          </template>
        </SfBanner>
      </div>
    </LazyHydrate>
    <ValidationObserver v-if="!showResult" tag="div" v-slot="{ handleSubmit }" class="warranty-reg-section order-tracking-form-wrap" key="warranty-registration">
      <form class="form warranty-reg-form" @submit.prevent="handleSubmit(trackOrderHandler)">
        <ValidationProvider tag="div" rules="required|min:2" v-slot="{ errors }">
          <SfInput
            v-model="orderNumber"
            label="Order ID"
            :valid="!errors[0]"
            class="form__element"
            :errorMessage="errors[0]"
          />
        </ValidationProvider>
        <ValidationProvider tag="div" rules="required|email" v-slot="{ errors }">
          <SfInput
            v-model="email"
            type="email"
            label="Email Address"
            class="form__element"
            :valid="!errors[0]"
            :errorMessage="errors[0]"
          />
        </ValidationProvider>
        <div class="warranty-bottom-action-wrap">
          <SfButton data-cy="warranty-btn_update" :disabled="ordertrackingLoading" class="btn-1" type="submit">
            <SfLoader :class="{ loader: ordertrackingLoading }" :loading="ordertrackingLoading">
              <div>{{$t("Submit")}}</div>
            </SfLoader>
          </SfButton>
        </div>
      </form>
    </ValidationObserver>
    <div v-else class="order-tracking-result-wrap">
      <div class="order-tracking-result-title-wrap">
        <div class="order-tracking-result-title">
          <h6>{{$t("Order ID")}}:</h6>
          <strong>{{ '#' + orderNumber }}</strong>
        </div>
        <SfButton class="sf-button--text" @click="resetTrackOrder()"><SfIcon icon='arrow_left'/> {{$t("Track another order")}}</SfButton>
      </div>
      <div class="order-tracking-result-table">
        <SfProperty
        class="order-tracking-result-row"
        name="Tracking Number"
        :value="trackingNumber" />
        <SfProperty
        class="order-tracking-result-row"
        name="Status"
        :value="shipmentStatus" />
        <SfProperty
        class="order-tracking-result-row"
        name="Courier Partner">
          <template #value>
            <span class="sf-property__value">
              <SfLink
                target="_blank"
                :link="trackingUrl"
              >
                {{ courierPartner }}
                <SfIcon>
                  <template #default>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.8333 13.8333H2.16667V2.16667H8V0.5H2.16667C1.24167 0.5 0.5 1.25 0.5 2.16667V13.8333C0.5 14.75 1.24167 15.5 2.16667 15.5H13.8333C14.75 15.5 15.5 14.75 15.5 13.8333V8H13.8333V13.8333ZM9.66667 0.5V2.16667H12.6583L4.46667 10.3583L5.64167 11.5333L13.8333 3.34167V6.33333H15.5V0.5H9.66667Z" fill="#000000"/>
                    </svg>
                  </template>
                </SfIcon>
              </SfLink>
            </span>
          </template>
        </SfProperty>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/composition-api';
import {
  SfBanner,
  SfButton,
  SfBreadcrumbs,
  SfInput,
  SfCheckbox,
  SfProperty,
  SfLink,
  SfIcon,
  SfLoader
} from '@storefront-ui/vue';
import LazyHydrate from 'vue-lazy-hydration';
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate';
import { email, required, min } from 'vee-validate/dist/rules';
import { useUiNotification} from '~/composables';
extend('email', {
  ...email,
  message: 'Invalid email'
});

extend('required', {
  ...required,
  message: 'This field is required'
});

extend('min', {
  ...min,
  message: 'The field should have at least {length} characters'
});

export default {
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Home',
          route: { link: '/' }
        },
        {
          text: 'Track Order Status',
          route: { link: '#' }
        }
      ]
    };
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup(props, { root }) {
    const success = ref(null);
    const error = ref(null);
    const email = ref('');
    const orderNumber = ref('');
    const shipmentStatus = ref('');
    const trackingNumber = ref('');
    const customerName = ref('');
    const courierPartner = ref('');
    const trackingUrl = ref('');
    const resetForm = () => ({
      email: '',
      orderNumber: ''
    });
    const ordertrackingLoading = ref(false);
    const { send: sendNotification} = useUiNotification();
    const form = ref(resetForm());
    const showResult = ref(false);

    const resetTrackOrder = () => {
      email.value = '';
      orderNumber.value = '';
      showResult.value = false;
    };

    const handleForm = () => async () => {
      ordertrackingLoading.value = true;
      await fetch(`//${root.$config.baseURL}/trackorder/${orderNumber.value}/${email.value}/?t=${Date.now()}`, {
        mode: 'no-cors'
      }).then((response) => {
        if (response.status >= 400) {
          throw new Error("Bad response from server");
        }
        if(response.body) {
          return response.json();
        }
        return response;
      }).then((orderStatus) => {
        if (orderStatus.data && orderStatus.data.status >= 400) {
          sendNotification({
            key: 'invalid_order',
            message: 'Please enter valid order id or email address.',
            type: 'danger',
            title: 'Invalid Order!',
            icon: ''
          });
          showResult.value = false;
        } else if (orderStatus.data && orderStatus.data.fulfillment_status && orderStatus.data.fulfillment_status !== null) {
          shipmentStatus.value = orderStatus.data.fulfillment_status;
          trackingNumber.value = orderStatus.data.tracking_number;
          courierPartner.value = orderStatus.data.tracking_company;
          trackingUrl.value = orderStatus.data.tracking_url;
          sendNotification({
            key: 'tracking_success',
            message: 'Your order is ' + orderStatus.data.fulfillment_status + '!',
            type: 'success',
            title: 'Success!',
            icon: 'check'
          });
          showResult.value = true;
        } else if (orderStatus.data && orderStatus.data.fulfillment_status === null && orderStatus.data.order_status_url) {
          window.location.href = orderStatus.data.order_status_url;
        } else {
          sendNotification({
            key: 'tracking_failed',
            message: orderStatus.message || 'Your order is not shipped yet.',
            type: 'danger',
            icon: '',
            title: 'Not Shipped!'
          });
          showResult.value = false;
        }
      });
      ordertrackingLoading.value = false;
    };

    const trackOrderHandler = async () => handleForm()();
    return {
      error,
      success,
      form,
      trackOrderHandler,
      ordertrackingLoading,
      orderNumber,
      shipmentStatus,
      trackingNumber,
      customerName,
      courierPartner,
      trackingUrl,
      email,
      showResult,
      resetTrackOrder
    };
  },
  components: {
    SfBanner,
    SfButton,
    LazyHydrate,
    SfBreadcrumbs,
    SfInput,
    ValidationProvider,
    ValidationObserver,
    SfCheckbox,
    SfProperty,
    SfLink,
    SfIcon,
    SfLoader
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  head() {
    return {
      title: 'Track Order - Miko 3 - Personal AI Robot For Kids | Miko Advanced STEM toys',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'Track Order - Miko 3 - Personal AI Robot For Kids | Miko Advanced STEM toys',
          name: 'Track Order - Miko 3 - Personal AI Robot For Kids | Miko Advanced STEM toys',
          content: 'Miko 3 is an advanced AI robot toy made to engage, educate and entertain kids. Miko 3 robot is a programmable and voice activated STEM toy to make kids smarter'
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.top-bar-enabled {
  .track-order{
    .innerpage-banner {
      min-height: 290px;
      padding-top: 80px;
      @media (min-width:1024px){
        min-height: 390px;
        padding-top: 40px;
      }
    }
  }
}
.track-order{
  .innerpage-banner{
    background:var(--c-pink-FDF0F0);
    align-items: center;
    min-height: 250px;
    padding-top: 40px;
    width: auto;
    @media (min-width:1024px){
      min-height: 350px;
      padding-top: 0px;
    }
    .sf-banner__wrapper{
      flex: 0 0 100%;
      display:flex;
      padding: 0 15px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1280px;
      .sf-breadcrumbs__list{       
        align-items: center;
        li{
          display:flex;
          align-items: center;
          a{
            font-size:16px;
            &.nuxt-link-active{
              color:var(--c-black);
            }
          }
        }
      }
      .sf-banner__title{
        font-family: 'Degular Display';
        font-weight:700;
        color: var(--c-primary-darken);
      }
    }
  }
  .order-tracking-form-wrap{
    min-height: calc(100vh - 890px);
    max-width:500px;
    padding: 40px 15px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width:768px){
      padding-top: 70px;
      padding-bottom: 70px;
    }
    @media (min-width:3280px){
      max-width:800px;
    }
    .warranty-bottom-action-wrap{
      display:flex;
      justify-content: center;
      padding-top: 10px;
      .sf-button {
        min-width: 150px;
        min-height: 43.19px;
        width: 100%;
        @media (min-width: 3280px) {
          min-height: 67px;
        }
        @media (max-width: 767px) {
          min-height: 40px;
        }
        &.is-disabled--button {
          background-color: var(--c-white);
        }
      }
      .sf-loader__overlay {
        svg {
          height: 30px;
        }
      }
    }
    @media (max-width: 1023px) {
      min-height: calc(100vh - 840px);
    }
  }
}
.order-tracking-result-wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 15px;
  @media (min-width:768px){
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (min-width:3280px){
    max-width:800px;
  }
}
.order-tracking-result-title-wrap {
  margin-bottom: 22px;
  font-size: 16px;
  color: var(--c-secondary-lighten);
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include for-mobile {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .order-tracking-result-title {
    display: flex;
    align-items: center;
    h6 {
      margin: 0;
      font-size: 16px;
      color: var(--c-secondary-lighten);
      font-weight: 500;
      @include for-mobile {
        font-size: 14px;
      }
    }
    strong {
      margin-left: 10px;
      font-weight: 700;
      font-size: 16px;
      color: var(--c-black);
      @include for-mobile {
        font-size: 16px;
      }
    }
  }
  .sf-button {
    font-size: 16px;
    color: var(--c-secondary-lighten);
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    @include for-mobile {
      font-size: 14px;
    }
    &:hover {
      color: var(--c-primary);
      .sf-icon {
        svg {
          path {
            fill: var(--c-primary);
          }
        }
      }
    }
    .sf-icon {
      margin-right: 10px;
      @include for-mobile {
        width: 15px;
        height: 15px;
      }
      svg {
        path {
          transition: all 0.3s ease 0s;
        }
      }
    }
  }
}
.order-tracking-result-table {
  border: 1px solid var(--c-light);
  .order-tracking-result-row {
    & + .order-tracking-result-row {
      border-top: 1px solid var(--c-light);
    }
    .sf-property__name,
    .sf-property__value {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      color: var(--c-secondary-lighten);
      padding: 15px 20px;
      margin: 0;
      text-transform: capitalize;
      @include for-mobile {
        font-size: 14px;
        padding: 14px 20px;
      }
      @media (max-width: 479px) {
        padding: 14px 10px;
      }
    }
    .sf-property__name {
      width: 180px;
      @media (max-width: 479px) {
        width: 130px;
      }
      &::after {
        display: none;
      }
    }
    .sf-property__value {
      color: var(--c-black);
      border-left: 1px solid var(--c-light);
      flex-grow: 1;
      display: flex;
      align-items: center;
      .sf-link {
        color: var(--c-info);
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        display: flex;
        align-items: center;
        @include for-mobile {
          font-size: 14px;
        }
        &:hover {
          .sf-icon {
            svg {
              path {
                fill: var(--c-primary);
              }
            }
          }
        }
      }
      .sf-icon {
        margin-left: 10px;
        flex: 0 0 15px;
        max-width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;
        svg {
          path {
            transition: all 0.3s ease 0s;
          }
        }
      }
    }
  }
}
.sf-notification{
  .sf-icon{
    margin-right:5px;
    svg{
      width:15px;
      height: 15px;
      path{
        fill: var(--c-white);
      }
    }
  }
}
</style>
