<template>
  <div class="trade-page">
    <Intro v-if="tradeIntroData" :introData="tradeIntroData" :tradeData="tradeData" />
    <FeatureSection v-if="featureSectionData" :featureSectionData="featureSectionData" />
    <WhatsInIt v-if="whatsInItData" :whatsInItData="whatsInItData" :tradeData="tradeData" />
    <Properties v-if="propertyData" :propertyData="propertyData" />
    <ForYou v-if="whatsInItForYouData" :whatsInItForYouData="whatsInItForYouData" />
    <FAQ v-if="productFAQData" :faqData="productFAQData" />
  </div>
</template>
<script>
import {
  getFilteredContents,
  getContentsBySectionKey
} from "~/helpers/contentful";
export default {
  name: "tradeIn",
  asyncData(context) {
    const curLocale = context.app.i18n.locale && context.app.i18n.locale === 'es' ? context.app.i18n.locale + '-' + (context.app.i18n.locale).toUpperCase() : 'en-US';
    return Promise.all([
      context.$CfClient.getEntries({
        include: 9,
        content_type: "pwaComponentsGroupTradeInHome",
        locale: curLocale
      }),
      context.$CfClient.getEntries({
          include: 9,
          content_type: "tradeInModal",
          locale: curLocale
      }),
    ])
      .then(([entries, entriesforTrade]) => {
        let [
          tradeIntroData,
          featureSectionData,
          whatsInItData,
          propertyData,
          whatsInItForYouData, 
          productFAQData,
          tradeData
        ] = [{},{},{},{},{},{},{}];
        if (entries && Object.keys(entries).length) {
          tradeIntroData = entries.items[0];
          featureSectionData = entries.items[0];
          whatsInItData = entries.items[0];
          propertyData = entries.items[0];
          whatsInItForYouData = entries.items[0];
          productFAQData = getContentsBySectionKey(entries, {
            sectionId: "productFaq",
          });
          tradeData = entriesforTrade.items[0];
        }
        return {
          tradeIntroData,
          featureSectionData,
          whatsInItData,
          propertyData,
          whatsInItForYouData, 
          productFAQData,
          tradeData
        };
      })
      .catch(console.error);
  },
  components: {
    Intro:() => import ('~/components/TradeIn/Intro.vue'),
    FeatureSection:() => import ('~/components/TradeIn/FeatureSection.vue'),
    WhatsInIt:() => import ('~/components/TradeIn/WhatsInIt.vue'),
    Properties:() => import ('~/components/TradeIn/Properties.vue'),
    ForYou:() => import ('~/components/TradeIn/ForYou.vue'),
    FAQ:() => import ('~/components/TradeIn/FAQ.vue')
  }
};
</script>

<style lang="scss">
.trade-page{
  padding-top: 25px;
  padding-bottom: 30px;
  @media (min-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
</style>
