<template>
  <section class="mikomax-common-slider-sec sec-full-width" v-if="sliderData.length>0">
      <div class="mikomax-common-slider">
        <div class="container">
          <swiper class="swiper" :options="swiperOption">
            <swiper-slide class="h-auto" v-for="(item,index) in sliderData" :key="index">
                <div class="mikomax-common-slider-card">
                    <div  class="feature-icons" v-if="item.url">
                    <img :src="item.url" :alt="item.image.title">
                    </div>
                    <div class="mikomax-common-slider-card-title">
                      <div class="title-slider" v-if="item.heading">
                         {{item.heading}}
                      </div>
                       
                    </div>
                    <div class="feature-discriptions" v-if="item.subheading">
                        <div class="desc-slider">
                          {{item.subheading}}
                        </div>
                    </div>
                </div>
              
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </div>
  </section>
</template>

<script>
import SwiperCore, { Pagination, Autoplay } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss';
import 'swiper/components/pagination/pagination.scss';
SwiperCore.use([Pagination, Autoplay]);

export default {
  props: {
    featureData: {},
  },
    setup(props){
       let  sliderData = props.featureData?props.featureData[0].data:[];
    return{
     sliderData
    }
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 10,
        slidesPerGroup: 1,
        loop: true,
        freeMode: false,
        autoplay: {
          disableOnInteraction: false
        },
        observer: true,
        observeParents: true,
        observeSlideChildren: true,
        resizeObserver: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 20,
            slidesPerGroup: 2
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 20,
            slidesPerGroup: 3
          },
          3280: {
            slidesPerView: 4,
            spaceBetween: 40,
            slidesPerGroup: 3
          }
        }
      }
    }
  },
  components: {
    Swiper,
    SwiperSlide
  }
}
</script>

<style lang="scss" scoped>
.mikomax-common-slider-sec {
  padding-bottom: 10px;
  @media (min-width:768px){
    padding-bottom: 10px;
  }
}
.mikomax-common-slider-title {
      font-size: 40px;
    margin: 20px;
    font-weight: bolder;
    text-align: center;
    color: var(--c-secondary-darken);
  @media (min-width:768px){
    margin-bottom: 10px;
  }
}
.mikomax-common-slider {
      //  background: #FBFBFB;
    padding-bottom: 20px;
        
        //  .swiper-slide-active{
        //   padding-left: 1rem;
        //   padding-right: 1rem;
        //  }
        .mikomax-common-slider-card{
            display: flex;
            flex-flow: row wrap;
            justify-content:center;
            max-width: 100%;
            padding: 0 1rem 0 1rem; 
            text-align: center;
            margin: 2%;

            .mikomax-common-slider-card-title{
                flex: 100%;
                font-weight: bolder;
                font-size: 1rem;
                text-align: center;
                justify-content: center;
                display: flex;  
                // max-width: 35%;
                //letter-spacing: 0.5px;
                .title-slider{
                  flex: 50%;
                  max-width: 25%;
                }
                @media (max-width: 1023px) {
                  font-size: 1.4rem;
                  margin-bottom: 10px;
                }

            }
            .feature-icons{
                flex: 100%;
                text-align: center;
                justify-content: center;
                display: flex;       
                position: relative;
                height: 6rem;
                width: 100%;
                @media (max-width: 1023px) {
                  height: 10rem;
                  margin-bottom: 15px;
                }
            } 
            .feature-discriptions{
                flex: 100%;
                // max-width: 25%;
                 text-align: center;
                justify-content: center;
                display: flex;  
                letter-spacing: 0.2px;
                font-size: var(--font-size--base);
                font-weight: var(--font-weight--normal);
                color: var(--c-secondary-lighten);
                .desc-slider{
                  flex: 50%;
                  max-width: 25%;
                }
            
        }
        }
 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding-top: 24px;
    padding-bottom: 32px;
    padding: 0px 24px 0px;
    @media (min-width:1024px){
      padding: 15px 10px;
    }
  }
  .testimonial-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial-info{
    margin-top: 10px;
    font-size: var(--font-size--base);
    color: var(--c-secondary-lighten);
    line-height: 1.4;
    @media (min-width:768px){
      margin-top: 15px;
    }
  }
  .swiper-pagination {
    position: static;
    margin-top: 25px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width:768px){
      margin-top: 25px;
    }
    ::v-deep .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      border: solid 2px var(--c-light);
      background: var(--c-white);
      opacity: 1;
      margin-top: 5px;
      margin-bottom: 5px;
      margin: 5px 8px;
      border-radius: 9999px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &:hover,
      &.swiper-pagination-bullet-active {
        background: var(--c-primary);
        border-color: var(--c-primary);
      }
      @media (min-width:768px){
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
</style>