<template>
<div>
 <div class="sec-full-width max-banner" v-if="featureData" >
        <div class="mikomax-banner-container" :style="{ backgroundImage: 'url(' + backgroundForDekstopUrl + ')' }">
            <div class="banner-title">
                {{bannertitle}}
            </div>
            <div class="video-modal-btn-wrap">
                <button class="video-modal-btn" @click="visible = true">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36 18C36 22.7739 34.1036 27.3523 30.7279 30.7279C27.3523 34.1036 22.7739 36 18 36C13.2261 36 8.64773 34.1036 5.27208 30.7279C1.89642 27.3523 0 22.7739 0 18C0 13.2261 1.89642 8.64773 5.27208 5.27208C8.64773 1.89642 13.2261 0 18 0C22.7739 0 27.3523 1.89642 30.7279 5.27208C34.1036 8.64773 36 13.2261 36 18ZM15.2775 11.4592C15.1093 11.3395 14.9113 11.2683 14.7054 11.2536C14.4994 11.2388 14.2933 11.281 14.1098 11.3756C13.9262 11.4702 13.7722 11.6135 13.6646 11.7897C13.5571 11.966 13.5001 12.1685 13.5 12.375V23.625C13.5001 23.8315 13.5571 24.034 13.6646 24.2103C13.7722 24.3865 13.9262 24.5298 14.1098 24.6244C14.2933 24.719 14.4994 24.7612 14.7054 24.7464C14.9113 24.7317 15.1093 24.6605 15.2775 24.5407L23.1525 18.9157C23.2983 18.8117 23.4172 18.6743 23.4992 18.515C23.5812 18.3557 23.624 18.1792 23.624 18C23.624 17.8208 23.5812 17.6443 23.4992 17.485C23.4172 17.3257 23.2983 17.1883 23.1525 17.0842L15.2775 11.4592Z" fill="#EB6B6B"/>
                    </svg>
                    {{mikomaxWatchVideo}}
                </button>
            </div>
            <SfModal
                class="home-video-modal"
                :visible="visible"
                @close="visible = false"
                v-if="mikomaxVideoUrl"
            >
                <div class="video-container">
                    <iframe width="560" height="315" :src="mikomaxVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </SfModal>
            <div class="mikomax-banner-miko-image">
                <div class="miko-img">
                         <img :src="mikoImage.url" >
                </div>
            </div>
        </div>
    </div>
<div class="mikomax-feature-container" v-if="featureData">
    <div class="sectionTitle">
        <h2 class="h1" style="color:#EE6B6B;max-width:50%;margin: 30px auto;">{{title}}</h2>
    </div>
    <div class="feature-card-container">
        <div class="feature-card">
            <div  class="feature-icons">
            <img :src="image1Ulr" :alt="image1.title">
            </div>
            <div class="feature-title">
                {{heading1}}
            </div>
            <div class="feature-discriptions">
                {{subheading1}}
            </div>
        </div>
        <div class="feature-card">
            <div  class="feature-icons">
            <img :src="image3Ulr" :alt="image3.title">
            </div>
            <div class="feature-title">
            {{heading3}}
            </div>
            <div class="feature-discriptions">
                {{subheading3}}
            </div>
        </div>
        <div class="feature-card">
            <div  class="feature-icons">
            <img :src="image2Ulr" :alt="image2.title">
            </div>
            <div class="feature-title">
            {{heading2}}
            </div>
            <div class="feature-discriptions">
            {{subheading2}}
            </div>
        </div>
    </div>
    <div class="feature-container-mobile">
        <FeatureMobile :featureData ="dataForMobile"/>
    </div>
</div>  
</div>       
</template>
<script>
import {
  SfModal
} from '@storefront-ui/vue';
import FeatureMobile  from "./FeatureSectionMobile.vue";
export default {
    data () {
        return {
            visible: false
        }
    },
    components:{
        FeatureMobile,
        SfModal
    },
    props: {
        featureData: {},
    },
    setup(props,content){
        const componentData =props.featureData.fields;

        let mikomaxWatchVideo = componentData.hasOwnProperty('mikomaxWatchVideo')?componentData.mikomaxWatchVideo:"";
        let bannertitle = componentData.hasOwnProperty('heroTitle')?componentData.heroTitle:"";
        let backgroundForDekstop = componentData.hasOwnProperty('maxSectionBackgroundImageDesktop')?componentData.maxSectionBackgroundImageDesktop.fields.file:"";
        let backgroundForDekstopUrl = componentData.hasOwnProperty('maxSectionBackgroundImageDesktop')?componentData.maxSectionBackgroundImageDesktop.fields.file.url:"";
        let mikoImage = componentData.hasOwnProperty('mikoImage')?componentData.mikoImage.fields.file:"";

        let title = componentData.hasOwnProperty('contentfulTitle')?componentData.contentfulTitle:"";
        let heading1 = componentData.hasOwnProperty('heading1')?componentData.heading1:"";
        let subheading1 = componentData.hasOwnProperty('subheading1')?componentData.subheading1:"";
        let heading2 = componentData.hasOwnProperty('heading2')?componentData.heading2:"";
        let subheading2 = componentData.hasOwnProperty('subheading2')?componentData.subheading2:"";
        let heading3 = componentData.hasOwnProperty('heading3')?componentData.heading3:"";
        let subheading3 = componentData.hasOwnProperty('subheading3')?componentData.subheading3:"";
        let image1 =componentData.hasOwnProperty('image1')?componentData.image1.fields:"";
        let image1Ulr =componentData.hasOwnProperty('image1')?componentData.image1.fields.file.url:"";
        let image2 =componentData.hasOwnProperty('image2')?componentData.image2.fields:"";
        let image2Ulr =componentData.hasOwnProperty('image2')?componentData.image2.fields.file.url:"";
        let image3 =componentData.hasOwnProperty('image3')?componentData.image3.fields:"";
        let image3Ulr =componentData.hasOwnProperty('image3')?componentData.image3.fields.file.url:"";
        let mikomaxVideoUrl =componentData.hasOwnProperty('mikomaxVideoUrl') ? componentData.mikomaxVideoUrl : "";
        let dataForMobile =[ {
                    "title":title,
                    data:[{
                        "heading":heading1,
                        "subheading":subheading1,
                        "image":image1,
                        "url":image1Ulr
                    },
                    {
                        "heading":heading3,
                        "subheading":subheading3,
                        "image":image3,
                        "url":image3Ulr
                    },
                    {
                        "heading":heading2,
                        "subheading":subheading2,
                        "image":image2,
                        "url":image2Ulr
                    }
                    ]
                }]
        
        return {
            componentData,
            title,
            mikomaxWatchVideo,
            bannertitle,
            backgroundForDekstop,
            backgroundForDekstopUrl,
            mikoImage,
            heading1,
            subheading1,
            heading2,
            subheading2,
            heading3,
            subheading3,
            image1,
            image1Ulr,
            image2,
            image2Ulr,
            image3,
            image3Ulr,
            dataForMobile,
            mikomaxVideoUrl
        }
    }
}
</script>
<style lang="scss" scoped>

.max-banner{
   background: radial-gradient(45.28% 45.28% at 50% 71.57%, #71E4E1 0%, #1CAAA6 100%);
   border-radius: 50% 0% 50% 50% / 0% 60% 50% 50%;
    background-size: cover;
   overflow: hidden;
   @media (max-width:1024px){
        border-radius: 50% 0% 50% 50% / 0% 60% 25% 25%;
   }
    .mikomax-banner-container{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
        background: center;
        background-size: cover;
        .banner-title{
                flex: 100%;
                text-align: center;
                margin: 90px;
                font-size: 60px;
                font-weight: 900;
                color: #0B3533;
                -webkit-text-stroke: 0.4rem white;
                text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.4), 0px 0px 40px rgba(255, 255, 255, 0.4);
                margin-bottom: 0px;
                font-size: 156px;

                @media (max-width: 1023px) {
                    font-size: 80px;
                    line-height: 106px;
                    -webkit-text-stroke: 0.2rem white;
                    text-align: center;
                    letter-spacing: 0.05em;
                }
                @media (max-width: 425px) {
                    font-size: 50px;
                    margin: 41px 50px;
                }


            
        }
        .mikomax-banner-miko-image{
            max-width: 80%;
            margin-bottom: -20%;
            @media (max-width: 1023px) {
                    margin-bottom: -50%;
            }
            .miko-img{
                padding-left: 0%;
                img{
                    width: 100%;
                }
            }
        }
        .video-modal-btn-wrap {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            @media (max-width: 425px) {
                margin-bottom: 54px;
            }
        }
    }
}

.mikomax-feature-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    width: 100%;
    margin-top: 0px;
    // margin-bottom: 20px;
    .sectionTitle{
        flex: 100%;
        text-align: center;
        margin: 20px;
        color: #EB6B6B;
        font-size: 40px;
        font-weight: bolder;
        @media (max-width: 1023px) {
            h2{max-width: 100% !important;}
        }
    }
    .feature-card-container{
         display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
        width: 100%;
        // margin-bottom: 40px;
        
            @media (max-width: 1023px) {
               display:none;
            }
        .feature-card{
            // width: 25%;
            flex: 30%;
            padding: 0 1rem 0 1rem; 
            text-align: center;
            @media (max-width: 1023px) {
               flex: 80%;
            }
            .feature-title{
                font-weight: bolder;
                font-size: 2rem;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #0B3533;
                margin: 20px auto;
                max-width: 80%;
            }
            .feature-icons{
                text-align: center;
                justify-content: center;
                display: flex;       
                position: relative;
                height: 6rem;
                width: 100%;
            } 
            .feature-discriptions{
            letter-spacing: 0.2px;
            font-size: var(--font-size--base);
            font-weight: var(--font-weight--normal);
            color: var(--c-secondary-lighten);
            text-align: center;
            line-height: 25px;
            margin: auto 50px;
        }
        }
    }
    .feature-container-mobile{
       display: none;
        @media (max-width: 1023px) {
            display: block;
        }
            
    }
    
}
.video-modal-btn {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    font-size: 24px;
    padding: 12px;
    background: var(--c-white);
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    color: var(--c-primary);
    font-weight: 700;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border: 0;
    @media (max-width: 767px) {
        font-size: 18px;
        padding: 10px;
    }
    svg {
        margin-right: 10px;
        path {
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
        }
    }
    @media (min-width: 2200px) {
        font-size: 30px;
        padding: 15px 25px 15px 15px;
        svg{
            width: 45px;
            height: 45px;
        }
    }
    @media (min-width: 3280px) {
        font-size: 45px;
        padding: 20px 35px 20px 20px;
        svg{
            width: 60px;
            height: 60px;
        }
    }
    &:hover {
        color: var(--c-secondary);
        svg {
            path {
                fill: var(--c-secondary);
            }
        }
    }
}
.home-video-modal {
  --modal-width: 50%;
  --modal-height: auto;
  --modal-top: 50%;
  --modal-left: 50%;
  --modal-bottom: none;
  --modal-right: none;
  --modal-transform: translate3d(-50%, -50%, 0);
  --modal-max-height: 90%;
  @media (max-width: 1199px) {
    --modal-width: 80%;
  }
  @media (max-width: 767px) {
    --modal-width: 90%;
  }
  ::v-deep .sf-modal__bar {
    display: none;
  }
  ::v-deep .sf-modal__close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    background: var(--c-primary);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    span{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 12px;
      height: 12px;
    }
    svg {
      width: 12px;
      height: 12px;
      display: block;
      path{
        fill: var(--c-white);
      }
    }
  }
  ::v-deep .sf-modal__content {
    padding: 15px;
    @media (min-width:768px){
      padding: 20px;
    }
  }
}

</style>