<template>
  <div class="sec-full-width" v-if="subscriptionCOntent">
    <div class="mikomax-subscription-container">
      <div class="subscription-section-title">
        <h2 class="h1">{{ title }}</h2>
      </div>
      <div class="subscription-card-container">
        <div class="subscription-card flex-order-2">
          <div class="subscription-body">
            <div class="subscription-title">
              {{ plan1Heading }}
            </div>
            <div class="subscription-price">
              {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{$n(
                  variantOneTimePrice.priceV2.amount,
                  'decimal'
                ) }}
            </div>
            <div class="subscription-subheading" >
              {{ plan1Time }}
            </div>
            <div class="subscription-monthly-price">
              {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{ $n(
                  variantOneTimePrice.priceV2.amount/3,
                  'decimal',
                ) }}/{{$t('month')}}
            </div>
            <div class="subscription-button">
              <SfButton
                class="btn-1 btn-subscribe mikomax-btn-subscribe-onetime"
                @click="$emit('performAddingToCart', 0)"
              >
                <SfLoader :class="{ loader: oneTimeLoading }" :loading="oneTimeLoading">
                  <span>{{ plan1Button }}</span>
                </SfLoader>
              </SfButton>
            </div>
          </div>
        </div>
        <div class="subscription-card flex-order-1">
          <div class="badge-container">
            <div class="badge">
              {{ MostPopulertag }}
            </div>
          </div>
          <div class="subscription-body">
            <div class="subscription-title">
              {{ plan2Heading }}
            </div>

            <div class="price_wrap">
              <div class="subscription-cut_price">
                {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{$n(
                  variantAnnualPrice.compareAtPriceV2 !== null ? variantAnnualPrice.compareAtPriceV2.amount : null,
                  'decimal'
                ) }}
              </div>
              <div class="subscription-price">
                {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{$n(
                  variantAnnualPrice.priceV2.amount,
                  'decimal'
                ) }}
              </div>
            </div>
            
            
            
            <div class="subscription-subheading" >
              {{ plan2Time }}
            </div>
            <div class="subscription-monthly-price">
              {{$store.state.currencySymbols[$i18n.locale] ? $store.state.currencySymbols[$i18n.locale] : '$'}}{{$n(
                  variantAnnualPrice.priceV2.amount/12,
                  'decimal'
                ) }}/{{$t('month')}}
            </div>
            <div class="subscription-discount" v-if="variantAnnualPrice.compareAtPriceV2 !== null">
              {{$n(
                  ((variantAnnualPrice.compareAtPriceV2.amount - variantAnnualPrice.priceV2.amount)/variantAnnualPrice.compareAtPriceV2.amount) * 100,
                  'decimal'
                ) 
                 }}% {{$t('discount')}}
            </div>
            <div class="subscription-button">
              <SfButton
                class="btn-1 btn-subscribe mikomax-btn-subscribe-annual"
                @click="$emit('performAddingToCart', 1)"
              >
                <SfLoader :class="{ loader: oneTimeAnnualLoading }" :loading="oneTimeAnnualLoading">
                  <span>{{ plan2Button }}</span>
                </SfLoader>
              </SfButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { SfButton, SfLoader } from "@storefront-ui/vue";
export default {
  props: {
    subscriptionCOntent: {},
    oneTimeLoading: Boolean,
    oneTimeAnnualLoading: Boolean,
    variantOneTimePrice: Object,
    variantAnnualPrice: Object
  },
  components: {
    SfButton,
    SfLoader,
  },
  setup(props, content) {
    const componentData = props.subscriptionCOntent.fields;
    let title = componentData.hasOwnProperty("heading")
      ? componentData.heading
      : "";
    let plan1Heading = componentData.hasOwnProperty("plan1Heading")
      ? componentData.plan1Heading
      : "";

    let plan1MonthlyPrice = componentData.hasOwnProperty("plan1monthlyPrice")
      ? componentData.plan1monthlyPrice
      : "";

    let plan2CutPrice = componentData.hasOwnProperty("plan2cutPrice")
      ? componentData.plan2cutPrice
      : "";

    let plan2Discount = componentData.hasOwnProperty("plan2discount")
      ? componentData.plan2discount
      : "";

    let plan2MonthlyPrice = componentData.hasOwnProperty("plan2monthlyPrice")
      ? componentData.plan2monthlyPrice
      : "";
      
    let plan1Price = componentData.hasOwnProperty("plan1Price")
      ? componentData.plan1Price
      : "";
    let plan1Time = componentData.hasOwnProperty("plan1Time")
      ? componentData.plan1Time
      : "";
    let plan1Button = componentData.hasOwnProperty("plan1Button")
      ? componentData.plan1Button
      : "";
    let plan2Heading = componentData.hasOwnProperty("plan2Heading")
      ? componentData.plan2Heading
      : "";
    let plan2Price = componentData.hasOwnProperty("plan2Price")
      ? componentData.plan2Price
      : "";
    let plan2Time = componentData.hasOwnProperty("plan2Time")
      ? componentData.plan2Time
      : "";
    let plan2Button = componentData.hasOwnProperty("plan2Button")
      ? componentData.plan2Button
      : "";
    let MostPopulertag = componentData.hasOwnProperty("tag")
      ? componentData.tag
      : "";
    return {
      componentData,
      title,
      plan1Heading,
      plan1Price,
      plan1Time,
      plan1Button,
      plan2Heading,
      plan2Price,
      plan2Time,
      plan2Button,
      MostPopulertag,
      plan1MonthlyPrice,
      plan2CutPrice,
      plan2Discount,
      plan2MonthlyPrice
    };
  },
};
</script>
<style lang="scss" scoped>
.mikomax-subscription-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #f1f6f8;
  padding-bottom: 4rem;
  .subscription-section-title {
    flex: 100%;
    text-align: center;
    margin: 40px;
    font-size: 40px;
    font-weight: bolder;
  }
  .subscription-monthly-price{
    color: #eb6b6b;
    font-size: var(--font-size--base);
    margin-bottom: 5px;
    margin-top: 0px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  
  .subscription-discount{
    font-size: var(--font-size--base);
    line-height: 1.75;
    color: #34B98B;
  }

  .subscription-cut_price{
    text-decoration: line-through;
    font-size: 20px;
    color: #C4C4C4;
    margin-right: 5px;
  }

  .price_wrap{
    display:flex;
    align-items: baseline;
    justify-content: center;
  }

  .subscription-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 70%;
    .flex-order-1 {
      border: 1px solid #eb6b6b !important;
    }
    @media (max-width: 1023px) {
      max-width: 80%;
      .flex-order-2 {
        order: 2;
      }
      .flex-order-1 {
        order: 1;
      }
    }
    .subscription-button {
      margin: 20px;
      @media (max-width: 398px) {
        padding: 0rem;
        margin: 10px;
      }
    }
    .subscription-card {
      position: relative;
      flex: 30%;
      max-width: 50%;
      text-align: center;
      background: #ffffff;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      padding: 15px;
      box-shadow: 0px 0px 20px rgba(10, 31, 68, 0.1);
      border-radius: 30px;
      margin: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .subscription-body {
        padding: 1.5rem;
        @media (max-width: 1023px) {
          padding: 1rem;
        }
      }
      @media (max-width: 1023px) {
        flex: 90%;
        max-width: 100%;
      }
      .subscription-title {
        font-weight: bolder;
        font-size: 1.5rem;
        text-align: center;
        margin: 10px;
      }
      .subscription-price {
        letter-spacing: 0.05em;
        color: #eb6b6b;
        font-weight: bolder;
        font-size: 2.8rem;
        line-height: 50px;
        margin-top: 0px;
      }
      .subscription-subheading {
        font-weight: normal;
        font-size: 1rem;
        line-height: 36px;
        text-align: center;
        color: #606060;
      }
      .btn-subscribe {
        font-size: var(--font-size--sm);
        border-color: var(--c-primary);
        color: var(--c-primary);
        margin: 0 auto;
        min-height: 43px;
        min-width: 173.53px;
        @media (min-width: 2200px) {
          min-width: 184.53px;
        }
        @media (max-width: 767px) {
          min-height: 37px;
        }
        .sf-loader {
          pointer-events: none;
          svg {
            height: 30px;
            stroke: var(--c-black);
          }
        }
        &:hover {
          color: var(--c-white);
        }
      }
      .badge-container {
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: -2.5rem;
      }
      .badge {
        position: absolute;
        margin-top: -40px;
        border-radius: 5rem;
        text-align: center;
        color: var(--c-white);
        font-size: var(--font-size--sm);
        background: var(--c-primary);
        padding: 15px 20px;
        @media (max-width: 1023px) {
          margin-top: -38px;
        }
      }
    }
  }
}
</style>