<template>
  <section class="plusManyMore-sec sec-full-width" v-if="logosectionData">
      <div class="plusManyMore-sec-title" v-if="title" >{{title}}</div>
      <div class="plusManyMore-slider">
        <div class="container">
          <swiper class="swiper" :options="swiperOption">
            <swiper-slide class="h-auto" v-for="(logo,index) in logos" :key="index" >
              <div  class="testimonial-img">
                <img  :src="iconURL(logo.fields)" :alt="iconTitle(logo.fields)" />
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </div>
  </section>
</template>

<script>
import SwiperCore, { Pagination, Autoplay } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss';
import 'swiper/components/pagination/pagination.scss';
import {
  getFileUrl
} from '~/helpers/contentful'
SwiperCore.use([Pagination, Autoplay]);

export default {
  props: {
    logosectionData:{}
  },
   setup(props,{root}){
        const componentData =props.logosectionData.fields
          const iconURL = (icon)=>{
             if(icon.logo.fields){
                 return getFileUrl(icon.logo.fields,root.$device)
             }
             return '';
              
            };
            const iconTitle = (icon) => icon.logo.fields.title;
        let title = componentData.hasOwnProperty('heading')?componentData.heading:"";
        let logos = componentData.hasOwnProperty('logos')?componentData.logos:[];
        // let logo1 =componentData.hasOwnProperty('logo1')?componentData.logo1.fields.file:"";
        // let logo1Url =componentData.hasOwnProperty('logo1')?componentData.logo1.fields.file.url:"";
        // let logo2 =componentData.hasOwnProperty('logo2')?componentData.logo2.fields.file:"";
        // let logo2Url =componentData.hasOwnProperty('logo2')?componentData.logo2.fields.file.url:"";
        // let logo3 =componentData.hasOwnProperty('logo3')?componentData.logo3.fields.file:"";
        // let logo3Url =componentData.hasOwnProperty('logo3')?componentData.logo3.fields.file.url:"";
        // let logo4 =componentData.hasOwnProperty('logo4')?componentData.logo4.fields.file:"";
        // let logo4Url =componentData.hasOwnProperty('logo4')?componentData.logo4.fields.file.url:"";
        return {
            componentData,
            title,
            logos,
            iconURL,
            iconTitle
            // logo1,
            // logo1Url,
            // logo2,
            // logo2Url,
            // logo3,
            // logo3Url,
            // logo4,
            // logo4Url
          
        }
    },
  data() {
    return {
      swiperOption: {
        slidesPerView: 2,
        spaceBetween: 10,
        slidesPerGroup: 2,
        loop: true,
        freeMode: false,
        autoplay: {
          disableOnInteraction: false
        },
        observer: true,
        observeParents: true,
        observeSlideChildren: true,
        resizeObserver: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 20,
            slidesPerGroup: 2
          },
          992: {
            slidesPerView: 2,
            spaceBetween: 20,
            slidesPerGroup: 2
          },
          1024: {
            slidesPerView: 2,
            spaceBetween: 40,
            slidesPerGroup: 2
          }
        }
      }
    }
  },
  components: {
    Swiper,
    SwiperSlide
  }
}
</script>

<style lang="scss" scoped>
.plusManyMore-sec {
  padding-bottom: 10px;
  @media (min-width:768px){
    padding-bottom: 10px;
  }
}
.plusManyMore-sec-title {
    // margin-bottom: 20px;
    font-size: 40px;
    margin: 20px;
    font-weight: bolder;
    text-align: center;
    color: var(--c-secondary-darken);
  @media (min-width:768px){
    margin-bottom: 40px;
    margin-top: 40px;
  }
  @media (max-width:1024px){
    font-size: 24px;
     margin:40px;
  }
}
.plusManyMore-slider {
    padding-bottom: 10px;
    padding-top: 10px;
   background: #FBFBFB;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding-top: 24px;
    padding-bottom: 32px;
    padding: 24px 24px 32px;
    @media (min-width:1024px){
      padding: 15px 10px;
    }
  }
  .testimonial-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial-info{
    margin-top: 10px;
    font-size: var(--font-size--base);
    color: var(--c-secondary-lighten);
    line-height: 1.4;
    @media (min-width:768px){
      margin-top: 15px;
    }
  }
  .swiper-pagination {
    position: static;
    margin-top: 25px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width:768px){
      margin-top: 25px;
    }
    ::v-deep .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      border: solid 2px var(--c-light);
      background: var(--c-white);
      opacity: 1;
      margin-top: 5px;
      margin-bottom: 5px;
      margin: 5px 8px;
      border-radius: 9999px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &:hover,
      &.swiper-pagination-bullet-active {
        background: var(--c-primary);
        border-color: var(--c-primary);
      }
      @media (min-width:768px){
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
</style>