<template>
<div class="mikomax-contains-company sec-full-width" v-if="companiesData">
    <div class="maxContainer">
            <div class="mainTitle">
                <h2 class="h1">{{title}}</h2>
            </div>
            <div class="cards-container">
                <div class="companies-card-max bg-dark-blue">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon">
                          <img :src="iconURL(disneyIcon)" :alt="iconTitle(disneyIcon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p> {{card1Title}}</p>
                       
                          <!-- <div class="buttonContainer">
                                <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('disney')">
                                    {{btnText1}}
                                </SfButton>
                          </div> -->
                    </div>
                    <div class="right-bottom-icon">
                        <div class="bottom-icon">
                              <img :src="iconURL(card1BottomIcon)" :alt="iconTitle(card1BottomIcon)">
                        </div>
                       
                    </div>

                    </div>
                </div>
                 <div class="companies-card-max bg-light-blue">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon">
                             <img :src="iconURL(card2Icon)" :alt="iconTitle(card2Icon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p> {{card2Title}}</p>
                          <!-- <div class="buttonContainer">
                               <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('viacom')">
                                    {{btnText2}}
                                </SfButton>
                          </div> -->
                    </div>
                    <div class="right-bottom-icon">
                        <div class="bottom-icon2">
                             <img :src="iconURL(card2BottomIcon)" :alt="iconTitle(card2BottomIcon)">
                        </div>
                       
                    </div>

                    </div>
                </div>
                 <div class="companies-card-max bg-bark-yellow">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <div class="max-card-icon">
                             <img :src="iconURL(card3Icon)" :alt="iconTitle(card3Icon)">
                        </div>
                    </div>
                    <div class="card-descriptions">
                        <p> {{card3Title}}</p>
                          <!-- <div class="buttonContainer">
                                 <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('davinci')">
                                    {{btnText3}}
                                </SfButton>
                          </div> -->
                    </div>
                    <div class="right-bottom-icon">
                        <div class="bottom-icon3">
                              <img :src="iconURL(card3BottomIcon)" :alt="iconTitle(card3BottomIcon)">
                        </div>
                       
                    </div>

                    </div>
                </div>
            </div>
            <div class="card-container-mobile">
                  <div class="companies-card-max bg-dark-blue">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <img :src="iconURL(card1IconMobile)" :alt="iconTitle(card1IconMobile)">
                    </div>
                    <div class="card-descriptions">
                        <p> {{card1Title}}</p>
                          <!-- <div class="buttonContainer">
                                 <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('disney')">
                                    {{btnText1}}
                                </SfButton>
                          </div> -->
                    </div>
                    </div>
                </div>
                 <div class="companies-card-max bg-light-blue">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <img :src="iconURL(card2IconMobile)" :alt="iconTitle(card2IconMobile)">
                    </div>
                    <div class="card-descriptions">
                        <p> {{card2Title}}</p>
                          <!-- <div class="buttonContainer">
                              <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('viacom')">
                                    {{btnText2}}
                                </SfButton>
                          </div> -->
                    </div>
                    </div>
                </div>
                <div class="companies-card-max bg-bark-yellow">
                    <div class="card-body-max">
                    <div class="companies-card-icons">
                        <img :src="iconURL(card3IconMobile)" :alt="iconTitle(card3IconMobile)">
                    </div>
                    <div class="card-descriptions">
                        <p> {{card3Title}}</p>
                          <!-- <div class="buttonContainer">
                                  <SfButton class="btn-1 head-buyNow btn-top-buy-now" @click="toggleModal('davinci')">
                                    {{btnText3}}
                                </SfButton>
                          </div> -->
                    </div>

                    </div>
                </div>
                
               
            </div>
             <LearnMoreModal  :Companiesmodal="mappingForModal[openModalFor]" v-if="openModalFor !=''" />
    </div>
</div>         
</template>
<script>
import {
  getFileUrl,
  getImageDimentions,
} from '~/helpers/contentful'

import LearnMoreModal from './PremiumContainsCompaniesLearnMoreModal.vue';
import useUiState from '~/composables/useUiState';
import {SfButton} from '@storefront-ui/vue';
export default {
props: {
    companiesData: {},
  },
   components:{
      LearnMoreModal,
      SfButton
  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
    setup(props,{root}){
         const componentData =props.companiesData.fields
         const iconURL = (icon)=>{
             if(icon.fields){
                 return getFileUrl(icon.fields,root.$device)
             }
             return '';
              
            };
         const iconTitle = (icon) => icon.fields.title;
        let title = componentData.hasOwnProperty('companies')?componentData.companies:"";
        let card1Title = componentData.hasOwnProperty('heading1')?componentData.heading1:"";
        let card2Title =componentData.hasOwnProperty('heading2')?componentData.heading2:"";
        let card3Title = componentData.hasOwnProperty('heading3')?componentData.heading3:""; 
        let btnText1 = componentData.hasOwnProperty('subheading1')?componentData.subheading1:"";
        let btnText2 = componentData.hasOwnProperty('subheading2')?componentData.subheading2:"";
        let btnText3 = componentData.hasOwnProperty('subheading3')?componentData.subheading3:"";
        let disneyIcon =componentData.hasOwnProperty('logo11')?componentData.logo11:"";
        const {  isMaxCategoryModalOpen,toggleMaxCategoryModal, } = useUiState();
        let card1BottomIcon =componentData.hasOwnProperty('logo12')?componentData.logo12:"";
        let card2Icon =componentData.hasOwnProperty('logo21')?componentData.logo21:"";
        let card2BottomIcon =componentData.hasOwnProperty('logo22')?componentData.logo22:"";
         let card3Icon =componentData.hasOwnProperty('logo31')?componentData.logo31:"";
        let card3BottomIcon =componentData.hasOwnProperty('logo32')?componentData.logo32:"";
         let card1IconMobile =componentData.hasOwnProperty('logo1Mobile')?componentData.logo1Mobile:"";
         let card2IconMobile =componentData.hasOwnProperty('logo2Mobile')?componentData.logo2Mobile:"";
         let card3IconMobile =componentData.hasOwnProperty('logo3Mobile')?componentData.logo3Mobile:"";
        
         let mappingForModal ={
             "disney":{ },"davinci":{},"viacom":{}

         };
        let modalImageUlr =componentData.hasOwnProperty('modalVideoImage')?iconURL(componentData.modalVideoImage):"";
        mappingForModal['disney']['logo'] =componentData.hasOwnProperty('disneyLogo')?iconURL(componentData.disneyLogo):"";
        mappingForModal['disney']['info'] =componentData.hasOwnProperty('listInfo')?componentData.listInfo:"";
        mappingForModal['disney']['url'] =componentData.hasOwnProperty('modalVideoUrl')?componentData.modalVideoUrl:"";
        mappingForModal['disney']['icon'] =componentData.hasOwnProperty('modalImageSmall')?iconURL(componentData.modalImageSmall):"";
        mappingForModal['disney']['imgurl'] =modalImageUlr
        mappingForModal['disney']['class'] ='bottom-icon';

        mappingForModal['davinci']['logo'] =componentData.hasOwnProperty('davinciLogo')?iconURL(componentData.davinciLogo):"";
        mappingForModal['davinci']['info'] =componentData.hasOwnProperty('davinciInfo')?componentData.davinciInfo:"";
        mappingForModal['davinci']['url'] =componentData.hasOwnProperty('modalVideoUrl3')?componentData.modalVideoUrl3:"";
        mappingForModal['davinci']['icon'] =componentData.hasOwnProperty('modalImageSmall')?iconURL(componentData.modalImageSmall):"";
        mappingForModal['davinci']['class'] ='bottom-icon3';
        mappingForModal['davinci']['imgurl'] =componentData.hasOwnProperty('modalVideoImage3')?iconURL(componentData.modalVideoImage3):"";


        mappingForModal['viacom']['logo'] =componentData.hasOwnProperty('viacomLogo')?iconURL(componentData.viacomLogo):"";
        mappingForModal['viacom']['info'] =componentData.hasOwnProperty('viacomListInfo')?componentData.viacomListInfo:"";
        mappingForModal['viacom']['url'] =componentData.hasOwnProperty('modalVideoUrl2')?componentData.modalVideoUrl2:"";
        mappingForModal['viacom']['icon'] =componentData.hasOwnProperty('modalImageSmall')?iconURL(componentData.modalImageSmall):"";
          mappingForModal['viacom']['class'] ='bottom-icon2';
        mappingForModal['viacom']['imgurl'] =componentData.hasOwnProperty('modalVideoImage2')?iconURL(componentData.modalVideoImage2):"";
        return {
            toggleMaxCategoryModal,
            componentData,
            title,
            iconTitle,
            card1Title,
            card2Title,
            card3Title,
            btnText1,
            btnText2,
            disneyIcon,
            card1BottomIcon,
            card2Icon,
            card2BottomIcon,
            card3Icon,
            card3BottomIcon,
            btnText3,
            card1IconMobile,
            card2IconMobile,
            card3IconMobile,
            iconURL,
            mappingForModal,
          
        }
    },
    data(){
        return{
            openModalFor:""
        }
    },
    methods:{
        toggleModal(key){
            this.openModalFor = key;
            this.toggleMaxCategoryModal();
        }
    }
}
</script>
<style lang="scss" scoped>
.mikomax-contains-company{
    .maxContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
       .bg-dark-blue{
                background: #061CB0;
                color: #FFFFFF;
                .btn-1{
                    color: #FFFFFF !important;
                    border: solid 2px var(--c-white) !important;
                }
            }
            .bg-bark-yellow{
                background: #FFDE63;
            }
            .bg-light-blue{
                background: #8BD5F4;
            }
        width: 100%;
        padding:30px;
        @media (max-width: 1023px) {
             padding: 10px;
        }
        .mainTitle{
            text-align: center;
            font-style: normal;
            flex:100%;
            font-size: 40px;
            font-weight: bold;
            max-width: 40%;
            margin: 20px;
            .h1{
                margin:30px auto;
            }
            @media (max-width: 1023px) {
              max-width: 70%;
            }
             @media (max-width: 767px) {
              max-width: 70%;
              margin: 0px 10px 0px;
               .h1{
                    margin:0px auto;
                }
            }
           
        }
        .cards-container{
            text-align: center;
            align-self: center;
            max-width:60%;
         
             @media (max-width: 1023px) {
              display:none;
            }
     
            .companies-card-max{
                border-radius: 40px;
                margin: 5% 3% 3% 3%;
                overflow: hidden;
                position: relative;
             
                .card-body-max{
                    padding: 80px;
                    display: flex;
                    justify-content: center;
                     @media (max-width: 1023px) {
                      flex-flow:row wrap;
                    }
                    .companies-card-icons{
                        flex: 15%;
                        text-align: center;
                        position: relative;
                        width: 100%;
                        @media (max-width: 1023px) {
                            flex:90%;
                        }

                        .max-card-icon{
                            position: absolute;
                            top: 0%;
                            left: 0%;
                            bottom: 0%;
                            @media (max-width: 1023px) {
                                position: relative;
                                left: 20%;
                            }
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .card-descriptions{
                        flex: 50%;
                        text-align: left;
                        .buttonContainer{
                            text-align: center;
                            margin-top: 25px;
                            float: left;
                        }
                        @media (max-width: 1023px) {
                            flex:90%;
                        }
                    }
                .right-bottom-icon{
                    // position: relative;
                    flex: 10%;
                    @media (max-width: 1023px) {
                        flex: 90%;
                    }
                    //   @include for-mobile {
                    //      flex: 90%;
                    //     }
                    .bottom-icon{
                        position: absolute;
                        bottom: -2%;
                        right: -3%;
                        img{
                            width: 80%;
                        }
                    }
                    .bottom-icon2{
                    position: absolute;
                        bottom: -2%;
                        right: 0%;
                        img{
                            width: 80%;
                        }
                    }
                    .bottom-icon3{
                    position: absolute;
                        bottom: -2%;
                        right: 0%;
                        img{
                            width: 70%;
                        }
                    }
                }
                    
                }
            }
        }
        .card-container-mobile{
            display: none;
                // margin-left: 10%;
            text-align: center;
            align-self: center;
                margin: 5% 10% 0%;
            max-width:100%;
           @media (max-width: 1023px) {
                display: block;
            }
            .companies-card-max{
                border-radius: 40px;
                //  margin-top: 25%;
                position: relative;
                @media (max-width:1024px){
                    // margin-top: 20%;
                    margin-bottom: 15%;
                }
                .card-body-max{
                    padding:10px;
                    display: flex;
                    justify-content: center;
                    @media (max-width: 1023px) {
                      flex-flow:row wrap;
                    }
                    .companies-card-icons{
                       flex: 90%;
                        text-align: center;
                        width: 100%;
                        margin: 15px 0% 0% 0%;
                           img{
                                width: 50%;
                            }
                        .max-card-icon{
                            position: absolute;  
                               top: -15%;
                                 left: 5%;
                            @media (max-width: 767px) {
                                   top: -15%;
                                    left: 17%;
                            }
                            img{
                                width: 50%;
                            }
                        }
                        .max-card-icon-1{
                             position: absolute;  
                               top: -15%;
                                left: 17%;
                                img{
                                width: 50%;
                            }
                        }
                    }
                    .card-descriptions{
                         flex: 100%;
                        text-align: center;
                        max-width: 100%;
                        padding:15px 15px 35px;
                        
                        // margin-top: 20%;

                        .buttonContainer{
                            flex: 100%;
                            display:flex;
                        justify-content: center;
                            text-align: center;
                            margin-top: 30px;
                            margin-bottom: 20px;
                            // float: left;
                        }
                       
                    }
                    
                }
            }
        }
    }
  
    
}

</style>