<template>
  <section class="companies-learnMore-modal"  v-if="Companiesmodal">
    <div class="slide">
      <div class="container">
        <SfModal
          class="companies-learnMore-btn-modal"
          :visible="isMaxCategoryModalOpen"
          @close="toggleMaxCategoryModal"
       
        >
          <div class="image-container" v-if="Companiesmodal.imgurl && Companiesmodal.imgurl !=''">
              <img :src="Companiesmodal.imgurl" >
          </div>
          <div class="video-container" v-else>
            <iframe width="560" height="250"  :src="Companiesmodal.url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
  
          <div class="Description-container">
               <h2 class="banner-title h1">
                  <img :src="Companiesmodal.logo">
               </h2>
                <div class="descriptions" >
                  <p v-html="Companiesmodal.info">
                  </p>

                </div>
                <div class="right-bottom-icon">
                        <div :class="Companiesmodal.class">
                                <img :src="Companiesmodal.icon">
                        </div>
                       
                </div>
          </div>
        </SfModal>
      </div>
    </div>
  </section>
</template>

<script>
import {
  SfModal
} from '@storefront-ui/vue';
import useUiState from '~/composables/useUiState';

export default {
  data () {
    return {
      visible: false,
      isMobile: false
    }
  },
  props: {
    Companiesmodal: {}
  },
  components: {
    SfModal
  },
  setup(props, context) {
    const {  isMaxCategoryModalOpen,toggleMaxCategoryModal, } = useUiState();
   
    return {
      isMaxCategoryModalOpen,
      toggleMaxCategoryModal
    }
  }
}
</script>

<style lang="scss" scoped>
.companies-learnMore-modal {
  .video-container{
    padding-bottom: 40%;
     @media (max-width: 767px) {
          padding-bottom: 50%;
     }
  }
  .image-container{
    img{
      width: 100%;
      height: auto;
      // max-height: 60%;
    }
  }
  .slide {
    height: 100%;
    .container {
      position: relative;
      height: 100%;
      text-align: center;
      width: 100%;
      max-width:100%;
      text-align: left;
      @media (max-width: 767px) {
        max-width: 100%;
        text-align: center;
      }
    }
    .Description-container{
      display: flex;
      justify-content: center;
      flex: row wrap;
      flex-flow: row wrap;
      margin: 20px;
      // position: relative;
      .descriptions{
            max-width: 80%;
        margin-left: 10%;
        text-align: center;
        @media (max-width: 767px) {
          margin-left: 0%;
        }
      }
       .banner-title {
      line-height: 1.13;
     color: #0B3533;
      z-index: 0;
      font-weight: 900;
      width: 40%;
      text-align: center;
      flex: 100%;
      @media (min-width: 3280px) {
        padding-top: 40px;
        font-size: 100px;
      }
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }
        .right-bottom-icon{
              z-index: -100;
                        flex: 10%;
                        @media (max-width: 1023px) {
                            flex: 90%;
                        }
                        //   @include for-mobile {
                        //      flex: 90%;
                        //     }
                        .bottom-icon{
                            position: absolute;
                           bottom: -1%;
                            right: -5%;
                            // z-index: 0;
                            z-index: -100;
                            img{
                                width: 80%;
                            }
                        }
                        .bottom-icon2{
                        position: absolute;
                            bottom: -2%;
                            right: -3%;
                            //  z-index: 0;
                            z-index: -100;
                            img{
                                width: 80%;
                            }
                        }
                        .bottom-icon3{
                        position: absolute;
                            bottom: -2%;
                            right: -2%;
                            //  z-index: 0;
                            z-index: -100;
                            img{
                                width: 70%;
                            }
                        }
                    }
    }
   
  }
}
.companies-learnMore-btn-modal {
  --modal-width: 50%;
  --modal-height: auto;
  --modal-top: 50%;
  --modal-left: 50%;
  --modal-bottom: none;
  --modal-right: none;
  --modal-transform: translate3d(-50%, -50%, 0);
  --modal-max-height: 90%;
  @media (max-width: 1199px) {
    --modal-width: 80%;
  }
  @media (max-width: 767px) {
    --modal-width: 90%;
  }
  ::v-deep .sf-modal__bar {
    display: none;
  }
  ::v-deep .sf-modal__close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    background: var(--c-primary);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    z-index: 100;
    span{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 12px;
      height: 12px;
    }
    svg {
      width: 12px;
      height: 12px;
      display: block;
      path{
        fill: var(--c-white);
      }
    }
  }
  ::v-deep .sf-modal__content {
    padding: 0px;
    font-size: 20px;
    @media (min-width:768px){
      padding: 0px;
    }
  }

}
</style>
