<template>
<div class="mikomax-moreThanExpected-container" v-if="MoreThanExpected">
    <div class="sectionTitle">
        <h2 class="h1" >{{title}}</h2>
    </div>
    <div class="moreThanExpected-card-container">
        <div class="moreThanExpected-card" style="display:none;">
            <div  class="feature-icons">
            <img :src="image1Ulr" :alt="image1.title">
            </div>
            <div class="feature-title">
                {{heading1}}
            </div>
            <div class="feature-discriptions">
                <p>{{subheading1}}</p>
            </div>
        </div>
        <div class="moreThanExpected-card" >
            <div  class="feature-icons">
            <img :src="image2Ulr" :alt="image2.title">
            </div>
            <div class="feature-title">
            {{heading2}}
            </div>
            <div class="feature-discriptions">
              <p>{{subheading2}}</p>
            </div>
        </div>
        <div class="moreThanExpected-card" style="display:none;">
            <div  class="feature-icons">
            <img :src="image3Ulr" :alt="image3.title">
            </div>
            <div class="feature-title">
            {{heading3}}
            </div>
            <div class="feature-discriptions">
                <p>{{subheading3}}</p>
            </div>
        </div>
        <div class="moreThanExpected-card">
            <div  class="feature-icons">
            <img :src="image4Ulr" :alt="image4.title">
            </div>
            <div class="feature-title">
            {{heading4}}
            </div>
            <div class="feature-discriptions">
                <p>{{subheading4}}</p>
            </div>
        </div>
        <div class="moreThanExpected-card">
            <div  class="feature-icons">
            <img :src="image5Ulr" :alt="image5.title">
            </div>
            <div class="feature-title">
            {{heading5}}
            </div>
            <div class="feature-discriptions">
                <p>{{subheading5}}</p>
            </div>
        </div>
    </div>
    <div class="moreThanExpected-container-mobile">
        <FeatureMobile :featureData ="dataForMobile"/>
    </div>
</div>         
</template>
<script>
import FeatureMobile  from "./FeatureSectionMobile.vue";
export default {
    components:{
        FeatureMobile
    },
 props: {
    MoreThanExpected: {},
  },
    setup(props,content){
        const componentData =props.MoreThanExpected.fields
        let title = componentData.hasOwnProperty('heading')?componentData.heading:"";
        let heading1 = componentData.hasOwnProperty('heading1')?componentData.heading1:"";
        let subheading1 = componentData.hasOwnProperty('subheading1')?componentData.subheading1:"";
        let image1 =componentData.hasOwnProperty('image1')?componentData.image1.fields:"";
        let image1Ulr =componentData.hasOwnProperty('image1')?componentData.image1.fields.file.url:"";
        let image2 =componentData.hasOwnProperty('image2')?componentData.image2.fields:"";
        let image2Ulr =componentData.hasOwnProperty('image2')?componentData.image2.fields.file.url:"";
        let subheading2 = componentData.hasOwnProperty('subheading2')?componentData.subheading2:"";
        let heading2 = componentData.hasOwnProperty('heading2')?componentData.heading2:"";
        let heading3 = componentData.hasOwnProperty('heading3')?componentData.heading3:"";
        let subheading3 = componentData.hasOwnProperty('subheading3')?componentData.subheading3:"";
        let image3 =componentData.hasOwnProperty('image3')?componentData.image3.fields:"";
        let image3Ulr =componentData.hasOwnProperty('image3')?componentData.image3.fields.file.url:"";
        let heading4 = componentData.hasOwnProperty('heading4')?componentData.heading4:"";
        let subheading4 = componentData.hasOwnProperty('subheading4')?componentData.subheading4:"";
        let image4 =componentData.hasOwnProperty('image4')?componentData.image4.fields:"";
        let image4Ulr =componentData.hasOwnProperty('image4')?componentData.image4.fields.file.url:"";
        let heading5 = componentData.hasOwnProperty('heading5')?componentData.heading5:"";
        let subheading5 = componentData.hasOwnProperty('subheading5')?componentData.subheading5:"";
        let image5 =componentData.hasOwnProperty('image5')?componentData.image5.fields:"";
        let image5Ulr =componentData.hasOwnProperty('image5')?componentData.image5.fields.file.url:"";
        let dataForMobile =[ {
            "title":title,
            data:[{
                "heading":heading1,
                "subheading":subheading1,
                "image":image1,
                "url":image1Ulr
            },
            {
                "heading":heading2,
                "subheading":subheading2,
                "image":image2,
                "url":image2Ulr
            },
            {
                "heading":heading3,
                "subheading":subheading3,
                "image":image3,
                "url":image3Ulr
            },
            {
                "heading":heading4,
                "subheading":subheading4,
                "image":image4,
                "url":image4Ulr
            },
            {
                "heading":heading5,
                "subheading":subheading5,
                "image":image5,
                "url":image5Ulr
            }
            ]
        }]
        
        return {
            componentData,
            title,
            heading1,
            subheading1,
            heading2,
            subheading2,
            image1,
            image1Ulr,
            image2,
            image2Ulr,
            heading3,
            subheading3,
            image3,
            image3Ulr,
            heading4,
            subheading4,
            image4,
            image4Ulr,
            heading5,
            subheading5,
            image5,
            image5Ulr,
            dataForMobile
            
          
        }
    }
}
</script>
<style lang="scss" scoped>
.mikomax-moreThanExpected-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    width: 100%;
    .sectionTitle{
      flex: 100%;
        text-align: center;
        margin: 20px;
        // margin-bottom: 20px;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        color: var(--c-secondary-darken);
        .h1{
            margin: 5px auto;
        }
    }
    .moreThanExpected-card-container{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
        width: 100%;
        @media (max-width: 1023px) {
                     display: none;
        }
        .moreThanExpected-card{
            // width: 25%;
            flex: 30%;
            padding: 0 1rem 0 1rem; 
            max-width: 30%;
            margin-bottom: 30px;
            margin-top: 30px;
            text-align: center;
            @media (max-width: 1279px) {
                      flex:40%;
                      max-width: 40%;
            }
             @media (max-width: 768px) {
                      flex:80%;
            }
            .feature-title{
                font-weight: bolder;
                font-size: 2rem;
                line-height: 36px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #0B3533;
                margin: 20px auto;
                max-width: 80%;
            }
            .feature-icons{
                text-align: center;
                justify-content: center;
                display: flex;       
                position: relative;
                height: 8rem;
                width: 100%;
            } 
            .feature-discriptions{
            letter-spacing: 0.2px;
            font-size: var(--font-size--base);
            font-weight: var(--font-weight--normal);
            color: var(--c-secondary-lighten);
            text-align: center;
        }
        }
    }
    .moreThanExpected-container-mobile{
       display: none;
       @media (max-width: 1023px) {
            display: block;
        }
    }
    
}

</style>